<div class="col col-12 whitepaper_col py-0">
    <div class="row py-0">
        <div class="col col-12 col-sm-8">
            <div class="row py-0">
                {% for whitepaper in site.whitepapers %}
                    <div class="col col-12 col-sm-6 pb-4">
                        <a href="{{whitepaper.whitepaper_url}}">
                            <div class="whitepaper_wrapper text-center h-100">
                                {% capture image_path %}{{whitepaper.image}}{% endcapture %}
                                {% capture block_image_alt %}{{whitepaper.title}} image {% endcapture %}
                                {% picture card_block_image {{image_path}} --alt {{block_image_alt}} %}
                                <h4 class="text-dark">{{whitepaper.title}}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>