---
layout: default
title:  OP-TEE - About
permalink: "/about/"
breadcrumb-title: About
breadcrumb-section: About
breadcrumb-subtitle: Overview
specific_js: sticky-navbar
critical_css: about-critical-css.scss
---
{% include page-structure-top.html %}

	            {% include sub-navigation.html %}

                <!-- Tab panes -->
                <div class="tab-content">
                  	<div role="tabpanel" class="tab-pane fade active in" id="overview">
	                    <h1>About OP-TEE</h1>
	                    <p>
							OP-TEE is an open source project which contains a full implementation
	                      	to make up a complete Trusted Execution Environment. The project has roots
	                       	in a proprietary solution, initially created by ST-Ericsson and then owned
	                       	and maintained by STMicroelectronics. In 2014, Linaro started working with
	                       	STMicroelectronics to transform the proprietary TEE solution into an open
	                       	source TEE solution instead.
					   </p>
	                    <p>

							In September 2015, the ownership was transferred to Linaro. Today it is one
	                      	of the key security projects in Linaro, with several of Linaro’s members supporting
	                       	and using it.
						</p>

	                    <h2>Mailing lists:</h2>

	            		<p>
							op-tee@linaro.org (reach OP-TEE developers)<br/>
		                	<a href="https://lists.linaro.org/mailman/admindb/tee-dev">tee-dev</a>
							(public discussion about TEE in general)<br/>
						</p>

	                    <p>
							Issues, bugs etc?<br/>
	                      	Please file an issue on our
							“<a href="https://github.com/OP-TEE/optee_os/issues">Issues</a>”
							list at GitHub.</p>

						<h2>Source Code</h2>
						It is located on GitHub under the project OP-TEE (https://github.com/OP-TEE).<br />
						<a href="/faq/">Click here for FAQ</a>
                  	</div>
                  	<div role="tabpanel" class="tab-pane fade " id="lswg">
                    	<h2>Linaro Security Working Group</h2>
	                    <p>
							The Linaro Security Working Group (SWG) was created to help ensure an optimised
	                      	and efficient software ecosystem exists to support ARM open source Linux distributions
	                      	on security related topics, and to accelerate the delivery of high quality secure products
	                      	across the ARM open source ecosystem.
						</p>

                    	<p>
							In order to enable applications such as securely booting a server or decoding encrypted media,
                      		there needs to be a Trusted Execution Environment (TEE). the SWG will be creating reference designs
                       		showing how normal and trusted application code and libraries can be integrated within a particular
                       		platform such as Android. Initial activities include the development of an open source reference
                       		implementation of the W3C Encrypted Media Extension (EME) using platform security features for secure
                        	media playback on mobile and digital home devices; and an open source reference implementation of
                        	secure boot for the 64-bit ARM Cortex-A series processor cores to complement the ARM Trusted Firmware
                         	open source project, targeted at server applications. In addition there will be work on security
                         	features in the Linux kernel.

						</p>
                  	</div><!--Tab Panel End-->
                </div><!--Tab Content End--->
				{% include members.html %}
{% include page-structure-bottom.html %}
