---
title: Attended Events
description: >-
    Linaro has a presence at many tech conferences all year round. Here you can find any resources presented at those conferences.
layout: empty
permalink: /events/attended/
js-package: events
css-package: events
---
<div class="container-fluid responsive-background" id="resources-container"  style="background-image: url('/assets/images/content/resources-header.png');">
    <div class="row overlay padded-row" id="resources">
        <div class="container text-center">
            <h1 class="fly center-block">Attended Events</h1>
            <p class="fly center-block">
                Linaro has a presence at many tech conferences all year round. Here you can find any resources presented at those conferences.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid" id="content-container">
    <div class="row">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist" id="tabbed_nav">
                <li role="presentation" >
                    <a href="/events/connect/">
                        Linaro Connect
                    </a>
                </li>
                <li role="presentation" >
                    <a href="/events/workshops/" class="active">
                        Workshops
                    </a>
                </li>
                <li role="presentation" >
                    <a href="/events/attended/">
                        Attended Events
                    </a>
                </li>
                <li role="presentation">
                    <a href="/events/calendar/">
                        Events Calendar
                    </a>
                </li>
            </ul>
            {% assign attended-events = site.data.attended-events | sort: "start-date" | reverse %}
            {% for event in attended-events %}
            <div class="col-sm-4 no-padding">
                <div class="event-block attended">
                    <div class="event-image" style="background-image: url('/assets/images/content/{{event.placeholder}}')"></div>
                    <div class="event-title">
                        <h3>{{event.name}}</h3>
                        <span class="date-text">{{ event.start-date | date: "%-d"}} - {{ event.end-date | date: " %-d  %B  %Y"}}</span>
                    </div>
                    <div class="event-details">
                        <div class="col-xs-6 website">
                            <a href="{{event.url}}">
                                <i class="glyphicon glyphicon-share-alt"></i>
                                <span class="website-text">Website</span>
                            </a>
                        </div>
                        <div class="col-xs-6 resources">
                            <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Resources <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                {% for resource in event.resources %}
                                    <li><a href="{{resource.url}}">{{resource.title}}</a></li>
                                {% endfor %}
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>