/* -------------------------- Breadcrumb Style -------------------------- */
/* Bread Crumb Paragraphs */

.breadcrumb-container > p {
    color: #FFF;
}

.breadcrumb-container ol li a {
    color: #FFF;
}
/* Bread Crumb Headings */

.breadcrumb-container h1,
.breadcrumb-container h2,
.breadcrumb-container h3 {
    color: #FFF;
    letter-spacing: 2px;
}
/* Bread Crumb Ordered List Style */

.breadcrumb {
    background: transparent;
    border: 0;
    border-radius: 0;
    display: block;
}
.breadcrumb-container{
    background-image: url("../images/banner.jpg");
    background-color: #010220;
    padding:5px;
}


.breadcrumb li {
  font-size: 14px;
}

.breadcrumb>li+li:before {
  content: "\00bb\00a0";
}

.breadcrumb {
  padding: 0px;
}

.breadcrumb-title{
  font-size: 18px;
}
