* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0px;
    font-family: LatoWeb, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: black;
    background-color: white;
    background: transparent;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
.cc-window {
    opacity: 1;
    transition: opacity 1s ease;
}
.cc-revoke,
.cc-window {
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica, Calibri, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-wrap: nowrap;
    z-index: 9999;
}
.cc-left {
    left: 1em;
}
.cc-bottom {
    bottom: 1em;
}
.cc-window.cc-invisible {
    opacity: 0;
}
.cc-window.cc-floating {
    padding: 2em;
    max-width: 24em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.cc-color-override-275517548.cc-window {
    color: rgb(255, 223, 132);
    background-color: rgb(0, 0, 0);
}
.cc-floating .cc-message {
    display: block;
    margin-bottom: 1em;
}
a {
    background-color: transparent;
    color: rgb(25, 148, 123);
    text-decoration: none;
}
[role="button"] {
    cursor: pointer;
}
.cc-link,
.cc-revoke:hover {
    text-decoration: underline;
}
.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
    cursor: pointer;
}
.cc-link {
    opacity: 0.8;
    display: inline-block;
    padding: 0.2em;
}
.cc-link:active,
.cc-link:visited {
    color: initial;
}
.cc-color-override-275517548 .cc-link,
.cc-color-override-275517548 .cc-link:active,
.cc-color-override-275517548 .cc-link:visited {
    color: rgb(255, 223, 132);
}
.cc-compliance {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: space-between;
}
.cc-window.cc-floating .cc-compliance {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}
.cc-btn {
    display: block;
    padding: 0.4em 0.8em;
    font-size: 0.9em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
}
.cc-compliance > .cc-btn {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}
.cc-color-override-275517548 .cc-btn {
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(25, 148, 123);
}
a.cc-btn.cc-dismiss {
    border: 1px solid rgb(0, 132, 155);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
nav {
    letter-spacing: 1px;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    border-radius: 0px;
}
.navbar-fixed-top {
    top: 0px;
    border-width: 0px 0px 1px;
}
.navbar-inverse {
    background-color: rgb(34, 34, 34);
    border-color: rgb(51, 51, 51);
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0px;
}
input {
    line-height: normal;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0px;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0px 0px;
    line-height: normal;
}
#navbar-toggle-cbox {
    display: none;
}
.navbar-header {
    float: left;
}
.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
nav#main-navigation label[for="navbar-toggle-cbox"] {
    left: 3px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    clip: rect(0px 0px 0px 0px);
    border: 0px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(25, 148, 123);
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-brand {
    float: left;
    padding: 5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-inverse .navbar-brand {
    color: white;
}
img {
    border: 0px;
    vertical-align: middle;
}
.navbar-brand > img {
    display: block;
}
#brand-image {
    height: 70px;
    width: auto;
}
.collapse {
    display: none;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 38px;
    padding-left: 15px;
    border-top: 0px;
    box-shadow: none;
    width: auto;
    position: relative;
    padding-top: 0px;
    max-height: 270px;
    margin-right: -40px !important;
    margin-left: -15px !important;
}
.navbar-collapse.collapse {
    padding-bottom: 0px;
    display: block !important;
    height: auto !important;
    overflow: visible !important;
}
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 300px;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: rgb(16, 16, 16);
}
#navbar-collapse {
    width: 80%;
    float: right;
}
ul,
ol {
    margin-top: 0px;
    margin-bottom: 10.5px;
}
.nav {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}
.navbar-nav {
    margin: 0px;
    float: left;
}
.navbar-right {
    margin-right: -15px;
    float: right !important;
}
#navbar-buttons {
    margin-right: 40px;
}
.dropup,
.dropdown {
    position: relative;
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-nav > li {
    float: left;
}
nav li a {
    font-size: 16px;
    font-weight: 300;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-nav > li > a {
    padding-top: 29.5px;
    padding-bottom: 29.5px;
    line-height: 21px;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 3px dashed;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}
ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: none;
    font-size: 15px;
    text-align: left;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
    background-clip: padding-box;
}
ul.dropdown-menu {
    margin-top: -1px !important;
}
nav ul.dropdown-menu {
    min-width: 260px;
}
.navbar-right .dropdown-menu {
    right: 0px;
    left: auto;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: white;
    white-space: nowrap;
}
nav .dropdown-menu li a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 300;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
#searchDropdown {
    top: 16%;
    min-width: 234px;
    width: 781px;
    font-size: 16px;
    background-color: rgb(34, 34, 34);
    right: -2px;
}
.form-control {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: white;
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.no-js-navbar .navbar-form input,
.form-inline input {
    width: auto;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
#searchDropdown input {
    width: 675px;
    text-align: right;
    color: rgb(204, 204, 204);
    background-color: rgb(34, 34, 34);
    outline: 0px;
    border: 0px;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
}
.btn-default {
    color: white;
    background-color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
}
#searchDropdown button[type="reset"] {
    font-size: 16px;
    background-color: rgb(34, 34, 34);
    border: 0px;
}
#searchDropdown button[type="submit"] {
    font-size: 16px;
    background-color: rgb(34, 34, 34);
    border: 0px;
}
#main-container {
    margin-top: 80px;
    overflow-x: hidden;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.text-center {
    text-align: center;
}
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
    color: inherit;
    background-color: rgb(238, 238, 238);
    margin-top: 0px;
    background: linear-gradient(rgb(42, 75, 65) 0%, rgb(0, 0, 0) 100%);
}
.container .jumbotron,
.container-fluid .jumbotron {
    border-radius: 0px;
    padding-left: 60px;
    padding-right: 60px;
}
.jumbotron .container {
    max-width: 100%;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}
h1,
.h1 {
    font-size: 39px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: LatoWeb, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}
.fade-in-one {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1s 1 forwards;
}
.jumbotron h1,
.jumbotron .h1 {
    color: inherit;
    font-size: 68px;
}
#homepage-heading {
    color: rgb(255, 223, 132);
    font-size: 30pt;
    font-weight: normal;
    line-height: 1.25;
}
b,
strong {
    font-weight: bold;
}
p {
    margin: 0px 0px 10.5px;
    font-size: 20px;
    font-weight: 300;
    color: black;
    line-height: 1.66em;
    word-wrap: break-word;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fade-in-two {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1.5s 1 forwards;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 200;
}
p.sub-tag {
    width: 65%;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 21px;
    color: white;
    font-weight: 200;
}
.btn-primary {
    color: black;
    background-color: white;
    border-color: black;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.33333;
    border-radius: 6px;
}
.bottom-border-five {
    margin-bottom: 5px;
}
.fade-in-three {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 2s 1 forwards;
}
a.btn.btn-primary {
    border-radius: 30px;
    font-size: 14px;
    margin-bottom: 20px;
}
#buttons > a {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 20px !important;
}
.activity-container {
    padding-bottom: 30px;
    border-top: 1px solid rgb(239, 239, 239);
}
.row .activity-holder {
    margin-top: 40px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: left;
}
.col-md-3 {
    width: 25%;
}
.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-stage {
    position: relative;
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    backface-visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
    user-select: none;
}
.activity-block {
    border: 3px solid white;
    background: white;
    margin-top: 70px;
}
.activity-holder .activity-block {
    border: 3px solid white;
    background: white;
    height: auto;
}
.activity-block a {
    color: black;
    text-decoration: none;
    transition: all 1s ease;
}
.activity-block img {
    width: 100%;
    margin-bottom: 10px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 0.4s ease;
}
.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}
.owl-text {
    min-height: 100px;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav {
    margin-top: 10px;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    user-select: none;
}
.owl-theme .owl-nav [class*="owl-"] {
    color: white;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: rgb(214, 214, 214);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.lightboxOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: black;
    opacity: 0.8;
    display: none;
}
.lightbox {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0px auto;
    border-radius: 4px;
    background-color: white;
}
.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid white;
}
.lb-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}
.lb-nav a {
    outline: none;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}
.lb-nav a.lb-prev {
    width: 34%;
    left: 0px;
    float: left;
    background: url("../images/prev.png") left 48% no-repeat;
    opacity: 0;
    transition: opacity 0.6s;
}
.lb-nav a.lb-next {
    width: 64%;
    right: 0px;
    float: right;
    background: url("../images/next.png") right 48% no-repeat;
    opacity: 0;
    transition: opacity 0.6s;
}
.lb-loader {
    position: absolute;
    top: 43%;
    left: 0px;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0px auto;
    background: url("../images/loading.gif") no-repeat;
}
.lb-dataContainer {
    margin: 0px auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.lb-data {
    padding: 0px 4px;
    color: rgb(204, 204, 204);
}
.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: rgb(153, 153, 153);
}
.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url("../images/close.png") right top no-repeat;
    text-align: right;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}
