footer {
 background-color: #001c24;
 height:auto;
 color: #FFF;
 padding:20px;
 font-size: 16px;
 }

footer a{
    color: rgb(251, 251, 251);
    font-size: 14px;
}
footer h3 {
    font-size: 14px;
    font-weight:700;
}
footer a:hover{
    color:#0084ab ;
    text-decoration: none;
    transition: color .5s ease;
   -moz-transition: color .5s ease;
   -webkit-transition: color .5s ease;
}

footer b a {
    color: #0084ab;
}
footer b a:hover{
    color: #FFF;

}

.footer-bottom {
    height:40px;
    line-height: 29px;
    color: #FFF;
}
.footer-strip{
    background-color:transparent;
}

div.row.footer-strip > div > div.pull-right > ul a {
    color: #FFF;
}
div.row.footer-strip > div > div.pull-right > ul a:hover{
    color: #0084ab;
    transition: color .5s ease;
   -moz-transition: color .5s ease;
   -webkit-transition: color .5s ease;
}
.footer-strip .container div {
    height:50px;
    line-height: 50px;
    color: #FFF;
}
.footer-strip .container {
    border-top: 1px solid #043545;
}

.footer-logo-optee {
    display:block;
    max-width: 50%;
    height: auto;
}
