
    @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
        .sprite     {
            background-image: url('../images/members-sprite.png');
            -webkit-background-size: 1540px 1400px;
            -moz-background-size: 1540px 1400px;
            background-size: 1540px 1400px;
        }
    }



    .sprite {
            background-image: url('../images/members-sprite.png');
            background-repeat: no-repeat;
        }


        .members-panel  div.sprite {
            zoom: .7;
            display: inline-block
        }


        .sprite-images-zte {
            background-position: 0 0;
            width: 220px;
            height: 140px;
        }

        .sprite-images-xunlong {
            background-position: -220px 0;
            width: 220px;
            height: 140px;
        }

        .sprite-images-wrtnode {
            background-position: 0 -140px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-wind {
            background-position: -220px -140px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-ucrobotics {
            background-position: 0 -280px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-tocoding {
            background-position: -220px -280px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-tinno {
            background-position: -440px 0;
            width: 220px;
            height: 140px;
        }

        .sprite-images-ti {
            background-position: -440px -140px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-thundersoft {
            background-position: -440px -280px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-st {
            background-position: 0 -420px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-spreadtrum {
            background-position: -220px -420px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-socionext {
            background-position: -440px -420px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-seeed {
            background-position: -660px 0;
            width: 220px;
            height: 140px;
        }

        .sprite-images-samsung {
            background-position: -660px -140px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-rohm {
            background-position: -660px -280px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-redhat {
            background-position: -660px -420px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-qwerty {
            background-position: 0 -560px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-quic {
            background-position: -220px -560px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-nxp {
            background-position: -440px -560px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-nokia {
            background-position: -660px -560px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-mstar {
            background-position: 0 -700px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-montavista {
            background-position: -220px -700px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-meizu {
            background-position: -440px -700px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-mediatek {
            background-position: -660px -700px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-marvell {
            background-position: -880px 0;
            width: 220px;
            height: 140px;
        }

        .sprite-images-lsi {
            background-position: -880px -140px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-linux_foundation {
            background-position: -880px -280px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-linaro {
            background-position: -880px -420px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-lg {
            background-position: -880px -560px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-lemaker {
            background-position: -880px -700px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-ibm {
            background-position: 0 -840px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-hxt {
            background-position: -220px -840px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-huawei {
            background-position: -440px -840px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-huaqin {
            background-position: -660px -840px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-hpe {
            background-position: -880px -840px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-hoperun {
            background-position: -1100px 0;
            width: 220px;
            height: 140px;
        }

        .sprite-images-hisilicon {
            background-position: -1100px -140px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-gumstix {
            background-position: -1100px -280px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-google {
            background-position: -1100px -420px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-fujitsu {
            background-position: -1100px -560px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-freescale {
            background-position: -1100px -700px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-facebook {
            background-position: -1100px -840px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-ericsson {
            background-position: 0 -980px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-enea {
            background-position: -220px -980px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-comcast {
            background-position: -440px -980px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-citrix {
            background-position: -660px -980px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-cisco {
            background-position: -880px -980px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-cavium {
            background-position: -1100px -980px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-canonical {
            background-position: 0 -1120px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-calxeda {
            background-position: -220px -1120px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-broadcom {
            background-position: -440px -1120px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-bpi {
            background-position: -660px -1120px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-atap {
            background-position: -880px -1120px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-arrow {
            background-position: -1100px -1120px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-arm {
            background-position: -1320px 0;
            width: 220px;
            height: 140px;
        }

        .sprite-images-archermind {
            background-position: -1320px -140px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-applied-micro {
            background-position: -1320px -280px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-amd {
            background-position: -1320px -420px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-allwinner {
            background-position: -1320px -560px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-aliyun {
            background-position: -1320px -700px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-actions {
            background-position: -1320px -840px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-acer {
            background-position: -1320px -980px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-acadine {
            background-position: -1320px -1120px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-QualcommDatacenter {
            background-position: 0 -1260px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-GlobalScale {
            background-position: -220px -1260px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-FEI {
            background-position: -440px -1260px;
            width: 220px;
            height: 140px;
        }

        .sprite-images-Blackwhale {
            background-position: -660px -1260px;
            width: 220px;
            height: 140px;
        }
