/* This css file contains any colours or backgrounds that are set on the site
for easy customisation at a later date. */
/* -------------------- HTML Background Image ----------------------------- */

html {
    background: #000 url('../images/optee-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 80px;
}

/*--------------------------Collapsed------------------------------------ */
@media only screen and (max-width:768px) {
    /* Nav Bar brand responsive - similiar to image-responsive class */
    html {
        background: #000 url('../images/optee-bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: 80px;
    }

}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-weight: 700;
}

.navbar .input-group-btn button {
width: 45px;
}
/* ------------------- Default Anchor Tag Styling -------------------------- */

a,
a:hover {
    color: #0084ab;
}
/* -------------------- Homepage Greeting Container Heading Styles ---------*/

.homepage-greeting-container h1,
.homepage-greeting-container h2,
.homepage-greeting-container h3 {
    color: #FFF;
}
/* -------------------- Main Content Section Colour ------------------------*/

.mainContent {
    background-color: #FFF;
}
/* -------------------- Horizontal Rule Style ----------------------------- */

hr {
 -webkit-linear-gradient: (left, #f0f0f0, #8c8b8b, #f0f0f0);
 -moz-linear-gradient: (left, #f0f0f0, #8c8b8b, #f0f0f0);
 -ms-linear-gradient: (left, #f0f0f0, #8c8b8b, #f0f0f0);
 -o-linear-gradient: (left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/* ------------------- Selection Style ------------------------------------- */

::-webkit-selection{
    background-color: #0084ab;
    color: #fff;
}
::-moz-selection {
    background-color: #0084ab;
    color: #fff;
}
::selection {
    background-color: #0084ab;
    color: #fff;
}
/* -------------------------- Breadcrumb Style -------------------------- */
/* Bread Crumb Paragraphs */

.breadcrumb-container > p {
    color: #FFF;
}
/* Bread Crumb Headings */

.breadcrumb-container h1,
.breadcrumb-container h2,
.breadcrumb-container h3 {
    color: #FFF;
    letter-spacing: 2px;
}
/* Bread Crumb Ordered List Style */

.breadcrumb {
    background: rgba(245, 245, 245, 0);
    border: 0px solid rgba(245, 245, 245, 1);
}
/* --------------- Breadcrumb font weights ----------- */

.breadcrumb a {
    font-weight: 400;
}
.breadcrumb li {
    font-weight: 500;
}
/* Breadcrumb links */

.breadcrumb a:hover {
    color: rgba(42, 100, 150, 1);
}
.breadcrumb-container ol > li > .active {
    color: rgba(153, 153, 153, 1);
}
.breadcrumb-container > li + li:before {
    color: rgba(255, 255, 255, 1);
}
/* -------------------- Tabbed Nav Section Style --------------------- */

.nav-tabs {
    border-bottom: 2px solid #DDD;
}
.nav-tabs > li > a {
    color: #666;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    color: #000;
    background: transparent;
}
.nav-tabs > li > a:active {
    background: transparent;
}
.nav-tabs > li > a::after {
    background: #0084ab;
}
.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

/* Projects Icons */

.project-icon {
    color: #0084ab;
}
.project-title {
    color: #0084ab;
}
.project-more-info {
    color: #0084ab;
    font-size: 12px;
}
