<div class="col-xs-12 col-sm-8 intern_text">
    <h2>Looking for an internship?</h2>
    <p>
        Read about some of our interns experiences by taking a look
        through our intern brochure.
    </p>
</div>
<div class="col-xs-12 col-sm-4">
        <div class="col-xs-3">
        <div class="arrow_divider"></div>
        </div>
        <div class="col-xs-9">
            <a href="https://linaro.co/linaro-interns-brochure">
                <img class="lazyload img-responsive interns_cover_image"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/internship-cover.png" alt="Internship brochure cover" />
            </a>
        </div>
</div>
