<div class="row" id="careers-learning">
    <div class="col-sm-6 no-padding video-col">
        <div class="media-block puzzle lazyload" data-bg="/assets/images/content/careers-puzzle-image.jpg">
            <div class="text-center"><a class="btn btn-careers "
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdFvYa337ydUd3HwWHVyectrStanNJgCdZjdnQk9Krui7LWxg/viewform">Try
                    the Puzzle</a></div>
        </div>
    </div>
    <div class="col-sm-6 text-col">
        <div class="text-block">
            <h3>Up for a challenge?</h3>
            <p class="responsive-text ">Linaro challenges you to think outside the box and set yourself targets that
                make a real impact on the business. If you join Linaro, we will work with you to unleash your potential
                and help lay the foundations for a meaningful career.</p>
            <p class="responsive-text ">Every Linaro Connect, Mr Dave Pigott, Tech Lead of Linaro&rsquo;s Lab and
                Systems Software Group, creates a cryptic puzzle for attendees to solve. Do you have what it takes to
                work with the experts? Then give the puzzle a go!</p>
        </div>
    </div>
</div>
