<div class="owl-carousel owl-theme careers-carousel">
    <div class="activity-block item">
        <div class="col-xs-12 col-sm-4 intern_info">
            <h4>Theodore Grey</h4>
            <small>Entry Level, Engineer</small>
        </div>
        <div class="col-xs-12 col-sm-8 quote">
            <blockquote>
                A year ago, I was a Software Engineering Intern at Linaro. Through my internship I was able to find a practical
                application for the theory I had been learning at University. During my time as an Intern I created a facial recognition
                demo, and by the end of my internship I discovered the huge satisfaction of developing and completing a project. As I
                didn't have a background in Neural Networks at the time, I realised the joy of learning and diving deep into a topic on
                my own instead of following a lecturers lesson plan. More recently I started as a Software Engineer full-time at Linaro
                after finishing university in may. As a member of the 96Boards team in Linaro I've had the opportunity to work in many
                topics which interest me, such as self driving cars and neural networks which has been very fulfilling
            </blockquote>
        </div>
    </div>
</div>
