<div class="col-xs-12">
    <div class="modal fade video_modal" id="careersVideo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Want to help build technology for the future?</h4>
                </div>
                <div class="modal-body">
                    <video class="lazyload img-responsive testimonial_video"
                    data-poster=""
                        controls="controls" preload="none">
                        <source src="{{testimonial.video.ogv}}" type="video/ogg">
                        <source src="{{testimonial.video.webm}}" type="video/webm">
                        <source src="{{testimonial.video.mp4}}" type="video/mp4">
                    </video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <a data-toggle="modal" href='#careersVideo'>
        <div class="video_placeholder_image" style="background-image:url()">
            <div class="play_button">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </div>
        </div>
    </a>
</div>
