<div class="col-xs-12 col-sm-8 intern_text">
    <h3>Looking for an internship?</h3>
    <p>
        Read about some of our interns experiences by taking a look
        through our intern brochure.
    </p>
</div>
<div class="col-xs-12 col-sm-4">
        <div class="col-xs-3">
        <div class="arrow_divider"></div>
        </div>
        <div class="col-xs-9">
        <img class="lazyload interns_cover_image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="/assets/images/content/internship-brochure-cover.png"
        alt="Internship brochure cover"/>
        </div>
</div>
