<div class="row">
    <div class="col col-12 col-sm-8 intern_text">
        <h2 class="text-dark">Looking for an internship?</h2>
        <p class="text-dark">
            Read about some of our interns experiences by taking a look
            through our intern brochure.
        </p>
    </div>
    <div class="col col-12 col-sm-4">
        <a href="https://linaro.co/linaro-interns-brochure">
            <img class="lazyload img-fluid interns_cover_image"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="/assets/images/content/internship-cover.png" alt="Internship brochure cover" />
        </a>
    </div>
</div>
