<div class="col col-12">
    <div class="modal fade video_modal" id="careersVideo">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Want to help build technology for the future?</h4>
                </div>
                <div class="modal-body">
                    <video class="lazyload img-fluid testimonial_video"
                    data-poster="/assets/images/content/welcome-to-linaro-cover.png"
                        controls="controls" preload="none">
                        <source src="https://static.linaro.org/videos/welcome-to-linaro.ogv" type="video/ogg">
                        <source src="https://static.linaro.org/videos/welcome-to-linaro.webm" type="video/webm">
                        <source src="https://static.linaro.org/videos/welcome-to-linaro.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <a data-toggle="modal" href='#careersVideo'>
        <div class="video_placeholder_image" style="background-image:url(/assets/images/content/welcome-to-linaro-cover.png)">
            <div class="play_button">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </div>
        </div>
    </a>
</div>
