<div class="container-fluid breadcrumb-container"><!--- Main fluid container start ---->
    <div class="container">
        <div class="row">
            <h1>
              {% if page.breadcrumb-title %}
                {{ page.breadcrumb-title }}
              {% else %}
                {{
                  page.title
                }}
              {% endif %}
            </h1>
        </div><!--- Container Start ---->
    <div class="row">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>


          {% if page.breadcrumb-section %}
            <li class="active">{{ page.breadcrumb-section }}</li>
          {% endif %}


          {% if page.breadcrumb-subtitle %}
            <li class="active">{{ page.breadcrumb-subtitle }}</li>
          {% else %}
          <li><a href="/blog/">Blog</a></li>
            <li class="active">{{  page.title }}</li>
          {% endif %}

        </ol>
    </div>
</div>
</div>
