<div class="container homepage-greeting-container">
  <div class="row" id="banner-area-homepage">
    <div class="col-md-12">
      <img src="/images/OP-TEE-Logo_white-vertical-OPTEE.svg" id="optee-vertical-image" class="img-responsive center-block animated fadeIn" alt="Responsive image">
    </div>
    <div class="col-md-12">
      <h1 class="home-page-text text-center">Open Portable Trusted Execution Environment</h1>
      <h3 class="home-page-text text-center">Isolation ● Small footprint ● Portability</h3>
      <br />
    <a href="/contact/"><button class="btn btn-primary center-block" >Get Involved</button></a>
    </div>
  </div>
</div>
