---
layout: jumbotron
js-package: home
css-package: home
edit-on-github: "false"
http2_resources:
    - rel: preload
      as: image
      href_list:
        - /assets/content/LDCG.svg
        - /assets/content/LEDGE.svg
        - /assets/content/LCG.svg
        - /assets/content/LITE.svg
        - /assets/content/LTN.svg
        - /assets/content/LAVS.svg
        - /assets/content/MI.svg
        - /assets/content/HPC.svg
        - /assets/content/LAVS.svg
jumbotron:
    slider:
        slides:
            - title: Accelerating deployment of Arm-based solutions
              title-class: big-title
              slide-style: "background-position-y: bottom;"
              darken: true
              image: https://www.linaro.org/assets/images/content/hkg18-tech-banner.jpg
            - title: NavInfo joins Linaro 96Boards Steering Committee
              description: Linaro announces that NavInfo, a leading digital map content provider, has joined the 96Boards initiative as a Steering Committee member.
              darken: true
              slide-style: "background-position-y: bottom;"
              image: /assets/images/content/city-roads.jpg
              buttons:
                - title: Learn more
                  url: https://www.linaro.org/news/navinfo-joins-linaro-96boards-steering-committee/
            - title: Linaro, Arm, Marvell to host the “Arm on Arm” Summit for developers at Linaro Connect
              description: Linaro, Arm and Marvell are pleased to announce the final schedule for the Arm on Arm Summit at Linaro Connect Bangkok 2019.
              darken: true
              slide-style: "background-position-y: bottom;"
              image: /assets/images/blog/session-at-yvr18.jpg
              buttons:
                - title: Learn more
                  url: /news/linaro-arm-marvell-to-host-the-arm-on-arm-summit-for-developers-at-linaro-connect/

---
{% include home/collaborative-engineering.html %}
{% include home/developer-services.html %}
{% include home/96boards.html %}
{% include home/connect.html %}
