---
layout: jumbotron
js-package: home
css-package: home
http2_resources:
    - rel: preload
      as: image
      href_list:
        - /assets/content/LDCG.svg
        - /assets/content/LEDGE.svg
        - /assets/content/LCG.svg
        - /assets/content/LITE.svg
        - /assets/content/LTN.svg
        - /assets/content/LAVS.svg
        - /assets/content/MI.svg
        - /assets/content/HPC.svg
        - /assets/content/LAVS.svg
jumbotron:
    triangle-divider: true
    background-image: /assets/images/content/hkg18-tech-banner.jpg
    title: 
        lines:
            - text: Accelerating deployment of
              class: line-one
            - text: Arm-based solutions
              class: line-two
    buttons:
        - title: Learn More
          url: /about/
          class: btn btn-linaro-home
        - title: Members
          url: /membership/
          class: btn btn-linaro-home
---
<div class="row content" id="developer-services">
    <div class="developer-services-svg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="600" height="520" viewbox="0 0 600 519.6152422706632"
            style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
            <path fill="#fff"
                d="M0 259.8076211353316L150 0L450 0L600 259.8076211353316L450 519.6152422706632L150 519.6152422706632Z"></path>
        </svg>
    </div>
    <div class="container">
        <div class="col-xs-12">
            <h2>We are the <strong>Arm software experts</strong> and we are available to help you.</h2>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="key-factor-block">
                <h4>Efficiently support the latest technology features upstream</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="key-factor-block">
                <h4>Reduce burden of post-release software updates and support</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="key-factor-block">
                <h4>Available to both Linaro Member and non-Member companies</h4>
            </div>
        </div>
        <div class="col-xs-12"> 
            <a href="/services" class="btn btn-primary pull-right">Learn More</a>
        </div>
    </div>
</div>
{% include home/blog-slider.html %}
{% include home/segment-groups-block.html %}
{% include home/featured-slider.html  %}



