---
layout: jumbotron
js-package: home
css-package: home
http2_resources:
    - rel: preload
      as: image
      href_list:
        - /assets/content/LDCG.svg
        - /assets/content/LEDGE.svg
        - /assets/content/LCG.svg
        - /assets/content/LITE.svg
        - /assets/content/LTN.svg
        - /assets/content/LAVS.svg
        - /assets/content/MI.svg
        - /assets/content/HPC.svg
        - /assets/content/LAVS.svg
jumbotron:
    triangle-divider: true
    background-image: /assets/images/content/hkg18-tech-banner.jpg
    title: 
        lines:
            - text: Accelerating deployment of
              class: line-one
            - text: Arm-based solutions
              class: line-two
    buttons:
        - title: Learn More
          url: /about/
          class: btn btn-linaro-home
        - title: Members
          url: /membership/
          class: btn btn-linaro-home
---
{% include home/blog-slider.html %}
{% include home/segment-groups-block.html %}
{% include home/featured-slider.html  %}