---
title: Projects
description: |-
    Linaro focuses much of its engineering work on contributing to existing upstream projects like the Linux Kernel and GNU Compiler Collection (GCC).
keywords: Arm, GCC, GNU, Compiler, Automated, Validation, Architecture, Linux, Kernel, 96Boards
permalink: /engineering/projects/
project: false
css-package: projects
layout: jumbotron-container
jumbotron:
    title: Projects
    background-image: /assets/images/content/engineering-bg.jpg
---

<p>
    Linaro focuses much of its engineering work on contributing to existing upstream projects like the <a href="https://www.kernel.org">Linux Kernel</a> and <a href="https://gcc.gnu.org/">GNU Compiler Collection</a>(GCC).
    When a suitable target project doesn't exist, then Linaro may create one. The first of these was the <a href="/engineering/projects/lava/">Linaro Automated Validation Architecture</a>(LAVA) - Linaro needed a 
    test and validation architecture for internal use and decided to create this as an open source project.  The list of initiatives continues to grow and now includes software projects,
    an open hardware specification (<a href="http://www.96boards.org">96Boards</a>) and Linaro's bi-annual event (<a href="http://connect.linaro.org">Linaro Connect</a>).
</p>

<div class="projects">
{% assign projects = site.projects | where: 'project', 'true' %}
{% for project in projects %}
    {% assign projectTextSize = project.title | size %}
    <a href="{{project.url}}">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 project-item {% if projectTextSize > 13 %}small-text{% endif %}">
            {{project.title}}
        </div>
    </a>
{% endfor %}
</div>