#wrapper {
  .about_page {
    img.header_background_image {
      filter: brightness(0.5);
    }
  }
  .block_row {
    .card {
      height: 200px !important;
      picture {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 0;
        height: 100%;
      }
    }
  }
  // Video Embed
  .video-player {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    border: 5px solid white;
    img {
      filter: brightness(0.5);
    }
    .video-player__btn {
      color: #fff;
      font-size: 100px;
      @include media-breakpoint-down(md) {
        transform: scale(1);
      }
      transform: scale(2);
      left: 50%;
      margin: -33px 0 0 -44px;
      position: absolute;
      text-shadow: 0 1px 1px #9c3;
      top: 50%;
    }
  }
  .maintainers_data_row {
    .col.col-12.col-md-3.stat_block {
      background-color: #cfcfcf;
    }
    .header_section .row {
      background-color: #e6e6e6;
    }
    h3.stats.font-weight-bold {
      font-size: 125px;
      display: block;
      text-align: center;
      color: black;
    }
    h2.header {
      font-size: 40px;
      color: black;
    }
    h4.section_label.mb-0.p-1 {
      font-size: 30px;
      top: -3px;
      font-weight: lighter;
      position: relative;
    }
    .canvasTop {
      top: -139px;
      position: relative;
      margin-bottom: -80px;
    }
    .chart-container {
      height: 500px;
    }
    @include media-breakpoint-down(md) {
      .chart-container {
        height: 300px;
      }
      .canvasTop {
        top: 0;
        position: relative;
        margin-bottom: 0;
      }
    }
  }
}
