#wrapper {
  .about_page {
    img.header_background_image {
      filter: brightness(0.5);
    }
  }
  .block_row {
    .card {
      height: 200px !important;
      picture {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 0;
        height: 100%;
      }
    }
  }
  // Video Embed
  .video-player {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    border: 5px solid white;
    img {
      filter: brightness(0.5);
    }
    .video-player__btn {
      color: #fff;
      font-size: 100px;
      @include media-breakpoint-down(md) {
        transform: scale(1);
      }
      transform: scale(2);
      left: 50%;
      margin: -33px 0 0 -44px;
      position: absolute;
      text-shadow: 0 1px 1px #9c3;
      top: 50%;
    }
  }
}
