.row.no-padding.arm-hpc-row {
    background-color: #000000;
}

.row.no-padding.arm-hpc-row.top {
    margin-bottom: 30px;
}

.row.no-padding.arm-hpc-row.bottom {
    margin-top: 30px;
}

.alert.alert-arm-hpc {
    background-color: #dff2fe;
}

#content-container {
    padding-top: 0;
}

#call-for-papers a.btn.btn-primary.btn-two.call-for-papers {
    font-size: 20px;
    color: white;
    line-height: 43px;
    background-color: #5582a6;
    border: 1px solid #000000;
}

#call-for-papers a.btn.btn-primary.btn-two.call-for-papers:hover {
    color: #9a9a9a;
    border: 1px solid #1f3850;
}

#wrapper .arm-hpc-row h1 {
    color: white;
    margin-top: 40px;
}

#wrapper .arm-hpc-row h1 span {
    color: #cecece;
    font-size: 20px;
}

#wrapper .arm-hpc-row small {
    color: #fff;
    font-size: 17px;
}

#call-for-papers {
    padding: 15px;
    border: 1px solid #6d6b6b;
    text-align: center;
    margin-top: 0px;
    color: white;
    background-color: #6b1506;
    -webkit-box-shadow: inset 0 0 59px 0 #03090e;
    -moz-box-shadow: inset 0 0 59px 0 #03090e;
    box-shadow: inset 0 0 59px 0 #000000;
}

#call-for-papers h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: white;
    font-weight: normal;
}

#call-for-papers h3 {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}

#call-for-papers h2 span {
    color: #90a7b5;
    font-weight: bold;
}

#wrapper .arm-hpc-row.top .container {
    height: auto;
    padding-bottom: 30px;
    background-position: center center;
}
/*
 BUTTON STYLING
*/
@media(max-width:$screen-sm-min) {
    #call-for-papers .btn {
        width: 100%;
    }

    #wrapper .arm-hpc-row h1 {
        font-size: 24px;
    }
}

#call-for-papers .btn {
    position: relative;
    color: white;
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;

    span {
        transition: all 0.3s;
        tranform: scale(1, 1);
    }
}

#call-for-papers .btn::after,
#call-for-papers .btn::before {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* BTN TWO */
#call-for-papers .btn-two::after,
#call-for-papers .btn-two::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#call-for-papers .btn-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
}

#call-for-papers .btn-two:hover::before {
    animation-name: rotateccw;
    animation-duration: 3s;
}

#call-for-papers .btn-two:hover::after,
#call-for-papers .btn-two:hover::before {
    left: 96px;
    width: 64px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotatecw {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateccw {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.speaker-photo {
    height: 200px;
    background-size: cover;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

span.speaker-talk-title {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
}

span.speaker-name {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
}
span.speaker-company {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
}

.speaker p {
    font-size: 14px;
    text-align: center;
}

a.btn.btn-primary.full-bio {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: 50%;
    margin-bottom: 20px;
}

.speaker {
    border: 1px solid #eee;
    padding: 5px;
    margin: 20px;
}

.speaker:hover {
    box-shadow: 0 0 45px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 45px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 45px rgba(0,0,0,0.2);
}

h2#featured-speakers {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: normal;
}

button.btn.btn-primary.full-bio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #322641;
    color: white;
}

button.btn.btn-primary.full-bio:hover {
    background-color: #2b222f;
}

.row.arm-hpc-row.speakers {
    padding-bottom: 50px;
}
//Eventbrite Custom CSS
header.eds-modal__header {
    background-color: #1b141d !important;
}

body .eds-text-color--grey-800 {
    color: #1aa8ff;
    font-weight: bold;
}

span.eds-align--center {
    color: #afafaf;
}

.eds-modal__content__children {
    background-color: #2b2133;
}

.eds-modal .eds-modal__footer-background {
    box-shadow: none;
}

.eds-modal__footer-background {
    background-color: #2b2233 !important;
    border-top-color: #white !important;
}

.eds-g-cell.eds-g-cell-1-1.eds-l-mar-bot-2.eds-text-color--grey-600 {
    color: #c6c6c6;
}

aside.eds-collapsible-pane-layout__content.checkout-widget__ticket-page--pane-content {
    background-color: #2b2333;
    color: white;
}

span.eds-text-bm--fixed {
    color: gainsboro;
}
// Schedule
#schedule td {
    padding: 10px 20px !important;
    font-weight: normal;
    color: #131313;
}

#schedule td:nth-child(-n+3) {
    font-weight: bold;
}

#schedule th {
    display: none;
}

#schedule tr:first-child {
    border-top: none;
    display: none;
}

#schedule table {
    border-bottom: none;
}

.softmerge-inner {
    white-space: normal;
}
#wrapper a.center-block.visible-xs-block.btn.btn-primary {
    font-size: 20px;
    background-color: #6c859b;
    padding: 0px;
    width: 100%;
}
#wrapper a.center-block.visible-xs-block.btn.btn-primary:hover {
    font-size: 20px;
    background-color: #3a0702;
    color:white;
    padding: 0px;
}
// On mobile remove the right border of nav tabs
@media(min-width: $screen-sm-min){
    ul#tabbed_nav>li>a {
        border-right: none;
    }
}
