//Arm HPC
.row.no-padding.arm-hpc-row {
    background-color: #2b2130;
}
.row.no-padding.arm-hpc-row.top {
    margin-bottom: 30px;
}
.row.no-padding.arm-hpc-row.bottom {
    margin-top: 30px;
}

.alert.alert-arm-hpc {
    background-color: #dff2fe;
}

// doubleScroll
.doubleScroll-scroll-wrapper::-webkit-scrollbar {
    width: 1em;
}
.doubleScroll-scroll-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: darken($body-bg, 80%);
}
.doubleScroll-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: $brand-primary;
  outline: 1px solid $body-bg;
}
.double-scroll::-webkit-scrollbar {
    width: 1em;
}
.double-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: darken($body-bg, 80%);
}
.double-scroll::-webkit-scrollbar-thumb {
  background-color: $brand-primary;
  outline: 1px solid $body-bg;
}
.double-scroll table.table {
    margin-bottom: 0px;
}