#wrapper {
  .teamtailor-jobs__job {
    border: 1px solid #eee;
    padding: 20px 15px;
  }

  a.teamtailor-jobs__job-title {
    color: black;
    display: block;
    font-weight: bold;
  }
  .careers_page {
    img.header_background_image {
      filter: brightness(0.6);
    }
  }
  .card.core_value_block {
    border: 2px solid #88c4d8;
    border-radius: 0px;
    h5 {
      color: #0785af;
      font-weight: bold;
      font-size: 26px;
    }
  }
  // Video Embed
  .video-player {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    border: 5px solid white;
    img {
      filter: brightness(0.5);
    }
    .video-player__btn {
      color: #fff;
      font-size: 100px;
      @include media-breakpoint-down(md) {
        transform: scale(1);
      }
      transform: scale(2);
      left: 50%;
      margin: -33px 0 0 -44px;
      position: absolute;
      text-shadow: 0 1px 1px #9c3;
      top: 50%;
    }
  }
  .row.video_row {
    background-color: #e6e6e6;
    .video_placeholder_image {
      height: 400px;
      width: 100%;
    }
  }
  .row.careers_row {
    background-color: #666666;
  }
  .row.internship_row {
    background-color: $primary;
    p {
      color: #fff;
      font-weight: 400;
    }
    h2 {
      font-weight: 400;
      color: #fff;
    }
    .arrow_divider {
      &:before {
        content: ">>";
        font-size: 70px;
        position: absolute;
        width: 100%;
        overflow: hidden;
        color: white;
        line-height: 100px;
        font-weight: 800;
      }
    }
  }
  .row.buttons_row {
    padding-bottom: 65px;
    a.btn {
      margin-bottom: 5px;
      &.btn-primary {
        background-color: $primary;
        border-radius: 5px;
      }
      &.btn-secondary {
        background-color: #666666;
        border-radius: 5px;
        color: white;
        padding: 9px;
      }
    }
  }
  div#careers {
    background-color: transparent;
    .rbox-opening-li {
      border: none;
    }
    .rbox-opening-li-title {
      font-size: 26px;
      &:after {
        content: ">>";
        padding-left: 10px;
      }
    }
    .rbox-job-shortdesc {
      width: 100%;
      float: right;
      font-weight: normal;
      color: white;
      font-size: 26px;
      margin-top: 20px;
    }
    .rbox-job-fullpage {
      background-color: white;
      padding: 20px;
    }
    .rbox-top-links,
    .rbox-bottom-links {
      margin-bottom: 30px;
      a {
        background-color: $primary;
        color: white;
        padding: 10px;
        border-radius: 5px;
      }
    }
    .rbox-apply-button {
      background-color: $primary;
      background: $primary;
      color: white;
    }
    .rbox-opening-position-info {
      float: left;
      width: 50%;
      font-weight: 800;
      border: none;
      small {
        border: none;
        &:not(:last-child):after {
          content: "-";
          padding-left: 15px;
        }
      }
    }
  }
  .row.internship_testimonial_row {
    background-color: #ebf5d7;
    .intern_image {
      margin: 0;
      height: 100px;
      width: 100%;
      height: auto;
    }
    .intern_info {
      small {
        font-size: 18px;
      }
      h4 {
        margin-top: 20px;
        font-weight: 800;
      }
    }
  }
}
