.linaro-svg-icon {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    fill: #98c033;
    background-color: #fff;
    border: none;
    padding: 12px;
    transition: all 500ms ease;
}
.linaro-svg-icon:hover {
    background-color: #ccc;
}

// Full Width Slider
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
    }
}
.item:nth-child(1) {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel .item {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
}
// CSS for content on top of carousel
div#content-container {
    z-index: 99999;
    position: relative;
    margin-top: -40px;
}
.carousel.slide.carousel-fade {
    position: absolute;
    z-index: -1;
}
h1.fly.center-block {
    color: white;
}
p.fly.center-block {
    color: white;
}
nav#universal-nav {
    z-index: 2;
    position: static;
}
nav#main-navigation {
    z-index: 9999;
    background-color: white;
    /* position: relative; */
}
div#why-join-container {
    z-index: -1;
    position: relative;
}
.container-fluid.footer {
    z-index: 99999;
    position: relative;
}
.item.active {
    height: 500px;
    margin-top:-40px;
}
@media(max-width:$screen-sm-min){
    h1.fly.center-block {
        font-size: 25px;
    }
}
#why-join-container .container.text-center {
    padding-bottom: 40px;
}