.col-xs-6.col-sm-3.member-company.no-padding {
    height: 250px;
    padding: 20px;
}

@media(max-width:500px){
    
    .col-xs-6.col-sm-3.member-company.no-padding {
        height: 100px;
        padding: 20px;
    }
}
span.membership-badge {
    background-color: #f8f8f8;
    padding: 5px;
    color: #171717;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
}
.panel-body h3 {
    margin-top: 5px;
    font-size: 16px;
}

.panel.panel-default {
    margin-top: 10px;
}