#wrapper {
  .connect_header {
    padding-top: 0px;
    p {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 24px;
    }
  }
  .connect_landing_page {
    a {
      color: #98cc32;
    }
  }
  ul.list-group.list-group-flush {
    background: transparent;
    color: white;
    border: 10px solid rgba(137, 137, 137, 0.7);
    border-bottom-width: 25px;
    border-radius: 10px;
    li.list-group-item {
      background: transparent; /* border: 5px solid red; */
    }
  }

  .connect_nav_wrapper {
    background-color: black;
    color: white;
    .nav-item {
      border-right: 1px solid white;
      width: 120px;
      border-left: 1px solid white;
      border-radius: 0;
      a {
        color: white;
        text-align: center;
      }
    }
  }
  .available_now {
    position: relative;
    z-index: 9;
  }
  .jumbotron-svg {
    position: relative;
    height: 100px;
    width: 600px;
    margin-bottom: 150px;
    top: 0;
    z-index: 9;
    left: -72px;
  }
  span.play_triangle {
    background-color: $primary;
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    margin-right: auto;
    &:before {
      width: 0;
      height: 0;
      border-width: 39px 0px 22px 30px;
      border-style: solid;
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 25px solid #fff;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
