@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color !important;
    }
    .border#{$infix}-right {
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color !important;
    }
    .border#{$infix}-left {
      border-left: $border-width solid $border-color !important;
    }

    .border#{$infix}-top-0 {
      border-top: 0 !important;
    }
    .border#{$infix}-right-0 {
      border-right: 0 !important;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }
    .border#{$infix}-left-0 {
      border-left: 0 !important;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}

#wrapper {
  .bordered-content {
    border-color: #6c6c6c !important;
  }
  .jumbotron.background_image .container p {
    color: black !important;
    font-weight: bold !important;
  }
  img.header_background_image.lazyloaded {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    object-fit: fill;
    filter: brightness() !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  a#connect_register_button {
    text-transform: uppercase;
    border-radius: 0;
    padding: 20px 50px;
    font-weight: bold;
    color: #a05d2a;
    // background-color: black;
    border: 1px solid #a05d2a;
    font-size: 24px;
    @include media-breakpoint-down(sm) {
      color: white;
      border: 1px solid white;
    }
  }
  .connect_header_row {
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 300px;
    // margin: 150px 0;
    @include media-breakpoint-down(md) {
      margin: 50px 0;
    }
    .connect_header_row .container {
      color: black !important;
      @include media-breakpoint-down(sm) {
        color: white;
      }
    }

    .header_text {
      font-weight: bold;
      font-size: 30px;
      strong {
        color: black;
      }
    }
    .header_title {
      font-weight: bold;
      font-size: 40px;
      strong {
        color: black;
      }
    }
  }
  .text-custom-brown {
    color: #b77236;
    font-weight: bold;
  }

  img.connect_header_svg {
    height: 200px;
    object-fit: contain;
    width: 100%;
  }
  section {
    position: relative;
    margin: -16px;
  }

  .tab_content_row {
    z-index: 2;
    position: relative;
    color: white;
    min-height: 500px;
    strong {
      color: $primary;
    }
    a {
      color: $primary;
    }
  }
  ul#myTab {
    text-transform: uppercase;
    display: flex;
    justify-content: stretch;
    border-bottom: none;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: stretch;
    }
    li {
      flex: 1;
      width: 100%;
      a {
        font-weight: bold;
        color: #98cc33;
        background-color: transparent;
        border: none;
        &.active {
          color: white;
        }
      }
    }
  }
  .connect_header {
    padding-top: 0px;
    p {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
  .connect_landing_page {
    background-color: #000;
    a {
      color: #98cc32;
    }
  }
  ul.list-group.list-group-flush {
    background: transparent;
    color: white;
    border: 10px solid rgba(137, 137, 137, 0.7);
    border-bottom-width: 25px;
    border-radius: 10px;
    li.list-group-item {
      background: transparent; /* border: 5px solid red; */
    }
  }

  .connect_nav_wrapper {
    background-color: black;
    border-top: 1px solid #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
    color: white;
    .nav-item {
      border-right: 1px solid #6c6c6c;
      width: 120px;
      border-left: 1px solid #6c6c6c;
      border-radius: 0;
      a {
        color: white;
        text-align: center;
      }
    }
  }
  .available_now {
    position: relative;
    z-index: 9;
  }
  .jumbotron-svg {
    position: relative;
    height: 100px;
    width: 600px;
    margin-bottom: 150px;
    top: 0;
    z-index: 9;
    left: -72px;
  }
  span.play_triangle {
    background-color: $primary;
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    margin-right: auto;
    &:before {
      width: 0;
      height: 0;
      border-width: 39px 0px 22px 30px;
      border-style: solid;
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 25px solid #fff;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
