#wrapper {
  #flow_wrapper {
    .row.engineering_row {
      background-color: #666666;
      h2 {
        color: #fff;
        text-align: center;
      }
    }
    .row.projects_row {
      background-color: #e6e6e6;
      h2 {
        color: #666666;
        font-weight: 400;
      }
      .project_image {
        background-color: white;
        height: 80px;
        margin: 30px 0;
        img {
          height: 80px;
          object-fit: contain;
          padding: 5px;
        }
      }
    }
    #engineering_icons {
      .engineering_icon_col {
        transition: all 100ms ease-in-out;
        margin-top: 20px;
        margin-bottom: 30px;
        &:hover {
          transform: scale(1.1);
          z-index: 9999;
          position: relative;
          filter: grayscale(1);
        }
        img.lazyloaded {
          height: 120px;
        }
      }
      h3 {
        font-size: 18px;
        text-align: center;
        height: 60px;
        color: white;
      }
    }
  }
}
