.col-xs-6.col-sm-3.engineering-icon img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .3;
    transform: scale(.6);
    top: -70px;
    position: relative;
    transition: all 200ms ease;
}

.col-xs-6.col-sm-3.engineering-icon img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(.8);
}

hr.dotted-divider {
    border: 8px dotted #eee;
    height: 2px;
}

.engineering-center-icon-container div {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.dotted-border {
    border-style: dotted;
    border-color: rgba(236, 236, 236, 1);
    border-image-source: url(/assets/images/content/dotted-border.svg);
    border-image-slice: 33% 33%;
    border-image-repeat: round;
    border-width: 0 0 30px 0;
}

div#engineering-graphic {
    background-size: cover;
    background-position: center center;
    background-color: #B2B2B2;
}

.engineering-center-icon-container img {
    width: 100px;
    height: 100px;
}

#wrapper h3.group-title {
    word-wrap: break-word;
    margin-top: 0;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    height: 60px;
    margin-top: -15px;
    position: relative;
    top: -30px;
}

.col-xs-6.col-sm-3.engineering-icon {
    display: none;
}

@media(min-width:$screen-sm-min) {
    .hidden-icon-left {
        transform: translateX(-100px);
        opacity: 0;
        transition: all 1s ease;
    }
    .hidden-icon-right {
        transform: translateX(100px);
        opacity: 0;
        transition: all 1s ease;
    }
}

#hover-icon {
    top: 115px;
    transition: all 500ms ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .3;
    transform: scale(1);
}

#hover-icon:hover {
    transform: scale(1.4);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;
    opacity: 1;
}

.show-icon-left {
    transform: translateX(0px) !important;
    opacity: 1 !important;
}

.show-icon-right {
    transform: translateX(0px) !important;
    opacity: 1 !important;
}

span.core-descriptor {
    background-color: #7ca82d;
    color: #ffffff;
    opacity: .9;
    border: 1px solid #eee;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    display: none;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    z-index: 1;
    line-height: 80px;
    transform: scale(.8);
    transition: all 500ms ease;
}

span.core-descriptor:hover {
    cursor: pointer;
    background-color: #363636;
    transform: scale(1);
}

span.core-descriptor.kernel-validation {
    top: -50px;
    right: -10px;
    font-size: 14px;
    padding-top: 26px;
    line-height: 18px;
    word-break: break-word;
}

span.core-descriptor.toolchain {
    top: -50px;
    left: -10px;
}

span.core-descriptor.power {
    bottom: 20px;
    left: -50px;
}

span.core-descriptor.security {
    bottom: 20px;
    right: -50px;
}

span.core-descriptor.kernel {
    left: 50%;
    bottom: -55px;
    left: 0;
    right: 0;
    margin: auto;
}

.col-xs-6.col-sm-3.engineering-icon {
    height: 260px;
}

@media(min-width:0px) {
    #wrapper h3.group-title {
        font-size: 14px;
        top: -15px;
    }
    .col-xs-6.col-sm-3.engineering-icon {
        height: 160px;
    }
    .col-xs-6.col-sm-3.engineering-icon img {
        top: -10px;
    }
}

@media(min-width:360px) {
    #wrapper h3.group-title {
        font-size: 14px;
        top: -15px;
    }
    .col-xs-6.col-sm-3.engineering-icon {
        height: 230px;
    }
    .col-xs-6.col-sm-3.engineering-icon img {
        top: -10px;
    }
}

@media(min-width:520px) {
    #wrapper h3.group-title {
        font-size: 14px;
        top: -15px;
    }
    .col-xs-6.col-sm-3.engineering-icon {
        height: 300px;
    }
    .col-xs-6.col-sm-3.engineering-icon img {
        top: -10px;
    }
}

@media(min-width:600px) {
    #wrapper h3.group-title {
        font-size: 20px;
        top: -15px;
    }
    .col-xs-6.col-sm-3.engineering-icon {
        height: 350px;
    }
    .col-xs-6.col-sm-3.engineering-icon img {
        top: -10px;
    }
}

@media(min-width:700px) {
    #wrapper h3.group-title {
        font-size: 20px;
        top: -15px;
    }
    .col-xs-6.col-sm-3.engineering-icon {
        height: 440px;
    }
    .col-xs-6.col-sm-3.engineering-icon img {
        top: -10px;
    }
}

@media(min-width:860px) {
    #wrapper h3.group-title {
        font-size: 20px;
        top: -15px;
    }
    .col-xs-6.col-sm-3.engineering-icon {
        height: 500px;
    }
    .col-xs-6.col-sm-3.engineering-icon img {
        top: -10px;
    }
}

@media(min-width:$screen-sm-min) {
    .col-xs-6.col-sm-3.engineering-icon img {
        top: -30px;
    }
    #wrapper h3.group-title {
        top: -50px;
        font-size: 15px;
    }
    .col-xs-6.col-sm-3.engineering-icon {
        height: 260px;
    }
}

@media(min-width:$screen-lg-min) {
    .col-xs-6.col-sm-3.engineering-icon img {
        top: -65px;
    }
    #wrapper h3.group-title {
        top: -100px;
        font-size: 15px;
    }
    .col-xs-6.col-sm-3.engineering-icon {
        height: 260px;
    }
}

.project {
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.col-xs-6.col-sm-3.col-md-2.project-col {
    padding: 10px;
    border: 1px solid #eee;
    transition: all 200ms ease;
}

.col-xs-6.col-sm-3.col-md-2.project-col:hover {
    background-color: #eee;
}
#flow_wrapper div#engineering-graphic {
    background-color: transparent !important;
}

#flow_wrapper div#engineering-graphic .row {
    background-color: transparent !important;
}
