.event-image {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.event-title h3 {
    font-size: 16px;
    color: #f7f7f7 !important;
    margin-top: 0px;
}

.event-title {
    height: 70px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #363636;
}

.event-block {
    border: none;
    transition: all 500ms ease;
}

.event-block:hover {
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
    opacity: .9;
    cursor: pointer;
}