.events-header.red {
    background-color: #cc1f32;
}
.events-header-container {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 150px;
}
.events-header-container.larger {
    height: 300px;
}
