// Adjust the margin-top of the home wrapper to account for the universal nav
#wrapper.home {
    margin-top: 31px;
}

.container.home-blog-post-carousel-container {
    padding-bottom: 30px;
}

.owl-dots {
    margin-bottom: 0;
}

.row.group_content {
    height: 100px;
}

h1.linaro-title>span {
    font-size: 70px;
    font-weight: 700;
}

.home-page-slider-text.ecosystem-day.text-center {
    margin-top: 50px;
}

span.central-bold-slider-text {
    font-size: 20px;
    font-weight: bold;
    top: 87px;
    position: relative;
}

#wrapper span.linaro-hpc-text {
    font-size: 18px;
    font-weight: bold;
    top: 65px;
    position: relative;
}

#wrapper span.yvr18-text {
    font-size: 18px;
    font-weight: bold;
    top: 90px;
    position: relative;
}

.blogs_home_block_post.connect {
    border-bottom: 2px solid #97ce1e;
}

.blogs_home_block_post.lite {
    border-bottom: 2px solid #ea9538;
}

.blogs_home_block_post.boards {
    border-bottom: 2px solid #999;
}

.blogs_home_block_post.connect:hover {
    background-color: #97ce1e;
    color: white;
}

.blogs_home_block_post.lite:hover {
    background-color: #ea9538;
    color: white;
}

.blogs_home_block_post.boards:hover {
    background-color: #000;
    color: white;
}

//SM
@media(min-width:992px) {
    .col-md-5ths.col-xs-12.group_block:hover .row.group_header {
        opacity: 0;
        cursor: pointer;
    }
    .col-md-5ths.col-xs-12.group_block:hover .row.group_content {
        opacity: 1;
        transform: scaleY(1);
    }
}

//Smallest mobile view
@media(max-width:767px) {
    h1.linaro-title>span {
        font-size: 38px;
        font-weight: 600;
    }
    h2.linaro-sub-title {
        font-size: 28px !important;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: -15px;
    }
    h2.blogs_home_block_text {
        font-size: 20px;
    }
    #homepage-jumbotron {
        padding: 20px;
    }
    .carousel-caption.right-caption {
        top: 0;
        margin-top: 47px;
        right: 0;
        left: 0;
    }
    a.boards-home-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        position: relative;
        top: -60px;
    }
}

//Home Page Sliders
.item.home-page-slider-item {
    height: 230px;
}

.home-page-slider-button {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: none;
}

h1#home-page-title.white {
    color: white;
    font-weight: normal;
    text-shadow: #6f6f6f 1px 1px 7px;
    font-size: 40px;
}

// Developer Sertvices
span.developer-services-line-1 {
    font-weight: bold;
    font-size: 16px;
}

span.developer-services-line-2 {
    font-size: 14px;
}

@media (max-width: 1200px) {
    h1#home-page-title {
        font-size: 28px;
    }
}

// Developer Sertvices
span.boards-slide-line-1 {
    font-size: 20px;
    color: #ffdf84;
}

span.boards-slide-line-2 {
    font-size: 20px;
    color: #ffdf84;
    font-weight: bold;
}

// Arm HPC
.home-page-slider-text.hpc {
    margin-top: 40px;
}

span.arm-hpc-japan-slide-line-1 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    top: 8px;
    left: 2px;
    position: relative;
    padding: -14px;
    /* line-height: 33px; */
}

span.arm-hpc-japan-slide-line-2 {
    font-weight: bold;
}

span.arm-hpc-japan-slide-line-3 {
    color: #1aa8ff;
}

.owl-stage-outer {
    height: 240px;
}

.container.home-inline-carousel {
    margin-top: 40px;
    margin-bottom: 0;
}

//Home Page
.arm-hpc-divider {
    background: linear-gradient(to right, #d12d0d 50%, #1aa8ff 50%);
    height: 2px;
    width: 204px;
    margin-top: 3px;
    margin-bottom: 8px;
    border-radius: 1px;
}

a.btn.btn-linaro-home.connect {
    background-color: #97ce1e;
    border-color: #6a9015;
}
#wrapper a.btn.btn-linaro-home {
    background-color:#9cc849;
    border: 1px solid #000;
    color:white;
    font-weight:bold;
    border-radius:0;
}
#wrapper a.btn.btn-linaro-home:hover{
    background-color:#262626;
}
div.row.slide-content-row {
    padding-left: 15px;
    padding-right: 15px;
}

span.linaro-connect-slide-text {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    top: 160px;
}

.row.group_content {
    transform: scaleY(0.1);
    position: absolute;
    opacity: 0;
    width: 100%;
    top: -10px;
    transition: all 250ms linear;
}

.row.group_header {
    opacity: 1;
    transition: opacity 250ms linear;
}

.col-xs-12.home-page-slider-info {
    position: absolute;
    top: 0;
    z-index: 10000000;
    margin-top: 10px;
}

div.home-page-slider-image>img.logo {
    height: 140px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.home-page-slider-text {
    color: #fff;
    min-height: 70px;
}

// Home Page Blog Posts
h1.blogs_home_block_text {
    font-style: normal;
    font-size: 20px;
}

h3.blogs_home_block_post_title {
    font-weight: normal;
    font-style: normal;
    color: #4d4d4d;
}

div.blogs_home_block_post {
    border: 3px solid #eee;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 142%;
    width: 100%;
    display: flex;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blog-post-icon>picture {
    position: absolute;
    bottom: 10px;
    right: 5px;
    height: auto;
    width: 32px;
    z-index: 1;
}

div.blogs_home_block_post::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

div.blogs_home_block_post::after {
    border-width: 44px;
    border-right-color: #eee;
    border-bottom-color: #eee;
}

div.blogs_home_block_post.connect::after {
    border-width: 44px;
    border-right-color: #97ce1e;
    border-bottom-color: #97ce1e;
}

div.blogs_home_block_post.lite::after {
    border-width: 44px;
    border-right-color: #ea9538;
    border-bottom-color: #ea9538;
}

div.blogs_home_block_post.boards::after {
    border-width: 44px;
    border-right-color: #000;
    border-bottom-color: #000;
}

div.blogs_home_block_post:nth-child(3) {
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

div.blogs_home_block_post:hover>h3.blogs_home_block_post_title {
    color: #fff;
}

h3.blogs_home_block_post_title {
    font-weight: normal;
    color: #000;
    font-size: 20px;
}

// Home Carousel
.home-inline-carousel {
    margin-top: 20px;
}

//Home Page
#homepage-jumbotron {
    padding: 80px;
}

#home-block-sliders {
    margin-bottom: 60px;
}

#home-block-sliders>p.linaro-home-block-text>a {
    color: #fff;
    transition: all 500ms ease;
}

#home-block-sliders>p.linaro-home-block-text>a:hover {
    color: $brand-primary;
    text-decoration: none;
}

h5>span.slider-sub-title {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}

.linaro-sub-title {
    color: #fff;
    text-shadow: rgb(111, 111, 111) 1px 1px 7px;
}

.linaro-title {
    text-shadow: rgb(111, 111, 111) 1px 1px 7px;
}

//Home Groups Block
div#blogs_home_block {
    margin-bottom: 50px;
    margin-top: 20px;
}

span.sub-title {
    display: block;
    color: #fff;
}

span.main-title {
    font-weight: bold;
    font-size: 14px;
    color: #404040;
    top: 15px;
    position: relative;
}

.col-xs-12.group_content {
    transition-delay: 200ms;
    transition: all 300ms linear;
}

.col-md-5ths.col-xs-12.group_block {
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-xs-3.group_icon.center-block {
    padding: 0;
    padding-left: 10px;
}

.col-xs-3.group_icon.center-block>picture>img {
    height: 55px;
    margin-top: -5px;
}

.col-xs-12.group_content>p {
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #333;
    margin-bottom: 0 !important;
    height: 85px;
}
div#groups_home_block {
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #d4d4d4;
    box-shadow: inset 0px 11px 8px -10px #aaaaaa, inset 0px -11px 8px -10px #aaaaaa;
}
div#featured-slider-row {
    padding-bottom: 70px;
    padding-top: 20px;
}
div#latest-news-row {
    padding-bottom: 50px;
    padding-top: 50px;
}
#wrapper .row.group_header {
    background-color: #eeeeee;
    padding: 0;
    padding-top: 15px;
    height: 80px;
    transition-delay: 100ms;
    border: 1px solid #dcdcdc;
    transition: all 100ms linear;
}
.row.group_header:hover {
    background-color: #3c3b3b;
}
.row.group_header:hover .main-title {
    color: #fff;
}
.row.group_content.leg {
    background-color: #e6f4f9;
    border-bottom: 2px solid #0195ca;
    border-top: 2px solid #0195ca;
}

.row.group_content.lng {
    background-color: #e6f5ee;
    border-bottom: 2px solid #00a456;
    border-top: 2px solid #00a456;
}

.row.group_content.lhg {
    background-color: #e6f6fc;
    border-bottom: 2px solid #00adea;
    border-top: 2px solid #00adea;
}

.row.group_content.lmg {
    background-color: #f4f2f7;
    border-bottom: 2px solid #907cb0;
    border-top: 2px solid #907cb0;
}

.row.group_content.lite {
    background-color: #fcf4eb;
    border-bottom: 2px solid #ea9538;
    border-top: 2px solid #ea9538;
}

//Linaro Home Block
div.blogs_home_block_post.linaro::after {
    border-width: 44px;
    border-right-color: #a080b7;
    border-bottom-color: #a080b7;
}

div.blogs_home_block_post.linaro {
    border-bottom-color: #a080b7;
}

div.blogs_home_block_post.linaro:hover {
    background-color: #a080b7;
}

//Linaro Home Block
div.blogs_home_block_post.linaro-two::after {
    border-width: 44px;
    border-right-color: #9c3;
    border-bottom-color: #9c3;
}

div.blogs_home_block_post.linaro-two {
    border-bottom-color: #9c3;
}

div.blogs_home_block_post.linaro-two:hover {
    background-color: #9c3;
}

// HPC Home Block
div.blogs_home_block_post.hpc::after {
    border-width: 44px;
    border-right-color: #3b81ad;
    border-bottom-color: #3b81ad;
}

div.blogs_home_block_post.hpc {
    border-bottom-color: #3b81ad;
}

div.blogs_home_block_post.hpc:hover {
    background-color: #3b81ad;
    background: rgba(129, 18, 154, 1);
    background: -moz-linear-gradient(-45deg, rgba(129, 18, 154, 1) 0%, rgba(92, 71, 163, 1) 47%, rgba(59, 129, 173, 1) 81%, rgba(59, 129, 173, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(129, 18, 154, 1)), color-stop(47%, rgba(92, 71, 163, 1)), color-stop(81%, rgba(59, 129, 173, 1)), color-stop(100%, rgba(59, 129, 173, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(129, 18, 154, 1) 0%, rgba(92, 71, 163, 1) 47%, rgba(59, 129, 173, 1) 81%, rgba(59, 129, 173, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(129, 18, 154, 1) 0%, rgba(92, 71, 163, 1) 47%, rgba(59, 129, 173, 1) 81%, rgba(59, 129, 173, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(129, 18, 154, 1) 0%, rgba(92, 71, 163, 1) 47%, rgba(59, 129, 173, 1) 81%, rgba(59, 129, 173, 1) 100%);
    background: linear-gradient(135deg, rgba(129, 18, 154, 1) 0%, rgba(92, 71, 163, 1) 47%, rgba(59, 129, 173, 1) 81%, rgba(59, 129, 173, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81129a', endColorstr='#3b81ad', GradientType=1);
}

.blogs_home_block_post>a {
    text-decoration: none;
}

#blog-slider>.owl-dots {
    margin-bottom: 25px;
}

#homepage-header p#buttons a {
    background-color: $brand-primary;
    color: #fff !important;
    font-weight: normal;
    margin-bottom: 50px;
    border: 0;
    border-radius: 0px;
}

#homepage-header p#buttons a:hover {
    font-weight: normal;
    margin-bottom: 50px;
}

#homepage-header #home-page-text {
    top: 20px;
    font-size: 68px;
    font-weight: bold;
    position: relative;
    text-shadow: #000 1px 1px 7px;
}

@media(max-width:$screen-sm-min) {
    h1#home-page-title.white {
        font-size: 28px;
    }
    #homepage-header #home-page-text {
        top: 20px;
        font-size: 42px;
        position: relative;
        line-height: 40px;
    }
}
div#featured-jumbotron {
    margin-bottom: $navbar-height + 20;
}

#wrapper #homepage-header a.btn.btn-linaro-home:hover {
    background-color: #000;
}
.home-page-slider-text.bkk19.text-center {
    top: 90px;
    font-weight: bold;
    position: relative;
    color: #575757;
}
span.line-one {
    display: block;
    color: white;
    font-size: 52px;
}
span.line-two {
    font-size: 58px;
    font-weight: bold;
    position: relative;
    color:white;
}

// Developer Services section
svg#image-fill {
    position: absolute;
    z-index: -1;
    opacity: .5;
    height: 1000px;
}

.developer-services-svg {
    position: absolute;
    opacity: .3;
    top: 35px;
    left: -257px;
}
.home-row {
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
    min-height: 600px;
    background-size: contain;
    background-repeat: repeat-y;
    background-position-x: right;
    min-height: 600px;
    opacity:.9;
}
.home-row p.call-to-action {
    font-size: 2em;
}
div#developer-services {
    background-image: url(/assets/images/content/hex-bg-tiled.jpg);
    background-color: #e6e6e6;
    background-size:cover;
}

#developer-services h2 {
    font-size: 60px;
    margin-bottom: 40px;
}
.developer-services-svg path {
    fill: #b9b9b9;
}
.key-factor-block {
    height: 100px;
    background-color: #fbfbfb;
    padding:10px;
    line-height:100px;
    text-align:center;
    border:1px solid #c6c6c6;
    margin: 15px 0;
    opacity:.8;
}
.key-factor-block h4 {
    line-height: 25px;
    font-size:20px;
    font-weight:normal;
}
.zoom-image {
    transition: all 300ms ease;
}
.zoom-image:hover {
    transform: scale(1.2);
}
#developer-services img.img-responsive {
    height: 230px;
}
// 96Boards section
.bg-svg {
    position: absolute;
    opacity: .2;
    top: -40px;
    height: 145vh;
    width: 110vh;
    left: -15vw;
}
@media(max-width: $screen-sm-min){
    .bg-svg {
        left: -100vw;
    }
    #wrapper .home-row p.call-to-action {
        font-size: 20px !important;
    }
    #wrapper .home-row h2 {
        font-size: 40px !important;
    }
}
#boards .boards-svg svg path {
    fill: #444444;
}
#flow_wrapper div#boards {
    overflow: hidden;
    background-color: #202020;
}
#boards h2 {
    font-size: 60px;
    margin-bottom: 40px;
    color: #ffdf84;
    font-weight: bold;
}
#boards img.img-responsive.center-block {
    height: 175px;
}
.specification img.img-responsive {
    height: 100px;
}
.specification {
    background-color: #2b2b2b;
    opacity: .6;
    border: 1px solid #0b0b0b;
    padding: 10px;
    text-align:center;
}
#boards .specification p {
    color: white;
}
// Connect section
#connect img.img-responsive.center-block {
    height: 175px;
}
div#connect {
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
    background-size: cover !important;
    overflow:hidden;
}
#connect h2 {
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}
#connect .col-xs-12.col-sm-8.col-sm-offset-2.text-center p {
    color: white;
    font-size: 2em;
}
// Collaborative Engineering
#flow_wrapper #collaborative-engineering {
    overflow:hidden;
}
#flow_wrapper #collaborative-engineering h2 {
    font-size: 60px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 40px;
}
#flow_wrapper #collaborative-engineering h2 strong {
    color: #9cc849;
}
#flow_wrapper #collaborative-engineering .col-xs-12.col-sm-8.col-sm-offset-2.text-center p {
    color: #444444;
    font-size: 2em;
}
#flow_wrapper #collaborative-engineering {
    background-color: #e6e6e6;
    background-image:url('/assets/images/content/engineering-bg.svg');
    background-size:cover !important;
    background-position-x: center !important;
}
.big-triangle:after, .big-triangle:before {
    border-bottom: 160px solid #dcdcdc;
}
.group_block {
    opacity: .9;
}
.group_block:hover {
    opacity: 1;
}
#jumbotron h1 {
    color: white;
    font-size: 66px;
}
#jumbotron-slider .slide-title {
    max-width: 670px;
}


#animated_logo .cls-1 {
    fill: none;
}
#animated_logo .cls-2 {
    fill: #666;
}
#animated_logo .cls-3 {
    fill: #9c3;
}
#animated_logo .cls-8 {
    fill: #9c3;
}
#animated_logo .cls-4,
#animated_logo .cls-5 {
    fill: #c03;
}
#animated_logo .cls-5 {
    opacity: 0.6;
}
#animated_logo .cls-6,
#animated_logo .cls-7 {
    fill: #909;
}
#animated_logo .cls-7,
#animated_logo .cls-8 {
    opacity: 0.7;
}

#wrapper .animated-heading
{
  position:relative !important;
  font-size: 40px !important;
  @media(max-width:$screen-sm-min){
     font-size: 30px !important;
  }
}
#wrapper .os-heading-translated{
  right:100%;
  transform: translateX(80px);
  @media(max-width: $screen-sm-min){
    transform: translateX(53px);
  }
}
.disappear-text.hidden{
  opacity:0;
}
.disappear-text{
  opacity: 1;
}
#wrapper .lower{
  text-transform: lowercase;
}
#animated_logo {
  opacity: 0;
  height:100px;
  top: -80px;
  position: relative;
}
#wrapper .linux-heading-translated{
    left: 100%;
    transform: translateX(-10px);
    @media(max-width: $screen-sm-min){
      transform: translateX(0);
    }
}
#animated_logo .sprinkle-block {
  opacity: 0;
  transform: translateX(40px) scale(0.5);
}
.formed-text {
  transform-origin: bottom left;
}
