#flow_wrapper {
  #quick_links_row {
    a {
      color: $primary;
    }
    .quick_link {
      @include media-breakpoint-down(sm) {
        border: 0 !important;
      }
    }
  }
  .lds_section {
    h2 {
      font-weight: bold;
    }
    .left_column {
      p {
        font-size: 26px;
        max-width: 800px;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
    }
  }
  #news_alert {
    background-color: #0083ad;
    color: #fff;
    a {
      color: $primary;
      font-style: italic;
    }
  }
  .bg-black {
    background-color: #000 !important;
  }
  .block__text {
    border: none !important;
  }
  img.icon_image {
    height: 80px;
  }
  .row.testimonial_row {
    border-top: 10px solid white;
    background-color: #d1d1d1 !important;
  }
  i.icon-youtube-play {
    color: #99cc33;
  }
  div#header_icons_row_sticky {
    background-color: #575757;
  }
  .member_badge {
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 5px;
  }
  span.stat {
    font-size: 100px;
    text-align: center;
    width: 100%;
    color: white;
    -webkit-text-fill-color: #575757; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    display: block;
  }
  .stats_header {
    font-weight: 900 !important;
  }
  #homepage_header.background_image {
    height: auto;
    z-index: 0;
    .homepage_header_content {
      z-index: 2;
      p {
        font-size: 26px;
        font-weight: bold;
        color: white;
        @include media-breakpoint-down(sm) {
          font-size: 22px;
        }
      }
    }
    .theme_header_image {
      transition: all 1000ms ease;
      opacity: 1;
    }
    .theme_header_image.hidden_image {
      opacity: 0;
    }
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 1;
      left: 0;
      background: linear-gradient(
        to left,
        rgba(#000, 0) 0%,
        rgba(#000, 1) 100%
      );
    }
    .header_background_image {
      filter: brightness(0.6);
    }
    .inner_content_wrapper {
      z-index: 2;
      position: relative;
      h1 {
        font-size: 60px !important;
        span.font-weight-bolder {
          font-weight: 900;
        }
        margin: 50px 0 !important;
        max-width: 840px;
        @include media-breakpoint-down(md) {
          font-size: 38px !important;
          border-left: none;
        }
      }
      div#header_icons_row {
        h3 {
          font-size: 16px;
        }
        margin: 100px 0;
        img.icon_image {
          width: 60% !important;
          height: 100px;
          margin: 5px 0px;
          object-fit: contain;
        }
      }
    }
  }
  #theme_tabs {
    .theme_title {
      font-size: 20px;
      height: 50px;
      color: white;
    }
    .nav-link {
      border: 1px solid transparent;
      border-radius: 0;
      padding-bottom: 20px;
      &.active {
        border: 1px solid $primary;
      }
    }
    .item_wrapper {
      padding: 10px;
      z-index: 1;
      position: relative;
      margin: 8px;
      height: 100%;
      transition: all 500ms ease;
      .item_innner_wrapper {
        height: 100%;
      }
    }
  }
  #projects_section {
    .project_diagram_wrapper img {
      height: 400px;
      width: 100%;
      object-fit: contain;
      margin: 40px 0;
    }
    .project_button_wrapper {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      .btn {
        border-radius: 0;
        border: 0;
        background-color: white;
        color: black;
        font-weight: bold;
        &:hover {
          background-color: #11809f;
          color: white;
        }
        &.active {
          background-color: #11809f;
          color: white;
        }
      }
    }
  }
  .project_collab_section {
    a {
      color: white;
    }
  }
  .cta_section {
    .membership_col {
      @include media-breakpoint-down(md) {
        border-right: 0 !important;
      }
    }
    background-color: #d1d1d1 !important;
    .cta_header {
      font-size: 28px;
      font-weight: bold;
    }
    p.cta_text {
      height: 140px;
    }
    .cta_video_container {
      height: 400px;
      .owl-theme .owl-dots .owl-dot span {
        background-color: white;
      }
    }
    a.btn.btn-secondary.blue {
      background-color: #11809f;
      border: 0;
    }
    .cta_image_container {
      height: 400px;
      img.img-fluid {
        height: 400px;
        object-fit: contain;
      }
    }
    span.bullet {
      height: 40px;
      width: 40px;
      background-color: #0083ad;
      display: inline-block;
      position: relative;
      top: 10px;
      border-radius: 20px;
      border: 4px solid white;
      margin-right: 10px;
      &.blue {
        background-color: #0083ad;
      }
      &.green {
        background-color: $primary;
      }
    }
  }
  #theme_section {
    .theme_content_wrapper {
      padding: 10px;
      color: white;
      .theme_content_inner_wrapper {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
