#flow_wrapper {
  .block__text {
    border: none !important;
  }
  img.icon_image {
    height: 22px;
  }
  .row.testimonial_row {
    border-top: 10px solid white;
    background-color: #d1d1d1 !important;
  }
  i.icon-youtube-play {
    color: #99cc33;
  }
  div#header_icons_row_sticky {
    background-color: #575757;
  }
  .member_badge {
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 5px;
  }
  span.stat {
    font-size: 100px;
    text-align: center;
    width: 100%;
    color: white;
    -webkit-text-fill-color: #575757; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    display: block;
  }
  .members_slider_wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    .item {
      height: 182px !important;
      img.member_image {
        width: 200px;
        height: 100px;
        object-fit: contain;
      }
    }
  }
  .stats_header {
    font-weight: 900 !important;
  }
  #homepage_header.background_image {
    z-index: 0;
    height: auto !important;
    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 100%;
      top: 0;
      z-index: 2;
      left: 0;
      background-color: #ccc;
      background: linear-gradient(
        to left,
        rgba(#000, 1) 0%,
        rgba(#fff, 1) 100%
      );
      width: 100%;
      border-bottom: 1px solid #000;
    }
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 1;
      left: 0;
      background: linear-gradient(
        to left,
        rgba(#000, 0) 0%,
        rgba(#000, 1) 100%
      );
    }
    .header_background_image {
      filter: brightness(0.6);
    }
    .inner_content_wrapper {
      z-index: 2;
      position: relative;
      h1 {
        font-size: 60px !important;
        margin-top: 80px;
        span.font-weight-bolder {
          font-weight: 900;
        }
        @include media-breakpoint-down(sm) {
          font-size: 38px !important;
        }
      }
      div#header_icons_row {
        h3 {
          font-size: 16px;
        }
        margin: 100px 0;
        img.icon_image {
          width: 60% !important;
          height: 100px;
          margin: 5px 0px;
          object-fit: contain;
        }
      }
    }
  }
  #header_icons_row_sticky {
    max-height: 240px;
    z-index: 99;
    h3 {
      font-size: 16px;
    }
    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 100%;
      top: 0;
      z-index: 2;
      left: 0;
      background-color: #ccc;
      background: linear-gradient(
        to left,
        rgba(#000, 1) 0%,
        rgba(#fff, 1) 100%
      );
      width: 100%;
      border-bottom: 1px solid #000;
    }
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 1;
      left: 0;
      background: linear-gradient(
        to left,
        rgba(#000, 0) 0%,
        rgba(#000, 1) 100%
      );
    }
    .icons_container {
      position: relative;
      z-index: 2;
    }
    img.icon_image {
      width: 60% !important;
      height: 50px;
      margin: 10px 0px;
      object-fit: contain;
    }
    img.header_background_image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }
}
