.hub-social-media-icon {
    padding: 20px;
}
.hub-row{
    padding-bottom: 70px;
    margin-bottom:30px;
    border-bottom: 1px solid #eee;
}
.hub-block-inner {
    padding: 15px;
    background-color:#a681b8;
}
.hub-block-inner:hover {
    opacity: .8;
}
.hub-green{
    background-color: #accb4d;
}
.hub-blue{
    background-color: #0083a9;
}
.hub-pink{
    background-color: #c34969;
}
.hub-grey{
    background-color: #636363;
}
.hub-block-inner.light > p, .hub-block-inner.light > h3{
    color: #fff !important;
}
.hub-social-media-icon a {
    color: #636363;
}
.hub-social-media-icon a:hover{
    color: #accb4d;
}
.hub-block-inner.light {
    min-height: 195px;
}
.nav-stacked a li {
    color: #636363;
}
.nav-stacked a:hover li {
    color: #accb4d;
}
.row.hub-row {
    padding-top: 40px;
}
.padded-row {
    padding-top:40px;
    padding-bottom: 40px;
}
// Resources hub news / blog panels
#content-container .panel-heading {
    background-color:#6e6e6e;
    border:1px solid #4c4c4c;
    color: #fff;
}
#content-container ul.list-group li.list-group-item.fly {
    background-color: #efefef;
    color: #525252;
    text-align: left;
    border-bottom: 1px solid #dadada;
    border-radius: 0px;
    font-size: 15px;

    transition: all 300ms ease;
}
#content-container ul.list-group li.list-group-item.fly:hover {
    background-color: #e2dfdf;
}
li.list-group-item.list-group-item-success {
    background-color: #dadada;
    color: #676666;
    transition: all 300ms ease;
}
li.list-group-item.list-group-item-success.text-center:hover {
    background-color:#828282;
    color:white;
}

