#wrapper .dark-row {
    background-color: #1e1e1e;
    padding-top: 30px;
    padding-bottom: 60px;
    color: white;
}
#wrapper .dark-row h2 {
    background-color: #1e1e1e;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}
.img-col {
    height: 400px;
}
.text-area {
    width: 70%;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    @media(max-width: $screen-sm-min){
        width:100%;
    }
}
.text-col-left .text-area {
    float: right;
    height: 100%;
}
#members-row .col-xs-6.col-sm-3 {
    height: 100px;
}
#members-row .col-xs-6.col-sm-3 img {
    height: 100px;
    object-fit: contain;
    margin-left:auto;
    margin-right:auto;
}
#members-row{
    padding-top:40px;
    padding-bottom: 40px;
}
#wrapper {
    .resource_block_inner {
        height:300px;
        position: relative;
        background-size: cover;
        background-position: center center;
        transition: all 200ms ease-in-out;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            left: 0;
            background-image: linear-gradient(to bottom right, #000, #000);
            opacity: .7;
            width: 100%;
            z-index: 0;
        }
        &:hover {
            transform:translateY(-3px);
            -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
        }
        h3 {
            color:white;
            z-index:2;
            position: relative;
            padding-top:30px;
            padding-left: 15px;
            padding-right:15px;
            text-align: center;
        }
        small {
            display: block;
            color:white;
            z-index:3;
            position: relative;
            font-size:14px;
            font-weight:bold;
        }
        a.btn.btn-primary {
            position: relative;
            margin:2px;
            margin-top:10px;
        }
    }
     img.spinner{
        position:relative;
        margin-left:auto;
        margin-right:auto;
    }
}
