#wrapper {
  .box_wrapper {
    padding: 10px;
    border: 1px solid #999;
  }
  .whitepaper_wrapper {
    img.card-img-top {
      height: 200px;
      object-fit: cover;
      margin-bottom: 20px;
    }
  }
  .item_wrapper {
    padding: 20px;
    .item_innner_wrapper {
      border: 1px solid #c9c9c9;
      height: 200px;
      padding: 10px;
      transition: all 100ms ease;
      &:hover {
        background-color: #c9c9c9;
      }
    }
    img.icon_image {
      height: 100px;
    }
    h3.theme_title.pt-3 {
      color: #333;
      font-size: 22px;
    }
  }
  .learning_hub_sidebar {
    h3 {
      color: black !important;
      width: 100%;
      border-bottom: 1px solid #10819e;
      padding-bottom: 10px;
      font-size: 20px;
    }
    &.sticky-top {
      top: 80px;
      z-index: 0;
    }
  }
  ul.learning_hub_sidebar_list {
    list-style: none;
    padding-left: 0;
    li {
      padding-top: 5px;
      position: relative;
      &.active:before {
        border-left: 5px solid #10819e;
        content: "";
        position: absolute;
        left: -15px;
        height: 100%;
      }
      a {
        color: black;
      }
    }
  }
}
