// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables

$brand-primary: #a682b8;

//Home 
$home-page-title-text: #000;
$home-page-main-title-color: #000;

// Footer
$footer-bg-color: #f5f5f5;
$footer-text-color: #717171;

// Sub footer
$sub-footer-color: #E4E4E4;
// Navbar
$navbar-text-color: #fff;
$navbar-height: 66px;
$navbar-inverse-bg: #000;
$navbar-inverse-color: #fff;

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-regular/Lato-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-regular/Lato-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-regular/Lato-regular.svg') format('svg'); /* Legacy iOS */
}
// Fonts 
$font-family-sans-serif:  'Lato', Arial, sans-serif !default;

// Breadcrumb Default background colour.
$breadcrumb-background-color: $brand-primary !default;




