// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables
$brand-primary: #79ac00;
//Home 
$home-page-title-text: #000;
$home-page-main-title-color: #000;
// Footer
$footer-bg-color: #f5f5f5;
$footer-text-color: #717171;
// Sub footer
$sub-footer-color: #E4E4E4;
// Navbar
$navbar-text-color: #000;
$navbar-hover-text-color: #fff !default;
$navbar-hover-background-color: $brand-primary !default;
$navbar-height: 66px;
$navbar-inverse-bg: #fff;
$navbar-inverse-color: #000;
$navbar-submenu-bg-color: #3e3e3e !default;
$navbar-submenu-color: #fff !default;
$text-color: rgba(0,0,0,.84);
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-regular/Lato-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-regular/Lato-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-regular/Lato-regular.svg') format('svg'); /* Legacy iOS */
}
// Fonts 
$font-family-sans-serif:  'Lato', Arial, sans-serif !default;
// Breadcrumb Default background colour.
$breadcrumb-background-color: #333333 !default;
$blog-panel-title-colour: #fff;
// Jumbotron Settings
$jumbotron-height: 400px;
$overlay: 0.5;
$jumbotron-font-size-xs: 26px;
$jumbotron-font-size: 32px;
$jumbotron-heading-color: #fff !default;
$jumbotron-sub-title-font-size-xs: 16px;
$jumbotron-sub-title-font-size: 18px;
$jumbotron-sub-title-color: #fff !default;
// Tabbed Navbar
$tabbed-nav-bg-color: #ccc !default;
$tabbed-nav-text-color: #000 !default;
$tabbed-nav-hover-color: $brand-primary !default;
// Post tags
$post-tag-bg: #d7d7d7 !default;
$post-tag-color: #000 !default;
$post-tag-border: #8b8b8b !default;
$post-tag-hover-bg: #1f1f1f !default;
$post-tag-hover-color: #fff !default;
// Triangle Divider
$triangle-divider-bg-color: #fff !default;  
