.col-xs-6.col-sm-4.col-md-3.col-lg-2.project-item {
    height: 40px;
    text-align: center;
    background-color: #434343;
    border: 1px solid #353535;
    color: white;
    line-height:40px;
    a {
        color:white;
    }
    &:hover{
        background-color: #151515;
        color: white;
        cursor:pointer;
        transform: scale(1.1);
        z-index:999;
    }
}
#wrapper .project-stats ul.nav-tabs li a {
    font-size: 14px;
}
.col-xs-6.col-sm-4.col-md-3.col-lg-2.project-item.small-text {
    font-size: 10px;
}