#content-container .fessWrapper .pagination > .active > a, #content-container .fessWrapper .pagination > .active > a:focus, #content-container .fessWrapper .pagination > .active > a:hover, #content-container .fessWrapper .pagination > .active > span, #content-container .fessWrapper .pagination > .active > span:focus, #content-container .fessWrapper .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: $brand-primary;
    border-color: $brand-primary;
}
#content-container .fessWrapper .pagination > li > a, #content-container .fessWrapper .pagination > li > span {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #808080;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
#content-container .fessWrapper a {
    color: $brand-primary;
    text-decoration: none;
}
#content-container .fessWrapper #result .body cite {
    color: #a7a7a7;
    font-style: normal;
}