#content-container .fessWrapper .pagination > .active > a, #content-container .fessWrapper .pagination > .active > a:focus, #content-container .fessWrapper .pagination > .active > a:hover, #content-container .fessWrapper .pagination > .active > span, #content-container .fessWrapper .pagination > .active > span:focus, #content-container .fessWrapper .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #79ac00;
    border-color: #79ac00;
}

.fessWrapper tbody > tr> td {
    height: 100%;
    padding: 0px;
}

.fessWrapper table{
    border-bottom:none;
}
#content-container .fessWrapper a {
    color: #999999;
    text-decoration: none;
}
.fessWrapper .searchButton {
    background-color: $brand-primary;
    height: 38px;
    width: 100%;
}
