#wrapper {
  div.highlighted_feature {
    background-color: #e6f7fd;
    border-color: #b0e5fa;
  }
  .down_triangle {
    margin-bottom: 55px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 0;
      height: 0;
      border-width: 37px 53px 0 53px;
      border-color: #d1d1d1 transparent transparent transparent;
      border-style: solid;
      bottom: -37px;
      padding-bottom: -24px;
    }
  }
  .up_triangle {
    margin-top: 55px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 0;
      height: 0;
      border-width: 0 53px 37px 53px;
      border-color: transparent transparent #d1d1d1 transparent;
      border-style: solid;
      top: -37px;
      padding-bottom: -24px;
    }
  }
  .dotted-border-top {
    border-top: 6px dotted #eee;
  }
  .dotted-border-bottom {
    border-bottom: 6px dotted #ccc;
  }
  .dev_services h1.my-md-4 {
    font-weight: bolder;
  }
  .dev_services_block h5.text-dark.my-2 {
    font-size: 16px;
  }
  .jumbotron.dev_services img.header_background_image {
    filter: brightness(0.6);
  }
  .text_block_section {
    padding: 18px !important;
    background-color: white;
    margin: 30px 0px;
    h3 {
      font-weight: bolder;
    }
  }
  .large_type {
    font-size: 2rem;
  }
  .text_blocks {
    &:after {
      content: "";
      width: 100%;
      height: 60px;
      background-color: white;
      bottom: -20px;
      position: relative;
      border-bottom: 6px dotted #ccc;
    }
  }
  .ds_wrapper {
    padding: 10px 5px;
    transition: all 800ms ease;
    border-radius: 20px;
    &:hover {
      background-color: #e2e2e2;
      -webkit-box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, 0.75);
    }
  }
  .dev_services {
    div.lead p {
      font-size: 1.5rem;
      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
        width: 80%;
        position: relative;
        margin: auto;
      }
    }
  }
  .services_form {
    height: 100%;
    object-fit: cover;
    input[type="checkbox"] + label {
      font-size: 16px !important;
    }
    .form-group.checkbox_group {
      background-color: white;
      border-radius: 5px;
      padding: 10px;
    }
    input::-webkit-input-placeholder {
      /* Edge */
      color: black;
      font-weight: bolder;
    }
    input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: black;
      font-weight: bolder;
    }
    input::placeholder {
      color: black;
      font-weight: bolder;
    }
    textarea::-webkit-input-placeholder {
      /* Edge */
      color: black;
      font-weight: bolder;
    }
    textarea:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: black;
      font-weight: bolder;
    }
    textarea::placeholder {
      color: black;
      font-weight: bolder;
    }
    .checkbox label {
      font-size: 14px;
    }
  }
  #dev_services_contact_modal {
    .modal-content {
      background-color: #98cc33;
    }
    .form-group {
      padding: 10px;
      background-color: white;
    }
  }
  #dev_services_overview_download {
    .modal-content {
      background-color: #98cc33;
    }
    .form-group {
      padding: 10px;
      background-color: white;
    }
  }
  .ds_image {
    height: 100px;
  }
}
