#wrapper {
    img.img-responsive.bottom_image {
        height: 200px;
    }
    h1#jumbotron-heading {
        margin-bottom: 0px;
        font-size: 40px !important;
    }
  .developer_services_prospectus_btn {
    a.btn {
      background-color: $brand-primary;
      font-weight: 800;
      font-size: 20px;
    }
  }
  .developers_services_block {
    margin-bottom: 40px;
    .block-inner {
      overflow: auto;
      height: 100%;
      margin: 10px;
      border: 5px dotted $brand-primary;
      border-radius: 14px;
      padding: 20px;
      h3 {
        text-align: left !important;
      }
      ul {
        padding-left: 0px;
        li {
          list-style: none;
          &:before {
            content: ">>";
            display: inline;
            padding-right: 10px;
            color: $brand-primary;
            font-weight: 800;
          }
          a {
            color: black;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            &:hover {
              color: $brand-primary;
            }
          }
        }
      }
    }
  }
}
