#wrapper {
  .two_column_feature {
    h2 {
      font-weight: bold;
    }
  }
  a {
    color: white;
    text-decoration: none;
    transition: color 1000ms ease-in-out;
    &:hover {
      h5 {
        color: $primary;
        text-decoration: none;
      }
      .core_technology_block {
        background-color: #343434;
      }
      .arrows_icon {
        opacity: 0;
      }
    }
  }
  .core_technology_block {
    border: 5px solid #878787;
    padding: 5px;
    img {
      height: 50px;
      width: auto;
      margin: 10px 0;
    }
    h5 {
      color: white;
      transition: all 200ms ease;
      height: 55px;
      padding-top: 10px;
    }
    .arrows_icon {
      position: absolute;
      right: 0;
      background-color: $secondary;
      color: $primary;
      padding: 0px 10px;
      font-size: 15px;
      opacity: 1;
      transition: all 100ms ease;
    }
  }
  .bg-lighter-blue {
    background-color: #b3dae6;
  }
  .bg-black {
    background-color: #000000 !important;
  }
  a.whitepaper_link:hover .whitepaper_text {
    height: 100%;
  }
  .whitepaper-wrapper {
    position: relative;
    overflow: hidden;
    height: 300px;
    picture img {
      object-fit: cover;
      height: 100%;
    }
    .whitepaper_text {
      position: absolute;
      height: 130px;
      text-align: center;
      background-color: black;
      bottom: 0;
      opacity: 0.8;
      color: white;
      font-size: 14px;
      display: flex;
      padding: 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
      transition: all 200ms ease;
    }
  }

  .related_project_block {
    border-top: 5px solid $primary;
    h5.card-title {
      font-weight: bold;
    }
  }
  .engagement_block {
    border: 5px solid #eee;
    padding: 10px;
    background-color: white;
    h3 {
      font-weight: bold;
    }
    h5.card-title {
      font-weight: bold;
    }
  }
  img.members-img {
    height: 150px;
  }
  img.icon_image {
    height: 120px;
  }
  .row.sub_themes {
    position: relative;
    &:after {
      content: "";
      height: 200px;
      width: 100%;
      background-color: #575757;
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
    .sub_theme_blocks .card {
      position: relative;
      z-index: 1;
    }
  }
  .background_image_modal {
    .modal-content {
      img.img-fluid {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &:before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: black;
        filter: opacity(0.7);
        position: absolute;
        top: 0;
        z-index: 1;
      }
      .modal-body {
        z-index: 2;
      }
      .modal-footer {
        z-index: 2;
        border-top: none;
      }
      .modal-header {
        position: relative;
        z-index: 2;
        border-bottom: none;
        h5 {
          width: 100%;
        }
        button.close {
          opacity: 1;
          color: white;
        }
      }
    }
  }
  .bordered-row {
    border: 2px solid white;
  }
  .related_project {
    background-color: white;
    margin: 10px;
    padding: 10px;
    color: black;
    font-weight: 900;
    transition: all 500ms ease;
    &:hover {
      -webkit-box-shadow: 2px 4px 16px 6px rgba(56, 56, 56, 1);
      -moz-box-shadow: 2px 4px 16px 6px rgba(56, 56, 56, 1);
      box-shadow: 2px 4px 16px 6px rgba(56, 56, 56, 1);
    }
  }
  .theme_banner {
    z-index: 0;
    height: auto !important;
    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 100%;
      top: 0;
      z-index: 2;
      left: 0;
      background-color: #ccc;
      background: linear-gradient(
        to left,
        rgba(#000, 1) 0%,
        rgba(#fff, 1) 100%
      );
      width: 100%;
      border-bottom: 1px solid #000;
    }
    h1 {
      margin-bottom: 30px;
    }
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 1;
      left: 0;
      background: linear-gradient(
        to left,
        rgba(#000, 0) 0%,
        rgba(#000, 1) 100%
      );
    }
    .inner_content_wrapper {
      z-index: 2;
      max-width: 800px;
      position: relative;
    }
    .header_background_image {
      filter: brightness(0.9);
    }
  }
}
