#linaro-latest-tweets .linaro-tweet {
    padding: 20px;
}

#linaro-latest-tweets .tweet-header {
    overflow: auto;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#linaro-latest-tweets .tweet-inner-content {
    overflow: auto;
    padding-top: 0;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
#linaro-latest-tweets .tweet-footer {
    overflow: auto;
    padding-top: 0;
    padding: 5px;
}



#linaro-latest-tweets  p.tweet-content{
    font-size: 12px;
    margin-bottom: 0;
}


#linaro-latest-tweets  div.tweet-img{
    width: 100%;
    padding:0px;
    margin-top: 0px;
    height: auto;
}

#linaro-latest-tweets  div.tweet-img > img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

#linaro-latest-tweets  .tweet-inner {
    border: 1px solid #eee;
    overflow: auto;
    background-color: white;
    z-index: 99999;
}

.row.tweet-row {    overflow: auto;
    padding: 10px;
    margin-top:100px;
    margin-bottom: 100px;
}

#linaro-latest-tweets p.interact {
    margin-bottom: 0;
    float: left;
    width: auto;
    padding-left:5px;
    font-size: 12px;
}
#linaro-latest-tweets p.interact > a {
    color: #b3b3b3;
    transition: all .5s linear;
}
#linaro-latest-tweets p.interact > a:hover {
    color: #252525;
}
#linaro-latest-tweets p.interact > a > i {
    margin-bottom: 0;
    float: left;
    width: 20px;
    margin-right:5px;
}



// New

#linaro-latest-tweets p.tweet-infos {
    margin-bottom: 0px;
    font-size: 12px;
    text-align: right;
}

#linaro-latest-tweets .tweet-user-img {
    padding: 0;
}
#linaro-latest-tweets .tweet-user-img > img {
        border: 1px solid #eee;
}
#linaro-latest-tweets .tweet-user-name {
       padding:0;
       padding-left: 20px;
}
#linaro-latest-tweets .tweet-user-name a {
    color: #252525;
}
#linaro-latest-tweets .tweet-user-name a >  h3 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
}

#linaro-latest-tweets .tweet-user-name  a > small {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}
#linaro-latest-tweets .tweet-user-img > a > img {
    border: 1px solid #eee;
    height: 50px;
}

#linaro-latest-tweets .twitter-bird  {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: #1da1f2;
    transition: all .5s linear;
}
#linaro-latest-tweets .twitter-bird > a  {
    color: #1da1f2;
    transition: all .5s linear;
}

#linaro-latest-tweets .twitter-bird > a:hover {
    color: #106ca5;
}


.flying-twitter-bird {
    
    width: 40px;
    height: 40px;
    position: absolute;
    display:none;
    
    // transform: translate(-100px);
    // transform: translateY(0px);
    // animation: fly-right 10s linear infinite;
}


@keyframes fly-right {
    0% {
      transform: translate(-100px);
      transform: translateY(0px);
    }
    10% {
      transform: translate(100px);
    }
    20% {
      transform: translate(200px);
    }
    30% {
      transform: translate(300px);
    }
    35% {
      transform: translate(400px);
    }
    40% {
      transform: translate(500px);
    }
    45% {
      transform: translate(600px);
    }
    50% {
      transform: translate(700px);
    }
    55% {
      transform: translate(800px);
      transform: translateY(200px);
    }
    60% {
      transform: translate(900px);
    }
    65% {
      transform: translate(1000px);
    }
    70% {
      transform: translate(1100px);
    }
    80% {
      transform: translate(1200px);
    }
    90% {
      transform: translate(1400px);
    }
    100% {
      transform: translate(1920px);
      transform: translateY(0px);
    }
}
