#linaro-latest-tweets .linaro-tweet {
    padding: 20px;
}

#linaro-latest-tweets .tweet-header {
    overflow: auto;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#linaro-latest-tweets .tweet-inner-content {
    overflow: auto;
    padding-top: 0;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
#linaro-latest-tweets .tweet-footer {
    overflow: auto;
    padding-top: 0;
    padding: 5px;
}



#linaro-latest-tweets  p.tweet-content{
    font-size: 12px;
    margin-bottom: 0;
}


#linaro-latest-tweets  div.tweet-img{
    width: 100%;
    padding:0px;
    margin-top: 0px;
    height: auto;
}

#linaro-latest-tweets  div.tweet-img > img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

#linaro-latest-tweets  .tweet-inner {
    border: 1px solid #eee;
    overflow: auto;
    background-color: white;
    z-index: 99999;
}

.row.tweet-row {    overflow: auto;
    padding: 10px;
    margin-top:100px;
    margin-bottom: 100px;
}

#linaro-latest-tweets p.interact {
    margin-bottom: 0;
    float: left;
    width: auto;
    padding-left:5px;
    font-size: 12px;
}
#linaro-latest-tweets p.interact > a {
    color: #b3b3b3;
    transition: all .5s linear;
}
#linaro-latest-tweets p.interact > a:hover {
    color: #252525;
}
#linaro-latest-tweets p.interact > a > i {
    margin-bottom: 0;
    float: left;
    width: 20px;
    margin-right:5px;
}



// New

#linaro-latest-tweets p.tweet-infos {
    margin-bottom: 0px;
    font-size: 12px;
    text-align: right;
}

#linaro-latest-tweets .tweet-user-img {
    padding: 0;
}
#linaro-latest-tweets .tweet-user-img > img {
        border: 1px solid #eee;
}
#linaro-latest-tweets .tweet-user-name {
       padding:0;
       padding-left: 20px;
}
#linaro-latest-tweets .tweet-user-name a {
    color: #252525;
}
#linaro-latest-tweets .tweet-user-name a >  h3 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
}

#linaro-latest-tweets .tweet-user-name  a > small {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}
#linaro-latest-tweets .tweet-user-img > a > img {
    border: 1px solid #eee;
    height: 50px;
}

#linaro-latest-tweets .twitter-bird  {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: #1da1f2;
    transition: all .5s linear;
}
#linaro-latest-tweets .twitter-bird > a  {
    color: #1da1f2;
    transition: all .5s linear;
}

#linaro-latest-tweets .twitter-bird > a:hover {
    color: #106ca5;
}




.flying-twitter-bird  path.bird {
    fill:  #dae1e5;  
}

.flying-twitter-bird {
    // Position set to absolute
    position: absolute;
    
    //Initial Rotation to make the birds actually face forwards    
    transform: rotate(30deg);

    // Subtle animation to couple with the javascript animation
    animation: movement 5s linear infinite;
    
}

// Big Birds
.flying-twitter-bird.big {
    height: 60px;
    width: 60px;
}
.flying-twitter-bird.big.1 {top: 10px; right: 10px;}
.flying-twitter-bird.big.2 {top: 0px; right: 100px;}
.flying-twitter-bird.big.3 {top: 100px; right: 100px;}
.flying-twitter-bird.big.4 {top: 0px; right: 200px;}
.flying-twitter-bird.big.5 {top: 100px; right: 200px;}


.flying-twitter-bird.small.1 {top: 10px; right: 60px;}
.flying-twitter-bird.small.2 {top: 0px; right: 160px;}
.flying-twitter-bird.small.3 {top: 100px; right: 160px;}
.flying-twitter-bird.small.4 {top: 0px; right: 260px;}
.flying-twitter-bird.small.5 {top: 100px; right: 260px;}

// Small Birds
.flying-twitter-bird.small {
    width: 40px;
    height: 40px;
}


@keyframes movement{
    0% {
      transform: rotate(30deg);
      transform: translateY(0px);
    }
    10% {
        transform: rotate(29deg);
        transform: translateY(2px);
    }
    20% {
        transform: rotate(28deg);
        transform: translateY(5px);
    }
    30% {
        transform: rotate(27deg);
        transform: translateY(10px);
    }
    40% {
        transform: rotate(26deg);
        transform: translateY(15px);
    }
    50% {
        transform: rotate(26deg);
        transform: translateY(15px);
    }
    60% {
        transform: rotate(26deg);
        transform: translateY(15px);
    }
    70% {
        transform: rotate(27deg);
        transform: translateY(10px);
    }
    80% {
        transform: rotate(28deg);
        transform: translateY(5px);
    }
    90% {
        transform: rotate(29deg);
        transform: translateY(2px);
    }
    100% {
        transform: rotate(30deg);
        transform: translateY(0px);
    }
}
