---
layout: default
title:  OP-TEE - About
breadcrumb-title: Blog
permalink: "/blog/"
breadcrumb-subtitle: OP-TEE Blog
pagination:
    enabled: true
    collection: posts
    permalink: "/:num/"
    trail:
        before: 4
        after: 4
---
{% include page-structure-top.html %}
      <br>
      {% for post in paginator.posts %}
      <div class="blog-container">
        <div class="media">
          <div class="col-md-3 image-holder">
            <a class="pull-left" href="#" class="blog-image">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="class="lazyload media-object img-responsive" data-src="{{ post.image }}">
            </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>

            <p class="post-description">
              {% if post.description %}
                {{ post.description  | strip_html | strip_newlines | truncate: 250 }}
              {% else %}
                {{ post.content | strip_html | strip_newlines | truncate: 250 }}
              {% endif %}</p>
            <ul class="list-inline list-unstyled">
                <li><span>{{ post.date | date: '%B %d, %Y' }}</span></li>
                {% if post.author %}
                  <li>|</li>
                  <li>{{ post.author }}</li>
                {% endif %}


                <a href="{{ site.url }}{{ post.url }}">
                  <div class="btn-group pull-right text-right">
                    <a href="{{ post.url }}"><span >Read More</span></a>
                  <!-- <li class="text-right pull-right">Read More <i class="glyphicon glyphicon-menu-right"></i></li> -->
                  </div>
                </a>


            </ul>
      </div>
    </div>
</div>
<hr>
      {% endfor %}

{% if paginator.total_pages > 1 %}
<div class="text-center">
  <ul class="pagination pagination-sm">
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
    {% else %}
     <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
    {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        <li {% if page.url == trail.path %}class="active"{% endif %}>
            <a href="{% if trail.num == 1 %}/blog/{% else %}
            {{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', trail.num  }}{% endif %}"
            title="{{trail.title}}">{{ trail.num }}</a>
        </li>
      {% endfor %}
      {% else %}
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><a href="">{{ page }}</a></li>
            {% elsif page == 1 %}
              <li><a href="/blog/">{{ page }}</a></li>
            {% else %}
              <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
      {% endif %}



            {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
            {% else %}
               <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
            {% endif %}
          </ul>
      </div>
      {% endif %}


{% include members.html %}


{% include page-structure-bottom.html %}
