<div class="col col-12 two_column_feature py-0 {% if include.object.style %}{{include.object.style}}{% endif %}">
    <div class="row py-0">
        <div class="col col-12 col-{{include.object.breakpoint}}-{% if include.object.left_column.custom_size%}{{include.object.left_column.custom_size}}{% else %}6{% endif %} left_column {% if include.object.left_column.style %}{{include.object.left_column.style}}{% endif %}">
            {% if include.object.left_column.text %}
                {{ include.object.left_column.text | markdownify }}
            {% endif %}
            {% if include.object.left_column.include %}
                {% include {{include.object.left_column.include}} object=include.object %}
            {% endif %}
            {% if include.object.left_column.image %}
                {% if include.object.left_column.image contains ".svg" %}
                    <img src="{{include.object.left_column.image}}" alt="{{include.object.left_column.image_alt}}"/>
                {% else %}
                    {% assign image_path = include.object.left_column.image  %}
                    {% capture image_alt %}
                        {% if include.object.left_column.image_alt%}
                            {{include.object.left_column.image}}
                        {% else %}
                            {{include.object.left_column.text | truncatewords: 4 }} featured image
                        {% endif %}
                    {% endcapture %}
                    {% picture feature_block_image {{image_path}} --alt {{image_alt}} %}
                {% endif %}
            {% endif %}
            {% if include.object.left_column.buttons %}
                {% include flow/buttons.html object=include.object.left_column.buttons %}
            {% endif %}
        </div>
        <div class="col col-12 col-{{include.object.breakpoint}}-{% if include.object.right_column.custom_size%}{{include.object.right_column.custom_size}}{% else %}6{% endif %} right_column {% if include.object.right_column.style %}{{include.object.right_column.style}}{% endif %}">
            {% if include.object.right_column.text %}
                {{ include.object.right_column.text | markdownify }}
            {% endif %}
            {% if include.object.right_column.include %}
                {% include {{include.object.right_column.include}} object=include.object %}
            {% endif %}
            {% if include.object.right_column.button %}
                {% include flow/button.html object=include.object.right_column.button %}
            {% endif %}
            {% if include.object.right_column.image %}
                {% if include.object.right_column.image contains ".svg" %}
                    <img src="{{include.object.right_column.image}}" alt="{{include.object.right_column.image_alt}}"/>
                {% else %}
                    {% assign image_path = include.object.right_column.image  %}
                    {% capture image_alt %}
                        {% if include.object.right_column.image_alt%}
                            {{include.object.right_column.image}}
                        {% else %}
                            {{include.object.right_column.text | truncatewords: 4 }} featured image
                        {% endif %}
                    {% endcapture %}
                    {% picture feature_block_image {{image_path}} --alt {{image_alt}} %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>