<div class="card-body translate-middle">
  <div class="row">
    <div class="col-12 col-md-4 order-md-1 mb-4 text-center text-md-left">
      <img
        src="/assets/images/content/three_blocks.jpg"
        class="img-fluid"
        alt="Image"
      />
    </div>
    <div
      class="col-12 col-md-8 order-md-2 d-flex flex-column justify-content-center"
    >
      <div>
        <h2 style="font-size: 36px; font-weight: 700">
          Explore the World of <span style="color: #cc0033">Apache Bigtop</span>
        </h2>
        <p style="font-size: 24px">
          It’s not just a Big Data distribution; it’s the key to unlocking your
          data-driven future from initial planning to successful deployment.
        </p>
        <button
          style="
            background-color: #99cc33;
            border-radius: 90px;
            color: white;
            border: none;
            text-align: center;
            padding: 12px 28px;
            display: inline-block;
            margin: 4px 2px;
            width: 207px;
            font-weight: 700;
          "
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  @media (max-width: 750px) {
    .justify-content-center {
      justify-content: center !important;
    }
  }
</style>
