<div class="card-body translate-middle text-left">
  <div class="row">
    <div class="col-12 col-md-4 order-md-2 mb-4 text-center text-md-left">
      <img src="/assets/images/content/typing_image.jpg" class="img-fluid" alt="Typing Image">
    </div>
    <div class="col-12 col-md-8 order-md-1 d-flex flex-column justify-content-center align-items-center align-items-md-start">
      <div>
        <h1 style="font-size: 36px; font-weight: 700;align-items: center;">
          Unleash the Expertise of Linaro’s Bigdata and Datascience Team
        </h1>
        <p style="font-size: 24px; font-weight: 400;">
          <ul>
            <li>Apache Bigtop Implementation Assistance</li>
            <li>ARM64 Support and Optimization</li>
            <li>Incorporating New Requirements into the Bigtop Project</li>
            <li>Custom Component Additions to Suit Your Needs</li>
            <li>Seamless Creation of Bigtop Extensions through Mpack</li>
            <li>Apache Ambari Enhancements for Enhanced Monitoring and Deployment</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  @media (max-width: 750px) {
    .align-items-center {
      align-items: center !important;
    }
  }
    @media (max-width: 991px) {
    h1 {
      font-size: 28px !important;
    }
  }
</style>

