<div class="card-body">
  <div class="row align-items-center">
    <div
      class="col-12 col-md-9 order-md-1 text-center text-md-left mb-4 mb-md-0"
    >
      <h1 style="font-size: 36px; font-weight: 700">
        We are your gateway to discovering the true power of
        <span style="color: #cc0033">Apache Bigtop</span>, the leading
        open-source Big Data distribution.
      </h1>
    </div>
    <div class="col-12 col-md-3 order-md-2 text-center">
      <img
        style="width: 190px; height: 127px"
        src="/assets/images/content/bigtop_logo.png"
        class="img-fluid"
        alt="Bigtop Logo"
      />
    </div>
  </div>
</div>
<style>
  @media (max-width: 991px) {
    h1 {
      font-size: 28px !important;
    }
  }
</style>
