<div class="card-body">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-3 col-md-6 mb-3">
      <div
        class="card h-100"
        style="
          border-radius: 0px 30px 0px 31px;
          background: linear-gradient(#cc0030, #e9d7db);
        "
      >
        <div
          class="card-body text-white"
          style="height: 150px; font-weight: 700"
        >
          Customize Your Big Data Ecosystem
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-3">
      <div
        class="card h-100"
        style="
          border-radius: 0px 30px 0px 31px;
          background: linear-gradient(#990099, #cbb4cbea);
        "
      >
        <div
          class="card-body text-white"
          style="height: 150px; font-weight: 700"
        >
          Streamline Operations with Mpack Bigtop Extensions
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-3">
      <div
        class="card h-100 text-white"
        style="
          border-radius: 0px 30px 0px 31px;
          background: linear-gradient(#9ecc33, #c4cfab);
        "
      >
        <div
          class="card-body text-white"
          style="height: 150px; font-weight: 700"
        >
          Harness the Power of Arm64 Architecture
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-3">
      <div
        class="card h-100"
        style="
          border-radius: 0px 30px 0px 31px;
          background: linear-gradient(#666666, #c5baba);
        "
      >
        <div
          class="card-body text-white"
          style="height: 150px; font-weight: 700"
        >
          Elevate Apache Ambari with Expert Engineering
        </div>
      </div>
    </div>
  </div>
</div>
