<div class="row" id="careers-learning">
    <div class="col-sm-6 text-col">
        <div class="text-block">
            <h3>Looking for an internship?</h3>
            <p><a href="mailto:intern@linaro.org">intern@linaro.org</a></p>
            <div class="owl-carousel owl-theme careers-carousel">
                <div class="activity-block item">
                    <p class="responsive-text ">&nbsp;</p>
                    <blockquote>A little less than a year ago I began my internship with Linaro. This internship was the
                        last thing I had to do before graduating, and those six months were the time where I learned the
                        most about Software Engineering, Machine Architectures and Infrastructure. Linaro's employees'
                        expertise is renowned all over the Arm world, and by working with them, one cannot help but gain
                        more knowledge, understanding and experience. With my internship over, so was my Masters Degree,
                        and I had the immense pleasure of having a full-time position as an Engineer proposed to me. As
                        soon as my university allowed, I started working full-time on multiple and various projects,
                        which I had the privilege to have some influence on. Solving bugs, adding new features and
                        driving the projects forward is my every day routine, and I love it !<h4>Baptiste Gerandeau</h4>
                        <small> Entry Level, Engineer </small></blockquote>
                    <p>&nbsp;</p>
                </div>
                <div class="activity-block item">
                    <p class="responsive-text ">&nbsp;</p>
                    <blockquote>A year and a half ago, I was an intern at Linaro as a Marketing and Events Assistant.
                        Once my internship was over, my Manager told me that she would be happy for me to come back
                        after graduating. I returned to university and 6 months later I was back in Linaro for my second
                        internship. I have now been a Linaro employee since last August as an Events and Social Media
                        Coordinator and I am really pleased to be part of the team.<h4>Celia Ilardi</h4> <small> Entry
                            Level, Events and<br />Social Media Coordinator </small></blockquote>
                    <p>&nbsp;</p>
                </div>
                <div class="activity-block item">
                    <p class="responsive-text ">&nbsp;</p>
                    <blockquote>A year ago, I was a Software Engineering Intern at Linaro. Through my internship I was
                        able to find a practical application for the theory I had been learning at University. During my
                        time as an Intern I created a facial recognition demo, and by the end of my internship I
                        discovered the huge satisfaction of developing and completing a project. As I didn't have a
                        background in Neural Networks at the time, I realised the joy of learning and diving deep into a
                        topic on my own instead of following a lecturers lesson plan. More recently I started as a
                        Software Engineer full-time at Linaro after finishing university in may. As a member of the
                        96Boards team in Linaro I've had the opportunity to work in many topics which interest me, such
                        as self driving cars and neural networks which has been very fulfilling.<h4>Theodore Grey</h4>
                        <small> Entry Level, Engineer </small></blockquote>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 no-padding video-col">
        <div class="media-block puzzle lazyload" data-bg="/assets/images/content/internship-brochure-cover.png">
            <div class="text-center"><a class="btn btn-careers " href="https://linaro.co/linaro-interns-brochure">View
                    Internship Brochure</a></div>
        </div>
    </div>
</div>
