<div class="row careers-welcome" id="content-container">
    <div class="col-sm-6 no-padding video-col">
        <div class="media-block">
            <div>
                <div class="wrapper">
                    <div class="youtube" data-embed="nwJJ2uF7MZ4">
                        <div class="play-button">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 text-col">
        <div class="text-block ">
            <h3>Develop your career alongside world-class open source experts</h3>
            <p class="responsive-text ">If you have a passion for open source and want to be part of a community, then
                you belong at Linaro. Linaro offers you the opportunity to advance your career in an outstanding
                environment for professional growth, all while working alongside a team of world-class open source
                experts on leading edge technology. Interested in joining? Take a look at our openings listed at the
                bottom of the page.</p>
        </div>
    </div>
</div>
