<div class="card-body">
    <div class="row">
        <div class="col col-12 col-md-8">
            <h2><b>Club & Core Membership</b></h2>
            <h2>Access to all Linaro projects</h2>
            <p>Core and Club members can participate in any of 
              Linaro’s segment groups as well as in projects 
              which cover all industries, such as the Linux 
              kernel, toolchains, testing and CI. To read about 
              the work we do in these areas go to Core 
              Technologies page. Core and Club Members also 
              have access to their own dedicated engineering 
              team. The key difference between Core 
              membership and Club membership is that Core 
              Members get a vote on the board, allowing them 
              to influence the direction of Linaro.</p>
        </div>
        <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
                <blockquote>
                  <p>
                    In general when different companies come 
                    together to the same table to discuss and 
                    debate the technical merits of different 
                    proposals, they are likely to come up with a 
                    better solution than anyone of them can do on 
                    their own.
                  </p>
                </blockquote>
                <figcaption>Sandeep Singhai, VP Engineering, 
                  Qualcomm</figcaption>
              </figure>
        </div>
    </div>
</div>
