<div class="row" id="content-container">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist" id="tabbed_nav">
            <li role="presentation">
                <a href="/events/calendar/">
                    Events Calendar
                </a>
            </li>
            <li role="presentation">
                <a href="/events/">
                    Events
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="/events/connect/">
                    Linaro Connect
                </a>
            </li>
        </ul>
        {% assign connects = site.data.connects | sort: "start-date" | reverse %}
        {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
        <h2 class="text-center">Upcoming Connect Events</h2>
        <div class="row">
            {% for event-page in connects %}
            {% capture event_time %}{{event-page.start-date | date: '%s'}}{% endcapture %}
            {% if event_time > nowunix %}
            <div class="col-sm-4 no-padding">
                <a href="https://connect.linaro.org/future-connects/">
                    <div class="event-block fly">
                        <div class="event-image"
                            style="background-image: url('/assets/images/content/{{event-page.placeholder}}')"></div>
                        <div class="event-title">
                            <h3>{{event-page.long-name}}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <h2 class="text-center">Previous Connect Events</h2>
        <div class="row">
            {% for event-page in connects %}
            {% capture event_time %}{{event-page.start-date | date: '%s'}}{% endcapture %}
            {% if event_time < nowunix %}
            <div class="col-sm-4 no-padding">
                <a href="https://connect.linaro.org/resources/{{event-page.id | downcase }}/">
                    <div class="event-block fly">
                        <div class="event-image"
                            style="background-image: url('https://connect.linaro.org/assets/images/content/{{event-page.placeholder}}')">
                        </div>
                        <div class="event-title">
                            <h3>{{event-page.long-name}}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
