<div class="row padded-row" id="services">
    <div class="container">
        <h2 class="text-center ">Developer Services</h2>
        <div class="mobile-dev-services">
            <ul class="list-group text-center visible-xs-block">
                <li class="list-group-item"><a href="/services/security/">Security Services</a></li>
                <li class="list-group-item"><a href="/services/bootloaders/">Bootloader Services</a></li>
                <li class="list-group-item"><a href="/services/kernel-lts/">Kernel Services</a></li>
                <li class="list-group-item"><a href="/services/bsp-builds-support/">Build Services</a></li>
                <li class="list-group-item"><a href="/services/power-management/">Power Services</a></li>
                <li class="list-group-item"><a href="/services/96boards/">96Boards Services</a></li>
                <li class="list-group-item"><a href="/services/toolchain-optimization-services/">Toolchain Optimization
                        Services</a></li>
                <li class="list-group-item"><a href="/services/open-source-consultancy/">Open Source Consultancy
                        Services</a></li>
                <li class="list-group-item"><a href="/services/testing-validation-services/">Testing and Validation
                        Services</a></li>
                <li class="list-group-item"><a href="/services/hands-on-training/">Hands on Training Services</a></li>
            </ul>
        </div>
        <div class="honeycomb hidden-xs">
            <div class="ibws-fix ">
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Security Services">
                    <div class="hexagontent">
                        <a href="/services/security/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_Security.svg"
                                alt="Security Services" />
                        </a>
                    </div>
                </div>
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Bootloader Services">
                    <div class="hexagontent">
                        <a href="/services/bootloaders/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_Bootloaders.svg"
                                alt="Bootloader Services" />
                        </a>
                    </div>
                </div>
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Kernel Services">
                    <div class="hexagontent">
                        <a href="/services/kernel-lts/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_kernels.svg"
                                alt="Kernel Services" />
                        </a>
                    </div>
                </div>
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Build Services">
                    <div class="hexagontent">
                        <a href="/services/bsp-builds-support/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_builds.svg"
                                alt="Build Services" />
                        </a>
                    </div>
                </div>
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Power Services">
                    <div class="hexagontent">
                        <a href="/services/power-management/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_power.svg"
                                alt="Power Services" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibws-fix">
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="96Boards Services">
                    <div class="hexagontent">
                        <a href="/services/96boards/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_96boards.svg"
                                alt="96Boards Services" />
                        </a>
                    </div>
                </div>
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Toolchain Optimization Services">
                    <div class="hexagontent">
                        <a href="/services/toolchain-optimization-services/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_toolchain.svg"
                                alt="Toolchain Optimization Services" />
                        </a>
                    </div>
                </div>
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Open Source Consultancy Services">
                    <div class="hexagontent">
                        <a href="/services/open-source-consultancy/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_consultancy.svg"
                                alt="Open Source Consultancy Services" />
                        </a>
                    </div>
                </div>
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Testing and Validation Services">
                    <div class="hexagontent">
                        <a href="/services/testing-validation-services/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_validation.svg"
                                alt="Testing and Validation Services" />
                        </a>
                    </div>
                </div>
                <div class="hexagon " data-toggle="tooltip" data-container="body" data-placement="top"
                    title="Hands on Training Services">
                    <div class="hexagontent">
                        <a href="/services/hands-on-training/">
                            <img class="lazyload img-responsive"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/DeveloperServices-icons_training.svg"
                                alt="Hands on Training Services" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
