<div class="row events-row flex-row">
{% for post in paginator.posts %}
    {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
    {% if post.event_type == "attend" %}
        {% assign event_date = post.event_date | date: '%s' %}
        {% if event_date < nowunix %}
            {% assign event_tag_text = "Attended" %}
        {% else %}
            {% assign event_tag_text = "Attending" %}
        {% endif %}
    {% else %}
        {% assign event_tag_text = post.event_type  | capitalize %}
    {% endif %}
    <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
            {% if post.image.path %}
                {% assign image_path = post.image.path %}
            {% elsif post.image contains "/assets/images/" %}
                {% assign image_path = post.image %}
            {% endif %}
            <img src=""
            data-src="{{image_path}}"
            class="lazyload" alt="{{post.title}} image."/>
            <div class="caption">
                <h3>{{post.title}}</h3>
                <p>
                    {% if post.event_date %}
                        {{post.event_date | date: "%A, %B %-d, %Y" }}
                        {% if post.event_end_date %}
                            - {{post.event_end_date | date: "%A, %B %-d, %Y" }}
                        {% endif %}
                    {% else %}
                        {{post.date | date: "%A, %B %-d, %Y" }}
                    {% endif %}
                </p>
                {% if post.description %}
                    <p class="flex-text">{{post.description}}</p>
                {% endif %}
                <span class="event_tag {{post.event_type}}">{{event_tag_text}}</span>
                <p>
                    {% if post.has_resources %}
                        <a href="{{post.url}}" class="btn btn-primary" role="button">View Resources</a>
                    {% else %}
                        <a href="{{post.url}}" class="btn btn-primary" role="button">More Info</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
