<div class="row">
    <div class="container">
        {% for author in paginator.posts %}
        <div class="row blog_post">
            <div class="col-xs-8 post_title no-padding">
                <a href="{{author.url}}">
                    <h3 class="blog_title">{{ author.name}}</h3>
                </a>
            </div>
            <div class="col-xs-4  no-padding">
                <a href="{{author.url}}">
                    <button class="btn btn-primary  pull-right">View Posts</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
