<div class="row">
    <div class="container">
        {% assign internship_count = site.internships | where: 'published', 'true' | size %}
        {% if internship_count > 0 %}
            {% for internship in site.internships %}
                <div class="col-xs-12 col-sm-4 internship text-center">
                    <h3>{{internship.title}}</h3>
                    <span class="location"><strong>Location:</strong> {{internship.location}}</span><br>
                    <span class="date"><strong>Posted on:</strong> {{internship.date | date: "%A, %B %-d, %Y" }}</span>
                    <p>
                        {{internship.description}}
                    </p>
                    <a class="btn btn-primary" href="{{internship.url}}">Learn More</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-xs-12">
                <p>
                    Sorry but we currently do not have any internships available.
                </p>
            </div>
        {% endif %}
    </div>
</div>
