<div
  class="modal fade"
  id="engagement_request_contact_form_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="engagementRequestFormHeader"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content border border-white bg-primary">
      <div class="modal-header">
        <h5
          class="modal-title font-weight-bold pb-3"
          id="engagementRequestFormHeader"
        >
          Please complete this form and we will contact you to discuss how we
          can help you.
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="feedback_response"></div>
        <form id="engagement_request_contact_form" class="needs-validation" novalidate>
          <input type="hidden" name="form_id" value="3" />
          <div class="form-group">
            <input
              type="text"
              name="customfield_13155"
              id="customfield_13155"
              placeholder="First Name (required)"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Please provide a valid first name.
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              name="customfield_13156"
              placeholder="Family Name (required)"
              id="customfield_13156"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Please provide a valid family name.
            </div>
          </div>
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email Address (required)"
              id="email"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Please provide a valid email address.
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              name="customfield_13368"
              placeholder="Company"
              id="customfield_13368"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Please provide a valid company name.
            </div>
          </div>
          <div class="form-group checkbox_group bg-white p-3">
            <div class="row py-0">
              <div class="col col-12 pb-3">
                <strong>Which services are you interested in?</strong>
              </div>
              <div class="col col-12 col-md-6">
                <div class="checkbox d-block">
                  <input type="checkbox" name="customfield_13372" id="customfield_13372-0" class="checkbox" value="13631"/>
                  <label for="customfield_13372-0">Core Membership</label>
                </div>
                <div class="checkbox d-block">
                    <input type="checkbox" name="customfield_13372" id="customfield_13372-1" class="checkbox" value="13632"/>
                    <label for="customfield_13372-1">Club Membership</label>
                </div>
                <div class="checkbox d-block">
                    <input type="checkbox" name="customfield_13372" id="customfield_13372-2" class="checkbox" value="13633"/>
                    <label for="customfield_13372-2">Group Membership</label>
                </div>
              </div>
              <div class="col col-12 col-md-6">
                <div class="checkbox d-block">
                    <input type="checkbox" name="customfield_13372" id="customfield_13372-3" class="checkbox" value="13634"/>
                    <label for="customfield_13372-3">Developer Services</label>
                </div>
                <div class="checkbox d-block">
                    <input type="checkbox" name="customfield_13372" id="customfield_13372-4" class="checkbox" value="13635"/>
                    <label for="customfield_13372-4">Not sure</label>
                </div>
              </div>
              <div class="col col-12">
                <div class="checkbox d-inline-block d-flex align-items-center">
                  <input
                    type="checkbox"
                    name="other"
                    id="other"
                    class="checkbox"
                  />
                  <label class="my-0 mx-2" for="other">Other</label>
                  <input
                    type="text"
                    name="customfield_13373"
                    id="customfield_13373"
                    disabled="true"
                    class="form-control"
                    placeholder="Other engagement"
                  />
                </div>
              </div>
            </div>
          </div>
          <button
            id="btnSubmit"
            type="submit"
            class="btn btn-secondary btn-lg btn-default"
            >
            Submit
            </button>
            <div id="feedback_error"></div>
        </form>
      </div>
    </div>
  </div>
</div>
