{% if page.related_resources_tracks %}
    <div class="row content-row" id="members-row">
        <div class="container">
            <div class="col-xs-12 text-center">
                <h3>Latest Resources</h3>
            </div>
            <div class="col-xs-12 text-center">
                <div id="related_resources" data-related-tracks="{{page.related_resources_tracks}}"></div>
            </div>
            <div class="col-xs-12 text-center m-t-40">
                <a class="btn btn-primary" href="https://connect.linaro.org/resources/">View all</a>
            </div>
        </div>
    </div>
{% endif %}
