<!--- Top Engineering Icons Row -->
<div id="engineering-graphic" class="row" style="background-image:url('/assets/images/content/engineering-bg.svg')">
    <!-- Circular Background -->
    <div class="circle-background center-block" id="circles">
        <div class="circle-one">
            <div class="circle-two">
                <div class="circle-three"></div>
            </div>
        </div>
    </div>
    <div class="row engineering-top-row">
        <div class="container">
            <div class="col-xs-6 col-sm-3 engineering-icon no-padding">
                <a href="/engineering/datacenter-and-cloud/">
                    <img class="img-responsive lazyload" data-src="/assets/images/content/LDCG col.svg"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </a>
                <h3 class="group-title">Datacenter & Cloud</h3>
            </div>
            <div class="col-xs-6 col-sm-3 engineering-icon no-padding">
                <a href="/engineering/edge-and-fog-computing/">
                    <img class="img-responsive lazyload" data-src="/assets/images/content/LEDGE col.svg"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </a>
                <h3 class="group-title">Edge & Fog Computing</h3>
            </div>
            <div class="col-xs-6 col-sm-3 engineering-icon no-padding">
                <a href="/engineering/consumer/">
                    <img class="img-responsive lazyload" data-src="/assets/images/content/LCG.png"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </a>
                <h3 class="group-title">Consumer</h3>
            </div>
            <div class="col-xs-6 col-sm-3 engineering-icon no-padding">
                <a href="/engineering/iot-and-embedded/">
                    <img class="img-responsive lazyload" data-src="/assets/images/content/LITE col.svg"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </a>
                <h3 class="group-title">IoT & Embedded</h3>
            </div>
        </div>
    </div>
    <!--- Dividing Engineering Icons Row -->
    <div class="row engineering-dividing-row">
        <div class="container">
            <div class="mobile-center-icons">
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 text-center">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-sm-offset-3">
                        <img id="hover-icon" toggled="False" class="center-block img-responsive lazyload"
                            data-src="/assets/images/content/chipCoreEng.svg"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                        <a href="/engineering/core/kernel/"><span class="core-descriptor kernel">Kernel</span></a>
                        <a href="/engineering/core/toolchain/"><span
                                class="core-descriptor toolchain">Toolchain</span></a>
                        <a href="/engineering/core/security/"><span class="core-descriptor security">Security</span></a>
                        <a href="/engineering/core/arm-power-management/"><span
                                class="core-descriptor power">Power</span></a>
                        <a href="/engineering/core/kernel-validation-and-testing/"><span
                                class="core-descriptor kernel-validation">Kernel Validation</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- Bottom Engineering Icons Row -->
    <div class="row engineering-bottom-row">
        <div class="container">
            <div class="col-xs-6 col-sm-3 engineering-icon no-padding">
                <a href="/engineering/autonomous-vehicles/">
                    <img class="img-responsive lazyload" data-src="/assets/images/content/AutoCol.svg"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </a>
                <h3 class="group-title">Autonomous Vehicles</h3>
            </div>
            <div class="col-xs-6 col-sm-3 engineering-icon no-padding">
                <a href="/engineering/artificial-intelligence/">
                    <img class="img-responsive lazyload" data-src="/assets/images/content/Machine col.svg"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </a>
                <h3 class="group-title">Artificial Intelligence</h3>
            </div>
            <div class="col-xs-6 col-sm-3 engineering-icon no-padding">
                <a href="/engineering/high-performance-computing/">
                    <img class="img-responsive lazyload" data-src="/assets/images/content/HPCCol.svg"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </a>
                <h3 class="group-title">High Performance Computing</h3>
            </div>
        </div>
    </div>
</div>
