{% if page.related_resources_tracks %}
    <div class="row content-row" id="members-row">
        <div class="container">
            <div class="col col-12 text-center">
                <h3>Latest Resources</h3>
            </div>
            <div class="col col-12 text-center">
                <div class="row" id="related_resources" data-related-tracks-url="{{page.related_resources_tracks}}"></div>
            </div>
            <div class="col col-12 text-center m-t-40">
                <a class="btn btn-primary" href="https://resources.linaro.org/">View all</a>
            </div>
        </div>
    </div>
{% endif %}
