<div class="container-fluid" id="content-container">
    <div class="row hub-row">
        <div class="container">
            <input type="text" class="form-control" placeholder="Search..." id="search-query">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title (<span id="result_size"></span> of <span id="size"></span>)</th>
                        <th>Tracks</th>
                        <th>Speakers</th>
                        <th>Resource URL</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody id="results"></tbody>
            </table>
        </div>
    </div>
</div>
