<div class="row" id="linaro-gdpr-icons-row" style="">
    <div class="container">
        <div class="col-xs-12 text-center">
            <h2>We support the following</h2>
            <br />
            <br />
        </div>
        <div class="col-sm-4 gdpr-icon">
            <span class="lazyload glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="col-sm-8">
            <h3>Receive user consent</h3>
            <p>
                Gain GDPR consent from people we interact with upon registration, application, etc.
            </p>
        </div>
        <div class="col-sm-4 gdpr-icon">
            <span class="lazyload glyphicon glyphicon-trash" aria-hidden="true"></span>
        </div>
        <div class="col-sm-8">
            <h3>Identifiable data is removed</h3>
            <p>
                Ensure that when someone deletes their account, we fully remove or completely anonymise any personally
                identifiable data.
            </p>
        </div>
        <div class="col-sm-4 gdpr-icon">
            <span class="lazyload glyphicon glyphicon-wrench" aria-hidden="true"></span>
        </div>
        <div class="col-sm-8">
            <h3>Users can easily control their data</h3>
            <p>
                Ensure users have a clear channel of communication to request review and, where appropriate,
                manage/edit/delete personal data.
            </p>
        </div>
    </div>
</div>
