
<div id="jumbotron-caption">
    <h1 id="home-page-title" class="white linaro-sub-title fade-in-one text-center" id="homepage-heading">
        Accelerating deployment of 
    </h1>

    <p id="home-page-text" class="linaro-title sub-tag center-block fade-in-two text-center">
        Arm-based solutions
    </p>

    <p id="buttons" class="text-center">
        <a href="/about/" class="btn btn-linaro-home fade-in-three" >Learn More</a>
        <a href="/membership/" class="btn btn-linaro-home fade-in-three" >Members</a>
    </p>
</div>