<div class="row activity-container">
  <div class="container text-center">
    <!--<h3>Activity around 96Boards</h3> -->
    <div class="row activity-holder center-block">
     <div class="col-sm-4 col-xs-12">
         <div class="linaro-home-block" style="background: url('{% asset_path 'SFO15-Linaro-Box1.jpg' %}') no-repeat center center scroll;
             background-size: cover;
             -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;">

         <h5 class="block-title">Linaro<br />
         News & Events</h5>
       <div class="owl-carousel owl-theme">
           <div class="activity-block item">
             <a href="http://www.96boards.org/blog/96boards-96brews-automated-home-brewing/">
             <p class="linaro-home-block-text">96Boards for 96Brews – Automated Home Brewing</p></a>
           </div>
           <div class="activity-block item">
             <a href="http://www.96boards.org/blog/96boards-ce-temp-using-level-shifters-2-line-displays/">
             <p class="linaro-home-block-text">96Boards CE what temp is it? Using level shifters and 2-line displays</p></a>
           </div>
           <div class="activity-block item">
             <a href="http://www.96boards.org/blog/ce-iot-using-sensors/">
             <p class="linaro-home-block-text">96Boards Consumer Edition, IoT and using sensors</p></a>
           </div>
           <div class="activity-block item">
             <a href="http://www.96boards.org/blog/96boards-media-server/">
             <p class="linaro-home-block-text">Setting up a home 96Boards media server<br /><br /></p></a>
           </div>
           <div class="activity-block item">
             <a href="http://www.96boards.org/blog/st-system-level-esd-protection/">
             <p class="linaro-home-block-text">ST, System Level ESD Protection and OpenHours</p></a>
           </div>
       </div>
        </div>
     </div>

     <div class="col-sm-4 col-xs-12 ">
         <div class="linaro-home-block" style="background: url('{% asset_path 'web-linaro-downlaods-over.jpg' %}') no-repeat center center scroll;
             background-size: cover;
             -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;">
             <h5 class="block-title">Linaro<br />
             Downloads</h5>
         <p class="linaro-home-block-text">
             ST, System Level ESD Protection and OpenHours
         </p>
     </div>
 </div>

     <div class="col-sm-4 col-xs-12">
         <div class="linaro-home-block" style="background: url('{% asset_path 'SFO15-Linaro-Box2.jpg' %}') no-repeat center center scroll;
             background-size: cover;
             -webkit-background-size: co ver;
             -moz-background-size: cover;
             -o-background-size: cover;">
             <h5 class="block-title">Linaro<br />
             96boards</h5>
         <p class="linaro-home-block-text">
             <a href="https://www.96boards.org">32- and 64-bit ARM<br />
             Open Platform Specifications<br /></a>
             <a href="https://www.96boards.org/products/ce/">CE Products</a> / <a href="https://www.96boards.org/products/ee/">EE Products</a>
         </p>
     </div>
    </div>
   </div>
</div>
</div>
