<div class="row" id="linaro-gdpr-row" style="">
    <div class="container">
        <div class="col-sm-6">
            <div id="linaro-gdpr-image" style="background-image: url('/assets/images/content/linaro-logo.png');">
            </div>
        </div>
        <div class="col-sm-6 no-padding">
            <h2>Is Linaro GDPR compliant?</h2>
            <p>
                At Linaro we have updated our sites to enable us and you to be GDPR compliant.
            </p>
            <p>
                This is an ongoing process that will allow us to meet our obligations as data processors as well as
                putting in place processes, where applicable, to help the people we interact with (i.e.you) to meet
                their obligations.
            </p>
        </div>
    </div>
</div>
