<div class="card-body">
  <div class="row align-items-center">
    <div class="d-flex flex-column text-center mb-4 mb-md-0">
      <h1 style="font-size: 42px; font-weight: 700">
        Why You Can Trust Linaro Long-Term Support:
      </h1>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="card" style="width: 358px">
          <div class="card-body">
            <img
              src="/assets/images/content/Huge_Expertise.png"
              class="feature-img"
              alt="Huge Expertise photo"
              style="width: 103px; height: 103px"
            />
            <h5 class="card-title">Extensive Expertise</h5>
            <p class="card-text">
              Since 2010, our contributions span multiple areas, including Arm
              SoC, Power, Thermal, IO, LLVM, Android, RT, and more.
            </p>
          </div>
        </div>

        <div class="card" style="width: 358px">
          <div class="card-body">
            <img
              src="/assets/images/content/Proven_Quality.png"
              class="feature-img"
              alt="Proven Quality photo"
              style="width: 103px; height: 103px"
            />
            <h5 class="card-title">Proven Quality</h5>
            <p class="card-text">
              We conduct over a billion tests annually, ensuring the highest
              level of quality.
            </p>
          </div>
        </div>

        <div class="card" style="width: 358px">
          <div class="card-body">
            <img
              src="/assets/images/content/Tailored_LTS.png"
              class="feature-img"
              alt="Tailored LTS photo"
              style="width: 103px; height: 103px"
            />
            <h5 class="card-title">Tailored LTS</h5>
            <p class="card-text">
              We deliver, maintain, test Long Term Support Linux Kernels for
              arm, arm64 and x86_64.
            </p>
          </div>
        </div>

        <div class="card" style="width: 358px">
          <div class="card-body">
            <img
              src="/assets/images/content/Customization.png"
              class="feature-img"
              alt="Customization photo"
              style="width: 103px; height: 103px"
            />
            <h5 class="card-title">Customization</h5>
            <p class="card-text">
              Out-of-tree patches, hardware inclusion in the Linaro-hosted test
              farm, uprevving of patches, additional test suites, and more.
            </p>
          </div>
        </div>

        <div class="card" style="width: 358px">
          <div class="card-body">
            <img
              src="/assets/images/content/Collaboration.png"
              class="feature-img"
              alt="Collaboration photo"
              style="width: 103px; height: 103px"
            />
            <h5 class="card-title">Collaboration</h5>
            <p class="card-text">
              Join a collaborative ecosystem where economies of scale and shared
              testing resources drive efficiency and cost-effectiveness.
            </p>
          </div>
        </div>
      </div>
      <button
        id="contactButton"
        style="
          background-color: #99cc33;
          border-radius: 90px;
          color: white;
          border: none;
          text-align: center;
          padding: 12px 28px;
          display: inline-block;
          margin: 4px 2px;
          width: 207px;
          font-weight: 700;
          justify-content: center;
        "
        class="mx-auto mt-4"
        onclick="smoothScrollTo('lts_contact_form')"
      >
        Contact Us
      </button>
    </div>
  </div>
</div>
<style>
  .feature-column {
    text-align: center;
    margin-bottom: 20px;
  }

  .feature-img {
    width: 200px;

    height: 134px;
    margin-bottom: 10px;
  }
  .card {
    margin: 10px;
  }
  .card-title {
    font-size: 24px;
    font-weight: 700;
  }
  .card-text {
    font-size: 21px;
    font-weight: 400;
  }
  @media (max-width: 991px) {
    h1 {
      font-size: 28px !important;
    }
  }
</style>
<script>
  function smoothScrollTo(targetId) {
    const targetElement = document.getElementById(targetId);

    if (targetElement) {
      targetElement.scrollIntoView({
        behavior: "smooth",
        block: "start",
        inline: "nearest",
      });
    }
  }
</script>
