<div class="card-body translate-middle">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 d-flex flex-column p-2">
      <div
        class="d-flex flex-column text-left"
        style="font-size: 24px; font-weight: 400"
      >
        <p>
          Linaro’s world class open source engineering team, monitors and
          integrates the latest fixes and CVEs for the Linux Kernel, OP-TEE,
          Trusted Firmware-A and U-Boot.
        </p>
        <p>
          Rigorous testing protocols are designed to detect regressions early,
          safeguarding your software updates from potential upstream impacts.
        </p>
      </div>
    </div>
    <div
      class="col-12 col-md-6 order-md-1 d-flex flex-column justify-content-center p-2"
    >
      <div
        class="d-flex flex-column text-left"
        style="font-size: 24px; font-weight: 400"
      >
        <p class="p-0 pl-md-4">
          We offer customizable solutions tailored to your needs, including
          additional or custom test suites, out of tree source management,
          upstreaming services, and device-specific testing.
        </p>
        <div
          class="d-flex justify-content-center align-items-center"
          style="
            position: relative;
            background-color: white;
            max-width: 100%;
            border-radius: 9px;
          "
        >
          <img
            src="/assets/images/content/LTS_Diagram.png"
            class="img-fluid"
            alt="LTS Diagram photo"
          />
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<style>
  .check-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #99cc33;
    border-radius: 50%;
    font-weight: 700;
    padding: 3px;
    width: 30px;
    height: 33px;
    margin-right: 10px;
  }

  .logo-img {
    margin-right: 10px;
  }
  @media (max-width: 991px) {
    h1 {
      font-size: 28px !important;
    }
  }
  .add_margin {
    margin-bottom: 13%;
    margin-top: 13%;
  }
  @media (max-width: 767px) {
    .add_margin {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
  }
</style>
