<div style="position: relative; width: 100%">
  <div class="container">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 order-2 order-md-2 order-lg-1 order-xl-1">
          <div
            class="d-flex flex-column text-center text-white last-section"
            style="font-size: 24px; font-weight: 800; margin-left: 15%"
          >
            <p style="color: #33b0cc">Cost-Efficiency:</p>
            <p>
              Save money by providing a cost-effective alternative to in-house
              LTS kernel and firmware management
            </p>
            <p style="color: #33b0cc">Compliance:</p>
            <p>Ensure compliance with software update mandates.</p>
            <p style="color: #33b0cc">Solid Foundation:</p>
            <p>Build your product on a robust and long-lasting kernel base.</p>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-12 order-1 order-md-1 order-lg-2 order-xl-2"
        >
          >
          <div
            style="
              background-image: url('/assets/images/content/green-blue-pink-sphere.png');
              background-size: cover;
              background-position: center;
              width: 410px;
              height: 410px;
              position: relative;
              margin: auto;
            "
            class="img-fluid-world"
          >
            <p
              style="
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                font-size: 48px;
                font-weight: 700;
              "
            >
              Enter a world of benefits
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 order-2 order-md-3 order-lg-3 order-xl-3">
          <div
            class="d-flex flex-column text-center text-white last-section"
            style="font-size: 24px; font-weight: 800; margin-left: 15%"
          >
            <p style="color: #33b0cc">Resource Optimization:</p>
            <p>Free up resources for high-ROI areas of development.</p>
            <p style="color: #33b0cc">Expertise:</p>
            <p>
              Leverage Linaro's Linux Kernel expertise and community
              connections.
            </p>
            <p style="color: #33b0cc">Informed Decision-Making:</p>
            <p>Stay informed as issues are discovered and resolved.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 text-center" style="margin-top: 10%">
          <h1
            style="color: white; font-size: 48px; font-weight: 700; width: 100%"
          >
            Are you ready to redefine your Linux Kernel LTS experience? Get your
            full package quote now.
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  @media (max-width: 460px) {
    .col-lg-4 {
      width: 113%;
    }

    .img-fluid-world {
      width: 310px !important;
      height: 310px !important;
    }

    .img-fluid-world p {
      font-size: 38px !important;
    }
  }
  @media (max-width: 760px) {
    .last-section {
      margin-left: 0 !important;
    }
  }
  @media (max-width: 1200px) and (min-width: 992px) {
    .col-lg-4 {
      width: 50%;
    }

    .img-fluid-world {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 991px) {
    h1 {
      font-size: 28px !important;
    }
  }
</style>
