<div class="card-body translate-middle">
  <div class="row">
    <div
      class="col-12 col-md-6 order-md-1 d-flex flex-column justify-content-center p-2"
    >
      <div class="d-flex flex-column text-left">
        <h1 style="font-size: 36px; font-weight: 700">
          Linaro Long Term Support helps you:
        </h1>

        <div class="d-flex flex-row align-items-start mb-3">
          <span
            style="
              border: 5px solid #99cc33;
              border-radius: 50%;
              font-weight: 700;
              padding: 3px;
              width: 70px;
              height: 42px;
              margin-right: 10px;
              align-self: flex-start;
            "
            >&#10003;</span
          >
          <p style="font-size: 24px; font-weight: 400; margin: 0">
            Get Kernel stability as a foundation to meet the evolving needs of
            your products, market, and customers
          </p>
        </div>

        <div class="d-flex flex-column align-items-start mb-3">
          <div class="d-flex flex-row align-items-center">
            <span class="check-mark">&#10003;</span>
            <p style="font-size: 24px; font-weight: 400; margin: 0">
              Overcome compatibility challenges
            </p>
          </div>
        </div>

        <div
          class="d-flex flex-column align-items-start"
          style="margin-top: 10%"
        >
          <div class="d-flex flex-row align-items-center">
            <span class="check-mark">&#10003;</span>
            <p style="font-size: 24px; font-weight: 400; margin: 0">
              Leverage the expertise and skills you need
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      style="box-shadow: 10px 10px 5px rgb(216, 218, 219)"
      class="card col-12 col-md-6 order-md-2 d-flex align-items-center justify-content-center bg-white p-4"
    >
      <div class="d-flex flex-column text-center">
        <h1
          style="font-weight: 700; font-size: 36px; text-align: left"
          class="mb-md-4 mb-0 pl-2"
        >
          We offer LTS versions of key firmware projects, including:
        </h1>
        <div class="d-flex flex-column flex-md-row justify-content-center">
          <div style="margin: 21px">
            <img
              class="logo-img"
              src="/assets/images/content/OPTEE_logo.svg"
              alt="OP-TEE Logo"
              style="width: 62px; height: 62px"
            />
          </div>

          <div>
            <img
              class="logo-img"
              src="/assets/images/content/TF_logo.svg"
              alt="TF-A Logo"
              style="width: 103px; height: 103px"
            />
          </div>

          <div style="margin: 21px">
            <img
              class="logo-img"
              src="/assets/images/content/U-Boot_Logo.png"
              alt="U-Boot Logo"
              style="width: 62px; height: 62px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .check-mark {
    border: 5px solid #99cc33;
    border-radius: 50%;
    font-weight: 700;
    padding: 3px;
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }

  .logo-img {
    /* width: 80px;
    height: 80px; */
    margin-right: 10px;
  }
  @media (max-width: 991px) {
    h1 {
      font-size: 28px !important;
    }
  }
</style>
