<div class="row padded-row testimonials" id="key-factors">
    <div class="container">
        <div class="col-xs-12">
            <h2 class="text-center  m-b-30">The value of Linaro and open source collaboration</h2>
        </div>
        <div class="col-xs-12">
            <div class="owl-carousel owl-theme" id="testimonial_slider">
                <div class="item testimonial_item">
                    <video controls="controls" class="lazyload img-responsive"
                        poster="/assets/images/content/thomas-molgaard-screen.png" preload="none">
                        <source src="https://static.linaro.org/videos/ThomasMolgaardTestimonial.ogv" type="video/ogg">
                        <source src="https://static.linaro.org/videos/ThomasMolgaardTestimonial.webm" type="video/webm">
                        <source src="https://static.linaro.org/videos/ThomasMolgaardTestimonial.mp4" type="video/mp4">
                    </video>
                    <h4>Thomas Molgaard - Director of Product Management at Arm</h4>
                </div>
                <div class="item testimonial_item">
                    <video controls="controls" class="lazyload img-responsive"
                        poster="/assets/images/content/jon-masters-screen.png" preload="none">
                        <source src="https://static.linaro.org/videos/JonMastersTestimonial.ogv" type="video/ogg">
                        <source src="https://static.linaro.org/videos/JonMastersTestimonial.webm" type="video/webm">
                        <source src="https://static.linaro.org/videos/JonMastersTestimonial.mp4" type="video/mp4">
                    </video>
                    <h4>Jon Masters - Computer Architect and Distinguished Engineer at Red Hat</h4>
                </div>
                <div class="item testimonial_item">
                    <video controls="controls" class="lazyload img-responsive"
                        poster="/assets/images/content/larry-wikelius-screen.png" preload="none">
                        <source src="https://static.linaro.org/videos/LarryWikeliusTestimonial.ogv" type="video/ogg">
                        <source src="https://static.linaro.org/videos/LarryWikeliusTestimonial.webm" type="video/webm">
                        <source src="https://static.linaro.org/videos/LarryWikeliusTestimonial.mp4" type="video/mp4">
                    </video>
                    <h4>Larry Wikelius - Vice President, Ecosystem and Partner Enabling at Marvell</h4>
                </div>
                <div class="item testimonial_item">
                    <video controls="controls" class="lazyload img-responsive"
                        poster="/assets/images/content/kouichi-hirai-fujitsu-testimonial-screen.png" preload="none">
                        <source src="https://static.linaro.org/videos/KouichiHiraiTestimonial.ogv" type="video/ogg">
                        <source src="https://static.linaro.org/videos/KouichiHiraiTestimonial.webm" type="video/webm">
                        <source src="https://static.linaro.org/videos/KouichiHiraiTestimonial.mp4" type="video/mp4">
                    </video>
                    <h4>Kouichi Hirai - VP of Software Development at Fujitsu</h4>
                </div>
            </div>
        </div>
    </div>
</div>
