<div class="row padded-row" id="membership-levels">
    <div class="container">
        <h2 class="text-center ">Levels of Engagement</h2>
<div markdown="1" class="">
There are multiple levels of membership and different ways to engage in projects that Linaro runs. Core and
Club membership provide influence and participation across everything Linaro does, others levels provide a
route into engagement on focused activities. Linaro has groups focused on the following segments: [Data
Centre & Cloud](https://www.linaro.org/engineering/datacenter-and-cloud/), [IoT &
Embedded](https://www.linaro.org/engineering/iot-and-embedded/), [Edge & Fog
Computing](https://www.linaro.org/engineering/edge-and-fog-computing/), [Consumer
(Android)](https://www.linaro.org/engineering/consumer/) and
[HPC](https://www.linaro.org/engineering/high-performance-computing/). Current strategic initiatives are
[Artificial Intelligence](https://www.linaro.org/engineering/artificial-intelligence/) and [Autonomous
Vehicles](https://www.linaro.org/engineering/autonomous-vehicles/); and current projects include 96Boards,
DeviceTree, LAVA, LKFT, OP-TEE and Trusted Firmware.
</div>
    </div>
</div>
