<div class="accordion" id="accordion">
  {% for group in include.data-file %}
  <div class="card">
    <div class="card-header py-2 text-center" id="heading-{{group.id}}">
      <h3 class="card-title mt-2">
        <a
          class="text-dark"
          type="button"
          data-toggle="collapse"
          data-target="#collapse-{{group.id}}"
          aria-expanded="true"
          aria-controls="collapse-{{group.id}}"
        >
          {{group.membership_group_name }}
        </a>
      </h3>
    </div>
    <div id="collapse-{{group.id}}" class="collapse">
      <div
        class="card-body"
        aria-labelledby="heading-{{group.id}}"
        data-parent="#accordion"
      >
        {% if group.members %} {% assign member_size = group.members | size %}
        {% if member_size < 3 and group.id != "associate" and group.id !=
        "community" and group.id != "core" %}
        <div class="alert alert-info" role="alert">
          <strong>Group Forming:</strong>
          Group being formed from existing and new Linaro members. Please
          contact ContactUs@linaro.org if you would like information about
          joining.
        </div>
        {% endif %} {% else %}
        <div class="alert alert-info" role="alert">
          <strong>Group Forming:</strong>
          Group being formed from existing and new Linaro members. Please
          contact ContactUs@linaro.org if you would like information about
          joining.
        </div>
        {% endif %} {% if group.text %} {{ group.text | markdownify }} {% endif
        %}

        <br />
        {% if group.members %}
        <div class="row">
          <div class="col col-12">
            <h5 class="advisory-board text-center">Members</h5>
          </div>
          {% assign sorted_members = group.members | sort: 'name' %} {% for
          member in sorted_members %}
          <div class="col-lg-2 col-md-3 col-sm-4 col col-6 vcenter-img">
            <div class="member_image">
              <img
                data-src="{{member.image}}"
                alt="{{member.name}}"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                class="img-fluid members-img lazyload center-block"
              />
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% if group.advisory_board %}
        <div class="row">
          <div class="col col-12">
            <h5 class="advisory-board text-center">Advisory Board</h5>
          </div>
          {% assign advisory_board = group.advisory_board | sort: 'name' %} {%
          for member in advisory_board %}
          <div class="col-lg-2 col-md-3 col-sm-4 col col-6 vcenter-img">
            <div class="member_image">
              <img
                data-src="{{member.image}}"
                alt="{{member.name}}"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                class="img-fluid members-img lazyload center-block"
              />
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
