<div class="row padded-row" id="key-factors">
    <div class="container">
        <h2 class="text-center ">Membership Benefits</h2>
        <div class="col-xs-12 col-sm-4  key-factor text-center">
            <div class="key-factor-block " data-toggle="tooltip" data-container="body" data-placement="top"
                title="Regardless of the industry you operate in, there are common software foundations that you can use to deploy your products. By working with Linaro and its members on the core software, you can focus your attention on differentiation.">
                <span class="key-factor-title">
                    <span class="bold">Enable differentiation</span> with <span class="bold">open source</span>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4  key-factor text-center">
            <div class="key-factor-block " data-toggle="tooltip" data-container="body" data-placement="top"
                title="Developing and maintaining software for the life of your products is costly if you do it on your own. Working through Linaro's shared engineering resource together with other members enables you to share the workload, thereby reducing costs and time to market.">
                <span class="key-factor-title">
                    <span class="bold">Accelerate development</span> and <span class="bold">reduce costs</span>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4  key-factor text-center">
            <div class="key-factor-block " data-toggle="tooltip" data-container="body" data-placement="top"
                title="Many of Linaro's engineers are recognized world leaders. Linaro is consistently listed in the top five company contributors to the Linux kernel and a major contributor to over 70 other open source projects, including several maintained by Linaro engineers.">
                <span class="key-factor-title">
                    Boost your <span class="bold">engineering</span> with Linaro’s <span class="bold">software
                        expertise</span>
                </span>
            </div>
        </div>
    </div>
</div>
