<div class="panel-group" id="accordion">
    {% for group in include.data-file %}
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <a data-toggle="collapse" href="#{{group.id}}"
                     aria-expanded="true" aria-controls="{{group.id}}"
                    data-parent="#accordion">
                        {{group.membership_group_name }}
                    </a>
                    <i class="fa fa-link copy_link_to_panel pull-right"
                    data-toggle="tooltip" data-placement="left" title="Copied to Clipboard!"
                     data-clipboard-text="{{site.url}}{{page.url}}#{{group.id}}"></i>
                </h4>
            </div>
            <div id="{{group.id}}" class="panel-collapse collapse {% if forloop.index == 1 %}in{% endif %}">
              <div class="panel-body padded">

                  {% if group.members %}
                      {% assign member_size = group.members | size %}

                      {% if member_size < 3 and group.id !=  "associate" and group.id != "community" and group.id != "core" %}
                      <div class="alert alert-info" role="alert">
                          <strong>Group Forming:</strong>
                          Group being formed from existing and new Linaro members. Please contact ContactUs@linaro.org if you would like information about joining.
                      </div>
                      {% endif %}
                 {% else %}
                     <div class="alert alert-info" role="alert">
                         <strong>Group Forming:</strong>
                         Group being formed from existing and new Linaro members. Please contact ContactUs@linaro.org if you would like information about joining.
                     </div>
                 {% endif %}

                 {% if group.text %}
                     {{ group.text | markdownify }}
                 {% endif %}

                <br />
                {% if group.members %}
                    <div class="col col-12">
                        <h5 class="advisory-board text-center">Members</h5>
                    </div>
                    {% assign sorted_members = group.members | sort: 'name' %}
                    {% for member in sorted_members %}
                        <div class="col-lg-2 col-md-3 col-sm-4 col col-6 vcenter-img">
                            <a href="{{member.url}}">
                                <img data-src="{{member.image}}" alt="{{member.name}}"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                class="img-responsive members-img lazyload center-block"/>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if group.advisory_board %}
                    <div class="col col-12">
                        <h5 class="advisory-board text-center">Advisory Board</h5>
                    </div>
                    {% assign advisory_board = group.advisory_board | sort: 'name' %}
                    {% for member in advisory_board %}
                    <div class="col-lg-2 col-md-3 col-sm-4 col col-6 vcenter-img">
                        <a href="{{member.url}}">
                            <img data-src="{{member.image}}" alt="{{member.name}}"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                class="img-responsive members-img lazyload center-block" />
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
  {% endfor %}
</div>
