<div
  style="background-color: #9ecc33"
  class="rounded p-3 membership_form_container text-black mt-3 mb-3"
  id="onelab_contact_form_modal"
>
<div class="translate-middle ">
  <div id="feedback_response"></div>

  <form id="onelab_contact_form" class="needs-validation" novalidate>
    <input type="hidden" name="form_id" value="6" />
    <div class="form-group">
      <input
        type="text"
        name="customfield_13155"
        id="customfield_13155"
        placeholder="First Name"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please provide a valid first name.</div>
    </div>
    <div class="form-group">
      <input
        type="text"
        name="customfield_13156"
        placeholder="Last Name"
        id="customfield_13156"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please provide a valid last name.</div>
    </div>
    <div class="form-group">
      <input
        type="email"
        name="email"
        placeholder="Email address"
        id="email"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please provide a valid email address.</div>
    </div>
    <div class="form-group">
      <input
        type="text"
        name="customfield_13368"
        placeholder="Company name"
        id="customfield_13368"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please provide a valid company name.</div>
    </div>
    
      <div class="form-check">
</div>
     
  
</div>
    <button
      id="submitButtononelabForm"
      type="submit"
      class="btn text-white"
      style="
        border-radius: 90px;
        color: white;
        text-align: center;
        padding: 12px 28px;
        display: inline-block;
        margin: 4px 2px;
        border: 1px solid white;
        background-color: transparent;
        font-weight: 700;
      "
    >
      Submit
    </button>
    <div id="feedback_error"></div>
  </form>
</div>
<style>
  @media (max-width: 991px) {
    h1 {
      font-size: 28px !important;
    }
  }
  </style>