<div class="card-body">
    <div class="row">
      <div
        class="text-center text-md-center mb-4 mb-md-0"
      >
        <h1 style="font-size: 52px; font-weight: 700">
            In an era where connectivity is king,
          <span style="color: #98cc33">compatibility is your kingdom</span>
        </h1>
      </div>
      <!-- <div class="col-12 col-md-3 order-md-2 text-center">
        <img
          style="width: 190px; height: 127px"
          src="/assets/images/content/bigtop_logo.png"
          class="img-fluid"
          alt="Bigtop Logo"
        />
      </div> -->
    </div>
  </div>
  <style>
    @media (max-width: 991px) {
      h1 {
        font-size: 28px !important;
      }
    }
  </style>
  
  