
<div class="banner-section">
   
</div>

<section class="connectivity-section">
  <div class="text-container">
    <p>In an era where connectivity is king,</p>
    <p><span>compatibility is your kingdom</span></p>
  </div>
</section>

<section class="flex-container">
    <div class="text-section">
      <h2>ONELab revolutionizes edge and IoT device interoperability testing.</h2>
      <h2>We help Silicon Vendors and Device Makers to conduct continuous interoperability tests among different Operating Systems and Cloud Services.</h2>
    </div>
    <div class="form-section" id="onelab_contact_form_modal">
      <div id="feedback_response"></div>
      <h3 id="form_text">Reach out to our team and level up your interoperability testing process</h3>
      <form id="onelab_contact_form" class="needs-validation" novalidate>
        <input type="hidden" name="form_id" value="7" />
        <div class="form-group">
          <input type="text" name="customfield_13155" id="customfield_13155" placeholder="First Name" class="form-control" required>
          <div class="invalid-feedback">Please provide a valid first name.</div>
        </div>
        <div class="form-group">
          <input 
           type="text" 
           name="customfield_13156" 
           placeholder="Last Name" 
           id="customfield_13156"
           class="form-control"
           required>
           <div class="invalid-feedback">Please provide a valid last name.</div>
        </div>
        <div class="form-group">
          <input 
           type="email" 
           name="email" 
           placeholder="Email address" 
           id="email"
           class="form-control" required>
          <div class="invalid-feedback">Please provide a valid email address.</div>
        </div>
        <div class="">
          <input 
           type="text" 
           name="customfield_13368" 
           placeholder="Company name" 
           id = "customfield_13368"
           class="form-control" 
           required>
           <div class="invalid-feedback" >Please provide a valid company name.</div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="customfield_checkbox" name="customfield_checkbox" required>
          <label class="form-check-label" for="flexCheckDefault">
             <div class="d-flex flex-row"><p>I’ve read and agreed to Linaro’s <a class="icon-link-hover text-blue-500" href="https://www.linaro.org/legal#privacy-policy2">Privacy Policy</a></p></div>
          </label>
        <div class="">
          <button type="submit" id="submitButtononelabForm" class="submit-btn">Submit</button>
        </div>
        <div id="feedback_error"></div>
      </form>
    </div> 
  </section>
  <section class="full-width">
    <div>
      <h1>ONELab is innovation done right</h1>
      <img src="/assets/images/content/ONELab-Mid-diagram.svg" alt="ONELab Diagram">
    </div>
  </section>
  <section class="container">
    <div class="flex flex-wrap ">
        
        <div class="feature-column">
            <div class="feature-card">
                <img src="/assets/images/content/Time-icon.svg" alt="Time-icon">
                <span>SAVE TIME AND RESOURCES</span>
                <p>
                    Designed to streamline the testing and Arm SystemReady and PSA Certified certification process, making it effortless for users to verify hardware and software compatibility.
                </p>
            </div>
        </div>
        
        <div class="feature-column">
            <div class="feature-card">
                <img src="/assets/images/content/Minimise-risk-icon.svg" alt="Minimise-risk-icon">
                <span>MINIMIZE RISKS AND REDUCE COSTS</span>
                <p>
                    Identify issues early by addressing compatibility concerns throughout your development process, reducing the risk of costly setbacks later on.
                </p>
            </div>
        </div>
       
        <div class="feature-column">
            <div class="feature-card">
                <img src="/assets/images/content/Trust-icon.svg" alt="Trust-icon">
                <span>TRUST GRANTED</span>
                <p>
                    Provide evidence that products are cloud-native edge-ready and ensures products work seamlessly together.
                  </p>
            </div>
        </div>
    </div>
    <div class="challenges">
        <h2 style="font-weight: 100;">Solving the challenges of cloud-native edge computing requires collaboration among all contributing players.</h2>
        <h2>With ONE Lab you can focus on your core business, ensuring seamless compatibility with your partner products.</h2>
    </div>
</section>
<section class="relative" style="position: relative;"> 
    <!-- Diagram and Info Boxes HTML -->
    <img src="/assets/images/content/ONELab-Flow-diagram.svg" alt="" class="xl:w-9/12">
    <div class="info-box">
        <div style="margin-left: 30px;">
          <h1 >You provide...</h1>
          <p >ONELab operates like a virtual plug fest</p>
        </div>
          <ul>
              <li>
                  <span>1</span>
                  Contribute your platforms for testing
              </li>
              <li class="flex items-center">
                  <span>2</span>
                  Provide OSes, test suites and software
              </li>
              <li class="flex items-center">
                  <span>3</span>
                  Connect securely to ONELab
              </li>
          </ul>
    </div>
    <div class="test-box">
        <h1 style="margin-left: 30px;">We TEST!</h1>
      <ul>
          <li>
              <span>4</span>
              ONElab schedules test runs
          </li>
          <li class="flex items-center">
              <span>5</span>
              <p style="width: 84%; margin-top: 22px;">Collect results, generate reports, rerun tests to avoid regressions</p>
          </li>
          
      </ul>
    </div>
</section>
<div class="main-wrapper">
    <div class="main-wrapper-container">
      <div class="title">Supporting Partners</div>
      <div class="title-line"></div>
      <div class="partners">
        <div class="partner"><img src="../assets/images/content/cropped-adlink-logo.png" alt="ADLINK Logo"></div>
        <div class="partner"><img src="../assets/images/content/amdxilinx.svg" alt="AMD XILINX Logo"></div>
        <div class="partner"><img src="../assets/images/content/arm.svg" alt="ARM Logo"></div>
        <div class="partner"><img src="../assets/images/content/Bosch.svg" alt="BOSCH Logo"></div>
        <div class="partner"><img src="../assets/images/content/OPENEULER.svg" alt="OpenEuler Logo"></div>
        <div class="partner"><img src="../assets/images/content/Qualcomm.svg" alt="Qualcomm Logo"></div>
        <div class="partner"><img src="../assets/images/content/Renesas.svg" alt="Renesas Logo"></div>
        <div class="partner"><img src="../assets/images/content/Texas Instruments.svg" alt="Texas Instruments Logo"></div>
      </div>
    </div>
  </div>
  
<style>
    /* ONELab Section Styling */
    .banner-section {
        min-height:30vh;
        background: no-repeat center/cover url('/assets/images/content/ONELab-banner-image.jpg');
        
        
    }
    .banner-section p{
        color: white;
        font-size: 2.2 rem;
        
    }
    .one-lab {
        color: white;
        font-size: 3.2rem;
        font-weight: bold;
    }

    @media (min-width: 1024px) {
        .banner-section {
            min-height: 80vh;
            width: 100%;
        }
    }

    .banner-section .text-container,
    .connectivity-section .text-container {
        text-align: center;
    }

   

    

    /* Connectivity Section Styling */
    section.connectivity-section {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem; 
    }

    @media (min-width: 1024px) {
        section.connectivity-section {
            height: 15rem;
          
        }
    }

    section.connectivity-section p {
        color: white;
        font-size: 1.425rem; 
        margin: 0.5rem 0;
    }

    section.connectivity-section span {
        color: #98cc33;
    }

    @media (min-width: 1024px) {
        section.connectivity-section p {
            font-size: 2.5rem; 
        }
    }
    @media (min-width: 1280px) {
        section.connectivity-section p {
            font-size: 2.5rem; 
        }
    }


    section.flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 32px 0; 
    }
    .text-section{
        width: 100%;
        padding: 16px;
        text-align: center;
    } 
    .form-section {
        width: 100%;
        padding: 16px; 
    }
    @media (min-width: 1024px) {
        .text-section{
            width: 41.666667%; 
            text-align: left;
        } 
        .form-section {
            margin-top: 50px;
            width: 41.666667%; 
            text-align: left;
        }
    }
    h2 {
        margin-bottom: 40px; 
        font-weight: 100; 
        font-size: 2.25rem; 
    }

    .powered {
        font-size: 1.8rem;
       
    }
    @media (min-width: 1025px) {
        .powered{
        font-size: 3.1rem; 
    }
    }
    .form-section {
        background-color: #6c6c6c;
       
    }
    h3 {
        color: white;
        font-size: 2.25rem; 
        font-weight: 500; 
        margin-bottom: 24px; 
    }
    .form-group {
        margin-bottom: 16px; 
    }
    .form-control {
        width: 100%;
        padding: 8px 12px; 
        border: 1px solid #d1d5db; 
    }
    .form-check-label {
        display: flex;
        flex-direction: row;
    }
    .submit-btn {
        display: inline-block;
        background-color: #98cc33;
        color: white;
        padding: 8px 24px; 
        border-radius: 9999px; 
        border: 2px solid white;
        cursor: pointer;
    }
    .btn:hover {
        background-color: darken(#98cc33, 10%);
    }
    .text-blue-500 {
        color: #3b82f6;
    }

    /* Specific styles for validation feedback */
    .invalid-feedback {
        display: none;
        color: red;
        margin-top: 8px;
    }
    section.full-width {
        width: 100%;
    }
    .full-width h1 {
        font-size: 2.25rem; 
        text-align: center;
        font-weight: bold;
        padding: 13px; 
    }
    .full-width img {
        width: 100%;
    }


    
    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: -16px;
    }
    .feature-column {
        width: 100%;
        padding: 16px;
    }
    .challenges{
        margin-top: 30px;
    }
    @media (min-width: 769px) {
        .feature-column {
            width: calc(33.333% - 32px);
        }
        .flex-wrap {
        display: flex;
        justify-content: center;
        }
        .challenges{
            padding: 80px;
            margin:0;
        }
    
    }
    .feature-card {
        background-color: white;
        text-align: center;
        padding: 24px;
        box-shadow: -4px 0px 18px 0px rgba(0,0,0,0.23);
        border-radius: 12px;
        margin-bottom: 16px;
        height: auto;
    }
    @media (min-width: 640px) {
        .feature-card {
            height: 100%;
        }
    }
    .feature-card img {
        height: 80px;
        margin-bottom: 16px;
    }
    .feature-card span {
        display: block;
        font-size: 1.25rem; 
        margin-bottom: 16px;
        font-weight: 600;
    }
    .feature-card p {
        font-size: 1.2rem; 
        margin: 24px 0;
    }

    .challenges h2 {
        font-size: 2rem; 
        text-align: center;
        
    }






    relative {
        position: relative;
    }
    .relative img {
        width: 100%; 
    }
    @media (min-width: 1100px) { 
       
        .relative img {
            width: 65%; 
        }
        .info-box {
            position: absolute;
            right: 67px;
            top: -54px;
            width: 46%;
            border-radius: 12px;
        }
        
        .test-box { 
            position: absolute;
            bottom: 26px;
            right: 57px;
            width:28%;
            border-radius: 12px;
            padding: 0;
        }
    }
    .info-box {
        background-color: #6c6c6c;
        color: white;
        padding: 16px;
       
        
        
    }
    .test-box{
        background-color: #d946ef;
        color: white;
       
        padding: 16px;

    }

    @media (min-width: 1200px) { 
        .relative{
            margin-left: 44px;
            margin-right: 14px;
        }
    }
    .info-box h1, .test-box h1 {
        font-size: 2.25rem; 
       
    }
    .info-box h1 {
        font-weight: 600; 
    }
    .info-box h2 {
        font-weight: bold;
    }
    .info-box ul,  .test-box ul {
        list-style: none;
        padding: 0;
        margin-left: 24px;
        
    }
    .info-box li, .test-box li {
        display: flex;
        align-items: center;
        font-size: 1.25rem; 
        margin-bottom: 12px;
    }
    .info-box span, .test-box span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px; 
        width: 32px; 
        border-radius: 9999px;
        background-color: white;
        color: #6c6c6c;
        margin-right: 12px;
    }  
    
    
    .main-wrapper {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .main-wrapper-container {
    width: 80%;
    max-width: 1200px; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .title-line {
    height: 2px;
    background-color: #000;
    margin-bottom: 20px;
  }
  .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
  }
  .partner {
    flex: 1 1 20%; 
    margin: 10px;
  }
  .partner img {
    max-width: 100%;
    height: auto;
  }
   

</style>


