
<section>
    <div class="h-96 lg:h-screen bg-no-repeat bg-cover bg-center flex items-center justify-center" style="background-image: url('/assets/images/content/ONELab-banner-image.jpg')">
        
        <div class="text-center">
          <h1 class="text-white text-5xl xl:text-9xl font-bold">ONELab</h1>
          <p class="text-white text-3xl lg:text-6xl mt-2">Powered by Linaro</p>
        </div>
      </div>
 </section>
 <section class="bg-black">
  <div class="w-full flex justify-center items-center lg:h-60">
    <div class="text-center">
      <p class="text-white text-lg lg:text-7xl">
        In an era where connectivity is king,
      </p>
      <p class="text-white text-lg lg:text-7xl">
        <span class="text-[#98cc33]">compatibility is your kingdom</span>
      </p>
    </div>
  </div>
 </section>
 <section class="flex flex-wrap justify-center items-center   xl:my-16  ">
  <div class="w-full lg:w-5/12 text-center p-4 xl:text-left ">
    <h2 class="text-4xl mb-10 font-thin lg:w-5/6">ONELab revolutionizes edge and IoT device interoperability testing.</h2>
    <p class="text-4xl  font-thin">
      We help Silicon Vendors and Device Makers to conduct continuous interoperability tests among different Operating Systems and Cloud Services.
    </p>
  </div>
  <div class="w-full lg:w-5/12 bg-[#6c6c6c] p-6 " id="onelab_contact_form_modal">
    <div id="feedback_response"></div>
    <h3 class="text-white text-4xl font-medium mb-6">Reach out to our team and level up your interoperability testing process</h3>
    <form id="onelab_contact_form" class="needs-validation" novalidate>
      <input type="hidden" name="form_id" value="6" />
      <div class="mb-4 form-group">
        <input type="text" name="customfield_13155" id="customfield_13155" placeholder="First Name" class="w-full px-3 py-2 border border-gray-300 form-control" required>
        <div class="invalid-feedback">Please provide a valid first name.</div>
      </div>
      <div class="mb-4 form-group">
        <input 
         type="text" 
         name="customfield_13156" 
         placeholder="LastName" 
         id="customfield_13156"
         class="w-full px-3 py-2 border border-gray-300 form-control"
         required>
         <div class="invalid-feedback">Please provide a valid last name.</div>
      </div>
      <div class="mb-4 form-group">
        <input 
         type="email" 
         name="email" 
         placeholder="Email address" 
         id="email"
         class="w-full px-3 py-2 border border-gray-300 form-control" required>
        <div class="invalid-feedback">Please provide a valid email address.</div>
      </div>
      <div class="mb-6">
        <input 
         type="text" 
         name="customfield_13368" 
         placeholder="Company name" 
         id = "customfield_13368"
         class="w-full px-3 py-2 border border-gray-300 form-control" 
         required>
         <div class="invalid-feedback">Please provide a valid company name.</div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="customfield_checkbox" name="customfield_checkbox" required>
        <label class="form-check-label" for="flexCheckDefault">
           <div class="d-flex flex-row"><p>I’ve read and agreed to Linaro’s <a class="icon-link-hover text-blue-500" href="https://www.linaro.org/legal#privacy-policy2">Privacy Policy</a></p></div>
        </label>
      <div class="">
        <button type="submit" id="submitButtononelabForm" class="btn px-6 py-2 bg-[#98cc33] text-white rounded-full border-2 border-white">Submit</button>
      </div>
      <div id="feedback_error"></div>
    </form>
  </div> 
 </section>
 <section class="w-full">
  <div>
    <h1 class="text-4xl text-center font-bold p-4">ONELab is innovation done right</h1>
    <img src="/assets/images/content/ONELab-Mid-diagram.svg" alt="ONELab Diagram" class="w-full">
  </div>
 </section>
 <section>
  <div class="container mx-auto p-8">
    <div class="flex flex-wrap -mx-4">
      
      <div class="w-full sm:w-1/3 px-4 mb-4 sm:mb-0 ">
        <div class="rounded-xl shadow-[-4px_0px_18px_0px_rgba(0,0,0,0.23)] p-6 bg-white text-center h-auto sm:h-full">
          <div class="flex justify-center mb-4">
            <img src="/assets/images/content/Time-icon.svg" alt="Time-icon" class="h-20">
          </div>
        
          <div class="">
            <span class="text-xl">SAVE TIME AND RESOURCES</span>
            <p class="text-base my-6">
              Designed to streamline the testing and System Ready and PSA certification process, making it effortless for users to verify hardware and software compatibility.
            </p>
          </div>
        </div>
      </div>
  
     
      <div class="w-full sm:w-1/3 px-4 mb-4 sm:mb-0  ">
        <div class="rounded-xl shadow-[-4px_0px_18px_0px_rgba(0,0,0,0.23)] p-6 bg-white text-center h-auto sm:h-full ">
          <div class="flex justify-center mb-4">
            <img src="/assets/images/content/Minimise-risk-icon.svg" alt="Minimise-risk-icon" class="h-20">
          </div>
          
          <div class="mb-4">
            <span class="text-xl mb-2">MINIMIZE RISKS AND REDUCE COSTS</span>
            <p class=" text-base mt-1.5">
              Identify issues early by addressing compatibility concerns throughout your development process, reducing the risk of costly setbacks later on.
            </p>
          </div>
        </div>
      </div>
  
     
      <div class="w-full sm:w-1/3 px-4">
        <div class="rounded-xl shadow-[-4px_0px_18px_0px_rgba(0,0,0,0.23)] p-6 bg-white text-center h-auto sm:h-full">
          <div class="flex justify-center mb-4">
            <img src="/assets/images/content/Trust-icon.svg" alt="Trust-icon" class="h-20">
          </div>
          <div class="mb-4">
            <span class="text-xl mb-2">TRUST GRANTED</span>
            <p class="text-base mt-7 mb-12">
              Provide evidence that products are cloud-native edge-ready and ensures products work seamlessly together.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-20 text-center">
      <h2 class="text-4xl font-thin mb-16">Solving the challenges of cloud-native edge computing requires collaboration among all contributing players.</h2>
      <h2 class="text-4xl font-thin mb-16">With ONE Lab you can focus on your core business, ensuring seamless compatibility with your partner products.</h2>
    </div>
 </section>
 <section class="relative"> 
  <img src="/assets/images/content/ONELab-Flow-diagram.svg" alt="" class="xl:w-9/12">
  <div class="">
    
    <div class="bg-[#6c6c6c] text-white p-4 xl:absolute xl:right-20 xl:top-0 xl:rounded-xl shadow-lg xl:w-auto xl:h-80 2xl:w-1/3   ">
      <div class="xl:mt-3 mb-6 xl:ml-6">
        <h1 class="text-4xl font-semibold text-white mb-8">You provide...</h1>
        <p class="text-white text-xl">ONELab operates like a virtual plug fest</p>
      </div>
        <ul class="space-y-3 xl:ml-6 xl:mb-3 text-xl">
            <li class="flex items-center">
                <span class="flex items-center justify-center h-8 w-8 rounded-full bg-white text-[#6c6c6c] mr-3">1</span>
                Contribute your platforms for testing
            </li>
            <li class="flex items-center">
                <span class="flex items-center justify-center h-8 w-8 rounded-full bg-white text-[#6c6c6c] mr-3">2</span>
                Provide OSes, test suites and software
            </li>
            <li class="flex items-center">
                <span class="flex items-center justify-center h-8 w-8 rounded-full bg-white text-[#6c6c6c] mr-3">3</span>
                Connect securely to ONELab
            </li>
        </ul>
    </div>
    <div class="bg-fuchsia-700 text-white p-4 xl:rounded-xl shadow-lg mt-4 xl:absolute xl:bottom-10 xl:right-0 xl:h-72  xl:w-1/4 2xl:w-auto">
        <h2 class="text-4xl font-bold mb-12 mt-2 mx-4">We TEST!</h2>
      <ul class="space-y-1 xl:ml-4 text-xl">
          <li class="flex items-center ">
              <span class="flex items-center justify-center h-8 w-8 rounded-full bg-white text-fuchsia-700 mr-3">4</span>
              ONElab schedules test runs
          </li>
          <li class="flex items-center">
              <span class="flex items-center justify-center h-8 w-8 rounded-full bg-white text-fuchsia-700 mr-3">5</span>
              <p class="mt-8 w-2/3">Collect results, generate reports, rerun tests to avoid</p>
          </li>
          
      </ul>
    </div>
</div>
</section>
<script src="https://cdn.tailwindcss.com"></script>


