<div class="row">
    <div class="container">
        <div class="col-sm-3 no-padding pr-sm-15">
            <div class="panel-group" id="author-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title text-center">
                            <a role="button" data-toggle="collapse" data-parent="#author-accordion" href="#authorsCollapse"
                                aria-expanded="true" aria-controls="authorsCollapse">
                                Authors
                            </a>
                        </h4>
                    </div>
                    <div id="authorsCollapse" class="panel-collapse collapse dont-collapse-sm" role="tabpanel"
                        aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div id="planet-list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 no-padding feed">
            <h3 class="text-center">Feed <a href="https://linaro.co/planet-feed"><i class="fa fa-rss"></i></a></h3>
            <img id="loader" class="img-responsive" alt="Loading Icon" src="/assets/images/loading.gif" />
            <div id="feed">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div>
            </div>
        </div>

    </div>
</div>
