<div class="row">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-md-3 no-padding pr-sm-15 order-2 order-md-1">
                <div id="planet-list"></div>
            </div>
            <div class="col col-12 col-md-9 no-padding feed order-1 order-md-1">
                <h3 class="text-center">Feed <a href="https://linaro.co/planet-feed"><i class="fa fa-rss"></i></a></h3>
                <img id="loader" class="img-responsive" alt="Loading Icon" src="/assets/images/loading.gif" />
                <div id="feed">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
