<div class="card-body">
    <div class="row">
        <div class="col col-12 col-md-6">
            <h2><b>Project Membership</b></h2>
            <h2>Access to one project</h2>
            <p>Project Members join one Linaro project. To see 
                the full list of projects, go to our <a href="/projects/">Projects page</a>.</p>
        </div>
        <div class="col col-12 col-md-6">
            <figure class="gradient_quote">
                <blockquote>
                  <p>
                    We pay as a member and we contribute engineering in, but we get an order of magnitude engineering out. This allows us to accelerate some of our development on the Arm platforms and the wider ecosystem as a whole, something that we wouldn’t necessarily be able to do internally at Red Hat.
                  </p>
                </blockquote>
                <figcaption>Peter Robinson, Lead Architect, 
                    IoT & Edge, Red Hat</figcaption>
              </figure>
        </div>
    </div>
</div>
