<div class="row content-row pb-0" id="projects">
    <div class="container">
        <div class="row pb-0">
            <div class="col col-12">
                <!--Theme tabs-->
                <ul class="nav nav-tabs row d-none d-xl-flex h-100 pb-0" id="project_theme_tabs">
                    <li class="nav-item col text-center h-100 px-0">
                        <a class="font-weight-bold text-dark nav-link d-flex flex-column align-items-center justify-content-center active h-100" data-toggle="tab" 
                        data-theme="allProjects" href="#allProjects">
                            <img class="tab_icon" src="/assets/images/content/Black_All_projects.svg"
                            alt="{{theme.title}} icon"/>
                            {{site.data.translations.all_projects}}
                        </a>
                    </li>
                    {% for theme in site.themes %}
                        {% unless theme.sub_theme %}
                            <li class="nav-item col text-center h-100 px-0">
                                <a class="font-weight-bold text-dark nav-link d-flex flex-column align-items-center justify-content-center h-100" data-toggle="tab" 
                                data-theme="{{theme.title | slugify}}" href="#{{theme.title | slugify}}">
                                    <img class="tab_icon" src="{{theme.icon_dark}}" alt="{{theme.title}} icon"/>
                                    {{theme.title}}
                                </a>
                            </li>
                        {% endunless %}
                    {% endfor%}
                </ul>
                <!--Theme tabs mobile dropdown-->
                <select class="form-control d-block d-xl-none mb-4" id="themeSelectCollapse">
                    <option value="allProjects">All Projects</option>
                    {% for theme in site.themes %}
                        {% unless theme.sub_theme %}
                            <option value="{{theme.title | slugify}}">{{theme.title}}</option>
                        {% endunless %}
                    {% endfor %}
                </select>
                <!--Projects mobile dropdown-->
                <div class="dropdown d-block d-xl-none mb-4" id="projectsDropdown">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select Project
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for project in site.data.projects["projects"] %}
                            <button class="dropdown-item" data-project-id="{{project['key']}}"
                             data-themes="{% for theme in project['Project Information']['Theme']%}{{ theme | slugify }}{% unless forloop.last %},{% endunless%}{% endfor %}">
                                <img data-src="{{project['icon']}}"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            alt="{{project['Project Information'].title}} icon" class="mr-2 lazyload">
                                <span class="project_title">{{project['Project Information'].title}}</span>
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row projects_info_row">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                {% for theme in site.themes %}
                <div class="theme_description d-none" data-theme-id="{{theme.title | slugify}}">
                    {% unless theme.sub_theme %}
                    {{theme.jumbotron.description | markdownify}}
                    {% endunless %}
                </div>
                {% endfor %}
            </div>
            <div class="col col-12">
                <div id="accordion">
                    {% for project in site.data.projects["projects"] %}
                        {% assign related_blogs = '' | split: ',' %}
                        {% for post in site.posts %}
                            {% if post.related_projects contains project["key"] %}
                                {% assign related_blogs = related_blogs | push: post %}
                            {% endif %}
                        {% endfor %}
                        <div class="card project_card mb-3" data-project-id="{{project['key']}}"
                         data-themes="{% for theme in project['Project Information']['Theme']%}{{ theme | slugify }}{% unless forloop.last %},{% endunless%}{% endfor %}" >
                            <div class="card-header" id="heading-{{project['key']}}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed text-dark text-left pl-0" data-toggle="collapse"
                                        data-target="#{{project['key']}}" aria-expanded="false"
                                        aria-controls="{{project['Project Information'].title | slugify }}">
                                        <img data-src="{{project['icon']}}"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            alt="{{project['Project Information'].title}} icon" class="mr-2 lazyload">
                                        {{project["Project Information"].title}}
                                    </button>
                                </h5>
                            </div>
                            <div id="{{project['key']}}" data-project-id="{{project['key']}}" 
                            data-themes="{% for theme in project['Project Information']['Theme']%}{{ theme | slugify }}{% unless forloop.last %},{% endunless%}{% endfor %}" class="collapse" aria-labelledby="heading-{{project['key']}}"
                                data-parent="#accordion">
                                <div class="card-body pb-0">
                                    <div class="row py-0">
                                        <div class="col col-12 mb-4">
                                            {% if project["Project Information"].description %}
                                                <p class="lead">
                                                    {{project["Project Information"].description}}
                                                </p>
                                            {% endif %}
                                            {% if project["Project Information"]["Project Homepage"] %}
                                                <h3>Project Homepage</h3>
                                                <p>
                                                    {{project["Project Information"]["Project Homepage"]}}
                                                </p>
                                            {% endif %}
                                            {% if project["Project Information"]["How to participate"] %}
                                                <h3>How to participate</h3>
                                                <p>
                                                    {{project["Project Information"]["How to participate"]}}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% assign related_blogs_len = related_blogs | size %}
                                    {% if related_blogs_len > 0 %}
                                    <div class="row py-0">
                                        <div class="col col-12 mb-4 text-center">
                                            <h3>Related Posts</h3>
                                            <ul class="list-group">
                                                {% assign sorted_related_posts = related_blogs | sort: 'date' | reverse | limit: 5 %}
                                                {% for post in sorted_related_posts%}
                                                <li class="list-group-item">
                                                    <a href="{{post.url}}">{{post.title}} - {{post.date | date: "%A, %B %-d, %Y"}} 
                                                        <span class="badge {% if post.category == 'blog' %}badge-primary{% else %}bade-secondary{% endif %} ml-2">{{post.category}}</span></a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% if related_blogs_len > 5 %}
                                        <div class="col col-12 mb-4 text-center">
                                            <a class="btn btn-primary" href="/projects/{{project['key'] | downcase }}/posts/">
                                                View all posts
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>
