<div class="row padded-row" id="content-container">
    <div class="container projects">
        <h2 class="text-center">Featured Projects</h2>
        {% assign sorted-projects = site.data.projects.items | sort: 'name' %}
        {% for project in sorted-projects %}
        <div class="col-xs-6 col-sm-3 col-md-2 project-col">
            <a href="{{project.url}}">
                <div class="project lazyload"
                    style="background-image: url('{{project.image}}');"></div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
