<div class="row content-row" id="projects">
    <div class="container">
        {% for project in site.data.projects %}
            <div class="col col-12 text-center m-t-40">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{project["Project Information"].title}}</h5>
                        <p class="card-text">{{project["Project Information"].description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
