{% assign members_keys = include.object.params | split: "," %}
{% assign unique_linaro_members = "" | split: ',' %}
<div class="col-xs-12">
    <div class="owl-carousel owl-theme" id="members_slider">
        {% for group in site.data.members %}
            {% if members_keys contains group.id %}
                {% for member in group.members %}
                    {% unless unique_linaro_members contains member %}
                        <a href="{{member.url}}" target="_self">
                            <div class="item">
                                <div class="member_image">
                                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        alt="{{member.name}} logo" data-src="{{member.image}}" />
                                </div>
                            </div>
                        </a>
                        {% assign unique_linaro_members = unique_linaro_members | push: member %}
                    {% endunless %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
