{% assign project_keys = include.object.params | split: "," %}
<div class="col-xs-12">
    <div class="owl-carousel owl-theme" id="members_slider">
        {% for project in site.data.projects.items %}
            {% if project_keys contains project.name %}
                <a href="{{project.url}}" target="_self">
                    <div class="item">
                        <div class="member_image">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                alt="{{project.name}} logo" data-src="{{project.image}}" />
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
