<div class="card-body">
  <div class="row">
    <div class="col col-12 col-md-6">
      <h2><b>Segment Group Membership</b></h2>
      <h2>Access to projects within a particular Group</h2>
      <p class="pt-4">
        Group Members drive strategy within a specific segment and can
        participate in any of the Linaro projects run by their Segment Group.
      </p>
    </div>
    <div class="col col-12 col-md-6">
      <div class="d-flex align-items-md-start">
        <div class="col-md-3 col-lg-3 icon_col mt-md-4">
          <img
            class="title_icon img-fluid"
            src="/assets/images/content/linaro_consumer_group.svg"
            alt="Android Ecosystem icon"
          />
          <p>Android Ecosystem</p>
        </div>
        <div class="col-md-3 col-lg-3 icon_col mt-md-4">
          <img
            class="title_icon img-fluid"
            src="/assets/images/content/linaro_automotive_iot_edge_group.svg"
            alt="Automotive, IoT &amp; Edge Devices icon"
          />
          <p>Automotive, IoT &amp; Edge Devices</p>
        </div>
        <div class="col-md-3 col-lg-3 icon_col mt-md-4">
          <img
            class="title_icon img-fluid"
            src="/assets/images/content/linaro_datacenter_cloud_group.svg"
            alt="Arm Based Cloud Computing and Servers icon"
          />
          <p>Arm Based Cloud Computing &amp; Servers</p>
        </div>
        <div class="col-md-3 col-lg-3 icon_col mt-md-4">
          <img
            class="title_icon img-fluid"
            src="/assets/images/content/linaro_windows_group.svg"
            alt="Windows on Arm icon"
          />
          <p>Windows on Arm</p>
        </div>
      </div>
    </div>
  </div>
</div>
