<div class="row">
<div class="container">
<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs support-tabs" role="tablist" id="tabbed_nav">
        <li role="presentation" class="active">
            <a href="#linaro-members" aria-controls="linaro-members" role="tab" data-toggle="tab">For Linaro Members</a>
        </li>
        <li role="presentation">
            <a href="#lds-customers" aria-controls="lds-customers" role="tab" data-toggle="tab">For Linaro Developer
                Services Customers</a>
        </li>
        <li role="presentation">
            <a href="#wider-community" aria-controls="wider-community" role="tab" data-toggle="tab">For the wider
                community</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" id="tabbed_nav_content">

        <div role="tabpanel" class="tab-pane tab-pane-legal active" id="linaro-members">
            <p>If your company is a Linaro member, Linaro Developer Technical Support is one of the benefits you get. We
                are here to
                guide and support you on Linaro’s software releases, contributions to open source and training material.
                If you are
                unsure whether you company has access to LDTS then visit <a
                    href="https://www.linaro.org/members-by-group/">our list
                    of members</a> and check if your company is a Core, Club or Group member.</p>
            <p>The scope of support we provide is very broad, reflecting the many different areas Linaro operates in.
                Examples of
                technologies around which we provide support include GNU and LLVM toolchains for Arm platforms, Linux
                kernel
                (including mainline, Linaro Stable Kernel and kernel testing), power optimization and testing, OP-TEE,
                QEMU/KVM,
                LAVA, SQUAD and any work by your landing team. </p>
            <p>To raise an LDTS ticket simply send an e-mail to <a
                    href="mailto:support@linaro.org">support@linaro.org</a> from your
                company e-mail address or, if you prefer, register using your company e-mail address at <a
                    href="https://support.linaro.org">https://support.linaro.org</a> . LDTS uses domain names to
                prioritize tickets
                from member companies, if you do not use your company e-mail address then your ticket will not be
                prioritized
                correctly.</p>
        </div>
        <!--LDS Customers Tab -->
        <div role="tabpanel" class="tab-pane tab-pane-legal" id="lds-customers">
            <p>Linaro Developer Technical Support is available to Linaro Developer Services customers at an additional
                fee as part
                of their contract. The scope of cover will vary depending on the contract and Statement of Work with
                each individual
                customer.</p>
            <p>If you are unsure as to whether your company has Linaro Developer Technical Support as part of its
                contract, please
                raise a ticket with us nonetheless. We are briefed on the support levels of each customer - if you do
                not receive
                support as part of your contract we will treat your query as a community ticket.</p>
            <p>
                To raise an LDTS ticket simply send an e-mail to <a
                    href="mailto:support@linaro.org">support@linaro.org</a> from company e-mail
                address or, if you prefer, register using your company e-mail address at
                <a href="https://support.linaro.org">https://support.linaro.org</a>. LDTS uses domain names to
                prioritize tickets from our
                customers, if you do not use your company e-mail address then your ticket will not be prioritized
                correctly.
            </p>
        </div>
        <!--End - LDS Customers Tab-->
        <!--Wider Community Tab Start-->
        <div role="tabpanel" class="tab-pane tab-pane-legal" id="wider-community">
            <p>As an Open Source consortium, Linaro does not have a commercial product set; rather, we are Member funded
                for Member
                directed projects and efforts for Linux on Arm. Community (non-Member) tickets are therefore handled on
                a best
                effort basis. Our free-of-charge service does not provide comprehensive technical support. The scope is
                much
                less broad than that offered to members and customers and we are not able to look deeply into specific
                problems. However where we have information to hand that can help, we will be delighted to share it.</p>
            <p>Additional Linaro Community Support can also be found at:</p>
            <ul>
                <li><a href="http://www.linaro.org/engineering/getting-started">Getting Started</a></li>
                <li><a href="https://wiki-archive.linaro.org/GettingInvolved/IRC">IRC</a></li>
                <li><a href="http://www.linaro.org/engineering/mailing-lists">Mailing Lists</a></li>
                <li><a href="https://wiki-archive.linaro.org/">Wiki</a></li>
                <li><a href="http://www.linaro.org/linux-on-arm/community">Community</a></li>
                <li><a href="http://www.linaro.org/downloads/">Downloads</a></li>
            </ul>
            <p>
                To raise an LDTS ticket simply send an e-mail to <a
                    href="mailto:support@linaro.org">support@linaro.org</a> or, if you prefer,
                register at <a href="https://support.linaro.org">https://support.linaro.org</a>.
            </p>
        </div>
        <!--End - Wider Community Tab-->
    </div>
</div>
</div>
</div>
