<div class="row" id="about-gdpr-row" style="">
    <div class="container">
        <div class="col-sm-6 no-padding">
            <h2>What is GDPR?</h2>
            <p>
                GDPR (General Data Protection Regulation) is the name for new data protection legislation that came into
                effect across the EU (and for any companies who hold information about EU citizens) on the 25th of May
                2018.
            </p>
            <p>
                The legislation impacts all types of website that collect, store, or process information about
                individuals - whether they are employees, job candidates, employees of our partners, contractors, or
                anyone else.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="/assets/images/content/gdpr-rounded.png" class="center-block lazyload img-responsive" />
        </div>
    </div>
</div>
