<div class="card-body">
    <div class="row">
        <div class="col col-12 col-md-8">
            <h2><b>Project Membership</b></h2>
            <h2>Access to one project</h2>
            <p>Project Members join one Linaro project. To see 
                the full list of projects, go to our Projects page.</p>
        </div>
        <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
                <blockquote>
                  <p>
                    We pay as a member and we contribute engineering in, but we get an order of magnitude engineering out. This allows us to accelerate some of our development on the Arm platforms and the wider ecosystem as a whole, something that we wouldn’t necessarily be able to do internally at Red Hat.
                  </p>
                </blockquote>
                <figcaption>Peter Robinson, Lead Architect, 
                    IoT & Edge, Red Hat</figcaption>
              </figure>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-12 col-md-8">
            <h2><b>Segment Group Membership</b></h2>
            <h2>Access to projects within a particular Group</h2>
            <p>Group Members drive strategy within a 
                specific segment and can participate in any 
                of the Linaro projects run by their Segment 
                Group.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
                <blockquote>
                  <p>
                    When there are features that are beneficial 
                    to a group of companies and we all need the 
                    problem solved but it isn’t our differentiating 
                    feature, it just has to get done, Linaro is a 
                    great place to make that happen and they 
                    know how to make collaboration work.
                  </p>
                </blockquote>
                <figcaption>Todd Kjos, Technical Lead, Android Kernel 
                    Team, Google</figcaption>
              </figure>
        </div>
        <div class="col col-12 col-md-8">
            <h2>Linaro Consumer Group</h2>
            <p>The Linaro Consumer Group’s mission is to 
                improve the Android Open Source Project 
                (AOSP) ecosystem through collaborative 
                activities that benefit members across all 
                Android use cases. To learn more about the 
                problems the Linaro Consumer group are 
                solving, go to the Android Ecosystem page.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-12 col-md-8">
            <h2>Linaro Edge Computing Group</h2>
            <p>The Linaro Edge Computing group (LEDGE) is 
                collaborating with its members to establish a 
                secure boot process that adheres to industry 
                standards such as SystemReady, PSA, and 
                PARSEC. The team is also tirelessly working to 
                eliminate non-differentiating rework in the 
                reference stack and implement features such as 
                hypervisor independence and establishing virtio 
                interfaces to abstract even heterogeneous 
                system differences. To learn more about the 
                problems the Edge Computing Group are solving, 
                go to the Automotive, Edge & IoT Devices page.</p>
        </div>
        <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
                <blockquote>
                  <p>
                    The value we get out of being a member is 
                    that we can collaborate with other companies. 
                    It is awkward to call up one of our competitors 
                    and say hey we are working on this stuff it 
                    would make sense for us to collaborate. It is 
                    much better if you have an organisation that 
                    can facilitate that and Linaro is doing a 
                    fantastic job doing just that.
                  </p>
                </blockquote>
                <figcaption>Tomas Evensen, CTO Open Source 
                    Software, AMD/Xilinx</figcaption>
              </figure>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
                <blockquote>
                  <p>
                    In order to become part of the open source 
                    community, I felt it was very important to 
                    join our peers. I believe we benefited greatly 
                    from joining Linaro since we now have a 
                    connection with various communities 
                    including Linaro and the Linux Community.
                  </p>
                </blockquote>
                <figcaption>Kouichi Hirai, Fujitsu</figcaption>
              </figure>
        </div>
        <div class="col col-12 col-md-8">
            <h2>Linaro Datacenter & Cloud Group</h2>
            <p>The Linaro Data Center Group’s primary goal 
                is to advance the Arm server technology. To 
                read more about the problems the 
                Datacenter & Cloud Group are solving, go 
                to the Cloud Computing & Servers page.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-12 col-md-8">
            <h2>Linaro Windows Group</h2>
            <p>The Windows on Arm project aims to 
                establish a healthy self-sustaining Arm open 
                source ecosystem for Windows. To learn 
                more about the problems the Windows on 
                Arm Group are solving, go to the Windows 
                on Arm page.</p>
        </div>
        <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
                <blockquote>
                  <p>
                    Probably the most valuable thing we have got 
                    out of our membership is the glue they have 
                    given us in bringing the partnership together 
                    between Microsoft, Qualcomm and Arm as we 
                    stand shoulder to shoulder to move the 
                    mountain of this OSS software to the platform 
                    for Windows on Arm. That has been possible 
                    through the relationship with Linaro.
                  </p>
                </blockquote>
                <figcaption>Marcus Perryman, Principal Engineer, 
                    Microsoft</figcaption>
              </figure>
        </div>
    </div>
</div>
