
<div class="col-xs-12 work_footer no-padding">
<hr />
<div class="col-sm-4 work_footer_col">
    <ul class="list-unstyled">
      <li class="work_footer_li">
          <a href="/engineering/core/">
              <b>Core</b>
          </a>
      </li>
      {% for core_group in site.core %}
          <li class="work_footer_li">
            <a href="{{core_group.permalink}}">
              {{core_group.title}}
            </a>
          </li>
      {% endfor %}
    </ul>

    <ul class="list-unstyled">
      <li class="work_footer_li">
          <a href="/engineering/groups/">
              <b>Groups</b>
          </a>
      </li>
      {% assign groups = site.groups | sort: 'group_id' %}
      {% for segment_group in groups %}
          <li class="work_footer_li">
            <a href="{{segment_group.permalink}}">
              {{segment_group.title}}
            </a>
          </li>
      {% endfor %}
    </ul>
</div>
  <div class="col-sm-4 work_footer_col">
    <ul class="list-unstyled">
      <li class="work_footer_li">
          <a href="/sig/">
              <b>Special Interest Group (SIG)</b>
          </a>
      </li>
      {% for sig in site.sig %}
        {% if sig.sig_id %}
          <li class="work_footer_li">
            <a href="{{sig.permalink}}">
              {{sig.title}}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="list-unstyled">
        <li class="work_footer_li">
            <a href="/engineering/incubators/">
                <b>Incubators</b>
            </a>
        </li>
        {% assign incubators = site.incubators | sort: 'incubator_id'  %}
        {% for incubator in incubators %}
        {% if incubator.incubator_id %}
        <li class="work_footer_li">
            <a href="{{incubator.permalink}}">
                {{incubator.title}}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
  </div>

<div class="col-sm-4 work_footer_col">
    <ul class="list-unstyled">
      <li class="work_footer_li">
        <a href="/services/">
            <b>Developer Services</b>
        </a>
      </li>
      {% assign services = site.services | sort: 'service_id' %}
      {% for service in services %}
        {% if service.service_id %}
          <li class="work_footer_li">
            <a href="{{service.permalink}}">
                {{service.title}}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
</div>
