<div class="row my-4">
    <div class="col col-12 col-md-6 d-flex px-md-5 flex-column justify-content-around membership_col">
        <div class="cta_video_container">
            <div class="modal fade video_modal" id="testimonial">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Microsoft - Windows on Arm Testimonial</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video class="lazyload img-fluid testimonial_video" controls="controls" preload="none">
                                    <source src="https://static.linaro.org/videos/Windows_on_Arm_Microsoft.ogv" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item testimonial">
                <div class="row">
                    <div class="col col-12 block__image">
                        <a data-toggle="modal" href='#testimonial'>
                            <div class="video_placeholder_image d-flex align-items-center justify-content-center text-center flex-column position-relative">
                                {% picture feature_block_image "/assets/images/content/woa_microsoft_testimonial.png" --alt "Todd Kjos, Google cover image" %}
                                <div class="play_button position-absolute">
                                    <i class="icon-youtube-play" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 col-md-6 d-flex px-md-5 flex-column membership_col">
        <h3 class="cta_header py-4 font-weight-bold">Why work with Linaro?</h3>
        <p class="cta_text">
            Linaro is driving the collaborative work needed to build a self-sustaining Windows on Arm ecosystem. All of the work enabling Windows to run natively on Arm is made possible through the collaboration between Linaro and its members in the Linaro Windows on Arm Group. Joining the Linaro Windows on Arm Group allows you to be part of the conversation which decides what work needs to be prioritized and how.
        </p>
    </div>
</div>