<div class="row">
    <div class="col col-12 col-sm-8">
        <h3>{{page.name}} {{site.data.translations.woa.overview}} - Windows on Arm</h3>
        {{content}}
        {% if page.links %}
        <ul class="woa_list">
            {% for link in page.links %}
                <li>
                    <a href="{{link.url}}">{{link.text}}</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col col-12 col-sm-4">
        {% assign block_image = page.logo %}
        {% capture block_image_alt %}{{page.title}} logo {% endcapture %}
        {% picture card_block_image {{block_image}} --alt {{block_image_alt}} %}
    </div>
</div>