<div class="row">
    <div class="col col-12">
        <div class="projects_wrapper">
            <div class="row">
                {% for project in site.woa %}
                    {% unless project.future_project %}
                    <div class="col col-6 col-sm-3 col-md-2">
                        <a  href="{{project.url}}">
                            <div class="project_container">
                                {% assign block_image = project.logo %}
                                {% capture block_image_alt %}{{project.name}} logo {% endcapture %}
                                {% picture card_block_image {{block_image}} --alt {{block_image_alt}} %}
                                <h4>
                                    {{project.name}}
                                </h4>
                            </div>
                        </a>
                    </div>
                    {% endunless %}
                {% endfor %}
            </div>
        </div>
        <div>
            <p><b>For feedback or request support for a missing package, <a href="https://linaro-servicedesk.atlassian.net/servicedesk/customer/portal/22/group/85/create/301">click here</a>.</b></p>
        </div>
    </div>
</div>