<div class="col col-12">
    <div class="row d-flex flex-row justify-content-center align-items-center">
        <div class="col col-12 col-md-4">
            <a href="/blog/tags/?tag=Windows%20on%20Arm">
                <div class="block_wrapper my-4 text-center">
                    <img class="icon_image d-block mx-auto my-3" src="/assets/images/content/Icon_blog.svg" alt="Blogs Icon"/>
                    <h3 class="text-dark">
                        {{page.title}} {{site.data.translations.qlb.news}}
                    </h3>
                </div>
            </a>
        </div>
    </div>
</div>
