<div class="row hub-row"><!--Start Row-->
    <div class="container"><!--Start Container-->
        <div class="row">
            <div class="col col-12 col-md-4 col-md-offset-2 no-padding">
                <!--
                    Latest News & Blogs section
                    Takes JSON output from all of our static sites and gets the top 10
                    most recent blogs and posts.
                -->
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading text-center">Latest News & Blogs</div>
                    <!-- List group -->
                    <ul class="list-group">
                        <div id="all-news-and-blogs">
                            <img src="/assets/images/content/linaro-loader.gif" class="img-fluid center-block" alt="Animated loading icon - dots circle"/>
                        </div>
                        <a href="/resources/news-and-blogs/">
                            <li class="list-group-item list-group-item-success text-center">All News & Blogs</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col col-12 col-md-4 no-padding">
                <div class="panel panel-default">
                    <!--
                        Latest Event resources
                        This takes the JSON output from the connect resources JSON endpoints and combines with other
                        resources to show the latest event resources that Linaro has to offer.
                    -->
                    <!-- Default panel contents -->
                    <div class="panel-heading text-center">Latest Event Resources</div>
                    <!-- List group -->
                    <ul class="list-group">
                        <div id="event-resources">
                            <img src="/assets/images/content/linaro-loader.gif" class="img-fluid center-block" alt="Animated loading icon - dots circle" />
                        </div>
                        <a href="https://resources.linaro.org/">
                            <li class="list-group-item list-group-item-success text-center">All Event Resources</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
