<div class="container">
  <div class="row col-sm-12 py-2">
    <img
      src="/assets/images/content/Maintaining_Secure_image.jpg"
      alt="Image"
      class="img-fluid mx-auto d-block"
    />
    <div
      class="heroContent text-white col-sm-6 position-absolute col col-12 col-md-6 d-flex flex-column"
      style="top: -1.5%"
    >
      <h3 class="cta_header font-weight-bold" style="padding-top: 10%">
        Maintaining Secure and Up to Date Android Devices
      </h3>
      <p
        class="pHero"
        style="
          padding-bottom: 10%;
          overflow-wrap: break-word;
          word-break: break-all;
        "
      >
        There are millions of Android devices all over the world that need to be
        kept secure and up to date. But how do you make that happen? Linaro has
        been active in the Android community for many years, specialising in
        getting security patches and features upstreamed so that the community
        as a whole can benefit. Equally crucial to ensuring Android devices are
        secure and up to date is the regular testing of upstream kernels. Linaro
        created the testing framework which is used to do just this - Linux
        Kernel Functional Test (LKFT). Linaro runs regular tests of upstream
        kernels with AOSP and creates regression reports to the community,
        authoring fixes to specific issues which are then passed along to the
        correct community to take action.
      </p>
    </div>
  </div>
</div>
<style>
  @media (max-width: 1200px) {
    .container {
      max-width: 100%;
    }
  }
</style>
