<div class="row border-top border-white my-4">
    <div class="col col-12 col-md-6 d-flex px-md-5 flex-column justify-content-around membership_col">
        <div class="cta_video_container">
            <div class="modal fade video_modal" id="testimonial{{forloop.index}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Todd Kjos, Google</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video class="lazyload img-fluid testimonial_video" controls="controls" preload="none">
                                    <source src="https://static.linaro.org/videos/Google_Todd_Kjos.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 col-md-6 d-flex px-md-5 flex-column membership_col">
        <h3 class="cta_header py-4 font-weight-bold">Why work with Linaro?</h3>
        <p class="cta_text">
            Linaro plays a leading role in ensuring Android devices are tested, secure and up-to-date with the latest
            features. All of this is made possible through the collaboration that takes place between Linaro and its
            members in the Linaro Consumer Group. Joining the Linaro Consumer Group allows you to be part of the
            conversation which decides what work needs to be prioritized and how.
        </p>
    </div>
</div>