{% for theme in site.data.theme_members %}
    {% if theme.name == page.title %}
        {% assign members = theme.members %}
    {% endif %}
{% endfor %}
<div class="row bg-light" id="members_section">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            {% assign core_members = "" | split: "," %}
            {% assign other_members = "" | split: "," %}
            {% for member in members %}
                {% assign found = "false" %}
                {% for group in site.data.members %}
                    {% if group.id == "core" %}
                        {% for group_member in group.members %}
                            {% if group_member.name == member.name %}
                                {% assign core_members = core_members | push: group_member %}
                                {% assign found = "true" %}
                            {% endif %}
                        {% endfor %}
                    {% elsif group.id == "club" or group.id == "group" %}
                        {% for group_member in group.members %}
                            {% if group_member.name == member.name %}
                                {% unless other_members contains group_member %}
                                    {% assign other_members = other_members | push: group_member %}
                                    {% assign found = "true" %}
                                {% endunless %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if found == "false" %}
                    {% assign other_members = other_members | push: member %}
                {% endif %}
            {% endfor %}
           
            {% assign sorted_core_members = core_members | sort: 'name' %}
            {% for member in sorted_core_members %}
                <div class="col-md col-sm-4 col col-6 vcenter-img member_col">
                    <div class="member_image mb-3 mb-sm-0">
                        {% if member.uri %}<a href="{{member.uri}}">{% endif %}
                            <img
                                data-src="{{member.image}}"
                                alt="{{member.name}}"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                class="img-fluid members-img lazyload center-block"
                            />
                        {% if member.uri %}</a>{% endif %}
                    </div>
                </div>
            {% endfor %}
            {% assign sorted_other_members = other_members | sort: 'name' %}
            {% for member in sorted_other_members %}
                <div class="col-md col-sm-4 col col-6 vcenter-img member_col">
                    <div class="member_image mb-3 mb-sm-0">
                        {% if member.uri %}<a href="{{member.uri}}">{% endif %}
                            <img
                                data-src="{{member.image}}"
                                alt="{{member.name}}"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                class="img-fluid members-img lazyload center-block"
                            />
                        {% if member.uri %}</a>{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
