{% for theme in site.data.theme_members %}
    {% if theme.name == page.title %}
        {% assign members = theme.members %}
    {% endif %}
{% endfor %}
<div class="row dotted_border_top_bottom">
    <div class="container">
        <div class="row">
            {% for member in members %}
                <div class="col-md col-sm-4 col col-6 vcenter-img">
                    <div class="member_image">
                    <img
                        data-src="{{member.image}}"
                        alt="{{member.name}}"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        class="img-fluid members-img lazyload center-block"
                    />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
