{% for theme in site.data.theme_members %}
    {% if theme.name == page.title %}
        {% assign members = theme.members %}
    {% endif %}
{% endfor %}
<div class="row bg-light" id="members_section">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            {% for member in members %}
                <div class="col-md col-sm-4 col col-6 vcenter-img member_col">
                    <div class="member_image mb-3 mb-sm-0">
                    <img
                        data-src="{{member.image}}"
                        alt="{{member.name}}"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        class="img-fluid members-img lazyload center-block"
                    />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
