<div class="row">
    <div class="col col-12 col-lg-4">
        <a class="whitepaper_link" href="https://linaro.co/automotive-white-paper">
            <div class="whitepaper-wrapper">
                {% capture image_alt %}{{site.data.translations.aiwpb.car_sensors}}{% endcapture%}
                {% picture card_block_image /assets/images/content/Car_sensors.jpg --alt {{image_alt}} %}
                <div class="whitepaper_text">
                    <h3>
                        {{site.data.translations.aiwpb.sdv}}
                    </h3>
                </div>  
            </div>
        </a>
    </div>
    <div class="col col-12 col-lg-4">
        <a class="whitepaper_link" href="https://linaro.co/trusted-substrate-white-paper">
            <div class="whitepaper-wrapper">
                {% capture image_alt %}{{site.data.translations.aiwpb.push_to_start}}{% endcapture%}
                {% picture card_block_image /assets/images/content/autonomous-driving-bg.jpg --alt {{image_alt}} %}
                <div class="whitepaper_text">
                    <h3>
                        {{site.data.translations.aiwpb.edf}}
                    </h3>
                </div>  
            </div>
        </a>
    </div>
    <div class="col col-12 col-lg-4">
        <a class="whitepaper_link" href="https://linaro.co/iot-whitepaper">
            <div class="whitepaper-wrapper">
                {% capture image_alt %}{{site.data.translations.aiwpb.car_sensors}}{% endcapture%}
                {% picture card_block_image /assets/images/content/ConAI_promo.jpg --alt {{image_alt}} %}
                <div class="whitepaper_text">
                    <h3>{{site.data.translations.aiwpb.ai_for_mcus}}</h3>
                </div>  
            </div>
        </a>
    </div>
</div>