<div class="row">
    <div class="col col-12 col-lg-4">
        <a class="whitepaper_link" href="https://linaro.co/automotive-white-paper">
            <div class="whitepaper-wrapper">
                {% capture image_alt %}Car sensors{% endcapture%}
                {% picture card_block_image /assets/images/content/Car_sensors.jpg --alt {{image_alt}} %}
                <div class="whitepaper_text">
                    <h3>
                        Software Dened
                        Vehicles and the need
                        for standardisation
                    </h3>
                </div>  
            </div>
        </a>
    </div>
    <div class="col col-12 col-lg-4">
        <a class="whitepaper_link" href="https://linaro.co/trusted-substrate-white-paper">
            <div class="whitepaper-wrapper">
                {% capture image_alt %}Autonomous driving push button to start{% endcapture%}
                {% picture card_block_image /assets/images/content/autonomous-driving-bg.jpg --alt {{image_alt}} %}
                <div class="whitepaper_text">
                    <h3>
                        Standardization in Edge Device Firmware
                    </h3>
                </div>  
            </div>
        </a>
    </div>
    <div class="col col-12 col-lg-4">
        <a class="whitepaper_link" href="https://linaro.co/iot-whitepaper">
            <div class="whitepaper-wrapper">
                {% capture image_alt %}Car sensors{% endcapture%}
                {% picture card_block_image /assets/images/content/ConAI_promo.jpg --alt {{image_alt}} %}
                <div class="whitepaper_text">
                    <h3>Condential AI for MCUs</h3>
                </div>  
            </div>
        </a>
    </div>
</div>