<div class="card-body">
  <div class="row">
    <div class="col col-12 col-md-12">
      <h2>
        Linaro offers multiple ways to engage in collaborative engineering
      </h2>
      <p>
        Companies collaborate with Linaro and other industry leaders on open
        source projects which address specific needs and challenges. A company
        can choose to join one project, multiple projects within a specific
        working group or all projects which Linaro drives.
      </p>
      <div
        class="d-flex flex-column flex-sm-row justify-content-center"
        style="margin-top: 5%"
      >
        <button
          class="responsive-button mb-4 mb-sm-0"
          style="
            border: 0;
            border-style: inset;
            outline: 0.75rem inset #dad2c8;
            padding: 30px;
            margin-right: 10%;
            width: 100%;
          "
        >
          <b>One project</b>
        </button>
        <button
          class="responsive-button mb-4 mb-sm-0"
          style="
            border: 0;
            padding: 30px;
            margin-right: 10%;
            border-style: inset;
            outline: 0.75rem inset #b4b4b4;
            width: 100%;
          "
        >
          <b>Projects within a Working Group</b>
        </button>
        <button
          class="responsive-button mb-4 mb-sm-0"
          style="
            border: 0;
            padding: 30px;
            border-style: inset;
            outline: 0.75rem inset #e0c29b;
            width: 100%;
          "
        >
          <b>All Linaro projects</b>
        </button>
      </div>
    </div>
  </div>
</div>
