<div class="row engagement_blocks text-left">
  <div
    class="
      col col-12 col-lg-4
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
      <h3>{{site.data.translations.eb_cd.join_lcg}}</h3>
      <div class="engagement_block_content">
        <p>
          {{site.data.translations.eb_cd.lcg_desc1}}
        </p>
        <p>
          {{site.data.translations.eb_cd.lcg_desc2}}
        </p>
        <p>
          {{site.data.translations.eb_cd.lcg_desc3}}
        </p>
        <a href="/membership/groups/" class="btn btn-outline-primary text-dark">
          {{site.data.translations.learnMore}}
        </a>
      </div>
    </div>
  </div>
  <div
    class="
      col col-12 col-lg-4
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="engagement_block text-dark h-100 mb-3">
      <h3>{{site.data.translations.eb_iot.join_club}}</h3>
      <div class="engagement_block_content">
        <p>
          {{site.data.translations.eb_iot.club_desc}}
        </p>
        <a href="/membership/" class="btn btn-outline-primary text-dark"> {{site.data.translations.learnMore}} </a>
      </div>
    </div>
    <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
      <h3>
        {{site.data.translations.eb.dev_svcs}}
      </h3>
      <div class="engagement_block_content">
        <p>
          {{site.data.translations.eb.ds_desc}}
        </p>
        <a href="/services/" class="btn btn-outline-primary text-dark"> {{site.data.translations.learnMore}} </a>
      </div>
    </div>
  </div>
  <div
    class="
      col col-12 col-lg-4
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="engagement_block text-dark h-100 mb-3">
      <h3>{{site.data.translations.eb_iot.join_core}}</h3>
      <div class="engagement_block_content">
        <p>
          {{site.data.translations.eb_iot.core_desc}}
        </p>
        <a href="/membership/" class="btn btn-outline-primary text-dark"> {{site.data.translations.learnMore}} </a>
      </div>
    </div>
    <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
      <h3>
        {{site.data.translations.eb_iot.join_team}}
      </h3>
      <div class="engagement_block_content">
        <p>
          {{site.data.translations.eb_iot.team_desc}}
        </p>
        <a href="/careers/" class="btn btn-outline-primary text-dark"> {{site.data.translations.learnMore}} </a>
      </div>
    </div>
  </div>
</div>
