<div class="row engagement_blocks text-left">
  <div
    class="
      col col-12 col-lg-8
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="row">
      <div class="col col-12 col-lg-6 pb-3">
        <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
          <h3>Join Linaro's Edge & Fog Computing Group</h3>
          <div class="engagement_block_content">
            <p>
              If you want to collaborate with Linaro
              and other industry leaders on projects
              which specifically tackle challenges in
              the edge computing space, the Linaro
              Edge & Fog Computing Group is the
              option for you. The Linaro Edge & Fog
              Computing Group and its members
              have joined forces to make
              hybridization a reality through two
              major efforts - Trusted Substrate and
              the LEDGE Reference Platform.
            </p>
            <a href="/membership/groups/" class="btn btn-outline-primary text-dark">
              Learn more
            </a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-6 pb-3">
        <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
          <h3>Join Linaro's IoT & Embedded Group</h3>
          <div class="engagement_block_content">
            <p>
              If you want to collaborate with Linaro
              and other industry leaders on projects
              which specifically tackle challenges in
              the IoT space, the Linaro IoT &
              Embedded Group is the option for you.
              Linaro's IoT and Embedded Group
              members work collaboratively to
              create and support key standards and
              best in class implementations to enable
              secure connected devices in the Arm
              ecosystem.
            </p>
            <a href="/membership/groups/" class="btn btn-outline-primary text-dark">
              Learn more
            </a>
          </div>
        </div>
      </div>
      <div class="col col-12 ">
        <div class="engagement_block text-dark h-100 mb-3">
          <h3>Join our team!</h3>
          <div class="engagement_block_content">
            <p>
              We frequently hire subject matter experts and maintainers
              - if you're interested in becoming part of our team, go to
              the linaro careers page to find out more.
            </p>
            <a href="/careers/" class="btn btn-outline-primary text-dark"> Learn more </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="
      col col-12 col-lg-4
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="engagement_block text-dark h-100 mb-3">
      <h3>Join as a Linaro Club Member</h3>
      <div class="engagement_block_content">
        <p>
          If you want to collaborate with Linaro
          and other industry leaders on all
          verticals in the Arm Ecosystem, club
          membership is the right option for you.
        </p>
        <a href="/membership/" class="btn btn-outline-primary text-dark"> Learn more </a>
      </div>
    </div>
    <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
      <h3>
        Join as a Linaro Core Member
      </h3>
      <div class="engagement_block_content">
        <p>
          If you want to participate in all the
          work Linaro does as well as have
          access to your own dedicated
          engineering team, then core
          membership is the right option for you.
        </p>
        <a href="/membership/" class="btn btn-outline-primary text-dark"> Learn more </a>
      </div>
    </div>
  </div>
</div>
