<div class="row engagement_blocks text-left">
  <div
    class="
      col col-12 col-lg-4
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
      <h3>Join the Linaro Consumer Group</h3>
      <div class="engagement_block_content">
        <p>
          If you want to collaborate with Linaro
          and other industry leaders in the
          Android Ecosystem specifically, you
          can join the Linaro Consumer Group.
        </p>
        <p>
          The Linaro Consumer Group’s mission
          is to improve the AOSP ecosystem
          through collaborative activities that
          benefit members across all Android use
          cases.
        </p>
        <p>
          Working together with Linaro and
          other industry leaders, member
          companies can enable a great Android
          Developer experience for better
          products.
        </p>
        <a href="/membership/groups/" class="btn btn-outline-primary text-dark">
          Learn more
        </a>
      </div>
    </div>
  </div>
  <div
    class="
      col col-12 col-lg-4
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="engagement_block text-dark h-100 mb-3">
      <h3>Join as a Linaro Club Member</h3>
      <div class="engagement_block_content">
        <p>
          If you want to collaborate with Linaro and other industry leaders on
          all verticals in the Arm Ecosystem, club membership is the right
          option for you.
        </p>
        <a href="/membership/" class="btn btn-outline-primary text-dark"> Learn more </a>
      </div>
    </div>
    <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
      <h3>
        Leverage our expertise on your project through Linaro Developer
        Services.
      </h3>
      <div class="engagement_block_content">
        <p>
          Linaro Developer Services allows you to work with Linaro on a
          one-to-one basis on your specific project.
        </p>
        <a href="/services/" class="btn btn-outline-primary text-dark"> Learn more </a>
      </div>
    </div>
  </div>
  <div
    class="
      col col-12 col-lg-4
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="engagement_block text-dark h-100 mb-3">
      <h3>Join as a Linaro Core Member</h3>
      <div class="engagement_block_content">
        <p>
          If you want to participate in all the work Linaro does as well as have
          access to your own dedicated engineering team, then core membership is
          the right option for you.
        </p>
        <a href="/membership/" class="btn btn-outline-primary text-dark"> Learn more </a>
      </div>
    </div>
    <div class="engagement_block text-dark h-100 mb-3 mb-lg-0">
      <h3>
        Join our team!
      </h3>
      <div class="engagement_block_content">
        <p>
          We frequently hire subject matter experts and maintainers - if you’re
          interested in becoming part of our team, go to the linaro careers page
          to find out more.
        </p>
        <a href="/careers/" class="btn btn-outline-primary text-dark"> Learn more </a>
      </div>
    </div>
  </div>
</div>
