<div class="row engagement_blocks text-left">
  <div
    class="
      col col-12 col-lg-8
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="row">
      <div class="col col-12 col-lg-6 pb-3">
        <div class="engagement_block h-100 text-dark mb-3 mb-lg-0">
          <h3>{{site.data.translations.eb_iot.join_ledge}}</h3>
          <div class="engagement_block_content">
            <p>
              {{site.data.translations.eb_iot.ledge_desc}}
            </p>
            <a href="/membership/groups/" class="btn btn-outline-primary text-btn">
               <span class="text-uppercase font-weight-bold"> >> {{site.data.translations.view}}</span>
                {{site.data.translations.our}} {{site.data.translations.membershipGroups}}
            </a>
          </div>
        </div>
      </div>
      <div class="col col-12 ">
        <div class="engagement_block h-100 text-dark mb-3">
          <h3>{{site.data.translations.eb_iot.join_team}}</h3>
          <div class="engagement_block_content">
            <p>
              {{site.data.translations.eb_iot.team_desc}}
            </p>
            <a href="/careers/" class="btn btn-outline-primary text-btn">
              <span class="text-uppercase font-weight-bold"> >> {{site.data.translations.view}}</span>
               {{site.data.translations.our}} {{site.data.translations.currentVacancies}}
      </div>
  </div>
  <div
    class="
      col col-12 col-lg-4
      engagement_block_col
      d-flex
      flex-column
      justify-content-between
      align-items-center
    "
  >
    <div class="engagement_block h-100 text-dark mb-3">
      <h3>{{site.data.translations.eb_iot.join_club}}</h3>
      <div class="engagement_block_content">
        <p>
          {{site.data.translations.eb_iot.club_desc}}
        </p>
        <a href="/membership/" class="btn btn-outline-primary text-btn"> <span class="text-uppercase font-weight-bold"> >> {{site.data.translations.learnMore}}</span> {{site.data.translations.about}} {{site.data.translations.linaroClubMembership}}  </a>
      </div>
    </div>
    <div class="engagement_block h-100 text-dark mb-3 mb-lg-0">
      <h3>
        {{site.data.translations.eb_iot.join_core}}
      </h3>
      <div class="engagement_block_content">
        <p>
          {{site.data.translations.eb_iot.core_desc}}
        </p>
        <a href="/membership/" class="btn btn-outline-primary text-btn"> <span class="text-uppercase font-weight-bold"> >> {{site.data.translations.learnMore}}</span> {{site.data.translations.about}} {{site.data.translations.linaroCoreMembership}}  </a>
      </div>
    </div>
  </div>
</div>
