<div class="col col-12">
    <div class="row">
        <div class="col col-12 col-md-4">
            <a href="{{page.presentation_link}}">
                <div class="block_wrapper">
                    <img class="icon_image" src="/assets/images/content/Icon_slide_deck.svg" alt="Presentations Icon"/>
                    <h3>
                        {{page.title}} Main Presentation Deck 
                    </h3>
                </div>
            </a>
        </div>
        <div class="col col-12 col-md-4">
            <a href="{{page.video_link}}">
                <div class="block_wrapper">
                    <img class="icon_image" src="/assets/images/content/Icon_Video_presentation.svg" alt="Video Presentation Icon"/>
                    <h3>
                        {{page.title}} Video Resources
                    </h3>
                </div>
            </a>
        </div>
        <div class="col col-12 col-md-4">
            <a href="{{page.blogs_link}}">
                <div class="block_wrapper">
                    <img class="icon_image" src="/assets/images/content/Icon_blog.svg" alt="Blogs Icon"/>
                    <h3>
                        {{page.title}} Blogs
                    </h3>
                </div>
            </a>
        </div>
    </div>
</div>