<div class="col col-12">
    <div class="row bordered-row">
        {% for project in site.data.projects["projects"] %}
            {% if project["Project Information"]["Theme"] == page.title %}
                <div class="col col-12 col-sm-6">
                    <a href="/projects/#{{project["key"]}}">
                        <div class="related_project">
                            {{project["Project Information"]["title"]}}
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>