<div class="card-body text-white">
  <div class="row">
    <div class="col col-12 col-md-12">
      <div style="margin-top: 3%">
        <h2>
          In 2010 the Arm code base was fragmented, slowing down innovation.
        </h2>
        <h2><b>Linaro was formed to consolidate it.</b></h2>
      </div>

      <div style="margin-top: 4%">
        <h2>Fast forward to today...</h2>
      </div>
      <div
        class="d-flex flex-column flex-sm-row justify-content-center"
        style="margin-top: 4%"
      >
        <button
          class="responsive-button mb-4 mb-sm-0"
          style="
            background-color: #eaf3d4;
            border-color: #eaf3d4;
            padding: 30px;
            margin-right: 5%;
            outline: 2px solid #eaf3d4;
            outline-offset: 5px;
            width: 100%;
          "
        >
          <span
            ><b>Linus Torvalds</b> does Linux kernel releases on an Arm64
            laptop</span
          >
        </button>
        <button
          class="responsive-button mb-4 mb-sm-0"
          style="
            background-color: #eaf3d4;
            border-color: #eaf3d4;
            padding: 30px;
            margin-right: 5%;
            outline: 2px solid #eaf3d4;
            outline-offset: 5px;
            width: 100%;
          "
        >
          <span><b>Google</b> ships an Android common kerne</span>
        </button>
        <button
          class="responsive-button mb-4 mb-sm-0"
          style="
            background-color: #eaf3d4;
            border-color: #eaf3d4;
            padding: 30px;
            margin-right: 5%;
            outline: 2px solid #eaf3d4;
            outline-offset: 5px;
            width: 100%;
          "
        >
          <span>All <b>cloud vendors</b> have an <b>Arm</b> offering</span>>
        </button>
        <button
          class="responsive-button mb-4 mb-sm-0"
          style="
            background-color: #eaf3d4;
            border-color: #eaf3d4;
            padding: 30px;
            outline: 2px solid #eaf3d4;
            outline-offset: 5px;
            width: 100%;
          "
        >
          <span><b>Windows on Arm</b> has become a <b>reality</b></span>
        </button>
      </div>
      <div style="margin-top: 4%">
        <h5>
          Linaro and its working groups have played a leading role in all of
          these achievements. Some challenges are too big to solve on your own -
          too expensive or too complex. Linaro provides a forum for industry
          leaders in the Arm ecosystem to collaboratively discuss, agree and
          implement solutions to shared problems.
        </h5>
      </div>
    </div>
  </div>
</div>
