.project_block {
    display:block;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-lighter;
}
.project_image{
    border: 1px solid $brand-primary;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}
p.project_description {
    font-size: 11px;
    font-style: italic;
    height:50px;
    overflow:hidden;
    margin-bottom:20px
}
div.project_filter_panel{
    height:auto;
    padding:10px;
}
.project_title {
    min-height: 35px;
}
div.project_filter_panel button {
    margin-bottom: 20px;
}
#project_grid .mix{
}
.project_image_holder{
    height: 200px;
    width: 255px;
}
