
/* This css file contains all the main styles and structure of the template
excluding colours. */

/* ---------- Body ---------------- */
h1.home-page-text {
    font-size:46px;
    font-weight:700;
}

body {
  padding-top: 100px;
  background:transparent;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  font-family: 'LatoWeb', sans-serif;
}
/*  -------- Paragraph-------------- */
p {
    font-size: 20px;
    font-weight: 400;
    color: #131313 !important;
    line-height: 1.66em;
    margin-top: 15px;
    margin-bottom: 25px;
}

a{
    color: #0084ab;
    transition: all .1s ease;
}
a:hover{
    color:#007395 ;
    text-decoration: none;
    transition: all .1s ease;
}
.btn-primary {
    background-color:#0084ab;
    color:#FFF;
    transition: all 1s ease;
    line-height:20px;
    padding: 10px;
}
.btn-primary:hover {
    background-color: #001c24;
    color: #FFF;
    padding: 10px;
    line-height:20px;
    transition: all 1s ease;
}
/*  -------- Horizontal Rule ------- */
hr {
  border-top: 2px solid #ccc;
  height: 1px;
}
/*  -------- Shape Divider ------- */
#mk-shape-divider-4 .shape__container {
  margin-bottom: 0px;
  }

#mk-shape-divider-4 .shape__container .shape {
  overflow:hidden; height:130;
  }

#mk-shape-divider-4 .shape__container .shape svg {
  position:relative; top:0.4px;
}

/* ---------------------- Home Page Op-tee image ---------------------- */
#optee-vertical-image {
  width: auto;
  height: 277px;
}

/* --------- Main Content Div ----- */
.mainContent{
  margin-top: -19px;
  padding-top:20px;
  padding-bottom:50px;
  line-height: 40px;
  font-size: 18px;
}
/*  -------- Breadcrumb ------------ */

.breadcrumb-container{
  padding:5px;
  font-size: 12px;
  font-weight: lighter;
  line-height: normal;
}

.breadcrumb-container > h1 {

  font-size: 12px;
  font-weight: lighter;
  font-family: 'LatoWeb', sans-serif;
  color: #FFF;
}

ol.breadcrumb {
  border-radius: 0px;
  display: block;
  background-color: transparent;
}

.breadcrumb li {
  font-size: 14px;
}

.breadcrumb>li+li:before {
  content: "\00bb\00a0";
}

.breadcrumb {
  padding: 0px;
}

.breadcrumb-title{
  font-size: 18px;
}

/*  -------- Tabbed Content Sections ------- */
.tab-pane {
    padding:10px;
}
.nav-tabs > li {
    font-size: 14px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}
.nav-tabs > li > a {

    border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
}

.nav-tabs > li > a
{
    /* adjust padding for height*/
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-tabs > li > a::after {
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-pane {
    padding: 15px 0;
}

.tab-row-faq > li {
    height:20px ;
}


/* ------------- Supporting Members Section --------------- */
.member-image{
  width: 50%;
  text-align: center;
}
.members {
  padding:40px;

}

/* ------------------- Projects Styling --------------------*/

.projects-row{
  margin:40px;
}

.post-content img {

  width: 100%;
}
/* ------------ Projects Icons -------------- */
.project-icon{
  display: inline-block;
  width: 100%;
  text-align: center;
}
#projects a:hover{
    text-decoration: none !important;
}


/* -------------------- Table Styles for mobile ------------------------- */

@media only screen and (max-width: 767px) {
    table {

        overflow:auto !important;
        display: block;
    }
}
/* ----------------------- Table Styles ------------------------------ */

table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 100%;
  margin: auto;
  padding:5px;
  width: 100%;
  animation: float 5s infinite;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  overflow-x: auto;
  border-bottom: 5px #9ea7af solid;
}

th {
  color:#FFF;;
  background-color: #00849b;
  border-bottom:5px solid #9ea7af;
  font-size:20px;
  font-weight: normal;
  padding:5px;
  text-align:left;
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  color:#666B85;
  font-size:16px;
  font-weight:normal;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(even) td {
  background:#f7f7f7;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:normal;
  font-size:14px;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* ---------------- Shovans magical Horizontal Rule workaround hack ----- */
.blog-container + hr + hr {
    display: none;
}





/* --------------- Sub footer mailchimp ---------------------- */
.sub-footer {
  background-color: #def7ff;
  padding-top: 25px !important;
  padding-bottom:10px;
}

input#mc-embedded-subscribe {
  color: #fff;
  background-color: #0084ab;
  border-color: #95989A;
}
input#mc-embedded-subscribe:hover {
  color: #fff;
}

/* ----------- Contact ----------*/
#contact-thanks {
    background-color: #0084ab;
}
#contact-thanks div.jumbotron {
    padding:100px;
    margin:0;
    border-radius: 0;
    color: inherit;
    background-color: inherit;
}

#contact-thanks h3 {
    color: #FFF;
}

#banner-area-homepage{
    padding-top:60px;
}

.coloured-bp{
    color: #def7ff;
    font-size:12px;
}

@media(max-width:1092px){
    .media-object{
        margin-bottom:20px;
    }

}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}
