//Body
body {
    background:transparent;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    font-weight: 300;
    font-family: 'LatoWeb', HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    -webkit-font-smoothing: antialiased;
}

//Selection for Highlighting Text on Web Page.
::-webkit-selection,
::-moz-selection,
::selection {
    background-color: #19947B;
    color: #fff;
}
//Search Dropdown input focus
#searchDropdown input:focus {
    outline: none;
}
//Headings
h1, h2, h3, h4, h5, h6 {
    font-family: 'LatoWeb', HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

//Horizontal Rule Styling
hr {
    border-top: 2px solid $gray-light;
}

//Paragraphs
p{
    font-size: 20px;
    font-weight:300;
    color: #000000;
    line-height: 1.66em;
    word-wrap: break-word;
}
//Padded Paragraph
.padded-para{
    padding:20px;
}

#spaced-para{
    font-size: 18px;
    line-height: 40px;
}

// Paragraphs that are justified.
p .justified{
    text-align: justify;
    text-justify: inter-word;
}

// Tab Content paragraph
#content-container p {
    font-size: 20px;
    color: black;
    line-height: 1.66em;
}
//Main Container Style margin accounts for Nav
#main-container{
    margin-top:80px;
    overflow-x: hidden;
}

//Content Container
.row.content-container{ margin-top:20px;}

//Content Container block elements
.content-container p {
    font-size: 20px;
    color: black;
    line-height: 1.66em;
}
.content-container ul { font-size:18px; }
.content-container ol { font-size: 18px;}

//Home Page Heading
#homepage-heading {
    color: $brand-warning;
    font-size: 30pt;
    font-weight: normal;
    line-height: 1.25;
}


//Homepage Sub Tag
p.sub-tag {
    width: 65%;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 21px;
    color: #FFF;
    font-weight: 200;
}

// Buttons
#buttons > a
{
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

//Partners Panel Styling.
.partners-panel img {
    margin-bottom: 60px;
    height:25%;
    width:80%;
}
.partners-panel{
    height:500px;
    margin-top: 40px;
}
//Bottom Border Five Pixels.
.bottom-border-five{ margin-bottom: 5px; }

//Alternate row for theme
.row .alternate-row {
    background-color: #E5E5E5;
    padding: 40px 0;
}
.small-img{
    height:100px;
    width:auto;
}
@media (min-width: $screen-md) {
    .partners-panel {
        margin-top:80px;
    }
    .margin-image {
        padding:40px;
    }

}
.members-panel { margin-top:50px; }

.margin-top { margin-top: 40px;}

.panel-body.members-panel-body {
    margin-top: -55px;
    border: 0;
}
.new-panel .panel-primary > .panel-heading {
    color: #000000;
    font-weight: bold;
    background-color: transparent;
    border:0;
}

// Iframe for Search page.
#searchIframe {
    border:none;
}

//Vertical Center
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

//Contact Hero Banner
.contact-hero{
    height:200px;
    line-height: 200px;
    text-align: center;
    font-size:18px;
    color: #fff;
    background: url(asset_path("noise-1bbc9b.png")) repeat;
}


//----------BOOTSTRAP STYLES ----------------

.panel-primary {
    border:0;
}

//Bootstrap Glyphicon Override.
.glyphicon {
    width: 14px;
    height: 14px;
}
//Remove button focus
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

//Jumbotron Custom Styling
.jumbotron{
    margin-bottom: 0;
    margin-top:0;
    background: #FFF; /* Old browsers */
    background: -moz-linear-gradient(top, #2a4b41 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2a4b41 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2a4b41 0%, #000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#2a4b41, endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
