/**
 * Freshleaf INIT CSS
 * Contains reset elements, browser fixes & common helpers
 * Compiled 2010-03-03 by Ian Davenport, Freshleaf Media Ltd 
 *
 * Contains some elements of Eric Meyer's Reset Reloaded + HTML5 baseline (v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark)
 */


/**
 * RESET (HTML5 friendly)
 */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/**
 * FONT NORMALISING
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing: */
pre, code, kbd, samp { font-family: monospace, sans-serif; }



/**
 * THE BASICS
 */


/* Force scrollbar in non-IE */
html { overflow-y: scroll; }


/* Tidy up focus  */
a, a:hover, a:active { outline: none; }


/* De-reset some list resets */
ul, ol { margin-left: 2em; }

ol { list-style-type: decimal; }


/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }


small { font-size: 85%; }

strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; } 


/* Correctly align checkboxes, radios, text inputs with label */
input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }


/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }


/* Fix Webkit browser 2px margin around form elements */
button, input, select, textarea { margin: 0; }


/* Standardise text selection */
::-moz-selection{ background: #444; color:#fff; text-shadow: none; }

::selection { background:#444; color:#fff; text-shadow: none; }


/* Highlight colour for webkit on-tap */
a:link { -webkit-tap-highlight-color: #FF5E99; }


/* Make buttons play nice in IE */
button {  width: auto; overflow: visible; }


/* force bicubic resizing for on-page sized IMG  */
.ie7 img { -ms-interpolation-mode: bicubic; }


/**
 * INITIAL STYLES
 */

body, select, input, textarea {
  color: #333;
  /* Set base font here */

}


h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1, h2, h3, h4, h5, h6, p { margin: 0 0 0.7em 0;}

a, a:active, a:visited { color: ; text-decoration: none; }

a:hover { color: ; }



/**
 * ADDITIONAL HELPERS
 */
 
 
/* image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }


/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden; }


/* Hide only visually, but have it available for screenreaders */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }


/* Clearing, with margin-collapse on child elements fixed */
   
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }


/* Repeating gridded elements (e.g photo galleries) without need for clearing. Adjust w, h, m & p accordingly */

.repeat {
		padding:10px;
		margin:10px;
		width: ;
		min-height: 100px;
        _height: 100px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align:top;
        zoom: 1;
        *display: inline; }
        
 
 /* Starting points for rounded corners and drop-shadows. Adjust accordingly */
        
 .round {
 		-webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
		-o-border-radius: 6px;
    	border-radius: 6px;
 }
 
 .shadow {
		-moz-box-shadow: 2px 2px 5px #888;
        -webkit-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
		-o-box-shadow: 2px 2px 5px #888;
 }


/**
 * MOBILE LAYOUT
 * Keep these after primary styles so they successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait */

}


@media all and (orientation:landscape) {
  /* Style adjustments for landscape */

}


@media screen and (max-device-width: 480px) {
 /* Style adjustments for Opera mobile and Android */

  /* Uncomment next line if you don't want iOS and WinMobile to mobile-optimize the text  */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


