/**
 * Remote CSS for http://planet.linaro.org/
 * This version 2010-03-04 by Ian Davenport, Freshleaf Media Ltd 
 */


body {
    font-size: 13px;
    font-family: verdana;
    margin: 0;
    padding:0;
    background:#eee;
   
	}

#head {
    height: 75px;
    border-bottom: 14px solid #A1CD41;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    background: #000000; /* old browsers */

background: -moz-linear-gradient(top, #000000 8%, #45484d 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#000000), color-stop(100%,#45484d)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* ie */

-moz-box-shadow:0 1px 0 #fff;
box-shadow:0 1px 0 #fff;
-webkit-box-shadow: 0 1px 0 #fff;



	}

#head {text-indent:-600px;}

#head h1 {
text-indent:0;
display:block;
clear:both;
float:right;
width:200px;
position:absolute;
right:30px;
top:40px;
    text-align:center;
    font-size: 26px;
    font-weight:normal;
    padding:10px;
    color:#fff;
    background:#A1CD41;
    -moz-box-shadow:0 -6px 7px #000, inset 0 2px 3px rgba(255,255,255,0.6);
box-shadow:0 -6px 7px #000, inset 0 2px 3px rgba(255,255,255,0.6);
-webkit-box-shadow:0 -6px 7px #000,inset 0 2px 3px rgba(255,255,255,0.6);

-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

text-shadow:0 -1px 0 #719d11;

	}

#head a:link, a:visited, #head a:active { 
    color: inherit;
	}

#logo {

    padding-top: 3px;
    padding-left: 1em;
    background:url(../images/logo.png) no-repeat 0 5px ;
    overflow:hidden;
    height:68px;
	}

#tags {
    overflow: auto;
    padding: 5px;
    text-align: right;
	}

#paginate {
    margin-bottom: 15px;
    margin-left: 0px;
    margin-top: 5px;
    padding-left: 0;
    text-align: left;
    vertical-align: middle;
    float: left;
    width: 60%;
    color: black;
	}

#buttons {
    text-align: right;
    float: right;
    vertical-align: middle;
    color: #aaa;
    width: 40%;
    line-height: 1.7em;
    padding:0;
    padding-bottom: 10px;
	}

#usertags {
    clear: both;
    margin: 5px;
    padding: 5px;
    width: 75%;
    text-align: center;
	}

#content {  
    clear: both;
    width: 75%;
    margin:10px;
    padding:10px;
    background:#fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
    border-radius: 6px;
 	-moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
	-o-box-shadow: 2px 2px 5px #888;
	}

#sidebar {
    width: 19%;
    position: absolute;
    right:0;
    top: 150px;
    padding: 0 10px 10px 10px;
    margin: 5px;
    background:#fff;
   	-moz-box-shadow: inset 2px 2px 5px #888;
    -webkit-box-shadow: inset 2px 2px 5px #888;
    box-shadow: inset 2px 2px 5px #888;
	-o-box-shadow: inset 2px 2px 5px #888;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
    border-radius: 6px;
	}

div.date {
	background:#666;
    font-size: 14px;
    text-transform:uppercase;
    padding: 10px;
    color: #fff;
    border:0;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
    border-radius: 4px;
 	-moz-box-shadow: inset 1px 2px 3px #111;
    -webkit-box-shadow: inset 1px 2px 3px #111;
    box-shadow: inset 1px 2px 3px #111;
	-o-box-shadow: inset 1px 2px 3px #111;
	}

div.post {
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
}

div.post-title {
    text-align: left;
    clear:both;
    display:block;
    font-size: 180%;
    font-family: trebuchet ms;
    font-weight: bold;
    padding: 15px 5px 5px 5px;
    width: 75%;
	}

div.post-content {
	overflow:auto;
    line-height: 1.6em;
    padding-left: 4em;
    padding-right: 4em;

	}

div.post-content li {
    margin: 0;
    padding: 0;
    line-height: 130%;
	}	

div.post-content table{
    border: 0;
    margin-left: 50px;
	}

div.post-content td {
    border: 2px solid #ccc;
	}

div.post-meta {
    color: #fff;
    margin-top: 25px;
    font-size:11px;
    padding:5px 8px;
    background:#A1CD41;
    width: 100%;
    text-align: right;
	}

div.post-meta a {
	color:#fff;
	padding:3px;
	background:#81aD21;
	font-size:11px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
    border-radius: 2px;
    }

div.post-meta a:hover {
	background:#618D01;
	}

blockquote {
	color: #777;
	margin: 15px 30px 0px 10px;
	padding: 20px;
	border: 1px solid #ddd;
	border-left: 7px solid #ddd;
	}

a:link {
    color: #4C6B46;
}

a:hover {
   	color: #A1CD41;
	}

h1 a:link {
    text-decoration: none;
    color: inherit;
	}

#buttons img {
    vertical-align: middle;
	}

.love_feedjack {
    font-size: 145%;
    font-weight: bold;
    font-style: italic;
	}

#paginate ul {
    margin:0 0 0 150px;
    padding:3px;
    text-align:center;
	border-top:1px dotted #bbb;
	border-bottom:1px dotted #bbb;
	}

#paginate li { 
    display: inline;
    margin: 2px;
    padding: 3px;
    line-height: 1.7em;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    vertical-align: middle;
    color:#666;
    font-size:12px;
    text-transform:uppercase;
	}

#paginate li.tagname {
    font-weight: bold;
    font-size: 140%;
	}

img {
    border: 0;
	}
	
#sidebar ul {
    list-style-type:	none;
    padding: 0;
    margin: 0;
	}
	
#sidebar li {
    display: block;
    clear: both;
    line-height: 25px;
	}

#sidebar img.face {
    vertical-align: middle;
    margin-right: 5px;
	}

#sidebar h4 {
	font-size:14px;
    background:#333;
    padding:5px;
    color:#A1CD41;
    font-weight:normal;
	margin-top:10px;
	}


#sidebar ul.suscriptores li {
	color:#333;
	padding-bottom:8px;
	margin-bottom:8px;
	border-bottom:1px dotted #999;
	}


#sidebar ul.suscriptores li a {
    color: #444;
    margin-left: 2px;
font-size:0.9em;
	}

#sidebar ul.suscriptores li a img{
vertical-align:text-bottom;
padding:0 8px 0 3px;
border-right:1px solid #ccc;
	}

#sidebar ul.suscriptores li a:hover {
	color:#111;
	}

#sidebar h4 + p {
    text-align: justify;
	}


#buttons {
	display:none;
	}

.avatar .tags {
	display:none;
	}
 
.avatar img {
 	display:none;
 	}
  
div.avatar span.name {
    color: #666;
    font-size:11px;
    display:block;
    float:left;
    margin-right:4px;
	}

div.avatar span.name:before {
	color: #999;
	content: "Posted by: ";
	}

div.avatar span.nick {
    font-size:11px;
    font-style:italic;
    display:block;
    float:left;
    margin-right:4px;
	}

div.avatar span.nick:before {
	color: #999;
	content: "(";
	}

div.avatar span.nick:after {
	color: #999;
	content: "),";
	}

div.avatar span.url {
	font-size:11px;
 	display:block;
 	float:left;
    color: #bbb;
	}

div.avatar span.url:before {
	color: #999;
	content: "at ";
	}

div.avatar span.url a{
    color: #222;
	}

div.avatar span.url a:hover {
    color: #666;
	}


#paginate li a {
	display:inline;
    color: #fff;
    background:#666;
    padding:5px;
    margin-top:-3px;
    font-weight:bold;
    font-size:8px;
    border:1px solid #fff;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
    border-radius: 2px;
 	}

#paginate li a:hover {
	background:#A1CD41;
	}

#tags ul, #usertags ul {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align:center;
	}

#tags li, #usertags li { 
    display: inline;
    margin:1px; 
	}
	
#tags a, #usertags a {
    color: #fff;
    margin:0;
    padding:3px 4px;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
    border-radius: 2px;
    white-space:nowrap;
	}

.cloud_1 {
     background:#aaa;
	}

.cloud_2 {
    background:#888;
	}
	
.cloud_3 {
    background:#666;
	}
	
.cloud_4 {
    background:#444;
	}

.cloud_5 {
    background:#222;
	}

a.cloud_1:hover, a.cloud_2:hover, a.cloud_3:hover,a.cloud_4:hover, a.cloud_5:hover  {
    background: #a1cd41;
	}
	
	tt, span.pre {font-size:1em;}
	
	
#family {position:absolute; font-size:11px; color:#888; right:0; margin-top:5px;}
#family a {font-size:10px; color:#ccc; padding-right:12px; padding-left:5px;}
#family a:hover {color:#a1cd41;}



#content table {width:98%;}

#content table td {padding:0 0 0 10px;}
#content table td:first-child {padding-left:0;} 

