<!-- <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
    <h3>Store</h3>
    <ul class="list-unstyled ">
      <li><a href="/product/hikey/">HiKey Board</a></li>
      <li><a href="/product/dragonboard410c/">DragonBoard™ 410c</a></li>
      <li><a href="/product/bubblegum-96/">Bubblegum-96</a></li>
      <li><a href="/product/mediatek-x20/">Mediatek X20</a></li>
      <li><a href="/product/carbon/">Carbon</a></li>
      <li><a href="/product/uarts/">UART Serial Adapter</a></li>
      <li><a href="/products/">View All</a></li>
    </ul>
</div>
<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
    <h3>Products</h3>
    <ul class="list-unstyled ">
      <li><a href="/products/ce/">Consumer Edition</a></li>
      <li><a href="/products/ee/">Enterprise Edition</a></li>
      <li><a href="/products/iote/">IoT Edition</a></li>
      <li><a href="/products/mezzanine/">Mezzanine Products</a></li>
      <li><a href="/products/accessories/">Accessories</a></li>
      <li><a href="/products/">View All</a></li>
    </ul>
</div>
<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
    <h3>Specification</h3>
    <ul class="list-unstyled ">
      <li><a href="/ce-specification">Consumer Edition (CE)</a></li>
      <li><a href="/ee-specification">Enterprise Edition (EE)</a></li>
      <li><a href="/ie-specification">IoT Edition (IE)</a></li>
      <li><br /></li>
      <li><b>Addenda</b></li>
      <li><a href="/camera-spec">Camera Module Interface</a></li>
      <li><a href="/tv-specification">96Boards TV Platform</a></li>
    </ul>
</div>
<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
    <h3>About</h3>
    <ul class="list-unstyled ">
      <li><a href="/specifications/">Specification</a></li>
      <li><a href="/news/">Newsroom</a></li>
      <li><a href="https://www.linaro.org/careers/">Careers</a></li>
      <li><a href="/press/">Press Info</a></li>
      <li><a href="/membership/">Membership</a></li>
      <li><a href="/compliance/">Compliance</a></li>
      <li><a href="/contact/">Contact 96Boards</a></li>
    </ul>
</div>
<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
    <h3>Support</h3>
    <ul class="list-unstyled ">
      <li><a href="https://discuss.96boards.org/c/products/hikey">Lemaker Hikey</a></li>
      <li><a href="https://discuss.96boards.org/c/products/dragonboard410c">DragonBoard410c</a></li>
      <li><a href="https://discuss.96boards.org/c/products/mediatek-x20">MediaTek-X20</a></li>
      <li><a href="https://discuss.96boards.org/c/products/bubblegum96">Bubblegum-96</a></li>
      <li><a href="https://discuss.96boards.org/c/products/carbon">Carbon</a></li>
      <li><a href="https://discuss.96boards.org/c/products/poplar">Poplar</a></li>
      <li><a href="https://discuss.96boards.org/c/products/mezzanine">Mezzanine Support</a></li>
    </ul>
</div>
<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
    <h3>Social Media</h3>
    <ul class="list-unstyled ">
      <li><a href="https://github.com/96boards">Github</a></li>
      <li><a href="https://www.facebook.com/96Boards">Facebook</a></li>
      <li><a href="https://www.youtube.com/channel/UCjawhk_W1QnJs3pKIsKLJNg">Youtube</a></li>
      <li><a href="https://twitter.com/96Boards">Twitter</a></li>
      <li><a href="https://www.linkedin.com/company/6637095">Linkedin</a></li>
      <li><a href="http://slideshare.com/96boards">Slideshare</a></li>
      <li><a href="https://plus.google.com/106009833460292139774/posts">Google +</a></li>
    </ul>
</div> -->
