<div class="col col-12 no-padding membership_form_container">
    <div class="row">
        <div class="col col-12 col-sm-6 form_section">
            <form id="developer_services_form" action="#" onsubmit="submitDeveloperServicesForm();" >
                <div class="form-group">
                    <input type="text" name="first_name" class="form-control" placeholder="First name">
                </div>
                <div class="form-group">
                    <input type="text" name="surname" class="form-control" placeholder="Last name">
                </div>
                <div class="form-group">
                    <input type="text" name="company" class="form-control" placeholder="Company">
                </div>
                <div class="form-group">
                    <select class="form-control" name="services_type" multiple>
                        <option value="" disabled selected>Type of Services interested in</option>
                        <option value="Upstreaming">Upstream Services</option>
                        <option value="Kernel">Kernel Services</option>
                        <option value="Training">Training & Support</option>
                        <option value="Security">Security</option>
                        <option value="Trusted Firmware">Trusted Firmware</option>
                        <option value="OP-TEE">OP-TEE</option>
                        <option value="Long Term Support Builds">Long Term Support Builds</option>
                        <option value="Arm Server Deployment">Arm Server Deployment</option>
                        <option value="BSP'S and board bring up">BSP'S and board bring up</option>
                        <option value="Embedded and mobile platforms">Embedded and mobile platforms</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3"
                    name="source" placeholder="How did you hear about Linaro?"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-default">Submit</button>
                </div>
            </form>
        </div>
        <div class="col col-12 col-sm-6 image_section">
            {% assign image_path = "/assets/images/content/connect_crowd.jpg" | remove_first: '/assets/images/' %}
            {% capture image_alt %}
                    {{page.title}} feature block image
            {% endcapture %}
            {% picture feature_block_image {{image_path}} --alt {{image_alt}} %}
        </div>
    </div>
</div>
