<div class="col col-12 no-padding membership_form_container">
    <div class="row">
        <div class="col col-12 col-sm-6 form_section">
            <div id='feedback_response'></div>
            <form id="feedback_form">
                <input type='hidden' name='form-index' id='form-index' value='1' />
                <input type='hidden' name='feedback-from-url' id='feedback-from-url' value='' />
                <input type='hidden' name='feedback-priority' value='10102' />
                <input type='hidden' name='feedback-summary' value="Developer Services request" />
                <input type='hidden' name='feedback-body' value='' />
                <div class="form-group">
                    <input type="text" id='customfield_10902' name='customfield_10902' class="form-control"
                        placeholder="First name (required)">
                </div>
                <div class="form-group">
                    <input type="text" id='customfield_10903' name='customfield_10903' class="form-control"
                        placeholder="Last name (required)">
                </div>
                <div class="form-group">
                    <input type="text" id='feedback_email' name='feedback-email' class="form-control"
                        placeholder="Email address (required)">
                </div>
                <div class="form-group">
                    <input type="text" id='customfield_12401' name='customfield_12401' class="form-control"
                        placeholder="Company (required)">
                </div>
                <div class="form-group">
                    <p>Which services are you interested in? (Required)</p>
                    <div class='checkbox'>
                        <input type='checkbox' value='12815' name='customfield_12904' id='customfield_12904-1'
                            class='checkbox'>
                        <label for='customfield_12904-1'>Upstream Services</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12816' name='customfield_12904' id='customfield_12904-2'
                            class='checkbox'>
                        <label for='customfield_12904-2'>Kernel Services</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12817' name='customfield_12904' id='customfield_12904-3'
                            class='checkbox'>
                        <label for='customfield_12904-3'>Training & Support</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12818' name='customfield_12904' id='customfield_12904-4'
                            class='checkbox'>
                        <label for='customfield_12904-4'>Security</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12819' name='customfield_12904' id='customfield_12904-5'
                            class='checkbox'>
                        <label for='customfield_12904-5'>Trusted Firmware</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12820' name='customfield_12904' id='customfield_12904-6'
                            class='checkbox'>
                        <label for='customfield_12904-6'>OP-TEE</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12821' name='customfield_12904' id='customfield_12904-7'
                            class='checkbox'>
                        <label for='customfield_12904-7'>Long Term Support Builds</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12822' name='customfield_12904' id='customfield_12904-8'
                            class='checkbox'>
                        <label for='customfield_12904-8'>Arm Server Deployment</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12823' name='customfield_12904' id='customfield_12904-9'
                            class='checkbox'>
                        <label for='customfield_12904-9'>BSPs and board bring-up</label>
                    </div>
                    <div class='checkbox'>
                        <input type='checkbox' value='12824' name='customfield_12904' id='customfield_12904-10'
                            class='checkbox'>
                        <label for='customfield_12904-10'>Embedded and mobile platforms</label>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="customfield_12902" id="customfield_12902"
                        placeholder="How can we help you?"></textarea>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="customfield_12903" id="customfield_12903"
                        placeholder="How did you hear about Linaro?"></textarea>
                </div>
                <div class="form-group">
                    <button id="btnSubmit" type="submit" class="btn btn-lg btn-default">Submit</button>
                </div>
                <div id='feedback_error'></div>
            </form>
        </div>
        <div class="col col-12 col-sm-6 image_section">
            {% assign image_path = "/assets/images/content/connect_crowd.jpg"  %}
            {% capture image_alt %}
            {{page.title}} feature block image
            {% endcapture %}
            {% picture feature_block_image {{image_path}} --alt {{image_alt}} %}
        </div>
    </div>
</div>