<svg
  id="Layer_1"
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 272.04 139.44"
>
  <defs>
    <style>
      .cls-1 {
        fill: #0083ae;
      }
      .cls-2 {
        fill: #9ac43a;
      }
      .cls-3,
      .cls-7 {
        font-size: 12px;
        font-family: Lato-Bold, Lato;
        font-weight: 700;
      }
      .cls-3,
      .cls-6 {
        fill: #fff;
      }
      .cls-4 {
        letter-spacing: -0.04em;
      }
      .cls-5 {
        letter-spacing: -0.02em;
      }
      .cls-7 {
        fill: #1d1d1b;
      }
      .cls-8 {
        letter-spacing: -0.11em;
      }
      .cls-9 {
        letter-spacing: -0.02em;
      }
      .cls-10 {
        letter-spacing: -0.03em;
      }
      .cls-11 {
        letter-spacing: 0em;
      }
      .cls-12 {
        letter-spacing: -0.01em;
      }
      .cls-13 {
        letter-spacing: -0.01em;
      }
      .cls-14 {
        letter-spacing: -0.02em;
      }
      .cls-15 {
        letter-spacing: -0.02em;
      }
      .cls-16 {
        letter-spacing: -0.03em;
      }
      .cls-17 {
        letter-spacing: -0.01em;
      }
      .cls-18 {
        letter-spacing: 0em;
      }
      .cls-19 {
        letter-spacing: -0.01em;
      }
      .cls-20 {
        letter-spacing: -0.01em;
      }
      .cls-21 {
        letter-spacing: -0.12em;
      }
    </style>
  </defs>
  <rect class="cls-1" width="272.04" height="44.01" />
  <rect class="cls-2" y="44.03" width="272.04" height="95.41" />
  <text class="cls-3" transform="translate(21.68 18.69)">
    <tspan class="cls-4">Y</tspan>
    <tspan x="7.27" y="0">OUR</tspan>
    <tspan x="-13.7" y="14">EXPE</tspan>
    <tspan class="cls-5" x="15.57" y="14">R</tspan>
    <tspan x="23.06" y="14">TISE</tspan>
  </text>
  <text class="cls-3" transform="translate(25.31 85.97)">
    OUR
    <tspan x="-17.34" y="14">EXPE</tspan>
    <tspan class="cls-5" x="11.93" y="14">R</tspan>
    <tspan x="19.42" y="14">TISE</tspan>
  </text>
  <rect class="cls-6" x="77.94" y="6.84" width="189.39" height="30.44" />
  <text class="cls-7" transform="translate(129.2 25.5)">
    <tspan class="cls-8">Y</tspan>
    <tspan x="6.42" y="0">ou</tspan>
    <tspan class="cls-9" x="20.08" y="0">r</tspan>
    <tspan class="cls-10" x="24.31" y="0"></tspan>
    <tspan class="cls-11" x="26.82" y="0">A</tspan>
    <tspan x="35.14" y="0">pplic</tspan>
    <tspan class="cls-12" x="60.59" y="0">a</tspan>
    <tspan x="66.59" y="0">tion</tspan>
  </text>
  <rect class="cls-6" x="78.14" y="50.5" width="96.39" height="37.63" />
  <rect class="cls-6" x="182.77" y="50.5" width="84.27" height="81.94" />
  <text class="cls-7" transform="translate(95.84 66.27)">
    3
    <tspan class="cls-13" x="6.96" y="0">r</tspan>
    <tspan x="11.27" y="0">d</tspan>
    <tspan class="cls-14" x="21" y="0">P</tspan>
    <tspan x="28.24" y="0">art</tspan>
    <tspan class="cls-15" x="43.27" y="0">y</tspan>
    <tspan x="49.3" y="0" xml:space="preserve">&amp;</tspan>
    <tspan class="cls-16" x="-13.21" y="14">S</tspan>
    <tspan class="cls-17" x="-6.94" y="14">y</tspan>
    <tspan x="-0.73" y="14">s</tspan>
    <tspan class="cls-18" x="4.54" y="14">t</tspan>
    <tspan x="8.96" y="14">em Lib</tspan>
    <tspan class="cls-19" x="44.42" y="14">r</tspan>
    <tspan x="48.82" y="14">aries</tspan>
  </text>
  <rect class="cls-6" x="78.14" y="94.97" width="96.39" height="37.63" />
  <text class="cls-7" transform="translate(99.27 110.58)">
    <tspan class="cls-20">O</tspan>
    <tspan x="9.59" y="0">pe</tspan>
    <tspan class="cls-19" x="22.82" y="0">r</tspan>
    <tspan class="cls-12" x="27.22" y="0">a</tspan>
    <tspan x="33.22" y="0">ting</tspan>
    <tspan class="cls-16" x="7.71" y="14">S</tspan>
    <tspan class="cls-17" x="13.99" y="14">y</tspan>
    <tspan x="20.19" y="14">s</tspan>
    <tspan class="cls-18" x="25.46" y="14">t</tspan>
    <tspan x="29.88" y="14">em</tspan>
  </text>
  <text class="cls-7" transform="translate(199.51 94.53)">
    <tspan class="cls-21">T</tspan>
    <tspan x="5.75" y="0">oolchain</tspan>
  </text>
</svg>
