<div class="col col-12 services_icons">
  <div class="row">
    {% for service in site.services %}
      {% unless service.permalink == "/services/" %}
        <div class="col col-6 col-md-4 col-lg-2 service_col h-100 py-4">
          <div class="ds_wrapper">
            <a href="{{service.url}}">
              <img
                class="img-fluid ds_image"
                alt="{{service.title}} icon"
                src="{{service.icon}}"
              />
              <h6 class="ds_title text-dark my-3 font-weight-bold">{{service.title}}</h6>
            </a>
          </div>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>
