<div class="row">
    <div class="col col-12 col-sm-8 col-xl-10 d-flex align-items-center text-center text-sm-left">
        <p>Linaro is a member of <a href="https://www.qualcomm.com/support/qan">Qualcomm Advantage Network</a> program</p>
    </div>
    <div class="col col-12 col-sm-4 col-xl-2">
        <img class="img-fluid lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
         data-src="/assets/images/content/Badge_QAN_member_IoT_accelerator_member.png" alt="Qualcomm Advantage Network Badge"/>
    </div>
</div>
