<div class="icons">
  <div class="row">
  {% for related_service in include.object.feature_block_content.related_services %}
    {% for service in site.services %}
      {% if service.service_id == related_service %}
        <div class="col col-6 col-sm-6 text-center py-2">
          <a href="{{service.url}}">
            <img
              class="img-fluid ds_image related_icon"
              src="{{service.icon}}"
              alt="{{service.title}} icon"
            />
            <h5 class="text-dark my-2">{{service.title}}</h5>
          </a>
        </div>
      {% endif %} 
    {% endfor %} 
  {% endfor %} 
</div>
</div>