<div class="row">
  <div class="col col-12">
    <div class="service-block">
      <div class="row">
        <div class="col col-12">
          <blockquote class="testimonial">
            {{site.data.translations.services.quote1}}
          </blockquote>
        </div>
        <div class="col col-12">
          <div class="row testimonial_cite_row">
            <div class="col col-12 col-sm-8">
              <p class="author testimonial">
                Paul Benson, Program Director, Central Engineering, Arm
              </p>
            </div>
            <div class="col col-12 col-sm-4">
              <img
                class="img-fluid testimonial_logo"
                src="https://static.linaro.org/common/member-logos/arm.jpg"
                alt="Arm logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-12">
    <div class="service-block">
      <div class="row">
        <div class="col col-12">
          <blockquote class="testimonial">
            {{site.data.translations.services.quote2a}}
            <br><br>
            {{site.data.translations.services.quote2b}}
          </blockquote>
        </div>
        <div class="col col-12">
          <div class="row testimonial_cite_row">
            <div class="col col-12 col-sm-8">
              <p class="author testimonial">Benjamin J. Li, Hardware, Square</p>
            </div>
            <div class="col col-12 col-sm-4">
              <img
                class="img-fluid testimonial_logo"
                src="/assets/images/content/Square-logo.png"
                alt="Square logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
