<div class="row">
  <div class="col col-12">
    <div class="service-block">
      <div class="row">
        <div class="col col-12">
          <blockquote class="testimonial">
            Linaro Developer Services provide deep Arm technical knowledge as
            well as strong relationships within various upstream communities.
            Their engagement in the latest Arm technologies allows for quick and
            solid deliverables, helping to de-risk a program. They have helped
            enable an Arm-based Windows laptop to support Linux, developed a
            variety of Docker containers for Arm-based servers, and also enabled
            firmware secure boot capabilities on an NXP-based system. If you
            need help with Arm firmware or software development, Linaro brings
            that professional edge.
          </blockquote>
        </div>
        <div class="col col-12">
          <div class="row testimonial_cite_row">
            <div class="col col-12 col-sm-8">
              <p class="author testimonial">
                Paul Benson, Program Director, Central Engineering, Arm
              </p>
            </div>
            <div class="col col-12 col-sm-4">
              <img
                class="img-fluid testimonial_logo"
                src="https://static.linaro.org/common/member-logos/arm.jpg"
                alt="Arm logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-12">
    <div class="service-block">
      <div class="row">
        <div class="col col-12">
          <blockquote class="testimonial">
            At Square, we face the challenge of maintaining our Terminal and
            Register hardware products, which are based on short-support-cycle
            mobile technology, in an industry that requires long lifespans and
            up-to-date security patching. After the Qualcomm SD615 processor
            (2014) powering our devices went end-of-life in 2018, Square chose
            to engage with the Arm Linux specialists at Linaro for
            upstream-based extended life. Having seen their previous work on the
            DragonBoard 410c, we were confident that upstreaming was the right
            path and Linaro was the right partner to deliver a new Linux kernel
            paired with an up-to-date Android release.
            <br><br>
            The team dispatched from Linaro Developer Services was highly
            experienced in how to accomplish this without compromising on
            productization-level stability, battery life, or performance. As a
            result of this collaboration, Square is able to continue providing
            regular OS and kernel upgrades to our Terminal and Register
            customers for 5-10 more years. In particular, Linaro's expertise and
            assistance in bringing SoCs and boards into mainline ensures
            upstream support doesn't decay over time & provides a platform for
            the community to continue contributing to and benefiting from the
            work, reducing long term software burden.
          </blockquote>
        </div>
        <div class="col col-12">
          <div class="row">
            <div class="col col-12 col-sm-8">
              <p class="author testimonial">Benjamin J. Li, Hardware, Square</p>
            </div>
            <div class="col col-12 col-sm-4">
              <img
                class="img-fluid testimonial_logo"
                src="/assets/images/content/Square-logo.png"
                alt="Square logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
