<div class="row latest_events_row">
    <div class="col col-12 col-sm-6 my-4 latest_events">
        {% assign image_url = "/assets/images/content/Tech_Days.png"  %}
        {% capture image_alt %}Linaro Tech Days{% endcapture %}
        {% picture feature_block_image {{image_url}} --alt {{image_alt}} %}
        <div class="latest_events_wrapper">
            <ul class="list-group list-group-flush my-3">
                {% assign webinar_events = site.categories["Events"] | where: "event_type", "tech_days" | sort: "event_date" | limit: 3 %}
                {% for event in webinar_events %}
                    <li class="list-group-item">
                        {{event.title}} <br/>
                        <a href="{{event.url}}">Find out more</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col col-12 col-sm-6 my-4 latest_events">
        {% assign image_url = "/assets/images/content/Tech_Webinars.png"  %}
        {% capture image_alt %}Linaro Tech Webinars{% endcapture %}
        {% picture feature_block_image {{image_url}} --alt {{image_alt}} %}
        <div class="latest_events_wrapper">
            <ul class="list-group list-group-flush my-3">
                {% assign webinar_events = site.categories["Events"] | where: "event_type", "webinar" | sort: "event_date" | limit: 3 %}
                {% for event in webinar_events  %}
                    <li class="list-group-item">
                        {{event.title}} <br/>
                        <a href="{{event.url}}">Find out more</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
