<div class="row latest_events_row">
    <div class="col col-12 col-sm-6 my-4 latest_events">
        {% assign image_url = "/assets/images/content/Tech_Days.png"  %}
        {% capture image_alt %}Linaro Tech Days{% endcapture %}
        {% picture feature_block_image {{image_url}} --alt {{image_alt}} %}
        <div class="latest_events_wrapper">
            <ul class="list-group list-group-flush my-3">
                <li class="list-group-item">
                    February 15 - Client Services <br/>
                    <a href="/events/">Find out more</a>
                </li>
                <li class="list-group-item">
                    May 15 - Cloud Computing <br/>
                    <a href="/events/">Find out more</a>
                </li>
                <li class="list-group-item">
                    September 15 - Automotive, IoT & Edge <br/>
                    <a href="/events/">Find out more</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col col-12 col-sm-6 my-4 latest_events">
        {% assign image_url = "/assets/images/content/Tech_Webinars.png"  %}
        {% capture image_alt %}Linaro Tech Webinars{% endcapture %}
        {% picture feature_block_image {{image_url}} --alt {{image_alt}} %}
        <div class="latest_events_wrapper">
            <ul class="list-group list-group-flush my-3">
                <li class="list-group-item">
                    February 1 - Kernel Debug Training <br/>
                    <a href="/events/">Find out more</a>
                </li>
                <li class="list-group-item">
                    March 15 - Qualcomm Modem/IPA <br/>
                    <a href="/events/">Find out more</a>
                </li>
                <li class="list-group-item">
                    June 15 - Software Supply Chain <br/>
                    <a href="/events/">Find out more</a>
                </li>
            </ul>
        </div>
    </div>
</div>
