<div class="row available_now my-5">
    <div class="col col-12 col-sm-2">
        <a href="https://connect.linaro.org/" class="resources_play_btn">
            <span class="play_triangle mx-auto" aria-only="Watch videos"></span>
        </a>
    </div>
    <div class="col col-12 col-sm-10">
        <p class="text-white">
            Available to watch now
        </p>
        <p class="text-primary">
            Over 70 Technical Sessions and Keynotes from
            our most recent event (Sept 2021)
        </p>
    </div>
</div>
