{% if site.google-tag-manager %}
  {% include _theme-includes/_script-includes/gtm/gtm-noscript.html %}
{% endif %}
<div class="main-navbar">
    <nav class="navbar-inverse navbar-fixed-top" role="navigation" id="main-navigation">
    <div class="container">
        <input type="checkbox" id="navbar-toggle-cbox">
      <div class="navbar-header">
          <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </label>
        <a class="navbar-brand " href="/"><img src="/images/logo.svg" alt="96Boards" id="brand-image"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right" id="navbar-buttons">
               <li class="dropdown">
                 <a href="/about/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a target="_self" href="/about/" title="About 96Boards">96Boards Overview</a></li>
                   <li><a href="/specifications/" title="96Boards Specifications">Specifications</a></li>
                   <li><a href="/compliance/" title="Compliance hardware and software">Compliance</a></li>
                   <li><a href="/membership/" title="How to become a member">Membership</a></li>
                   <li><a href="/news/" title="96Boards Latest News on SBC">News</a></li>
                 </ul>
               </li>
           <li class="dropdown">
             <a href="/products/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="/products/" title="Latest 96Boards Boards">Latest Boards</a></li>
               <li><a href="/products/ce/" title="96Boards Consumer Edition">Consumer Edition (CE)</a></li>
               <li><a href="/products/ee/" title="96Boards Enterprise Edition">Enterprise Edition (EE)</a></li>
               <li><a href="/products/ie/" title="96Boards IoT Edition">IoT Edition (IE)</a></li>
               <li><a href="/products/mezzanine/" title="96Boards Mezzanine Products">Mezzanine Products</a></li>
               <li><a href="/products/accessories/" title="Accessories for 96Boards">Accessories</a></li>
             </ul>
           </li>

           <li class="dropdown">
             <a href="/projects/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="/projects/" title="Projects on 96Boards">Projects</a></li>
               <li><a href="/projects/contribute.md/" title="How to contribute">Contribute</a></li>
               <li><a href="/projects/faq.md/" title="FAQ on Projects">FAQ</a></li>
               <li><a href="/projects/submit.md/" title="Submit a project">Submit a Project</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="/openhours/" title="96Boards OpenHours for Community">OpenHours</a></li>
             </ul>
           </li>

           <li><a href="/documentation/" title="96Boards Documentation">Documentation</a></li>
           <li><a href="/blog/" title="96Boards Blog">Blog</a></li>

           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forums <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="https://discuss.96boards.org/" title="96Boards Support and Discussion Forum">Discussion Forum</a></li>
               <li><a href="https://discuss.96boards.org/c/products/dragonboard410c" title="DragonBoard410c support forum">DragonBoard410c</a></li>
               <li><a href="https://discuss.96boards.org/c/products/hikey" title="HiKey support forum">HiKey</a></li>
               <li><a href="https://discuss.96boards.org/c/products/hikey960" title="HiKey 960  support forum">HiKey 960</a></li>
               <li><a href="https://discuss.96boards.org/c/products/mediatek-x20" title="MediaTek-x20 support forum">MediaTek-x20</a></li>
               <li><a href="https://discuss.96boards.org/c/products/bubblegum96" title="Bubblegum-96 support forum">Bubblegum-96</a></li>
               <li><a href="https://discuss.96boards.org/c/products/poplar" title="Polpar support forum">Polpar</a></li>
               <li><a href="https://discuss.96boards.org/c/general" title="General support forum">General Forum</a></li>
               <li><a href="https://discuss.96boards.org/c/specification" title="Specification support forum">Specification</a></li>
               <li><a href="https://discuss.96boards.org/login" title="Register or Login to use the Forum">Login / Register</a></li>
             </ul>
           </li>

           <li class="dropdown" id="search-form">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" id="searchDropdown">
                <form class="form-inline" action="/search/" method="GET" target="_self">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <button type="reset" class="btn btn-default dropdown-toggle" data-target="#searchDropdown" data-toggle="dropdown" id="closeForm">
                        <span class="glyphicon glyphicon-remove">
                            <span class="sr-only">Close</span>
                        </span>
                    </button>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <input type="hidden" name="fields.label" value="{{ site.search-label }}">
                </form>
              </ul>
            </li>
         </ul>
      </div><!-- /.navbar-collapse -->
  </div>
</nav>
</div>


<!--- Page Start Main Container--->
<div id="main-container">
