{% assign testimonial = site.data.membership_testimonials.items | where: 'attribution', 'Thomas Molgaard, Arm' | first %}
<div class="col col-12 no-padding">
    <div class="modal fade video_modal" id="coreTestimonial">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{testimonial.attribution}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video class="lazyload img-fluid testimonial_video" data-poster="{{testimonial.cover_image}}"
                            controls="controls" preload="none">
                            {% if testimonial.video.ogv %}
                            <source src="{{testimonial.video.ogv}}" type="video/ogg">
                            {% endif %}
                            {% if testimonial.video.webm %}
                            <source src="{{testimonial.video.webm}}" type="video/webm">
                            {% endif %}
                            {% if testimonial.video.mp4 %}
                            <source src="{{testimonial.video.mp4}}" type="video/mp4">
                            {% endif %}
                        </video>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6 block__image">
            <a data-toggle="modal" href='#coreTestimonial'>
                <div class="video_placeholder_image d-flex align-items-center justify-content-center text-center flex-column position-relative">
                    {% assign image_url = testimonial.cover_image  %}
                    {% capture image_alt %}{{testimonial.attribution}} cover image{% endcapture %}
                    {% picture feature_block_image {{image_url}} --alt {{image_alt}} %}
                    <div class="play_button position-absolute">
                        <i class="icon-youtube-play" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-12 col-sm-6 block__text">
            <blockquote>
                &ldquo;{{testimonial.quote}}&rdquo;
            </blockquote>
            <div class="attribution">
                <strong>{{testimonial.attribution}}</strong>
            </div>
        </div>
    </div>
</div>
