<a id="top" style="scroll-margin-top: 100px;"></a>
<div class="row groups">
    <div class="col col-12 col-sm">
        <div class="group_wrapper text-center">
            <a href="#lwg">
                <img src="/assets/images/content/engineering/svg/LWG_2022.svg" alt="Windows computer"/>
                <h5 class="text-white font-weight-bold my-2">Linaro Windows Group</h5>
            </a>
        </div>
    </div>
    <div class="col col-12 col-sm">
        <div class="group_wrapper text-center">
            <a href="#lcg">
                <img src="/assets/images/content/engineering/svg/LCG_2022.svg" alt="Android chip icon"/>
                <h5 class="text-white font-weight-bold my-2">Linaro Consumer Group</h5>
            </a>
        </div>
    </div>
    <div class="col col-12 col-sm">
        <div class="group_wrapper text-center">
            <a href="#ledge">
                <img src="/assets/images/content/engineering/svg/LEDGE_2022.svg" alt="Antenna and three nodes"/>
                <h5 class="text-white font-weight-bold my-2">Linaro Edge & Fog Computing Group</h5>
            </a>
        </div>
    </div>
    <div class="col col-12 col-sm">
        <div class="group_wrapper text-center">
            <a href="#lite">
                <img src="/assets/images/content/engineering/svg/LITE_2022.svg" alt="IoT Cloud speedometer lightbulb"/>
                <h5 class="text-white font-weight-bold my-2">Linaro IoT & Embedded Group</h5>
            </a>
        </div>
    </div>
    <div class="col col-12 col-sm">
        <div class="group_wrapper text-center">
            <a href="#ldcg">
                <img src="/assets/images/content/engineering/svg/LDCC_2022.svg" alt="Cloud with server icon inside"/>
                <h5 class="text-white font-weight-bold my-2">Linaro Datacenter & Cloud Group</h5>
            </a>
        </div>
    </div>
</div>