<a id="top" style="scroll-margin-top: 100px;"></a>
<div class="row groups">
    <div class="col col-12 col-sm p-4">
        <div class="group_wrapper text-center">
            <a href="#lwg">
                <img src="/assets/images/content/LWG_icon_colour_no_text.svg" alt="Windows computer"/>
                <h5 class="text-dark font-weight-bold my-2">Linaro Windows Group</h5>
            </a>
        </div>
    </div>
    <div class="col col-12 col-sm p-4">
        <div class="group_wrapper text-center">
            <a href="#lcg">
                <img src="/assets/images/content/LCG_icon_colour_no_text.svg" alt="Android chip icon"/>
                <h5 class="text-dark font-weight-bold my-2">Linaro Consumer Group</h5>
            </a>
        </div>
    </div>
    <div class="col col-12 col-sm p-4">
        <div class="group_wrapper text-center">
            <a href="#ledge">
                <img src="/assets/images/content/LEDGE_icon_colour_no_text.svg" alt="Antenna and three nodes"/>
                <h5 class="text-dark font-weight-bold my-2">Linaro Edge & Fog Computing Group</h5>
            </a>
        </div>
    </div>
    <div class="col col-12 col-sm p-4">
        <div class="group_wrapper text-center">
            <a href="#ldcg">
                <img src="/assets/images/content/LDCG_icon_colour_no_text.svg" alt="Cloud with server icon inside"/>
                <h5 class="text-dark font-weight-bold my-2">Linaro Datacenter & Cloud Group</h5>
            </a>
        </div>
    </div>
</div>