<div class="col col-12 no-padding level_blocks">
    <div class="row">
        <div class="col col-12 col-sm-4 level_block_col">
            <div class="level_block  d-flex align-items-center justify-content-center text-white core">
                <h3>Core</h3>
            </div>
        </div>
        <div class="col col-12 col-sm-4 level_block_col">
            <div class="level_block  d-flex align-items-center justify-content-center text-white club">
                <h3>Club</h3>
            </div>
        </div>
        <div class="col col-12 col-sm-4 level_block_col">
            <div class="level_block  d-flex align-items-center justify-content-center text-white group">
                <h3>Group</h3>
            </div>
        </div>
    </div>
</div>
