<div class="col col-12 no-padding membership_form_container">
    <div class="row">
        <div class="col col-12 col-sm-6 form_section">
            <div id="feedback_response"></div>
            <form id="membership_form" class="needs-validation" novalidate>
              <input type="hidden" name="form_id" value="4" />
              <div class="form-group">
                <input
                  type="text"
                  name="customfield_13155"
                  id="customfield_13155"
                  placeholder="{{site.data.translations.membership_form.firstName}}"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a valid first name.
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="customfield_13156"
                  placeholder="{{site.data.translations.membership_form.lastName}}"
                  id="customfield_13156"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a valid family name.
                </div>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  placeholder="{{site.data.translations.membership_form.email}}"
                  id="email"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a valid email address.
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="customfield_13368"
                  placeholder="{{site.data.translations.membership_form.company}}"
                  id="customfield_13368"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a valid company name.
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" id="customfield_13365" name="customfield_13365" placeholder="{{site.data.translations.membership_form.how}}"></textarea>
                <div class="invalid-feedback">
                  Please provide a valid message.
                </div>
              </div>
              <button
                id="submitButtonMembershipForm"
                type="submit"
                class="btn btn-secondary btn-lg btn-default"
                >
                {{site.data.translations.membership_form.submit}}
                </button>
                <div id="feedback_error"></div>
            </form>
        </div>
        <div class="col col-12 col-sm-6 image_section">
            {% assign image_path = "/assets/images/content/connect_crowd.jpg"  %}
            {% capture image_alt %}
                {{page.title}} feature block image
            {% endcapture %}
            {% picture feature_block_image {{image_path}} --alt {{image_alt}} %}
        </div>
    </div>
</div>
