<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Collaborate on developing standards which allow you to differentiate
        </button>
      </h5>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordion"
    >
      <div class="card-body">
        <div class="row">
          <div class="col col-12 col-md-8">
            <p>
              Linaro was formed in 2010 to address the lack of standardization
              on foundational Arm software. Everyone was creating their own
              foundational software which was then only applicable to their
              platforms, resulting in extra engineering effort to make it
              applicable to other platforms. Linaro, together with other
              companies working on Arm-based technology, joined forces to create
              standards for kernel, toolchain and security. We solved the
              problems we set out to fix but as new technology continues to
              appear, there will always be a need for standardization to reduce
              engineering effort and thereby accelerate innovation.
            </p>
          </div>
          <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
              <blockquote>
                <p>
                  Linaro is the collaboration platform for the Arm partnership.
                  Where everyone comes together to collaborate on open source
                  software, where conversations take place and
                  non-differentiating solutions are discussed and worked upon.
                </p>
              </blockquote>
              <figcaption>Thomas Molgaard, Arm</figcaption>
            </figure>
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Leverage Linaro’s Arm Software expertise and connection with Open
          Source Communities
        </button>
      </h5>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordion"
    >
      <div class="card-body">
        <div class="row">
          <div class="col col-12 col-md-8">
            <p>
              Linaro employs some of the world’s leading Arm software experts,
              with more than 60 software kernel maintainers looking after more
              than 100 open source projects. Since our inception, we have been
              continually ranked by LWN.net in the top ten companies which
              contribute to the Linux kernel - no small feat for a company with
              250 engineers! We are able to successfully and efficiently deliver
              standardized solutions for the Arm software ecosystem because our
              team of Engineers are highly experienced and well connected to the
              Open Source Community.
            </p>
          </div>
          <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
              <blockquote>
                <p>
                  Linaro are like the all-star team of open source technology in
                  many ways. This is a group of highly experienced experts that
                  know what they’re doing. We learn a lot by being members of
                  Linaro that we wouldn’t be able to learn in any other
                  community.
                </p>
              </blockquote>
              <figcaption>Rob Oshana, NXP</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Reduce costs on development by sharing engineering resource
        </button>
      </h5>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordion"
    >
      <div class="card-body">
        <div class="row">
          <div class="col col-12 col-md-8">
            <p>
              Once needs have been identified and strategy agreed upon, Linaro
              engineers work with member engineers and the open source community
              to deliver the solutions. Sharing engineering resource
              significantly reduces overall development costs and helps
              accelerate time to market as more engineers - with different
              perspectives - are able to dedicate time to building software,
              problem solving and troubleshooting.
            </p>
          </div>
          <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
              <blockquote>
                <p>
                  Linaro are like the all-star team of open source technology in
                  many ways. This is a group of highly experienced experts that
                  know what they’re doing. We learn a lot by being members of
                  Linaro that we wouldn’t be able to learn in any other
                  community.
                </p>
              </blockquote>
              <figcaption>Rob Oshana, NXP</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
