<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <span class="styled_number blue">1</span>
          {{site.data.translations.mcp.value_1}}
        </button>
      </h5>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordion"
    >
      <div class="card-body">
        <div class="row">
          <div class="col col-12 col-md-8">
            <p>
              {{site.data.translations.mcp.desc_1}}
            </p>
          </div>
          <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
              <blockquote>
                <p>
                  {{site.data.translations.mcp.quote_1}}
                </p>
              </blockquote>
              <figcaption>Thomas Molgaard, Arm</figcaption>
            </figure>
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <span class="styled_number green">2</span>
          {{site.data.translations.mcp.value_2}}
        </button>
      </h5>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordion"
    >
      <div class="card-body">
        <div class="row">
          <div class="col col-12 col-md-8">
            <p>
              {{site.data.translations.mcp.desc_2}}
            </p>
          </div>
          <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
              <blockquote>
                <p>
                  {{site.data.translations.mcp.quote_2}}
                </p>
              </blockquote>
              <figcaption>Kouichi Hirai, Fujitsu</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
        <span class="styled_number orange">3</span>
          {{site.data.translations.mcp.value_3}}
        </button>
      </h5>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordion"
    >
      <div class="card-body">
        <div class="row">
          <div class="col col-12 col-md-8">
            <p>
              {{site.data.translations.mcp.desc_3}}
            </p>
          </div>
          <div class="col col-12 col-md-4">
            <figure class="gradient_quote">
              <blockquote>
                <p>
                  {{site.data.translations.mcp.quote_3}}
                </p>
              </blockquote>
              <figcaption>Rob Oshana, NXP</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
