<div class="row" id="membership_blocks">
    {% picture header_image "/assets/images/content/code_banner.jpg" --alt "Code banner image" %}
    <div class="col col-12 col-md-3">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">No need to differentiate on the basics</h5>
              <p class="card-text">
                Collaboration on common software
                allows participating member
                companies to direct more resources
                towards differentiating their
                products.
              </p>
            </div>
          </div>
    </div>
    <div class="col col-12 col-md-3">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Faster problem solving =
                accelerated time to market</h5>
              <p class="card-text">
                Having engineers from all the
                member companies work together
                with Linaro engineers - many of
                which are world-reknowned Arm
                software experts - means more
                eyes on the problem.
              </p>
            </div>
          </div>
    </div>
    <div class="col col-12 col-md-3">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Arm & Open Source
                Software Expertise</h5>
              <p class="card-text">
                If you want a say in how Arm
                software evolves and want to work
                with leading technology companies
                to develop and implement actual
                engineering solutions, Linaro
                membership is for you.
              </p>
            </div>
          </div>
    </div>
</div>