<div class="col-xs-12">
    <div class="owl-carousel owl-theme" id="projects_slider">
        {% for project in site.data.projects.items %}
            <a href="{{project.url}}" target="_self">
                <div class="item">
                    <div class="project_image">
                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            alt="{{project.name}} logo" data-src="{{project.image}}" />
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
