<div class="row">
    <div class="col col-12">
        <div class="row py-0">
            {% assign members = "" | split: "," %}
            {% for section in site.data.members %}
                {% if section.id == "lwg" %}
                    {% for member in section.members %}
                        {% assign members = members | push: member %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% assign sorted_members = members | sort: 'name' %}
            {% assign all_members = "" | split: "," %}
            {% for member in sorted_members %}
                <div class="col col-6 col-sm-4 col-md-2 py-3 d-flex justify-content-center align-items-center member_col">
                    <div class="group_member_image rounded">
                        {% if member.uri %}<a href="{{member.uri}}">{% endif %}
                        <img class="lazyload w-100 rounded" alt="{{member.name}} logo" data-src="{{member.image}}" 
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                        {% if member.uri %}</a>{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>