#formeditor_page #basicoptions .ui-icon-triangle-2-n-s { -moz-appearance: menulist-button; height: 19px; margin-right: -3px; margin-top: -1px; padding: 0; width: 15px; }
#formeditor_page #advancedoptions .ui-icon-triangle-2-n-s { -moz-appearance: menulist-button; height: 19px; margin-right: -3px; margin-top: -1px; padding: 0; width: 15px; }
#formeditor_page #basicoptions .ui-multiselect { width:185px!important; background-color:white; border-style:inset; border-radius:0px; color:black; font-weight:normal; padding:0px; -moz-appearance: menulist; -webkit-appearance:menulist; font-size:13px; height:20px; }
#formeditor_page #advancedoptions .ui-multiselect { width:185px!important; background-color:white; border-style:inset; border-radius:0px; color:black; font-weight:normal; padding:0px; -moz-appearance: menulist; -webkit-appearance:menulist; font-size:13px; height:20px; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#formeditor_page #basicoptions .ui-icon-triangle-2-n-s { margin-right:0px!important; margin-top:0px!important; width:19px!important;  }
	#formeditor_page #advancedoptions .ui-icon-triangle-2-n-s { margin-right:0px!important; margin-top:0px!important; width:19px!important;  }
	#formeditor_page #basicoptions .ui-multiselect {border-color:#c3c3c3; -webkit-appearance:menulist;}
	#formeditor_page #advancedoptions .ui-multiselect {border-color:#c3c3c3; -webkit-appearance:menulist;}
}

.field-padding-bottom {
	padding-bottom:20px;
}

.textarea-container {
	display:inline-table;
	max-width:100%;
	padding-bottom:10px;
}



.form { max-width: 100%; }

.form-top-aligned .rowdown, .form-top-aligned .rowdownsmall  {
	padding-top:0px;
}

.class123-likert_style_li2 {
	text-align: center !important;
}

.form-top-aligned .class123-label:not(.likert-label):not(#language-label) {
	top:0px;
}

.form-top-aligned .row-fluid {
	padding-bottom:7px;
}

.form-right-aligned .rowleft .class123-labelinfo {
	width:100%;
}

.form-right-aligned .rowleft,  .form-right-aligned .likert-label, .form-right-aligned .rowleft .class123-labelinfo    {
	text-align: right !important;
}



.form-rtl .col-lg-1,
.form-rtl .col-lg-1_5,
.form-rtl .col-lg-1_75,
.form-rtl .col-lg-2,
.form-rtl .col-lg-2_5,
.form-rtl .col-lg-3,
.form-rtl .col-lg-4,
.form-rtl .col-lg-5,
.form-rtl .col-lg-6,
.form-rtl .col-lg-7,
.form-rtl .col-lg-8,
.form-rtl .col-lg-9,
.form-rtl .col-lg-10,
.form-rtl .col-lg-11,
.form-rtl .col-lg-12 {
	float: none;
	display: inline-block;
	text-align: right !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-lg-1_5, .col-lg-1_75 {
	min-width:51px;
}

.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-lg-2_5, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-sm-3_5, .col-md-3_5, .col-lg-3_5 {
	min-width:53px;
}

.form-container {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right: auto;
	max-width:100%;
}

.other-input {
	position:relative;
	top:0px;
}

.ie-placeholder { color: #4C4C4C; }

.class123-checkbox-other-label {
	position:relative;
	top:0px;
}
.class123-checkbox-other-label .label-text {
	top:-3px !important;
}

body:not(.no-bg)  .class123-checkbox-other-label {
	position:relative;
	top:4px;
}

body:not(.page_edit_fields) .class123-checkbox-other-label .label-text {
	top:-1px !important;
}

.class123-hidden { display:none !important; }

/* NEW STYLES END */

.row {
	overflow-x:visible !important;
	overflow-y:visible !important;
	padding-top:10px;
}

.rowdownsmall {
	/*padding-bottom: 10px;*/
}

.rowright, .rowup {
	padding-bottom:0px !important;
}


.container-normal .col-lg-1_75 {
	padding-right:0px;
}

.form-rtl  {
	direction: rtl;
}


.form-rtl .col-lg-1_75 {
	padding-left:0px !important;
	padding-right:10px !important;
}

.no-padding-hor {
	padding-left:0px !important;
	padding-right:0px !important;
}

.control-row, .no-padding-ver {
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.tmask {
	z-index:80000 !important;
}


.container-normal .class123-address .col-lg-12,
.container-normal .class123-address .col-md-12,
.container-normal .class123-address .col-sm-12,
.container-normal .class123-address .col-lg-6,
.container-normal .class123-address .col-md-6,
.container-normal .class123-address .col-sm-6,
.col-lg-2,
.col-md-2,
.col-sm-2,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-lg-4,
.col-md-4,
.col-sm-4,
.col-lg-4_5,
.col-md-4_5,
.col-sm-4_5,
.col-lg-1_75,
.col-md-1_75,
.col-sm-1_75,
.col-lg-5,
.col-md-5,
.col-sm-5,
.col-lg-6,
.col-md-6,
.col-sm-6,
.col-lg-12,
.col-md-12,
.col-sm-12
{
	padding-bottom: 10px;
}

#formeditor_page.new-editarea .subitem {
	padding-bottom: 0px;
}


.class123-address {
	/*	margin-top: -20px;*/
}

.space-y {
	margin-bottom:20px;
}


.social-buttons.social-right {
	text-align:right;
}

.social-buttons.social-center {
	text-align:center;
}

.social-buttons.social-center {
	text-align:center;
}

.social-buttons a{
	text-align:left;
}


.input-required + label {
	/* some styles moved to main.modern.css and main.classic.css */
	color:#9C9C9C;
	padding-left: 0px;
	position: absolute;
	top: 6px;
	left: 20px;
}

.form-rtl .class123-placeholder{
	right: 20px;
}

input:-ms-input-placeholder {
	color:#9C9C9C;
}

.input-required + label {
	display: none;
}

.force_block {
	display:block !important;
}


/* show the placeholder when input has no content (no content = invalid) */
.input-required[value='']:empty + label {
	display: inline-block;
	width:100%;
}

/* hide the placeholder when input has some text typed in */
.input-required:not([value='']) + label,.input-required:not(:empty) + label, .input-required:focus + label{
	display: none;
}



/* ==========================================================================
   12. PAGINATION
   ========================================================================== */
.class123-pagination {
	overflow: hidden;
}

.class123-pagination .pagination-item {
	margin-bottom:10px;
}

.class123-pagination .pagination-item.pagination-active .page-number,
.class123-pagination .pagination-item.pagination-active .page-title {
	color: #4c4c4c;
	vertical-align: top;
}
.class123-pagination .pagination-item .page-number {
	color: #c9c9c9;
	/* some styles moved to main.modern.css and main.classic.css */
	display:block;
	padding: 0 10px;
}
.class123-pagination .pagination-item .page-title {
	font-weight: 700;
	color: #c9c9c9;
	/* some styles moved to main.modern.css and main.classic.css */
	padding-top: 4px;
}

.class123-pagination .pagination-progress-bar-wrapper {
	border-radius: 3px;
	border: 1px solid #c9c9c9;
	height: 30px;
	line-height: 30px;
	position: relative;
	text-align: center;
	width: 100%;
}

.class123-pagination .pagination-progress-bar-wrapper.pagination-with-title {
	text-align: left;
}

.class123-pagination .pagination-progress-bar-wrapper.pagination-with-title .pagination-progress-percentage {
	padding: 0 13px;
}

.class123-pagination .pagination-progress-bar-wrapper.pagination-with-title .pagination-progress-title {
	font-weight: 700;
	color: #4c4c4c;
	position: relative;
}

.class123-pagination .pagination-progress-bar-wrapper .pagination-progress-bar {
	min-width: 50px;
	min-width: 5px;
	border: 1px solid white;
	height: 28px;
	border-radius:4px;
	position: absolute;
	margin: 0 !important;
	width: 20%;
}

.class123-pagination .pagination-progress-bar-wrapper .pagination-progress-percentage {
	font-weight: 700;
	color: #4c4c4c;
	position: relative;
}

.label-cont {
	max-width:100%;
	word-break: normal;
	word-wrap: break-word;
}

.fieldtype-2-1 .class123-tos {
	position: relative;
}

.class123-tos .label-text {
	position: static;
	vertical-align: middle;
}
.fieldtype-2-1 .class123-tos .outside,
.fieldtype-2-1 ~ .fieldcontainer .class123-tos .outside  {
	margin-top: 0;
	margin-bottom: 0;
}

.fieldtype-2-1 .fielderror {
	margin-top: 5px;
}
.fieldtype-2-1 ~ .fieldcontainer .fielderror {
	margin-top: 0px;
}

.clearCommon {
	clear:both;
}

/* ==========================================================================
   1.9. STARS
   ========================================================================== */

.stars-rate {
	overflow: hidden;
	min-width: 110px;
	padding-top: 4px;
}

.stars-rate a {
	background-image: url('/images3/form/stars-sprite.png');
	background-position: 0 -28px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	margin: 0 3px;
	transition: all .2s ease-out;
	vertical-align: top;
	width: 25px;
}


.stars-rate a.ratingAdult {
	background-image: url('/images3/form/adults-sprite2.png');
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 43px;
	margin: 0 3px;
	transition: all .2s ease-out;
	vertical-align: top;
	width: 25px;
}

.validation-error .stars-rate:not(.no-validation-error) a.ratingAdult {
	background-position: 0 -45px !important;
}

.stars-rate a.ratingChild {
	background-image: url('/images3/form/children-sprite2.png');
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 43px;
	margin: 0 3px;
	transition: all .2s ease-out;
	vertical-align: top;
	width: 25px;
	background-position: 50% 50%;
}

.validation-error .stars-rate:not(.no-validation-error) a.ratingChild {
	background-position: 0 -45px !important;
}

.stars-rate a {
	background-image: url('/images3/form/stars-sprite.png');
	background-position: 0 -28px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	margin: 0 3px;
	transition: all .2s ease-out;
	vertical-align: top;
	width: 25px;
	background-position: 50% 50%;
}

.stars-rate a:first-child {
	margin-left:0px;
}

.validation-error .stars-rate:not(.no-validation-error) a {
	background-position: 0 -56px;
}

.stars-rate a:hover {
	background-position: 0 0;
}

.stars-rate a.temporary-selected-star {
	background-position: 0 0;
	opacity: 0.5;
}

.stars-rate a.selected-star {
	background-position: 0 0;
}


/* ==========================================================================
   12. SOCIAL MEDIA ICONS
   ========================================================================== */
.social-media-icon {
	color: white;
	display: inline-block;
	font-size: 0.750em;
	margin: 0px 2px 2px 0px !important;
	text-decoration: none;
	transition: all .2s;
}

.social-buttons.social-right a:last-child {
	margin-right: 0;
}

.social-buttons.social-left a:first-child {
	margin-left: 0;
}


.social-media-icon:hover {
	text-decoration: none;
	opacity: 0.9;
}

.social-media-icon .social-name {
	display: inline-block;
	padding: 10px 0;
	text-align: center;
	width: 106px;
}

.social-media-icon .social-count {
	display: inline-block;
	float: right;
	padding: 10px 15px;
	text-align: center;
	vertical-align: middle;
}

.social-media-icon.facebook {
	background-color: #3e599a;
}

.social-media-icon.facebook .social-count {
	background-color: #4665af;
}

.social-media-icon.twitter {
	background-color: #4b8cbe;
}

.social-media-icon.twitter .social-count {
	background-color: #5e9ecf;
}

.social-media-icon.google-plus {
	background-color: #b8382e;
}

.social-media-icon.google-plus .social-count {
	background-color: #d24238;
}

.social-media-icon.linkedin {
	background-color: #0077b5;
}

.social-media-icon.linkedin .social-count {
	background-color: #0086CF;
}

.form-rtl .social-media-icon  .social-count {
	float:left;
}
.form-rtl .select2-container .select2-arrow {
	left: 10px;
	right: auto;
	margin-left: 0;
}
.form-rtl .select2-container .select2-chosen {
	margin-right: 0;
	margin-left: 31px;
	padding-right: 10px;
}

.form-rtl .select2-drop, .form-rtl .select2-container, .form-rtl .select2-chosen, .form-rtl .select2-result-label {
	direction: rtl;
	display: inline-block;
	position: relative;
	text-align: right !important;
	top: -1px;
}

.form-rtl .fieldtype-6-3 .rowdown [class*="col-sm-"],
.form-rtl .fieldtype-6-4 .rowdown [class*="col-sm-"],
.form-rtl .fieldtype-6-6 .rowdown [class*="col-sm-"],
.form-rtl .fieldtype-6-7 .rowdown [class*="col-sm-"] {
	display: inline-block;
	float: none;
	padding-left: 0;
}

.form-rtl .fieldtype-6-5 .row.control-row,
.form-rtl .field-validation-5 .row.control-row  {
	text-align: right !important;
	direction: rtl !important;
}

.form-rtl .fieldtype-0-0.field-validation-5 .row.control-row,
.form-rtl .fieldtype-6-3 .row.control-row,
.form-rtl .fieldtype-6-7 .row.control-row,
.form-rtl .fieldtype-6-4 .row.control-row,
.form-rtl .fieldtype-6-6 .row.control-row,
.form-rtl .fieldtype-0-0.field-validation-5.rowdown .row .control-row,
.form-rtl .fieldtype-6-3.rowdown .row .control-row,
.form-rtl .fieldtype-6-7.rowdown .row .control-row,
.form-rtl .fieldtype-6-4.rowdown .row .control-row,
.form-rtl .fieldtype-6-6.rowdown .row .control-row,
#formeditor_page .form-rtl .row.fieldtype-0-0.field-validation-5 .control-row,
#formeditor_page .form-rtl .row.fieldtype-6-3 .control-row,
#formeditor_page .form-rtl .row.fieldtype-6-7 .control-row,
#formeditor_page .form-rtl .row.fieldtype-6-4 .control-row,
#formeditor_page .form-rtl .row.fieldtype-6-6 .control-row {
	direction: ltr !important;
}

/* for columns */
.form-rtl .divonecolumn .fieldtype-6-3.rowdown .row .control-row .col-lg-2_5 {
	padding-left: 0px !important;

}

.form-rtl .divonecolumn .fieldtype-6-3.rowdown .row .control-row .col-lg-1_75 {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-right: 13px;

}

.form-rtl .divonecolumn .fieldtype-6-3.rowdown .row .control-row .col-lg-2 {
	min-width: 75px;
	padding-left: 0px;
}

.form-rtl .divonecolumn .fieldtype-6-3.rowdown .row .control-row .col-lg-3.subitem.col-lg-3.col-md-3.col-sm-3 {
	min-width: 90px;
}

.form-rtl .divonecolumn .fieldtype-6-7.rowdown .row .control-row .col-lg-2{
	padding-left: 0px !important;
	margin-right: 7px;

}


.form-rtl .divonecolumn .fieldtype-6-6.rowdown .row .control-row .col-lg-2_5 {
	padding-left: 0px !important;
	margin-right: 17px;

}

.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-2 {
	padding-left: 0px !important;
	padding-right: 10px;
	min-width: 63px;
}

.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-2 input[maxlength="4"]{
	min-width: 50px;
}

.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-2_5 {
	min-width: 68px;
}

.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-2_5 input[maxlength="4"]{
	min-width: 59px;
}

.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-3 {
	padding-left: 0px !important;
	margin-left: 0px;
	min-width: 65px;

}

.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-4 {
	min-width: 67px;
	padding-left: 0px;
}

.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-3 input[maxlength="5"] {
	min-width: 57px;
}

.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-3 input[maxlength="4"] {
	min-width: 56px;
}


.form-rtl .divonecolumn .fieldtype-6-3 .row.control-row .col-lg-1_75 {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-right: 13px;

}

.form-rtl .divonecolumn .fieldtype-6-6 .row.control-row .col-lg-1_75 {
	 min-width: 59px;
 }

.form-rtl .divonecolumn .fieldtype-6-6.rowdown .row .control-row .col-lg-1_75 {
	min-width: 60px;
}


.form-rtl .divonecolumn .fieldtype-6-7 .row.control-row .col-lg-2{
	padding-left: 0px !important;
	margin-right: 7px;

}


.form-rtl .divonecolumn .fieldtype-6-6 .row.control-row .col-lg-2_5 {
	padding-left: 0px !important;
	margin-right: 0px;
	min-width: 77px;

}

/* end columns */

.form-rtl .fieldtype-6-3 .row.control-row .col-sm-2 {
	min-width: 82px;
}

.form-rtl .fieldtype-6-3 .row.control-row .col-lg-2_5 {
	padding-left: 0px !important;

}

.form-rtl .fieldtype-6-3 .row.control-row .col-lg-3 {
	padding-left: 0px !important;
	margin-left: 10px;

}

.form-rtl .fieldtype-6-3 .row.control-row .col-lg-1_75 {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-right: 13px;

}

.form-rtl .divonecolumn .fieldtype-6-1.row .control-row .col-lg-3 {
	min-width: 88px;
}

#formeditor_page .form-rtl .fieldtype-6-1 .row.control-row .col-lg-3 {
	margin-bottom: -10px !important;
	padding-bottom: 0px !important;
}

#formeditor_page .form-rtl .fieldtype-6-1.row .control-row .col-lg-3 {
	margin-bottom: -10px !important;
	padding-bottom: 0px !important;
}

#formeditor_page .form-rtl .fieldtype-2-0 .control-row .class123-checkbox-other-label .label-text {
	display: inline-block;
}
.form-rtl.form-top-aligned .fieldtype-2-0 .control-row .class123-twocol .class123-checkbox-other-label .label-text,
.form-rtl.form-top-aligned .fieldtype-2-0 .control-row .class123-threecol .class123-checkbox-other-label .label-text,
.form-rtl.form-top-aligned .fieldtype-3-0 .control-row .class123-twocol .class123-checkbox-other-label .label-text,
.form-rtl.form-top-aligned .fieldtype-3-0 .control-row .class123-threecol .class123-checkbox-other-label .label-text{
	display: inline-block;
	width: 78% !important;
}

.form-rtl.form-top-aligned .fieldtype-3-0.rowdown .control-row .class123-checkbox-other-label .label-text,
.form-rtl.form-top-aligned .fieldtype-2-0.rowdown .control-row .class123-checkbox-other-label .label-text {
	display: inline-block;
	width: 86%;
}

.form-rtl.form-top-aligned .fieldtype-6-1.rowdown .control-row  .subitem.col-lg-3_5.col-md-3_5.col-sm-3_5 {
	min-width: 75px;
}

#formeditor_page .form-rtl .fieldtype-6-3 .row.control-row .col-lg-1_75 {
	padding-left: 5px !important;
}

.form-rtl .fieldtype-6-7 .row.control-row .col-lg-2{
	padding-left: 0px !important;

}


.form-rtl .fieldtype-6-6 .row.control-row .col-lg-2_5 {
	padding-left: 0px;

}

#formeditor_page .form-rtl .class123-sidebyside {
	float: right !important;

}

.form-rtl .fieldtype-3-0.row .col-lg-3 {
	float: right;
}

.form-rtl .fieldtype-3-0.row .likert-label {
	text-align: right;
	display: block;

}

.form-rtl #formeditor_page .ddw_base_txt {
	margin-right: -35px !important;
}

.form-rtl .row .instruction-container {
	direction: rtl !important;
}

#formeditor_page .form-rtl .class123-address .col-lg-6 {
	float: right;
}

#formeditor_page .form-rtl .ddw_base_txt {
	margin-right: -35px !important;
}

.form-rtl input[type="radio"]:not(old) + label > .outside > .inside {
	margin: 3px !important;
}

.form-editor-fields-container .form-rtl .fieldtype-6-6 .subitem.col-lg-2_5.col-md-2_5.col-sm-2_5 {
	max-width: 18%;
	top: 10px;
}

.form-rtl .fieldtype-6-5 .row.control-row .select2-container .select2-chosen,
.form-rtl .fieldtype-6-6 .row.control-row .select2-container .select2-chosen {
	margin-left: 20px !important;
}

.form-rtl .fieldcontainer .row .stars-rate {
	text-align: right !important;
}
