
/* ---------------------------Global Styles--------------------------------*/

/* Set the height of the nav bar brand which in turn changes the height of the
entire navigation bar */
.main-navbar .navbar-brand {
  height: 80px;
  padding:0px;
}
.main-navbar .navbar-brand>img {
  height: 100%;
  width: auto;
}
.main-navbar .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.main-navbar {
    font-size: 16px;
}



/* Sub navigation CSS */

.tabbed-nav {
    margin-top: 20px;
}
.tabbed-nav li > a {
    height:50px;
    line-height: 40px;
}

/* Change the default colours of the navbar and remove the bottom border */
.navbar-default {
    background-color: #000;
    border: 0;
}

/*---------------------------Expanded------------------------------------ */
@media (min-width: 768px) {
    .dropdown-menu{
        border:0;
    }

    /* Search input style and animation */
    #searchInput {
        width:80px;
        outline:none;
        margin-right:2px;
        border:1px solid black;
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -o-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }
    #searchInput:focus	{
        outline: none;
        width: 200px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #searchButton {
        background-color:black;
        color:white;
        margin-right:1px;
        width: 45px;
        border:1px solid black;
        transition: color 1s ease;
    }
    #searchButton:hover{
        color:#0084ab;
        transition: color 1s ease;
    }

    /* Nav bar buttons rollovers etc*/
    ul.nav.navbar-nav > li.active > a {
        background-color: #0084ab;
    }
    .navbar-inverse .navbar-nav>.open>a,
     .navbar-inverse .navbar-nav>.open>a:focus,
     .main-navbar .navbar-inverse .navbar-nav>.open>a:hover {
    }

    ul.nav.navbar-nav .dropdown.open .dropdown-toggle{
      background-color: #0084ab;
    }
    ul.nav.navbar-nav li.active{
      background-color: #0084ab;
    }

    .main-navbar .nav > li > a {
        color: #FFF;
        -webkit-transition: background-color ease .7s;
        -moz-transition: background-color ease .7s;
        -o-transition: background-color ease .7s;
        transition: background-color ease .7s;
    }
    .main-navbar .nav > li > a:hover {
        background-color: #0084ab;
        -webkit-transition: background-color ease .7s;
        -moz-transition: background-color ease .7s;
        -o-transition: background-color ease .7s;
        transition: background-color ease .7s;
    }


    .main-navbar .nav >li >a {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left:20px;
      padding-right:20px;
    }
    .main-navbar .navbar-toggle {
      padding: 10px;
      margin: 25px 15px 25px 0;
    }

    .main-navbar form {
        padding-top: 14px;
    }

    /* Nav Bar brand responsive - similiar to image-responsive class */
    .main-navbar .navbar-brand>img {
      height: 100%;
      width: auto;
    }


    /*Style the dropdown menus of the nav bar */
    .navbar-default .navbar-nav .open .dropdown-menu li,
    .navbar-default .navbar-nav .open .dropdown-menu a {
        padding: 0;
        margin: 0;
        line-height: normal;
    }
    .main-navbar .dropdown-menu {
        padding: 0;
        margin: 0;
        line-height: normal;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        padding: 10px;
        background-color: #000;
        color: #FFF;
        -webkit-transition: background-color ease .7s;
        -moz-transition: background-color ease .7s;
        -o-transition: background-color ease .7s;
        transition: background-color ease .7s;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #0084ab;
        -webkit-transition: background-color ease .7s;
        -moz-transition: background-color ease .7s;
        -o-transition: background-color ease .7s;
        transition: background-color ease .7s;
    }


}


/*--------------------------Collapsed------------------------------------ */
@media only screen and (max-width:768px) {
    /* Nav Bar brand responsive - similiar to image-responsive class */

        .main-navbar .nav > li > a {
            color: #FFF;
            -webkit-transition all ease .7s;
            -moz-transition all ease .7s;
            -o-transition all ease .7s;
            transition all ease .7s;
        }
        .main-navbar .nav > li > a:hover {
            background-color: #0084ab;
            -webkit-transition all ease .7s;
            -moz-transition all ease .7s;
            -o-transition all ease .7s;
            transition all ease .7s;
        }
        .navbar-default .navbar-nav .open .dropdown-menu>li>a {
            color: #FFF;
            -webkit-transition all ease .7s;
            -moz-transition all ease .7s;
            -o-transition all ease .7s;
            transition all ease .7s;
        }
        .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
            background-color: #0084ab;
            -webkit-transition all ease .7s;
            -moz-transition all ease .7s;
            -o-transition all ease .7s;
            transition all ease .7s;
        }

}
