<div class="col col-12 members_row">
  <div
    class="owl-carousel owl-theme members_slider"
    id="community_projects_slider"
  >
    <a href="https://www.mcuboot.com/" target="_self">
      <div class="item text-center text-dark">
        <div class="member_image">
          <img
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            alt="OpenAmpProject logo"
            data-src="/assets/images/content/mcuboot.png"
          />
        </div>
        <h5>MCUboot</h5>
      </div>
    </a>
    <a href="https://www.openampproject.org" target="_self">
      <div class="item text-center text-dark">
        <div class="member_image">
          <img
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            alt="OpenAmpProject logo"
            data-src="/assets/images/content/openampproject-logo.png"
          />
        </div>
        <h5>OpenAMP</h5>
      </div>
    </a>
    <a href="https://www.trustedfirmware.org" target="_self">
      <div class="item text-center text-dark">
        <div class="member_image">
          <img
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            alt="TrustedFirmware logo"
            data-src="https://www.trustedfirmware.org/assets/images/TrustedFirmware-Logo_icon.png"
          />
        </div>
        <h5>Trusted Firmware</h5>
      </div>
    </a>
  </div>
</div>
