<div class="col col-12">
    <!-- Modal -->
    <div class="modal fade" id="edgeModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">What is Edge computing?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <p>
                        Edge computing takes place outside of the data centre so is often described as the computing work done between things
                        and the cloud. Whereas Fog computing is where Edge computing uses cloud technologies. For instance a wrist watch can be
                        seen as an edge device for all wearables that a person holds; a car communication system can be seen as an edge device
                        for onboard devices but also for the wrist watch of the driver; a traffic light pole can embed a system that would be an
                        edge device for many cars and may be for wrist watches directly. Each edge device can be connected to multiple clouds
                        such as the city smart infrastructure cloud, a car manufacturer cloud, an insurance company cloud. What’s more, multiple
                        edge devices can collaborate in the context of a dynamic ad hoc swarm. As an example, a swarm can be formed out of the
                        cars present in the surroundings of a road intersection; cars enter and leave the swarm as they enter and leave the
                        intersection.
                    </p>
                    <p>
                        Regardless of the exact definition, edge computing can be seen as the hybridization of cloud and embedded worlds.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <p>
        Edge computing takes place outside of the data centre so is often described as the computing work done between things
        and the cloud. Whereas Fog computing is where Edge computing uses cloud technologies. (For a greater definition <a href="#." data-toggle="modal" data-target="#edgeModal">click
        here.</a>)
    </p>
</div>
