<div class="col-xs-12">
    <div class="owl-carousel owl-theme hidden-xs" id="engineering_slider">
        {% for engineering_group in site.data.engineering_groups.items %}
        <a href="/engineering/datacenter-and-cloud/" target="_self">
            <div class="item">
                <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                alt="{{engineering_group.title}} image" data-src="{{engineering_group.icon.svg}}"/>
                <h3>{{engineering_group.title}}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="owl-carousel owl-theme visible-xs-block" id="engineering_slider_mobile">
        {% for engineering_group in site.data.engineering_groups.items %}
            {% assign mod4 = forloop.index | modulo: 4 %}
            {% if forloop.index == 1 or forloop.index == 5 or forloop.index == 9 %}<div class="item">{% endif %}
                <div class="col-xs-6 p-t-20">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                       alt="{{engineering_group.title}} image" data-src="{{engineering_group.icon.svg}}" />
                    <h3>{{engineering_group.title}}</h3>
                </div>
            {% if forloop.index == 4 or forloop.index == 8 or forloop.index == 12 or forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
</div>
