{% assign engineering_items = site.data.engineering_groups.items | sort: 'title' %}
<div class="col-xs-12" id="engineering_icons">
    {% for engineering_group in engineering_items %}
    <div class="col-xs-6 col-sm-3 engineering_icon_col">
        <a href="{{engineering_group.url}}" target="_self">
            <div class="item">
                <img class="center-block lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    alt="{{engineering_group.title}} image"
                    data-src="{{engineering_group.icon.svg}}" />
                <h3>{{engineering_group.title}}</h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
