{% assign engineering_items = site.data.engineering_groups.items | sort: 'title' %}
<div class="col col-12">
    <div class="owl-carousel owl-theme d-none d-sm-block" id="engineering_slider">
        {% for engineering_group in engineering_items %}
        <a href="{{engineering_group.url}}" target="_self">
            <div class="item text-center">
                <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                alt="{{engineering_group.title}} image" data-src="{{engineering_group.icon.svg}}"/>
                <h4 class="text-white">{{engineering_group.title}}</h4>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="owl-carousel owl-theme d-block d-sm-none" id="engineering_slider_mobile">
        <div class="row">
        {% for engineering_group in engineering_items %}
            {% assign mod4 = forloop.index | modulo: 4 %}
            {% if forloop.index == 1 or forloop.index == 5 or forloop.index == 9 %}<div class="item">{% endif %}
                <div class="col col-6 p-t-20 text-center">
                    <a href="{{engineering_group.url}}" target="_self">
                        <img class="my-5 lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        alt="{{engineering_group.title}} image" style="height:175px;" data-src="{{engineering_group.icon.svg}}" />
                        <h4 class="text-white">{{engineering_group.title}}</h4>
                    </a>
                </div>
            {% if forloop.index == 4 or forloop.index == 8 or forloop.index == 12 or forloop.last %}</div>{% endif %}
        {% endfor %}
        </div>
    </div>
</div>
