{% if include.object.youtube_embed.url contains "https://youtu.be/" %}
{% assign youtube_id = include.object.youtube_embed.url | replace: 'https://youtu.be/','' %}
{% elsif include.object.youtube_embed.url contains "https://www.youtube.com/watch?v=" %}
    {% assign youtube_id = include.object.youtube_embed.url | replace: 'https://www.youtube.com/watch?v=','' %}
{% else %}
    {% assign youtube_id = include.object.youtube_embed.url %}
{% endif %}

{% assign youtube_id =  youtube_id | split: "&" | first %}

<div class="col-xs-12 youtube_embed">

<iframe
width="100%"
height="100%"
src="https://www.youtube.com/embed/{{youtube_id}}"
srcdoc="<style>
    * {
        padding: 0;
        margin: 0;
        overflow: hidden
    }

    html,
    body {
        height: 100%
    }

    img,
    span {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto
    }

    span {
        height: 1.5em;
        text-align: center;
        font: 48px/1.5 sans-serif;
        color: white;
        text-shadow: 0 0 0.5em black
    }
</style><a href=https://www.youtube.com/embed/{{youtube_id}}?autoplay=1> <img
    src=https://img.youtube.com/vi/{{youtube_id}}/maxresdefault.jpg
    alt='{{include.object.youtube_embed.title}}'><span>▶</span></a>"
frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen
title="{{include.object.youtube_embed.title}}"
></iframe>
</div>
