<div class="col-xs-12 no-padding membership_form_container">
    <div class="col-xs-12 col-sm-6 form_section">
        <form action="#" onsubmit="submitMembershipForm(this);" >
            <div class="form-group">
                <input type="text" name="first_name" class="form-control" placeholder="First name">
            </div>
            <div class="form-group">
                <input type="text" name="surname" class="form-control" placeholder="Surname">
            </div>
            <div class="form-group">
                <input type="text" name="company" class="form-control" placeholder="Company">
            </div>
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <select class="form-control" name="membership_type">
                    <option value="" disabled selected>Type of membership interested in</option>
                    <option value="Core">Core</option>
                    <option value="Club">Club</option>
                    <option value="Group">Group</option>
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3"
                 name="source" placeholder="How did you hear about Linaro?"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-default">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-6 image_section">
        <img class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        alt="Connect Crowd" data-src="/assets/images/content/connect_crowd.jpg"/>
    </div>
</div>
