{% assign unique_linaro_members = "" | split: ',' %}
<div class="col-xs-12">
    <div class="owl-carousel owl-theme" id="members_slider">
        {% for group in site.data.members %}
            {% if group.id == "core" or group.id == "club" or group.id == "group" or group.id == "autonomous-vehicles-incubator" or group.id == "hpc-sig" %}
                {% for member in group.members %}
                    {% unless unique_linaro_members contains member%}
                        <a href="{{member.url}}" target="_self">
                            <div class="item">
                                <div class="member_image">
                                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        alt="{{member.name}} logo" data-src="{{member.image}}" />
                                </div>
                                {% if group.id == 'hpc-sig' %}
                                    {% assign group_name = "HPC SIG" %}
                                {% else %}
                                    {% assign group_name = group.id | capitalize %}
                                {% endif %}
                                <span class="member_type {{group.id}}">{{ group_name }} Member</span>
                            </div>
                        </a>
                        {% assign unique_linaro_members = unique_linaro_members | push: member %}
                    {% endunless %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
