---
layout: default
title:  OP-TEE - Agreement
breadcrumb-title: Contributor License Agreement
breadcrumb-subtitle: Contributor License Agreement
permalink: "/agreement/"
description: |-
    Contributions to OP-TEE are managed by the OP-TEE gatekeepers, whose contact email address is op-tee@linaro.org.
    Anyone can contribute to OP-TEE as long as they understand that a Signed-off-by tag will be required in the patch.
specific_js: sticky-navbar
---

{% include page-structure-top.html %}


                {% include sub-navigation.html %}

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="">

                </div>
                <div role="tabpanel" class="tab-pane fade active in">
                    <h1>Contributor License Agreement</h1>
                    <p>Contributions to OP-TEE are managed by the OP-TEE gatekeepers, whose contact email address is op-tee@linaro.org.</p>
                    <p>Anyone can contribute to OP-TEE as long as they understand that a Signed-off-by tag will be required in the patch.
                      When adding the Signed-off-by tag, you confirm that you have read, and are following the rules stated in the Developer
                       Certificate of Origin as stated on <a href="https://github.com/OP-TEE/optee_os/blob/master/Notice.md#contributions">GitHub</a>.</p>

                    <h2>Documentation</h2>
                    <p>The main page (<a href-"https://github.com/OP-TEE/optee_os/blob/master/README.md">README.md</a>) at
                      GitHub contains information about the platforms supported, how to get the source code, build the
                      solution and run it on various devices. Besides that, we keep all documentation in a subfolder at
                      <a href="https://github.com/OP-TEE/optee_os/tree/master/documentation">optee_os/documentation</a>. Like the rest of the code, documentation is tracked using Git.
                      This means that the current version is always up to date with the current source code.
                      If you check out an older version however, you will need to look at the documentation
                      folder and files from that particular snapshot, since that may well contain slightly
                      different instructions which were valid at the time.</p>
                    <h2>Build system</h2>
                    <p>Full documentation about the build system can be found on GitHub in the file named
                      <a href="https://github.com/OP-TEE/optee_os/blob/master/documentation/build_system.md">build_system.md</a>.
                       There you will find all toolchain related questions, what makefiles are involved and the purpose for them.</p>
                    <h2>Design</h2>
                    <p>The main design for OP-TEE is described in the <a href="https://github.com/OP-TEE/optee_os/blob/master/documentation/optee_design.md">optee_design.md</a> file at GitHub.</p>
                    <h2>Issues, bugs etc?</h2>
                    <p>Please file an issue on our “<a href="https://github.com/OP-TEE/optee_os/issues">Issues</a>” list at GitHub.</p>
                </div>
              </div>

          {% include members.html %}

{% include page-structure-bottom.html %}
