---
layout: default
title:  OP-TEE - Dependencies
breadcrumb-title: Dependencies
breadcrumb-subtitle: Dependencies
permalink: "/projects/dependencies/"
breadcrumb-section: Projects
specific_js: sticky-navbar
---
{% include page-structure-top.html %}

                {% include sub-navigation.html%}
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade" id="overview">

                  </div>
                  <div role="tabpanel" class="tab-pane fade active in" id="lswg">
                    <h1>Linaro Security Working Group</h1>
                    <p>The Linaro Security Working Group (SWG) was created to help ensure an optimised
                      and efficient software ecosystem exists to support ARM open source Linux distributions
                      on security related topics, and to accelerate the delivery of high quality secure products
                      across the ARM open source ecosystem.</p>

                    <p>In order to enable applications such as securely booting a server or decoding encrypted media,
                      there needs to be a Trusted Execution Environment (TEE). the SWG will be creating reference designs
                       showing how normal and trusted application code and libraries can be integrated within a particular
                       platform such as Android. Initial activities include the development of an open source reference
                       implementation of the W3C Encrypted Media Extension (EME) using platform security features for secure
                        media playback on mobile and digital home devices; and an open source reference implementation of
                        secure boot for the 64-bit ARM Cortex-A series processor cores to complement the ARM Trusted Firmware
                         open source project, targeted at server applications. In addition there will be work on security
                         features in the Linux kernel.

					 </p>
                  </div>
                </div>

          {% include members.html %}

{% include page-structure-bottom.html %}
