<div class="row timeline">
    <div class="container">
        <div class="timeline-short owl-carousel owl-theme" id="timelineCarousel">
            {% assign timeline_items = site.data.timeline.items %}
            {% for each in timeline_items %}
                <div class="item">
                    <div class="col-xs-12 text-center">
                        <h3>{{each.name}}</h3>
                        <ul class="list-group">
                            {% assign sorted_items = each.entries | sort: 'date' %}
                            {% for entry in sorted_items %}
                                <li class="list-group-item">
                                    {% if entry.url %}<a href="{{entry.url}}">{% endif %}
                                    {{entry.title}}
                                    {% if entry.url %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
