<div class="row employee-map">
    <div class="container text-center">
        <h1 id="we-are-global">We are global</h1>
        <p class="center employee-map-text">
          Linaro’s mission is to lead collaboration in the Arm ecosystem by bringing together industry and the open source community to work on key projects, 
          deliver great tools, reduce industry wide fragmentation and redundant effort, and provide common software foundations for all.
        </p>
         {% include about-world-map.html %}
        <div class="col-sm-offset-2 col-sm-4 linaro-office hidden-xs cambridge">
            <div class="office cambridge">
                <ul>
                    <li><strong>Cambridge, UK</strong></li>
                    <li>Harston Mill, Royston Rd</li>
                    <li>Cambridge, UK</li>
                    <li>CB22 7GG</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 linaro-office hidden-xs boston">
            <div class="office boston">
                <ul>
                    <li><strong>Nashua, NH, USA</strong></li>
                    <li>402 Amherst Street, Suit 204</li>
                    <li>Nashua NH 3063</li>
                    <li>USA</li>
                </ul>
            </div>
        </div>
        <div class="office-carousel owl-carousel owl-theme visible-xs">                    
            <div class="owl-item__inner">
                <div class="col-xs-12 no-padding linaro-office visible-xs cambridge">
                    <div class="office cambridge">
                        <ul>
                            <li><strong>Cambridge, UK</strong></li>
                            <li>Harston Mill, Royston Rd</li>
                            <li>Cambridge, UK</li>
                            <li>CB22 7GG</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="owl-item__inner">
                <div class="col-xs-12 no-padding linaro-office visible-xs boston">
                    <div class="office boston">
                        <ul>
                            <li><strong>Nashua, NH, USA</strong></li>
                            <li>402 Amherst Street, Suit 204</li>
                            <li>Nashua NH 3063</li>
                            <li>USA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- // timeline-carousel -->
        <div class="col-xs-12 remote-teams">
            <h5>Remote Team</h5>
        </div>  
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 remote-teams hidden-xs">
            <ul>
                <li>Australia</li>
                <li>Brazil</li>
                <li>Canada</li>
                <li>China</li>
                <li>Denmark</li>
                <li>Finland</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 remote-teams hidden-xs">
            <ul>
                <li>France</li>
                <li>Germany</li>
                <li>India</li>
                <li>Italy</li>
                <li>Japan</li>
                <li>Latvia</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 remote-teams hidden-xs">
            <ul>
                <li>Luxembourg</li>
                <li>Mexico</li>
                <li>Netherlands</li>
                <li>Pakistan</li>
                <li>Romania</li>
                <li>Russia</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 remote-teams hidden-xs">
            <ul>
                <li>Serbia</li>
                <li>Spain</li>
                <li>Sweden</li>
                <li>Switzerland</li>
                <li>Taiwan</li>
                <li>UK</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 remote-teams hidden-xs">
            <ul>
                <li>Ukraine</li>
                <li>USA</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 remote-teams hidden-xs">
        </div>
        <div class="remote-team-carousel owl-carousel owl-theme visible-xs">                    
            <div class="owl-item__inner">
                <div class="col-xs-6 remote-teams">
                    <ul>
                        <li>Australia</li>
                        <li>Brazil</li>
                        <li>Canada</li>
                        <li>China</li>
                        <li>Denmark</li>
                        <li>Finland</li>
                    </ul>
                </div>
                <div class="col-xs-6 remote-teams">
                    <ul>
                        <li>France</li>
                        <li>Germany</li>
                        <li>India</li>
                        <li>Italy</li>
                        <li>Japan</li>
                        <li>Latvia</li>
                    </ul>
                </div>
            </div>
            <div class="owl-item__inner">
                <div class="col-xs-6 remote-teams">
                    <ul>
                        <li>Luxembourg</li>
                        <li>Mexico</li>
                        <li>Netherlands</li>
                        <li>Pakistan</li>
                        <li>Romania</li>
                        <li>Russia</li>
                    </ul>
                </div>
                <div class="col-xs-6 remote-teams">
                    <ul>
                        <li>Serbia</li>
                        <li>Spain</li>
                        <li>Sweden</li>
                        <li>Switzerland</li>
                        <li>Taiwan</li>
                        <li>UK</li>
                    </ul>
                </div>
            </div>
            <div class="owl-item__inner">
                <div class="col-xs-6 remote-teams">
                    <ul>
                        <li>Ukraine</li>
                        <li>USA</li>
                    </ul>
                </div>
            </div>
        </div> <!-- // timeline-carousel -->
    </div>
</div>