<div class="col-xs-12 no-padding" id="engineering_blocks">
    {% for group in site.data.engineering_groups.items %}
        <div class="col-xs-12 col-sm-4 engineering_blocks__col">
            <a href="{{group.url}}">
                <div class="engineering_block__outer">
                    <div class="lazyload engineering_block" data-bg="{{group.context_image}}">
                        <h3>{{group.title}}</h3>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
