<div class="row" id="maintainers_by_company">
    <div class="col col-12 header_section">
        <div class="row">
            <div class="col col-12 col-md-3 stat_block">
                <h3 class="stats font-weight-bold">138</h3>
            </div>
            <div class="col col-12 col-md-3 stat_block">
                <h2 class="header">Maintainers by Project</h2>
            </div>
        </div>
    </div>
    <div class="col col-12 graph_section">
        <span class="section_label">
            Engineers
        </span>
        <canvas id="maintainersByProjectChart"></canvas>
    </div>
</div>