<div class="row maintainers_data_row" id="maintainers_by_project" 
data-maintainers-by-project="{{site.data.maintainers["maintainers_by_project"] | jsonify | uri_escape}}">
    <div class="col col-12 header_section mt-5">
        <div class="row py-0">
            <div class="container">
                <div class="row py-0">
                    <div class="col col-12 col-md-3 stat_block">
                        <h3 class="stats font-weight-bold">66</h3>
                        <!-- <h4 class="d-block d-md-none section_label font-weight-bold text-center">
                            Engineers
                        </h4> -->
                    </div>
                    <div class="col col-12 col-md-9 stat_title_block d-flex">
                        <div class="row">
                            <div class="col col-12">
                                <h2 class="header mb-md-auto mt-2 text-center text-md-left w-100">{{site.data.translations.homepage.maintainers.titleText}}</h2>
                            </div>
                            <div class="col col-12">
                                <p>{{site.data.translations.homepage.maintainers.subText}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 graph_section">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="chart-container">
                        <canvas class="canvasTop" id="maintainersByProjectChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>