<div class="row maintainers_data_row" id="maintainers_by_company"
 data-maintainers-by-company="{{site.data.maintainers["maintainers_by_company"] | jsonify | uri_escape}}">
    <div class="col col-12 header_section">
        <div class="row py-0">
            <div class="container">
                <div class="row py-0">
                    <div class="col col-12 col-md-3 stat_block">
                        <h3 class="stats font-weight-bold">76</h3>
                    </div>
                    <div class="col col-12 col-md-9 stat_title_block d-flex">
                        <h2 class="header mb-md-auto mt-2 text-center text-md-left w-100">Maintainers by Company</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 graph_section">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="chart-container">
                        <canvas class="canvasTop" id="maintainersByCompanyChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>