---
layout: default
js-package: blog
css-package: blog
---
<div class="row" id="content-container">
    <div class="container">
        <div class="col-md-9">
            <article class="post-content">
                {% unless page.image.featured %}
                <div class="post-info">
                    <h1>{{page.title }}</h1>
                    {% if page.date %}<small class="blog-date text-center"><em>Posted on <b>{{page.date | date: "%A, %B
                                %-d, %Y"}}</b></em></small>{% endif %}
                    {% if page.categories %}in <a href="/categories/#{{page.categories[0]}}">{{page.categories[0] |
                        capitalize}}</a>{% endif %}
                    {% if page.author %}
                    {% if site.authors %}
                    {% assign author = site.authors | where: "username", page.author | first %}
                    {% assign author-url = author.url %}
                    {% assign using-data-file = false %}
                    {% elsif site.data.authors %}
                    {% assign using-data-file = true %}
                    {% assign author = site.data.authors | where: "username", page.author | first %}
                    {% assign author-url = "#" %}
                    {% endif %}
                    <em> By
                        {% if author %}
                        <a href="{{author-url}}">
                            <strong>
                                {{author.name}}
                            </strong>
                        </a>
                        {% else %}
                        <strong>
                            {{page.author}}
                        </strong>
                        {% endif %}

                    </em>
                    {% endif %}
                </div>
                {% endunless %}
                {{ content }}
            </article>
        </div>
        <div class="col-md-3 blog-sidebar no-padding">
            
        </div>
    </div>
</div>