---
layout: container-breadcrumb
css-package: company
js-package: blog
---
{% if page.company_image %}
<div class="col-xs-12 col-sm-3 col-sm-push-9 company-col no-padding text-center" markdown="1">
    <img class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{page.company_image}}" alt="{{page.title}} Image" />
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Linaro Membership</h3>
            {% assign linaro_membership_count = 0 %}
            {% for group in site.data.members %}
                {% for entry in group.members %}
                    {% if entry.name == page.title %}
                        <a href="{{group.url}}">
                            <span class="membership-badge">{{group.membership_group_name}}</span>
                        </a>
                        {% assign linaro_membership_count = linaro_membership_count | plus: 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-9 col-sm-pull-3 company-col no-padding">
    {% assign groups = ""%}
    {% assign linaro_membership_count = 0 %}
    {% for group in site.data.members %}
        {% for entry in group.members %}
            {% if entry.name == page.title %}
                {% assign groupToAdd = group.membership_group_name | replace: "Members", "Member" | replace: "Partners", "Partner" %}
                {% assign groups = groups | append: groupToAdd | append: "," %}
                {% break %}
            {% endif %}
        {% endfor %}
    {% endfor %}

<p>
    {% assign num = groups | size | minus: 1 %}
    {% assign groups =  groups | slice: 0, num  | split: "," %}
    {{page.title}} is a 
    {% assign second_from_last_index = groups | size | minus: 1 %}
    {% for group in groups %}
        {% if forloop.last and forloop.length >= 2 %}
            and {{group}}
        {% elsif forloop.index != forloop.length and forloop.length > 2 and forloop.index != second_from_last_index %}
            {{group}}, 
        {% else %}
            {{group}}
        {% endif %}
    {% endfor %}
</p>

<h3>About {{page.title}} </h3>
{{content}}
</div>
{% else %}
<div class="col-xs-12 company-col no-padding">
    {{content}}
</div>
{% endif %}

{% if page.pagination %}
    {% include pagination-company.html %}
{% endif %}
