---
layout: jumbotron-container
css-package: work
js-package: work
---
<div class="col-md-3">
    {% include sidebar.html  %}
    {% if page.icon %}
    <picture>
        <source srcset="{% if page.icon %}{{page.icon}}{% endif %}" 
        media="(min-width: 992px)" />
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
        data-src="{{page.icon}}" 
        class="lazyload img-responsive group_icon"/>
    </picture>
    {% endif %}
</div>
<div class="col-md-9">
    {{content}}
    <hr>
    {% include developer-services-contact-form.html %}
</div>
