---
layout: container-breadcrumb
---
<div class="col-md-3">
    {% if page.icon %}
    <hr />
    <picture>
        <source srcset="{% if page.icon %}{% asset_path '{{page.icon}}' %}{% endif %}" 
        media="(min-width: 992px)" />
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
        data-src="{% asset_path '{{page.icon}}'%}" 
        class="lazyload img-responsive group_icon"/>
    </picture>
    {% endif %}
    {% include sidebar.html  %}
</div>
<div class="col-md-9">
    {{content}}
</div>
