---
layout: container-breadcrumb
js-package: projects
css-package: work
---
<div class="col-md-9 project-stats">
    {% if page.project_link_name %}
        <div class="chartContainer">
            <canvas id="projectStatsChart-{{page.project_link_name}}" class="projectStatsChart" data-link-name="{{page.project_link_name}}"
                width="740" height="300"></canvas>
        </div>
    {% elsif page.sub_projects %}
        {% for subProject in page.sub_projects %}
            <div class="chartContainer">
                <canvas id="projectStatsChart-{{subProject.project_link_name}}" class="projectStatsChart" data-link-name="{{subProject.project_link_name}}"
                    width="740" height="300"></canvas>
            </div>
        {% endfor %}
    {% endif %}
    {% include linaro-contact-form.html %}
    {% include work-footer.html %}
</div>
<div class="col-md-3 project-stats-sidebar">
    {% if page.sub_projects %}
    <!-- Sub Projects -->
    <ul class="list-group">
        <li class="list-group-item active">
            {{page.title}}
        </li>
        {% for subProject in page.sub_projects %}
            <li class="list-group-item">
                {{subProject.project_name}} 
                <a class="pull-right" data-toggle="tooltip" data-placement="top"
                    title="View the {{subProject.project_name}} stats on patches.linaro.org" 
                href="{{subProject.project_patches_project_url}}">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>