<div class="row content home-row  p-t-50 p-b-50" id="boards">
    <div class="bg-svg">
        <svg id="BoardsIcon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <title>96Boards Icon Logo</title>
            <path
                d="M395.6,160.25c-18.18-15.68-42.1-25.52-71.09-29.25l-9.37-3.45L401,20h-80.6l-69,87.29c-5.61,6.91-10.78,14.63-15.52,20.94,17.11,5.88,32.36,15.94,45.6,29A123.46,123.46,0,0,1,306.08,193c1.38-.11,2.77-0.06,4.19-0.06,13.26,0,24.91,4.93,34.62,14.5a47.46,47.46,0,0,1,14.67,34.88c0,13.29-4.93,24.91-14.67,34.51A47.85,47.85,0,0,1,314.43,291a153.2,153.2,0,0,1-11,30.45C298.33,331.75,291,343.64,281.56,357a133.42,133.42,0,0,0,27.26,2.74c33.94,0,62.35-10.74,84.42-31.93,23.09-22.77,34.82-53.75,34.82-92C428.06,203.93,417.45,179.23,395.6,160.25Z" />
            <path
                d="M228.52,250.36c0-10.48-3.78-19.34-11.56-27.09-6.7-6.67-14.24-10.38-22.94-11.28a136.54,136.54,0,0,0-2.28,24.72c0,18.73,2.87,35.71,8.56,50.81A38.19,38.19,0,0,0,217,277.45C224.74,269.7,228.52,260.84,228.52,250.36Z" />
            <path
                d="M274.07,165.27c-21.8-21.57-49.7-32.52-82.89-32.52-33.94,0-62.33,10.84-84.4,32.23-23.11,22.53-34.84,53.34-34.84,91.55,0,32,10.61,56.69,32.44,75.39,18.2,15.68,42.12,25.51,71.12,29.22l9.36,1.16-4.26,11.27L98.94,480h80.62l69-91c21.62-26.62,36.88-51.85,45.36-69.06a144.87,144.87,0,0,0,14.3-62.61C308.26,220,296.75,188.06,274.07,165.27Zm-49.7,119.62c-9.71,9.67-21.36,14.58-34.64,14.58s-24.93-4.91-34.64-14.58-14.64-21.29-14.64-34.53,4.93-24.85,14.64-34.53,21.37-14.58,34.64-14.58,24.92,4.9,34.64,14.58S239,237.13,239,250.36,234.09,275.2,224.37,284.88Z" />
        </svg>
    </div>
    <div class="container">
        <div class="col-xs-12 text-center">
            <img class="img-responsive lazyload center-block zoom-image"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="/assets/images/content/96boards-vertical-logo.png" alt="96Boards vertical logo" />
            <h2>Develop & Prototype on the Latest Arm Technology</h2>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="specification">
                <img class="img-responsive lazyload center-block"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/96v-Consumer.svg" alt="Consumer Edition logo" />
                <p>
                    The 96boards Consumer Edition(CE) specification targets the mobile, embedded and digital home
                    segments.
                </p>
                <a href="https://www.96boards.org/products/ce/" class="btn btn-primary m-b-20">View Boards</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="specification">
                <img class="img-responsive lazyload center-block"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/96v-Enterprise.svg" alt="Enterprise Edition logo" />
                <p>
                    The 96Boards Enterprise Edition (EE) specification targets the networking and server segments.
                </p>
                <a href="https://www.96boards.org/products/ee/" class="btn btn-primary m-b-20">View Boards</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="specification">
                <img class="img-responsive lazyload center-block"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/96v-IoT.svg" alt="IoT Edition logo" />
                <p>
                    The 96Boards IoT Edition (IE) platform is designed to support development in the Internet of Things
                    (IoT) space.
                </p>
                <a href="https://www.96boards.org/products/ie/" class="btn btn-primary m-b-20">View Boards</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="specification">
                <img class="img-responsive lazyload center-block"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/96v-Partner.svg" alt="Mezzanine Edition logo" />
                <p>
                    Explore a wide variety of mezzanines to expand on your development experience.
                </p>
                <a href="https://www.96boards.org/products/mezzanine/" class="btn btn-primary m-b-20">View Boards</a>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <a href="https://www.96boards.org" class="btn btn-primary m-t-30 ">Visit 96Boards.org</a>
        </div>
    </div>
</div>