<div class="row">
    <div class="col-3 col-sm-6 col-md-3 px-1 mt-1">
        <div class="banner_member">
            <img class="lazyload w-100 p-1 p-sm-4" alt="Arm logo" data-src="https://static.linaro.org/common/member-logos/arm.jpg" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
    </div>
    <div class="col-3 col-sm-6 col-md-3 px-1 mt-1">
        <div class="banner_member">
            <img class="lazyload w-100 p-1 p-sm-4" alt="Linaro logo" data-src="/assets/images/content/linaro-logo.png" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
    </div>
    <div class="col-3 col-sm-6 col-md-3 px-1 mt-1">
        <div class="banner_member">
            <img class="lazyload w-100 p-1 p-sm-1" alt="Microsoft logo" data-src="https://static.linaro.org/common/member-logos/microsoft.jpg" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
    </div>
    <div class="col-3 col-sm-6 col-md-3 px-1 mt-1">
        <div class="banner_member">
            <img class="lazyload w-100 p-1 p-sm-4" alt="Qualcomm logo" data-src="/assets/images/content/qualcomm-logo.png" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
    </div>
</div>