<div class="row">
    <div class="col-3 col-sm-6 col-md-3">
        <div style="width: '100%'; height:100px; background-color:#fff;display:flex;justify-content:center;align-items:center">
            <img class="lazyload w-100 p-1" alt="Arm logo" data-src="https://static.linaro.org/common/member-logos/arm.jpg" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
    </div>
    <div class="col-3 col-sm-6 col-md-3">
        <div style="width: '100%'; height:100px; background-color:#fff;display:flex;justify-content:center;align-items:center">
            <img class="lazyload w-100 p-1" alt="Arm logo" data-src="/assets/images/content/linaro-logo.png" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
    </div>
    <div class="col-3 col-sm-6 col-md-3">
        <div style="width: '100%'; height:100px; background-color:#fff;display:flex;justify-content:center;align-items:center">
            <img class="lazyload w-100 p-1" alt="Arm logo" data-src="https://static.linaro.org/common/member-logos/microsoft.jpg" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
    </div>
    <div class="col-3 col-sm-6 col-md-3">
        <div style="width: '100%'; height:100px; background-color:#fff;display:flex;justify-content:center;align-items:center">
            <img class="lazyload w-100 p-1" alt="Arm logo" data-src="/assets/images/content/qualcomm-logo.png" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
    </div>
</div>