<!--
<div class="row d-flex align-items-baseline background_image">
    <a href="/news/linaro-to-acquire-arm-forge-software-tools-business/">
        <img class="img-fluid" src="/assets/images/content/forge-web-banner.png" alt="Linaro announces aquisition of arm Forge" />
    </a>
</div>
-->
<div class="row" style="height: 70px; background: linear-gradient(to right, #99c02c, #25281d); align-items: center;
    justify-content: center; color: white; font-size: 20px">
    <a href="/blog/linaro-forge-version-23-now-available/" target="_blank" rel="noopener noreferrer" style="color: white; text-decoration: none">
        Linaro Forge Release - Version 23 <span style="color: #a5c151; font-weight: bold">- NOW AVAILABLE
            -</span> read more here
    </a>
</div>
