<!--
<div class="row d-flex align-items-baseline background_image">
    <a href="/news/linaro-to-acquire-arm-forge-software-tools-business/">
        <img class="img-fluid" src="/assets/images/content/forge-web-banner.png" alt="Linaro announces aquisition of arm Forge" />
    </a>
</div>
-->
<div class="row" style="height: 70px; background: linear-gradient(to right, #99c02c, #25281d); align-items: center;
    justify-content: center; color: white; font-size: 20px">
    <a href="/news/linaro-continues-the-democratisation-of-hpc-with-the-latest-release-of-linaro-forge-23-1/" target="_blank" rel="noopener noreferrer" style="color: white; text-decoration: none">
        Linaro Forge Release - Version 23.1 <span style="color: #a5c151; font-weight: bold">- NOW AVAILABLE
            -</span> read more here
    </a>
</div>
