<div class="row" id="latest-news-row">
    <div class="container">
        <div class="col col-12 text-center">
            <h2 class="blogs_home_block_text"> Latest News</h2>
        </div>
    </div>
    <div class="container home-blog-post-carousel-container">
        <div class="owl-carousel owl-theme" id="blog-slider">
            {% for post in site.categories["news"] limit: 10 %}
                <div class="item home-page-blog-post-slider-item">
                    <div class="col col-12 no-padding">
                        <a href="{{post.url}}">
                            <div class="blogs_home_block_post linaro-two">
                                <h3 class="blogs_home_block_post_title">{{post.title}}</h3>
                                <div class="blog-post-icon">
                                    <picture>
                                    <img alt="linaro-two Icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="/assets/images/content/Linaro-Logo_white-icon.svg" class="lazyload img-fluid post_icon center-block"/>
                                    </picture>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
