<div class="row home-row content p-t-50 p-b-50" id="collaborative-engineering">
    <div class="bg-svg">
        <svg id="SprinkleSVG" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 500">
            <title>Linaro Sprinkle Icon SVG</title>
            <path class="cls-1"
                d="M454.13,73.48H325.43a20.88,20.88,0,0,0-20.89,20.87V223a20.88,20.88,0,0,0,20.89,20.87h128.7A20.87,20.87,0,0,0,475,223V94.35A20.86,20.86,0,0,0,454.13,73.48Z" />
            <path class="cls-1"
                d="M186.6,73.22H78.69A17.5,17.5,0,0,0,61.18,90.71V198.62a17.51,17.51,0,0,0,17.51,17.5H186.6a17.5,17.5,0,0,0,17.5-17.5V90.71A17.49,17.49,0,0,0,186.6,73.22Z" />
            <path class="cls-1"
                d="M212.13,310.22h-88a14.28,14.28,0,0,0-14.28,14.27v88a14.28,14.28,0,0,0,14.28,14.27h88a14.27,14.27,0,0,0,14.27-14.27v-88A14.27,14.27,0,0,0,212.13,310.22Z" />
            <rect class="cls-1" x="236.83" y="73.41" width="48.85" height="48.85" rx="5.98" ry="5.98" />
            <path class="cls-1"
                d="M349.44,159H197.39a24.67,24.67,0,0,0-24.68,24.65V335.7a24.67,24.67,0,0,0,24.68,24.66H349.44A24.65,24.65,0,0,0,374.1,335.7V183.64A24.65,24.65,0,0,0,349.44,159Z" />
            <path class="cls-1"
                d="M86.83,109.43H33.63A8.63,8.63,0,0,0,25,118.06v53.2a8.63,8.63,0,0,0,8.63,8.63h53.2a8.63,8.63,0,0,0,8.63-8.63v-53.2A8.62,8.62,0,0,0,86.83,109.43Z" />
        </svg>
    </div>
    <div class="container">
        <div class="col col-12 col-sm-8 col-sm-offset-2 text-center">
            <p class="call-to-action">
                Linaro helps you work with the latest open source technology, building support in upstream projects and ensuring smooth
                product roll outs and secure software updates. Instead of duplicating effort, members share engineering costs to
                accelerate innovation and time to market.
            </p>
        </div>
        <div class="col col-12 no-padding">
            <a href="/engineering/datacenter-and-cloud/">
                <div class="col-md-3 col col-12 group_block leg">
                    <div class="row  group_header leg">
                        <div class="col col-3 group_icon center-block">
                            <picture>
                                <source srcset="/assets/images/content/LDCG.svg" media="(min-width: 992px)" />
                                <img alt="LDGC Logo"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="/assets/images/content/LDCG.svg"
                                    class="lazyload img-fluid group_icon_img center-block" />
                            </picture>
                        </div>
                        <div class="col col-9 group_title">
                            <span class="main-title">Datacenter & Cloud</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/engineering/edge-and-fog-computing/">
                <div class="col-md-3 col col-12 group_block lng">
                    <div class="row  group_header lng">
                        <div class="col col-3 group_icon center-block">
                            <picture>
                                <source srcset="/assets/images/content/LEDGE.svg" media="(min-width: 992px)" />
                                <img alt="LEDGE Logo"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="/assets/images/content/LEDGE.svg"
                                    class="lazyload img-fluid group_icon_img center-block" />
                            </picture>
                        </div>
                        <div class="col col-9 group_title">
                            <span class="main-title">Edge & Fog Computing</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/engineering/consumer/">
                <div class="col-md-3 col col-12 group_block lhg">
                    <div class="row  group_header lhg">
                        <div class="col col-3 group_icon center-block">
                            <picture>
                                <source srcset="/assets/images/content/LCG.png" media="(min-width: 992px)" />
                                <img alt="LCG Logo"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="/assets/images/content/LCG.png"
                                    class="lazyload img-fluid group_icon_img center-block" />
                            </picture>
                        </div>
                        <div class="col col-9 group_title">
                            <span class="main-title">Consumer</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/engineering/iot-and-embedded/">
                <div class="col-md-3 col col-12 group_block lmg">
                    <div class="row  group_header lmg">
                        <div class="col col-3 group_icon center-block">
                            <picture>
                                <source srcset="/assets/images/content/LITE.svg" media="(min-width: 992px)" />
                                <img alt="LITE Logo"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="/assets/images/content/LITE.svg"
                                    class="lazyload img-fluid group_icon_img center-block" />
                            </picture>
                        </div>
                        <div class="col col-9 group_title">
                            <span class="main-title">IoT & Embedded</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/engineering/autonomous-vehicles/">
                <div class="col-md-3 col col-12 group_block lite">
                    <div class="row  group_header lite">
                        <div class="col col-3 group_icon center-block">
                            <picture>
                                <source srcset="/assets/images/content/LAVS.svg" media="(min-width: 992px)" />
                                <img alt="Autonomous Vehicles Logo"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="/assets/images/content/LAVS.svg"
                                    class="lazyload img-fluid group_icon_img center-block" />
                            </picture>
                        </div>
                        <div class="col col-9 group_title">
                            <span class="main-title">Autonomous Vehicles</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/core-technologies/artificial-intelligence/">
                <div class="col-md-3 col col-12 group_block lite">
                    <div class="row  group_header lite">
                        <div class="col col-3 group_icon center-block">
                            <picture>
                                <source srcset="/assets/images/content/MI.svg" media="(min-width: 992px)" />
                                <img alt="Machine Intelligence Logo"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="/assets/images/content/MI.svg"
                                    class="lazyload img-fluid group_icon_img center-block" />
                            </picture>
                        </div>
                        <div class="col col-9 group_title">
                            <span class="main-title">Artificial Intelligence</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/engineering/high-performance-computing/">
                <div class="col-md-3 col col-12 group_block lite">
                    <div class="row  group_header lite">
                        <div class="col col-3 group_icon center-block">
                            <picture>
                                <source srcset="/assets/images/content/HPC.svg" media="(min-width: 992px)" />
                                <img alt="HPC Logo"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="/assets/images/content/HPC.svg"
                                    class="lazyload img-fluid group_icon_img center-block" />
                            </picture>
                        </div>
                        <div class="col col-9 group_title">
                            <span class="main-title">High Performance Computing</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
