<div class="row">
    <div class="col col-12 col-lg-4 py-3 offset-lg-2">
        <div class="block_wrapper d-flex flex-column h-100 justify-content-between">
            <h3>Leverage our Arm Software Expertise</h3>
            {% picture card_block_image "/assets/images/content/Rocket_1.png" --alt Rocket blueprint %}
        </div>
    </div>
    <div class="col col-12 col-lg-4 py-3">
        <div class="block_wrapper d-flex flex-column h-100 justify-content-between">
            <h3>Secure your product</h3>
            {% picture card_block_image "/assets/images/content/Rocket_2.png" --alt Rocket with security staff %}
        </div>
    </div>
    <div class="col col-12 col-lg-4 py-3 offset-lg-2">
        <div class="block_wrapper d-flex flex-column h-100 justify-content-between">
            <h3>Maintain quality cost-effectively</h3>
            {% picture card_block_image "/assets/images/content/Rocket_3.png" --alt Rocket with shield %}
        </div>
    </div>
    <div class="col col-12 col-lg-4 py-3">
        <div class="block_wrapper d-flex flex-column h-100 justify-content-between">
            <h3>Build, test and deploy faster</h3>
            {% picture card_block_image "/assets/images/content/Rocket_4.png" --alt Rocket launching %}
        </div>
    </div>
</div>