<div class="row content home-row p-t-50 p-b-50" id="developer-services">
    <div class="developer-services-svg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="600" height="520"
            viewbox="0 0 600 519.6152422706632" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
            <path fill="#fff"
                d="M0 259.8076211353316L150 0L450 0L600 259.8076211353316L450 519.6152422706632L150 519.6152422706632Z">
            </path>
        </svg>
    </div>
    <div class="container">
        <div class="col-xs-12 text-center">
            <img class="img-responsive lazyload center-block zoom-image"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="/assets/images/content/LinaroDSVertical.png" alt="Linaro Developer Services logo" />
            <p class="call-to-action">
                Linaro plays an influential role across the Arm ecosystem, developing optimized software for advanced Arm technologies
                in every segment. Linaro Developer Services make that expertise available to you for use on your project.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="key-factor-block">
                <h4>Efficiently support the latest technology features upstream</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="key-factor-block">
                <h4>Reduce burden of post-release software updates and support</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="key-factor-block">
                <h4>Available to both Linaro Member and non-Member companies</h4>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <a href="/services" class="btn btn-primary m-t-30">Learn More</a>
        </div>
    </div>
</div>