<div class="row" id="engineering_homepage">
    <div class="container">
        <div class="owl-carousel owl-theme" id="engineering_homepage_slider">
            <a href="/engineering/datacenter-and-cloud/" target="_self">
                <div class="item">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/engineering/svg/engineering_icon_datacenter_and_cloud.svg"/>
                    <h3>Datacenter & Cloud</h3>
                </div>
            </a>
            <a href="/engineering/datacenter-and-cloud/" target="_self">
                <div class="item">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/engineering/svg/engineering_icon_datacenter_and_cloud.svg"/>
                    <h3>IoT & Embedded</h3>
                </div>
            </a>
            <a href="/engineering/datacenter-and-cloud/" target="_self">
                <div class="item">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/engineering/svg/engineering_icon_datacenter_and_cloud.svg"/>
                    <h3>Consumer (Mobile & Android)</h3>
                </div>
            </a>
            <a href="/engineering/datacenter-and-cloud/" target="_self">
                <div class="item">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/engineering/svg/engineering_icon_datacenter_and_cloud.svg"/>
                    <h3>Edge & Fog Computing</h3>
                </div>
            </a>
            <a href="/engineering/datacenter-and-cloud/" target="_self">
                <div class="item">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/engineering/svg/engineering_icon_datacenter_and_cloud.svg"/>
                    <h3>Tools, Security & Linux Kernel Quality</h3>
                </div>
            </a>
            <a href="/engineering/datacenter-and-cloud/" target="_self">
                <div class="item">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/engineering/svg/engineering_icon_datacenter_and_cloud.svg"/>
                    <h3>High Performance Computing</h3>
                </div>
            </a>
            <a href="/engineering/datacenter-and-cloud/" target="_self">
                <div class="item">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/engineering/svg/engineering_icon_datacenter_and_cloud.svg"/>
                    <h3>Artificial Intelligence</h3>
                </div>
            </a>
            <a href="/engineering/datacenter-and-cloud/" target="_self">
                <div class="item">
                    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/images/content/engineering/svg/engineering_icon_datacenter_and_cloud.svg"/>
                    <h3>Autonomous Vehicles</h3>
                </div>
            </a>
        </div>
    </div>
</div>
