
<div class="row" id="featured-slider-row">
    <div class="container home-inline-carousel">
        <div class="owl-carousel owl-theme" id="featured-slider">
            <a href="/latest/events/hpc-asia-2019/" target="_self">
                <div class="item home-page-slider-item" style="background: url(/assets/images/content/hpc-workshop-banner-sm.png) no-repeat center center;
                    background-size: contain;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;">
                        <!-- <div class="col-xs-12 home-page-slider-info">
                            <div class="row slide-content-row">
                                <div class="home-page-slider-text bkk19 text-center">
                                        Registration for BKK19 opening soon
                                </div>
                            </div>
                        </div> -->
                </div>
            </a>
            <a href="https://connect.linaro.org" target="_self">
                <div class="item home-page-slider-item" style="background: url(/assets/images/content/bkk19-graphic.png) no-repeat center center;
                    background-size: contain;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;">
                        <div class="col-xs-12 home-page-slider-info">
                            <div class="row slide-content-row">
                                <div class="home-page-slider-text bkk19 text-center">
                                        Registration for BKK19 opening soon
                                </div>
                            </div>
                        </div>
                </div>
            </a>
            <a href="/services/">
                <div class="item home-page-slider-item" style="background: url('{% asset_path  'services-home-page.png' %}') no-repeat center center;
                    background-size: contain;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;">
                    <div class="col-xs-12 home-page-slider-info">
                        <div class="row slide-content-row">
                            <div class="home-page-slider-image">
                                <img alt="Developer Services Logo" class="lazyload logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/LinaroDSVerticalWhite.png"/>
                            </div>
                        </div>
                        <div class="row slide-content-row">
                            <div class="home-page-slider-text text-center">
                                <span class="developer-services-line-1">Advanced Developer Software Services</span><br>
                                <span class="developer-services-line-2">Including SoC and MCU upstreaming</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.96boards.org">
                <div class="item home-page-slider-item" style="background: url('{% asset_path  '96boards-home-page.png' %}') no-repeat center center;
                    background-size: contain;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;">
                    <div class="col-xs-12 home-page-slider-info">
                        <div class="row slide-content-row">
                            <div class="home-page-slider-image">
                                <img alt="96boards Logo" class="lazyload logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="{% asset_path '96boards-logo-white-vertical.png' %}"/>
                            </div>
                        </div>
                        <div class="row slide-content-row">
                            <div class="home-page-slider-text text-center">
                                <span class="boards-slide-line-1">Developer & Prototype on the</span> <br>
                                <span class="boards-slide-line-2">Latest Arm Technology</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
