
<div class="row" id="featured-slider-row">
    <div class="container home-inline-carousel">
        <div class="owl-carousel owl-theme" id="featured-slider">
            <a href="/events/workshop/arm-hpc-asia-2019/" target="_self">
                <div class="item home-page-slider-item" style="background: url(/assets/images/content/hpc-asia-graphic.png) no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
                        <!-- <div class="col-xs-12 home-page-slider-info">
                            <div class="row slide-content-row">
                                <div class="home-page-slider-text bkk19 text-center">
                                        Registration for BKK19 opening soon
                                </div>
                            </div>
                        </div> -->
                </div>
            </a>
            <a href="https://connect.linaro.org/register/" target="_self">
                <div class="item home-page-slider-item" style="background: url(/assets/images/content/bkk19-graphic.png) no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
                        <div class="col-xs-12 home-page-slider-info">
                            <div class="row slide-content-row">
                                <div class="home-page-slider-text bkk19 text-center">
                                        Register for BKK19
                                </div>
                            </div>
                        </div>
                </div>
            </a>
            <a href="/services/">
                <div class="item home-page-slider-item" style="background: url('/assets/images/content/developer-services-banner-sm.jpg') no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
                    <div class="col-xs-12 home-page-slider-info">
                        <div class="row slide-content-row">
                            <div class="home-page-slider-image">
                                <img alt="Developer Services Logo" class="lazyload logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/LinaroDSVerticalAlt2.png"/>
                            </div>
                        </div>
                        <div class="row slide-content-row">
                            <div class="home-page-slider-text text-center">
                                <span class="developer-services-line-1">We are the <span class="bold">Arm software experts</span></span><br>
                                <span class="developer-services-line-2">and we are available to help you.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.96boards.org">
                <div class="item home-page-slider-item" style="background: url(/assets/images/content/96boards-home-page.png) no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
                    <div class="col-xs-12 home-page-slider-info">
                        <div class="row slide-content-row">
                            <div class="home-page-slider-image">
                                <img alt="96boards Logo" class="lazyload logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/content/6boards-logo-white-vertical.png"/>
                            </div>
                        </div>
                        <div class="row slide-content-row">
                            <div class="home-page-slider-text text-center">
                                <span class="boards-slide-line-1">Develop & Prototype on the</span> <br>
                                <span class="boards-slide-line-2">Latest Arm Technology</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
