
<div class="row" id="main-content-container">
    <div class="container home-inline-carousel">
        <div class="owl-carousel owl-theme" id="featured-slider">
                
                <div class="item home-page-slider-item" style="background: url('{% asset_path  'wistem.png' %}') no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
                    <a href="https://www.96boards.org/go/wistem-2018/">
                        <div class="col-xs-12 home-page-slider-info">
                            <div class="row slide-content-row">
                                <div class="home-page-slider-text text-center">
                                    <span class="linaro-connect-slide-text">
                                        Women in STEM Month - May, 2018
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="home-page-slider-button">
                        <a href="http://connect.linaro.org/" class="btn btn-linaro-home connect">
                            Learn more
                        </a>
                    </div>
                </div>
                
                <div class="item home-page-slider-item" style="background: url('{% asset_path  'yvr18-home-graphic.png' %}') no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
                    <a href="http://connect.linaro.org/">
                        <div class="col-xs-12 home-page-slider-info">
                            <div class="row slide-content-row">
                                <div class="home-page-slider-text text-center">
                                    <span class="linaro-connect-slide-text">
                                        Registration for Linaro Connect YVR18 is now open. Click here to register!
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="home-page-slider-button">
                        <a href="http://connect.linaro.org/" class="btn btn-linaro-home connect">
                            Learn more
                        </a>
                    </div>
                </div>
                
            
                <div class="item home-page-slider-item" style="background: linear-gradient(
                             rgba(20,20,20, .5),
                             rgba(20,20,20, .5)),
                             url('{% asset_path  'services-home-page.png' %}') no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
                    <a href="/services/">
                    <div class="col-xs-12 home-page-slider-info">
                        <div class="row slide-content-row">
                            <div class="home-page-slider-image">
                                <img alt="Developer Services Logo" class="lazyload logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="{% asset_path 'developer-services-logo.png' %}"/>
                            </div>
                        </div>
                        <div class="row slide-content-row">
                            <div class="home-page-slider-text text-center">
                                <span class="developer-services-line-1">Advanced Developer Software Services</span><br>
                                <span class="developer-services-line-2">Including SoC and MCU upstreaming</span>
                            </div>
                        </div>
                    </div>
                    </a>
                    <div class="home-page-slider-button">
                        <a href="/services/" class="btn btn-linaro-home services">
                            Learn more
                        </a>
                    </div>
                </div>
                <div class="item home-page-slider-item" style="background: linear-gradient(
                             rgba(20,20,20, .5),
                             rgba(20,20,20, .5)),
                             url('{% asset_path  '96boards-home-page.png' %}') no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
                    <a href="/initiatives/96boards/">
                    <div class="col-xs-12 home-page-slider-info">
                        <div class="row slide-content-row">
                            <div class="home-page-slider-image">
                                <img alt="96boards Logo" class="lazyload logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="{% asset_path '96boards-logo-white-vertical.png' %}"/>
                            </div>
                        </div>
                        <div class="row slide-content-row">
                            <div class="home-page-slider-text text-center">
                                <span class="boards-slide-line-1">Developer & Prototype on the</span> <br>
                                <span class="boards-slide-line-2">Latest Arm Technology</span>
                            </div>
                        </div>
                    </div>
                    </a>
                    <div class="home-page-slider-button">
                        <a href="/initiatives/96boards/" class="btn btn-linaro-home 96boards">
                            Learn more
                        </a>
                    </div>
                </div>





        </div>

    </div>
</div>
