<div
  class="jumbotron row d-flex align-items-center jumbotron-fluid background_image"
id="homepage_header">
    {% assign alt = "Blue and purple tech waves" %}
    {% picture header_image "/assets/images/content/IMAGE_HOMEPAGE.jpg" --alt {{alt}} %}
  <div class="container">
    <div class="inner_content_wrapper text-left">
      <h1>
        <span class="font-weight-bolder">Accelerating deployment</span> in the
        <span class="font-weight-bolder text-primary"><br/>Arm Ecosystem</span>
      </h1>
      <p>
        Linaro has driven open source software development on Arm since 2010 and is home to many world-leading
        Arm software experts. Together with our members and the open source community, we drive the work needed to
        maintain and improve the Arm software ecosystem. Our work spans a wide range of verticals and technologies.
      </p>
      <p class="text-primary">
        To find out more about the work we do, click on the relevant button.
      </p>
    </div>
  </div>
</div>