<div
  class="jumbotron row d-flex align-items-center jumbotron-fluid background_image"
id="homepage_header">
    {% assign alt = "Blue and purple tech waves" %}
    {% picture header_image "/assets/images/content/IMAGE_HOMEPAGE.jpg" --alt {{alt}} %}
  <div class="container">
    <div class="inner_content_wrapper text-left">
      <h1 class="my-sm-4 my-2">
        <span class="font-weight-bolder">{{site.data.translations.homepage.title1}}</span> {{site.data.translations.homepage.title2}}
        <span class="font-weight-bolder text-primary"><br class="d-none d-sm-block"/>{{site.data.translations.homepage.title3}}</span>
      </h1>
      <p class="small_text_mobile"> 
        {{site.data.translations.homepage.headerText}}
      </p>
      <p class="text-primary small_text_mobile">
        {{site.data.translations.homepage.headerText2}}
      </p>
    </div>
  </div>
</div>