<div class="row">
    <div class="jumbotron text-center homepage-jumbotron" id="homepage-jumbotron" style="background: linear-gradient(
                 rgba(5, 5, 5, 0.82),
                 rgba(0, 0, 0, 0)),
                 url('{% asset_path 'linaro-home-v2.jpg' %}') no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: bottom;">
    <div class="container">
            <div class="caption" id="jumbotron-caption">
              <h2 class="linaro-sub-title fade-in-one">Leading software collaboration in the </h2>
              <h1 class="linaro-title fade-in-two"><span class="linaro-green">Arm Ecosystem</span></h1>
            </div>
              <div class="linaro-home-slider-buttons col-md-8 col-md-offset-2 fade-in-three">
                  <div class="col-md-12">
                      <a href="/about/" class="btn btn-linaro-home" >Learn More</a>
                      <a href="/members/" class="btn btn-linaro-home" >Members</a>
                  </div>
              </div>
        </div>
    </div>
</div>