<div class="row">
    <div class="col col-12 col-md-6 d-flex px-md-5 flex-column justify-content-around border-right membership_col">
        <h3 class="cta_header py-4"><span class="bullet blue"></span>{{site.data.translations.homepage.cta.membershipTitle}}</h3>
        <p class="cta_text">
            {{site.data.translations.homepage.cta.membershipText}}
        </p>
        <div class="cta_video_container">
            {% for testimonial in site.data.membership_testimonials.items %}
                <div class="modal fade video_modal" id="testimonial{{forloop.index}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{testimonial.attribution}}</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video class="lazyload img-fluid testimonial_video" controls="controls" preload="none">
                                        {% if testimonial.video.ogv %}
                                        <source src="{{testimonial.video.ogv}}" type="video/ogg">
                                        {% endif %}
                                        {% if testimonial.video.webm %}
                                        <source src="{{testimonial.video.webm}}" type="video/webm">
                                        {% endif %}
                                        {% if testimonial.video.mp4 %}
                                        <source src="{{testimonial.video.mp4}}" type="video/mp4">
                                        {% endif %}
                                    </video>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="owl-carousel owl-theme" id="testimonial_slider">
                {% for testimonial in site.data.membership_testimonials.items %}
                <div class="item testimonial">
                    <div class="row">
                        <div class="col col-12 block__image">
                            <a data-toggle="modal" href='#testimonial{{forloop.index}}'>
                                <div class="video_placeholder_image d-flex align-items-center justify-content-center text-center flex-column position-relative">
                                    {% assign image_url = testimonial.cover_image  %}
                                    {% capture image_alt %}{{testimonial.attribution}} cover image{% endcapture %}
                                    {% picture feature_block_image {{image_url}} --alt {{image_alt}} %}
                                    <div class="play_button position-absolute">
                                        <i class="icon-youtube-play" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-secondary border-0 blue text-uppercase text-white" href="/membership/">
            <span class="d-none d-md-block">
                {{site.data.translations.homepage.cta.membershipBtnText}}
            </span>
            <span class="d-block d-md-none">
                {{site.data.translations.learnMore}}
            </span>
        </a>
        
    </div>
    <div class="col col-12 col-md-6 d-flex px-md-5 flex-column justify-content-around border-right membership_col">
        <h3 class="cta_header py-4"><span class="bullet blue"></span>{{site.data.translations.homepage.cta.membershipTitle}}</h3>
        <p class="cta_text">
            {{site.data.translations.homepage.cta.membershipText}}
        </p>    
        <a class="btn btn-secondary border-0 blue text-uppercase text-white" href="/membership/">
            <span class="d-none d-md-block">
                {{site.data.translations.homepage.cta.membershipBtnText}}
            </span>
            <span class="d-block d-md-none">
                {{site.data.translations.learnMore}}
            </span>
        </a>
    </div>
</div>