<div class="row" id="projects_section">
    <div class="col col-12 col-md-6">
        <div class="project_button_wrapper">
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2 active" id="project1">
                Arm GNU Toolchain Enablement and CI
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="project2">
                Arm LLVM Toolchain Enablement and CI
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="project3">
                Big Data & Data Science
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="project4">
                Ledge Reference Platform
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="project5">
                Optimize AI for Arm Data Center
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="project7">
                Power and Performance
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="project8">
                Stratos - Hypervisor Abstraction
            </a>
        </div>
    </div>
    <div class="col col-12 col-md-6">
        <div class="row">
            <div class="col col-12">
                <div class="project_diagram_wrapper d-block" id="project1-diagram">
                    <img src="/assets/images/content/Arm_GNU_Toolchain_Enablement_and_CI.svg" alt="Project 1 Diagram"/>
                </div>
                <div class="project_diagram_wrapper d-none" id="project2-diagram">
                    <img src="/assets/images/content/Arm_LLVM_Toolchain_Enablement_and_CI.svg" alt="Project 2 Diagram"/>
                </div>
                <div class="project_diagram_wrapper d-none" id="project3-diagram">
                    <img src="/assets/images/content/Big_Data_Data_Science_.svg" alt="Project 3 Diagram"/>
                </div>
                <div class="project_diagram_wrapper d-none" id="project4-diagram">
                    <img src="/assets/images/content/Ledge_Reference_Platform.svg" alt="Project 4 Diagram"/>
                </div>
                <div class="project_diagram_wrapper d-none" id="project5-diagram">
                    <img src="/assets/images/content/Optimize_AI_for_Arm_Data_Center.svg" alt="Project 5 Diagram"/>
                </div>
                <div class="project_diagram_wrapper d-none" id="project7-diagram">
                    <img src="/assets/images/content/Power_Performance.svg" alt="Project 7 Diagram"/>
                </div>
                <div class="project_diagram_wrapper d-none" id="project8-diagram">
                    <img src="/assets/images/content/Stratos_Hypervisor_Abstraction.svg" alt="Project 8 Diagram"/>
                </div>
            </div>
            <div class="col col-12 text-center">
                <a href="/projects/" class="font-weight-bold">{{site.data.translations.projects_click_here}}</a>
            </div>
        </div>
    </div>
</div>