<div class="row" id="projects_section">
    <div class="col col-12 col-md-6">
        <div class="project_button_wrapper">
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2 active" id="linux_kernel">
                Linux kernel
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="busybox_buildroot">
                Busybox: Buildroot
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="op_tee">
                OP-TEE
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="open_embedded_layers">
                Open Embedded Layers
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="openstack">
                OpenStack
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="qemu">
                QEMU
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="trusted_firmware_a">
                Trusted Firmware - A
            </a>
            <a class="btn btn-secondary btn-lg project_button mb-2 mr-2" id="u_boot">
                U-Boot
            </a>
        </div>
    </div>
    <div class="col col-12 col-md-6">
        <div class="project_diagram_wrapper d-block" id="linux_kernel-diagram">
            <img src="/assets/images/content/Collaboration_Linux_Kernel.svg" alt="Linux Kernel Collaboration Diagram"/>
        </div>
        <div class="project_diagram_wrapper d-none" id="busybox_buildroot-diagram">
            <img src="/assets/images/content/Collaboration_Busybox.svg" alt="Busybox: Buildroot Collaboration Diagram"/>
        </div>
        <div class="project_diagram_wrapper d-none" id="op_tee-diagram">
            <img src="/assets/images/content/Collaboration_OP-TEE.svg" alt="OP-TEE Collaboration Diagram"/>
        </div>
        <div class="project_diagram_wrapper d-none" id="open_embedded_layers-diagram">
            <img src="/assets/images/content/Collaboration_Open_Embedded_Layers.svg" alt="Open Embedded Layers Collaboration Diagram"/>
        </div>
        <div class="project_diagram_wrapper d-none" id="openstack-diagram">
            <img src="/assets/images/content/Collaboration_OpenStack.svg" alt="OpenStack Collaboration Diagram"/>
        </div>
        <div class="project_diagram_wrapper d-none" id="qemu-diagram">
            <img src="/assets/images/content/Collaboration_QEMU.svg" alt="QEMU Collaboration Diagram"/>
        </div>
        <div class="project_diagram_wrapper d-none" id="trusted_firmware_a-diagram">
            <img src="/assets/images/content/Collaboration_TF-A.svg" alt="Trusted Firmware - A Collaboration Diagram"/>
        </div>
        <div class="project_diagram_wrapper d-none" id="u_boot-diagram">
            <img src="/assets/images/content/Collaboration_U-Boot.svg" alt="U-Boot Collaboration Diagram"/>
        </div>
    </div>
</div>