<div class="row" id="quick_links_row">
    <div class="container">
        <div class="row">
            {% for link in site.data.homepage.quick_links %}
                <div class="col col-sm-4 quick_link">
                    <h3 class="text-white">{{link.subject}} - 
                        <a href="{{link.link}}">
                            <span>
                                {{link.text}}
                            </span>
                        </a>
                    </h3>
                </div>
            {% endfor %}
        </div>
    </div>
</div>