<div class="row" id="groups_home_block">
    <div class="container">
        <a href="/engineering/groups/ldcg/">
            <div class="col-md-5ths col-xs-12 group_block leg">
                <div class="row  group_header leg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LEG-logo.svg' %}" media="(min-width: 992px)" />
                          <img  alt="LEG Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LEG-logo.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">LEG</span>
                        <span class="sub-title">Enterprise</span>
                    </div>
                </div>
                <div class="row group_content leg">
                    <div class="col-xs-12 group_content leg">
                        <p>
                            Software Defined Storage & Infra-
                            structure (SDS/SDI), Big Data
                            (Hadoop/Hive/ Spark/Ambari),
                            DPDK & SnabbSwitch, HPC, AI/ML
                        </p>
                    </div>
                </div>
            </div>
        </a>    
        
        
        <a href="/groups/lng/">
            <div class="col-md-5ths col-xs-12 group_block lng">
                <div class="row  group_header lng">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LNG-logo.svg' %}" media="(min-width: 992px)" />
                          <img alt="LNG Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LNG-logo.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">LNG</span>
                        <span class="sub-title">Networking</span>
                    </div>
                </div>
                <div class="row group_content lng">
                    <div class="col-xs-12 group_content ">
                        <p>
                            Networking,
                            OpenDataPlane (ODP),
                            SmartNIC
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/groups/lhg/">
            <div class="col-md-5ths col-xs-12 group_block lhg">
                <div class="row  group_header lhg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LHG-logo.svg' %}" media="(min-width: 992px)" />
                          <img alt="LHG Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LHG-logo.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">LHG</span>
                        <span class="sub-title">Digital Home</span>
                    </div>
                </div>
                <div class="row group_content lhg">
                    <div class="col-xs-12 group_content">
                        <p>
                            Secure media frameworks,
                            TV, STB/Cable boxes,
                            media devices
                        </p>
                    </div>
                </div>
            </div>
        </a>
        
        <a href="/groups/lmg/">
            <div class="col-md-5ths col-xs-12 group_block lmg">
                <div class="row  group_header lmg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LMG-logo.svg' %}" media="(min-width: 992px)" />
                          <img alt="LMG Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LMG-logo.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">LMG</span>
                        <span class="sub-title">Mobile</span>
                    </div>
                </div>
                <div class="row group_content lmg">
                    <div class="col-xs-12 group_content">
                        <p>
                            Mobile phone, Tablet/Clam,
                            Android optimization
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/groups/lite/">
            <div class="col-md-5ths col-xs-12 group_block lite">
                <div class="row  group_header lite">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LITE-logo.svg' %}" media="(min-width: 992px)" />
                          <img alt="Lite Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LITE-logo.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">LITE</span>
                        <span class="sub-title">IoT/Embedded</span>
                    </div>
                </div>
                <div class="row group_content lite">
                    <div class="col-xs-12 group_content">
                        <p>
                            IoT client, Smart sensors,
                            Embedded devices, Zephyr,
                            Gateways, OE/Yocto
                        </p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
