<div class="row" id="groups_home_block">
    <div class="container">
        <a href="/engineering/groups/ldcg/">
            <div class="col-md-3 col-xs-12 group_block leg">
                <div class="row  group_header leg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LDCG col.svg' %}" media="(min-width: 992px)" />
                          <img  alt="LDGC Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LDCG col.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="sub-title">Datacenter & Cloud</span>
                    </div>
                </div>
            </div>
        </a>    
        
        
        <a href="/engineering/groups/ledge/">
            <div class="col-md-3 col-xs-12 group_block lng">
                <div class="row  group_header lng">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LEDGE col.svg' %}" media="(min-width: 992px)" />
                          <img alt="LEDGE Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LEDGE col.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="sub-title">Edge & Fog Computing</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/engineering/groups/lcg/">
            <div class="col-md-3 col-xs-12 group_block lhg">
                <div class="row  group_header lhg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LCG col.svg' %}" media="(min-width: 992px)" />
                          <img alt="LCG Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LCG col.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="sub-title">Consumer</span>
                    </div>
                </div>
            </div>
        </a>
        
        <a href="/engineering/groups/lite/">
            <div class="col-md-3 col-xs-12 group_block lmg">
                <div class="row  group_header lmg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'LITE col.svg' %}" media="(min-width: 992px)" />
                          <img alt="LITE Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'LITE col.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="sub-title">IoT & Embedded</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/sig/ltn/">
            <div class="col-md-3 col-xs-12 group_block lite">
                <div class="row  group_header lite">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'antenna col.svg' %}" media="(min-width: 992px)" />
                          <img alt="LTN Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'antenna col.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="sub-title">Telecom & Networking</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/engineering/incubators/autonomous-vehicles/">
            <div class="col-md-3 col-xs-12 group_block lite">
                <div class="row  group_header lite">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'AutoCol.svg' %}" media="(min-width: 992px)" />
                          <img alt="Autonomous Vehicles Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'AutoCol.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="sub-title">Autonomous Vehicles</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/engineering/incubators/machine-intelligence/">
            <div class="col-md-3 col-xs-12 group_block lite">
                <div class="row  group_header lite">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'Machine col.svg' %}" media="(min-width: 992px)" />
                          <img alt="Machine Intelligence Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'Machine col.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="sub-title">Machine Intelligence</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/sig/hpc/">
            <div class="col-md-3 col-xs-12 group_block lite">
                <div class="row  group_header lite">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="{% asset_path 'HPCCol.svg' %}" media="(min-width: 992px)" />
                          <img alt="HPC Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'HPCCol.svg' %}" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="sub-title">High Performance Computing</span>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
