<div class="row" id="groups_home_block">
    <div class="container">
        <a href="/engineering/datacenter-and-cloud/">
            <div class="col-md-3 col-xs-12 group_block leg">
                <div class="row  group_header leg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="/assets/images/content/LDCG.svg" media="(min-width: 992px)" />
                          <img  alt="LDGC Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/content/LDCG.svg" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">Datacenter & Cloud</span>
                    </div>
                </div>
            </div>
        </a>    
        
        
        <a href="/engineering/edge-and-fog-computing/">
            <div class="col-md-3 col-xs-12 group_block lng">
                <div class="row  group_header lng">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="/assets/images/content/LEDGE.svg" media="(min-width: 992px)" />
                          <img alt="LEDGE Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/content/LEDGE.svg" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">Edge & Fog Computing</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/engineering/consumer/">
            <div class="col-md-3 col-xs-12 group_block lhg">
                <div class="row  group_header lhg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="/assets/images/content/LCG.svg" media="(min-width: 992px)" />
                          <img alt="LCG Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/content/LCG.svg" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">Consumer</span>
                    </div>
                </div>
            </div>
        </a>
        
        <a href="/engineering/iot-and-embedded/">
            <div class="col-md-3 col-xs-12 group_block lmg">
                <div class="row  group_header lmg">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="/assets/images/content/LITE.svg" media="(min-width: 992px)" />
                          <img alt="LITE Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/content/LITE.svg" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">IoT & Embedded</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/engineering/autonomous-vehicles/">
            <div class="col-md-3 col-xs-12 group_block lite">
                <div class="row  group_header lite">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="/assets/images/content/LAVS.svg" media="(min-width: 992px)" />
                          <img alt="Autonomous Vehicles Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/content/LAVS.svg" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">Autonomous Vehicles</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/engineering/machine-intelligence/">
            <div class="col-md-3 col-xs-12 group_block lite">
                <div class="row  group_header lite">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="/assets/images/content/MI.svg" media="(min-width: 992px)" />
                          <img alt="Machine Intelligence Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/content/MI.svg" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">Machine Intelligence</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="/engineering/high-performance-computing/">
            <div class="col-md-3 col-xs-12 group_block lite">
                <div class="row  group_header lite">
                    <div class="col-xs-3 group_icon center-block">
                        <picture>
                          <source srcset="/assets/images/content/HPC.svg" media="(min-width: 992px)" />
                          <img alt="HPC Logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/content/HPC.svg" class="lazyload img-responsive group_icon_img center-block"/>
                        </picture>
                    </div>
                    <div class="col-xs-9 group_title">
                        <span class="main-title">High Performance Computing</span>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
