<div class="row">
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">50%</span>
        <p class="font-weight-bold text-white text-center">
            of Linaro patches are accepted
            within 7 days of submission
            (75% within 35 days)
        </p>
    </div>
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">10</span>
        <p class="font-weight-bold text-white text-center">
            In the top 10 Contributors
            to the Linux kernel
        </p>
    </div>
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">47k</span>
        <p class="font-weight-bold text-white text-center">
            Number of patches submitted
            to upstream projects in the
            past 2 years
        </p>
    </div>
</div>