<div class="row">
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">$7.8m</span>
        <p class="font-weight-bold text-white text-center">
            Value of Linaro contributed code
            to the Linux kernel in 2020
        </p>
    </div>
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">10</span>
        <p class="font-weight-bold text-white text-center">
            In the top 10 Contributors
            to the Linux kernel
        </p>
    </div>
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">$6.7m</span>
        <p class="font-weight-bold text-white text-center">
            Value of Linaro contributed code to
            GCC, LLVM and QEMU in 2020
        </p>
    </div>
</div>