{% assign unique_linaro_members = "" | split: ',' %}

{% for group in site.data.members %}
    {% unless group.id == "boards-ai" or group.id == "boards-mp" or group.id == "boards-sc" or group.id == "boards-partner"%}
        {% for member in group.members %}
            {% unless unique_linaro_members contains member %}
                {% assign unique_linaro_members = unique_linaro_members | push: member %}
            {% endunless %}
        {% endfor %}
    {% endunless %}
{% endfor %}

{% assign sorted_members = unique_linaro_members | sort: 'name' %}

<div class="row  d-flex align-items-center justify-content-center">
    <div class="col col-12 col-lg-8">
        <div class="row">
            <div class="col col-12 text-center">
                <h3 class="text-white display-4 stats_heading">Open Source Expertise</h3>
            </div>
        </div>
        <div class="row">
    <div class="owl-carousel owl-theme" id="stats_slider">
        <div class="item row">
            <div class="col col-12 col-md-4 stats_col">
                <span class="stat">40</span>
                <p class="font-weight-bold text-white text-center">
                    40 Open Source Software (OSS)
                    Maintainers
                </p>
            </div>
            <div class="col col-12 col-md-4 stats_col">
                <span class="stat">70</span>
                <p class="font-weight-bold text-white text-center">
                    Major contributor
                    to 70 Open Source
                    projects
                </p>
            </div>
            <div class="col col-12 col-md-4 stats_col">
                <span class="stat">10</span>
                <p class="font-weight-bold text-white text-center">
                    In the top 10 Contributors
                    to the Linux kernel
                </p>
            </div>
        </div>  
        <div class="item row">
            <div class="col col-12 col-md-4 stats_col">
                <span class="stat">1m</span>
                <p class="font-weight-bold text-white text-center">
                    Tests on Linux Kernel per week
                </p>
            </div>
            <div class="col col-12 col-md-4 stats_col">
                <span class="stat">4m</span>
                <p class="font-weight-bold text-white text-center">
                    Tests on Android per week
                </p>
            </div>
            <div class="col col-12 col-md-4 stats_col">
                <span class="stat">866</span>
                <p class="font-weight-bold text-white text-center">
                    Patches submitted per month
                </p>
            </div>
        </div>  
    </div>        
    </div>
        <div class="row">
            <div class="col col-12 text-center">
                <a href="/kernel-and-toolchain/" class="btn btn-primary text-uppercase">
                    <img class="icon_image mr-2" alt="Kernel & Toolchain Icon"
                     src="/assets/images/content/Icon_Kernel_Toolchain_BW.svg"/>Kernel & Toolchain
                    </a>
                <a href="/security/" class="btn btn-primary text-uppercase">
                    <img class="icon_image mr-2" alt="Security Padlock" src="/assets/images/content/Icon_Security_Theme.svg"/>Security
                </a>
            </div>
        </div>        
    </div>
    <div class="col col-12 col-lg-4 members_slider_section">
        <div class="members_slider_wrapper my-4 ml-lg-3">
            <div class="owl-carousel owl-theme" id="members_home_slider">
                {% for group in site.data.members %}
                    {% if group.id == "core" or group.id == "club" or group.id == "group"%}
                        {% for member in group.members %}
                            <div class="item d-flex flex-column justify-content-center align-items-center h-100">
                                <div class="member_badge text-uppercase">
                                    {{group.id}} Members
                                </div>
                                <img class="lazyload member_image" data-src="{{member.image}}"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    alt="{{member.name}} logo"/>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>