<div class="row">
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">50%</span>
        <p class="font-weight-bold text-white text-center">
            {{site.data.translations.homepage.stats.statsText1}}
        </p>
    </div>
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">10</span>
        <p class="font-weight-bold text-white text-center">
            {{site.data.translations.homepage.stats.statsText2}}
        </p>
    </div>
    <div class="col col-12 col-md-4 stats_col">
        <span class="stat">47k</span>
        <p class="font-weight-bold text-white text-center">
            {{site.data.translations.homepage.stats.statsText3}}
        </p>
    </div>
</div>