{% assign themes_to_show = "" | split: "," %}
{% for theme in site.themes %}
    {% unless theme.sub_theme %}
        {% assign themes_to_show = themes_to_show | push: theme %}
    {% endunless %}
{% endfor %}
<div class="row py-0" id="theme_tabs">
    <div class="container">
        <div class="col col-12 py-0">
            <div class="row py-0">
                {% for theme in themes_to_show %}
                    <div class="col col-6 col-md-3 item h-100 px-0" data-tab-id="{{theme.slug_title | slugify}}" >
                        <div class="item_wrapper">
                            <div class="item_innner_wrapper">
                                <a class="nav-link h-100 {% if forloop.first %}active{% endif %}"
                                    id="{{theme.slug_title | slugify}}-tab" href="{{theme.url}}" role="tab"
                                        aria-controls="{{theme.slug_title | slugify}}" aria-selected="true">
                                    <div class="icon_wrapper d-flex justify-content-around flex-column h-100 align-items-center text-center py-4">
                                        <img class="icon_image" src="{{theme.icon_col}}" alt="{{theme.title}} icon"/>
                                        <h3 class="font-weight-bold theme_title pt-3">{{theme.title}}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
