{% if page.url == "/about/" or page.url == "/compliance/" or page.url == "/specifications/" or page.url == "/membership/" or page.url == "/news/" %}
    {% include _theme-includes/members.html %}
{% endif %}
{% if page.url != "/search/" %}
    {% include _theme-includes/_third-party/mailchimp-homepage.html %}
{% endif %}
</div><!--- End Main Container -->
<div class="row">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row main-footer-content">
                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b><a href="http://www.96boards.org/products/">Shop and Learn</a></b></li>
                      <li><a href="http://www.96boards.org/product/hikey960/">HiKey 960 Board</a></li>
                      <li><a href="http://www.96boards.org/product/dragonboard410c/">DragonBoard™ 410c</a></li>
                      <li><a href="http://www.96boards.org/product/bubblegum-96/">Bubblegum-96</a></li>
                      <li><a href="http://www.96boards.org/product/mediatek-x20/">Mediatek X20</a></li>
                      <li><a href="http://www.96boards.org/product/carbon/">Carbon</a></li>
                      <li><a href="http://www.96boards.org/product/uarts/">UART Serial Adapter</a></li>
                      <li><a href="http://www.96boards.org/products/">View All</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b><a href="http://www.96boards.org/products/">Products</a></b></li>
                      <li><a href="http://www.96boards.org/products/ce/">Consumer Edition</a></li>
                      <li><a href="http://www.96boards.org/products/ee/">Enterprise Edition</a></li>
                      <li><a href="http://www.96boards.org/products/ie/">IoT Edition</a></li>
                      <li><a href="http://www.96boards.org/products/mezzanine/">Mezzanine Products</a></li>
                      <li><a href="http://www.96boards.org/products/accessories/">Accessories</a></li>
                      <li><a href="http://www.96boards.org/products/">View All</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b><a href="http://www.96boards.org/specifications/">Specification</a></b></li>
                      <li><a href="http://www.96boards.org/ce-specification">Consumer Edition (CE)</a></li>
                      <li><a href="http://www.96boards.org/ee-specification">Enterprise Edition (EE)</a></li>
                      <li><a href="https://www.96boards.org/ie-specification">IoT Edition (IE)</a></li>
                      <li><br /></li>
                      <li><b>Addenda</b></li>
                      <li><a href="https://www.96boards.org/camera-spec">Camera Module Interface</a></li>
                      <li><a href="https://www.96boards.org/tv-specification">96Boards TV Platform</a></li>
                    </ul>
                </div>


                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b><a href="http://www.96boards.org/about/">About 96Boards</a></b></li>
                      <li><a href="http://www.96boards.org/specifications/">Specification</a></li>
                      <li><a href="http://www.96boards.org/news/">Newsroom</a></li>
                      <li><a href="https://www.linaro.org/careers/">Job Opertunities</a></li>
                      <li><a href="http://www.96boards.org/press/">Press Info</a></li>
                      <li><a href="http://www.96boards.org/membership/">Membership</a></li>
                      <li><a href="http://www.96boards.org/compliance/">Compliance</a></li>
                      <li><a href="http://www.96boards.org/contact/">Contact 96Boards</a></li>
                    </ul>
                </div>


                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b><a href="https://discuss.96boards.org/">Support Forum</a></b></li>
                      <li><a href="https://discuss.96boards.org/c/products/hikey960">Hikey 960</a></li>
                      <li><a href="https://discuss.96boards.org/c/products/dragonboard410c">DragonBoard410c</a></li>
                      <li><a href="https://discuss.96boards.org/c/products/mediatek-x20">MediaTek-X20</a></li>
                      <li><a href="https://discuss.96boards.org/c/products/bubblegum96">Bubblegum-96</a></li>
                      <li><a href="https://discuss.96boards.org/c/products/carbon">Carbon</a></li>
                      <li><a href="https://discuss.96boards.org/c/products/poplar">Poplar</a></li>
                      <li><a href="https://discuss.96boards.org/c/products/mezzanine">Mezzanine Support</a></li>
                    </ul>
                </div>



                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b>Social Media</b></li>
                      <li><a href="https://github.com/96boards">Github</a></li>
                      <li><a href="https://www.facebook.com/96Boards">Facebook</a></li>
                      <li><a href="https://www.youtube.com/channel/UCjawhk_W1QnJs3pKIsKLJNg">Youtube</a></li>
                      <li><a href="https://twitter.com/96Boards">Twitter</a></li>
                      <li><a href="https://www.linkedin.com/company/6637095">Linkedin</a></li>
                      <li><a href="http://slideshare.com/96boards">Slideshare</a></li>
                      <li><a href="https://plus.google.com/106009833460292139774/posts">Google +</a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->


    <!--/.footer-->
    <!--/.footer-bottom-->

    <div class="row footer-strip">
        <div class="container">
            <div class="pull-left">
                    <a href="https://www.linaro.org"><img src="/images/Linaro-Logo_icon.svg" width="40px" height="100%" alt="Linaro Icon"/></a>
                    <a style="color:white;">Portions of this content &copy; 2017 <a href="https://www.linaro.org">Linaro</a>
                        <span class="coloured-bp">&bull;</span> <a href="/legal/">Legal</a>
                         <span class="coloured-bp">&bull;</span>  <a href="/contact/">Contact</a>
                         <span class="coloured-bp">&bull;</span>  <a href="/press/">Press</a></a>
            </div>
            <div class="pull-right">
                <ul class="nav nav-pill">
                    <a href="http://facebook.com/{{site.facebook_username}}" class="btn btn-social-icon"><i class="icon-facebook"></i></a>
                    <a href="https://github.com/{{site.github_username}}" class="btn btn-social-icon"><i class="icon-github-circled"></i></a>
                    <a href="https://plus.google.com/{{site.google_plus_username}}/posts" class="btn btn-social-icon"><i class="icon-gplus"></i></a>
                    <a href="https://www.linkedin.com/company/{{site.linkedin_username}}" class="btn btn-social-icon"><i class="icon-linkedin"></i></a>
                    <a href="https://twitter.com/{{site.twitter_username}}" class="btn btn-social-icon"><i class="icon-twitter"></i></a>
                    <a href="https://www.youtube.com/{{site.youtube_username}}" class="btn btn-social-icon"><i class="icon-youtube"></i></a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/.container-->



</div>

</footer>


</div>
