<!-- <footer>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Hosted by </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
          <img src="/images/linaro-logo.png" class="img-responsive footer-logo-left pull-left" alt="Linaro"></img>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
        </div>
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
          <img src="/images/OP-TEE-Vertical.png" class="img-responsive footer-logo-optee pull-right" alt="Linaro"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            	&copy; 2017 Linaro &bull; <a href="/about/legal/">Legal </a> &bull; <a href="/about/contact/">Contact Us</a>
        </div>
  </div>

</footer> -->
{% include mailchimp.html %}
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b><a href="/projects/">OP-TEE Projects</a></b></li>
                      <li><a href="https://github.com/OP-TEE/optee_os">optee_os <span class="fa fa-external-link spanwobble" aria-hidden="true"></span></a></li>
                      <li><a href="https://github.com/OP-TEE/optee_client">optee_client <span class="fa fa-external-link spanwobble" aria-hidden="true"></span></a></a></li>
                      <li><a href="https://github.com/OP-TEE/optee_test">optee_test <span class="fa fa-external-link spanwobble" aria-hidden="true"></span></a></a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                        <br />
                      <li><a href="https://github.com/OP-TEE/manifest">manifest <span class="fa fa-external-link spanwobble" aria-hidden="true"></span></a></a></li>
                      <li><a href="https://github.com/OP-TEE/build">build <span class="fa fa-external-link spanwobble" aria-hidden="true"></span></a></a></li>
                </div>

                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                        <br />
                      <li><a href="/swg/">LSGW</a></li>
                      <li><a href="/projects/dependencies/">Dependencies</a></li>
                      <li><a href="/roadmap/">Roadmap</a></li>
                    </ul>
                </div>


                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b><a href="/about/">About</a></b></li>
                      <li><a href="/committee">Committee</a></li>
                      <li><a href="/faq/">FAQ</a></li>
                      <li><a href="/documentation">Documentation</a></li>
                    </ul>
                </div>


                <div class="col-xs-6 col-md-2">
                    <ul class="list-unstyled ">
                      <li><b><a href="https://www.linaro.org/work/">Other Linaro Projects</a></b></li>
                      <li><a href="https://96boards.org/">96Boards <span class="fa fa-external-link spanwobble" aria-hidden="true"></span></a></li>
                      <li><a href="https://linaro.cloud">Developer Cloud <span class="fa fa-external-link spanwobble" aria-hidden="true"></span></a></li>
                      <li><a href="https://www.linaro.org/work/">View all <span class="fa fa-external-link spanwobble" aria-hidden="true"></span></a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-2">
                  <a href="/"><img src="/images/OP-TEE-Logo_white-vertical-OPTEE-colour.svg" class="footer-logo-optee pull-right" alt="Linaro"></img></a>
                </div>


            </div>
            <!--/.row-->
        </div>
        <!--/.container-->



    </div>

    <!--/.footer-->
    <!--/.footer-bottom-->
    <div class="row footer-strip">
        <div class="container ">
            <div class="pull-left">
                    <a href="https://www.linaro.org"><img src="/images/Linaro-Logo_icon.svg" width="40px" height="100%" alt="Linaro Icon"/></a>
                    <a style="color:white;">Portions of this content &copy; 2017 <a href="https://www.linaro.org">Linaro</a>
                        <span class="coloured-bp">&bull;</span> <a href="/legal/">Legal</a>
                         <span class="coloured-bp">&bull;</span>  <a href="/contact/">Contact</a>
                         <span class="coloured-bp">&bull;</span>  <a href="/press/">Press</a></a>
            </div>
            <div class="pull-right">
                <ul class="nav nav-pill">
                    <a href="https://github.com/op-tee" class="btn btn-social-icon btn-github"><span class="fa fa-github spanwobble"></span></a>
                </ul>
            </div>
        </div>
    </div>


</footer>

{% include javascript.html %}
