<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} {% endif %}</title>
        {% include google-tag-manager-first.html %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Essential Social Media Tags -->
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="OP-TEE is an open source project which contains a full implementation to make up a complete Trusted Execution Environment">
        <meta property="og:image" content="https://site-test.linaro.org/images/OP-TEE-Social-Media-Share-Image.jpeg">
        <meta property="og:url" content="{{site.url}}">
        <meta name="twitter:card" content="summary_large_image">

        <!--Fav Icons-->
        <link rel="icon" href="/images/favicon.png" type="image/png" />
        <link rel="shortcut icon" href="/favicon.ico" />
        
        {% css main %}

        {% include page-specific-css.html %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% seo title=false %}

    </head>
