    <hr /><h4 class="text-center">Supporting Companies</h4>
    <div class="row members">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <img class="lazyload img-responsive member-image center-block" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="/images/member1.jpg"  alt="Linaro Member">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <img class="lazyload img-responsive member-image center-block"  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/member2.jpg" alt="Wind An Intel Company Member">
      </div>
      <div class="col-xs-6 col-sm-12 col-md-4 col-lg-4">
          <img class="lazyload img-responsive member-image center-block"  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/member3.jpg" alt="Applus Laboratories Member">
      </div>
    </div>
