<div class="row" id="contact-thanks">
        <h3 class="text-center">Supporting Companies</h3>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img class="img-responsive member-image center-block" src="/images/member1.jpg" alt="Linaro Member">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img class="img-responsive member-image center-block" src="/images/member2.jpg" alt="Wind An Intel Company Member">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img class="img-responsive member-image center-block" src="/images/member3.jpg" alt="Applus Laboratories Member">
      </div>
</div>
