<div class="tabbed-area" id="tabbed-nav-bar"><!-- Nav tabs -->
<nav class="navbar-default" role="navigation">
<div class="container">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tabbed-nav-bar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="sub-navigation-header" href=""></a>
        </div>
        <div class="collapse navbar-collapse" id="tabbed-nav-bar-collapse">
            <ul class="nav nav-tabs tabbed-nav" id="tab-row" role="tablist">

        {% if page.url == "/about/" %}
            <li role="presentation" class="active tabbed-nav-btn"><a href="/about/" aria-controls="lswg" role="link">Overview</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/swg/" aria-controls="lswg" role="link">LSWG</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/committee/" aria-controls="lswg" role="link">Committee</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/legal/" aria-controls="lswg" role="link">Legal</a></li>
        {% endif %}
        {% if page.url == "/swg/" %}
            <li role="presentation" class="tabbed-nav-btn"><a href="/about/" aria-controls="lswg" role="link" >Overview</a></li>
            <li role="presentation" class="active tabbed-nav-btn"><a href="/swg/" aria-controls="lswg" role="link">LSWG</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/committee/" aria-controls="lswg" role="link">Committee</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/legal/" aria-controls="lswg" role="link">Legal</a></li>
        {% endif %}
        {% if page.url == "/committee/" %}
            <li role="presentation" class="tabbed-nav-btn"><a href="/about/" aria-controls="lswg" role="link" >Overview</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/swg/" aria-controls="lswg" role="link">LSWG</a></li>
            <li role="presentation" class="active tabbed-nav-btn"><a href="/committee/" aria-controls="lswg" role="link">Committee</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/legal/" aria-controls="lswg" role="link">Legal</a></li>
        {% endif %}

        {% if page.url == "/legal/" %}
            <li role="presentation" class="tabbed-nav-btn"><a href="/about/" aria-controls="lswg" role="link" >Overview</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/swg/" aria-controls="lswg" role="link">LSWG</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/committee/" aria-controls="lswg" role="link">Committee</a></li>
            <li role="presentation" class="active tabbed-nav-btn"><a href="/legal/" aria-controls="lswg" role="link">Legal</a></li>
        {% endif %}


        {% if page.url == "/agreement/" %}
                <li role="presentation" class="tabbed-nav-btn"><a href="/documentation/" aria-controls="overview" role="link">Documentation</a></li>
                <li role="presentation" class="active tabbed-nav-btn"><a href="/agreement/" aria-controls="lswg" role="link">License Agreement</a></li>
        {% endif %}



        {% if page.url == "/projects/dependencies/" %}
            <li role="presentation" class="tabbed-nav-btn"><a href="/projects/" aria-controls="projects" role="link" >OP-TEE Projects</a></li>
            <li role="presentation" class="active tabbed-nav-btn"><a href="/projects/dependencies/" aria-controls="dependencies" role="link">OP-TEE Dependencies</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/roadmap/" aria-controls="lswg" role="link">Roadmap</a></li>
        {% endif %}
        {% if page.url == "/projects/" %}
                <li role="presentation" class="active tabbed-nav-btn"><a href="/projects/" aria-controls="projects" role="link" >OP-TEE Projects</a></li>
                <li role="presentation" class="tabbed-nav-btn"><a href="/projects/dependencies/" aria-controls="dependencies" role="link">OP-TEE Dependencies</a></li>
                <li role="presentation" class="tabbed-nav-btn"><a href="/roadmap/" aria-controls="lswg" role="link">Roadmap</a></li>
        {% endif %}
        {% if page.url == "/roadmap/" %}
            <li role="presentation" class="tabbed-nav-btn"><a href="/projects/" aria-controls="projects" role="link" >OP-TEE Projects</a></li>
            <li role="presentation" class="tabbed-nav-btn"><a href="/projects/dependencies/" aria-controls="dependencies" role="link">OP-TEE Dependencies</a></li>
            <li role="presentation" class="active tabbed-nav-btn"><a href="/roadmap/" aria-controls="lswg" role="link">Roadmap</a></li>
        {% endif %}


        {% if page.url == "/documentation/" %}
                <li role="presentation" class="active tabbed-nav-btn"><a href="/documentation/" aria-controls="overview" role="link">Documentation</a></li>
                <li role="presentation" class="tabbed-nav-btn"><a href="/agreement/" aria-controls="lswg" role="link">License Agreement</a></li>
        {% endif %}
        {% if page.url == "/faq/" %}
                <li role="presentation" class="active"><a href="/faq/" aria-controls="faq" role="link">FAQ</a></li>
                <li role="presentation"><a href="/usage/" aria-controls="dependencies" role="link">Github Usage</a></li>
        {% endif %}

        <!-- {% if page.url == "/security-advisories/" %}
                <li role="presentation" class="tabbed-nav-btn active"><a href="/security-advisories/" aria-controls="overview" role="link">Security Advisories</a></li>
        {% endif %} -->

        {% if page.url == "/usage/" %}
                <li role="presentation" class="tabbed-nav-btn"><a href="/faq/" aria-controls="overview" role="link">FAQ</a></li>
                <li role="presentation" class="active tabbed-nav-btn"><a href="/usage/" aria-controls="lswg" role="link">Github Usage</a></li>
        {% endif %}
    </ul>
</div>
</div>
</nav>
</div>
