<div class="col-xs-12">
    {% assign board_of_directors = "" | split: ',' %}
    {% for team_member in site.data.team %}
        {% for team in team_member.teams %}
            {% if team == "board_of_directors" %}
                {% assign board_of_directors = board_of_directors | push: team_member %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% assign sorted_members = board_of_directors | sort: 'order' %}
    {% for individual in sorted_members %}
        <div class="col-xs-6 col-sm-4 col-lg-2 text-center team_item">
            <div class="modal team_modal fade" id="{{individual.name | slugify}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="col-xs-11 no-padding">
                                {% if individual.bio and individual.bio != ""%}
                                    {{individual.bio | markdownify }}
                                {% else %}
                                <p>
                                    No Bio available.
                                </p>
                                {% endif %}
                            </div>
                            <div class="col-xs-1 no-padding">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a data-toggle="modal" href='#{{individual.name | slugify}}'>
                <img class="lazyload img-circle team_member_image"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="{% if individual.image and individual.image != '' %}{{individual.image}}{% else %}/assets/images/content/placeholder.jpg{% endif %}"
                alt="{{individual.name}} profile image"/>
                <h3>{{individual.name}}</h3>
                <span class="team_label">
                    {{individual.title}}
                </span>
            </a>
        </div>
    {% endfor %}
</div>
