<div class="col col-12">
    <div class="row">
    {% assign executive_team = "" | split: ',' %}
    {% for team_member in site.data.team["teamMembers"] %}
        {% for team in team_member.teams %}
            {% if team == "executive_team" %}
                {% assign executive_team = executive_team | push: team_member %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for individual in executive_team %}
        <div class="col col-12 col-sm-6 col-md-4 py-3 text-center team_item">
            <div class="modal team_modal fade" id="{{individual.name | slugify}}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="col col-11 no-padding">
                                {% if individual.bio and individual.bio != ""%}
                                    {{individual.bio | markdownify }}
                                {% else %}
                                <p>
                                    No Bio available.
                                </p>
                                {% endif %}
                            </div>
                            <div class="col col-1 no-padding">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card h-100 mb-5">
                <img class="card-img-top equal-height-card-img lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="{% if individual.image and individual.image != '' %}{{individual.image}}{% else %}/assets/images/content/placeholder.jpg{% endif %}"
                    style="height: 240px; object-fit: cover;"
                    alt="{{individual.name}} profile image">
                <div class="card-body">
                    <h5 class="card-title">{{individual.name}}</h5>
                    <p class="card-text">{{individual.title}}</p>
                    <a data-toggle="modal" class="btn btn-primary" href='#{{individual.name | slugify}}'>
                        About
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
