---
layout: default
---
    <div class="container-fluid main-container"><!--- Main fluid container start ---->
      <div class="row"> <!--- Row Start ---->
        <div class="container"><!--- Container Start ---->
          <div class="col-md-12">

                  {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}{% if page.categories %} • {% for cat in page.categories %} {{ cat }} {% endfor %} {% endif %}
                  </div>
                  <h3>{{ page.title }}</h3>
                  <article class="post-content">
                    <p>{{ content }}</p>
                  </article>
                  <!-- Disqus comments -->
                  {% if site.disqus %}
                  <div>
                    <h3>Comments</h3>
                    {% include disqus.html %}
                  </div>
                 {% endif %}
          </div>
        </div>
      </div>
    </div>
