name: UpdateMaintainersJSON

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: self-hosted
    steps:
      - name: Fetch git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.LINARO_BUILD_KEY }}
          path: website

      - name: Update maintainers JSON
        run: cd /srv/github-action-scripts && pipenv run python update_maintainers_json.py
